@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'common/variables';
@import 'common/mixins';
@import 'fontawesome/fontawesome';
@import 'fontawesome/fa-solid';
@import 'fontawesome/fa-regular';
@import 'fontawesome/fa-light';
@import 'fontawesome/fa-brands';
@import 'layout/base';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/home';
@import 'layout/cms';


.continue-reading-subscribe {
    width:100%; 
    height:400px; 
    padding: 30px 0px 50px 0px; 
    background:#FFFFFF;
}

.continue-reading-subscribe-heading {
    margin:auto 0; 
    text-align: center; 
    font-size: 1.7em;
}

.continue-reading-subscribe-subheading {
    margin:auto 0; 
    text-align: center; 
    font-size: 1.2em;
}

.continue-reading-subscribe-option-block {
    float:left; 
    width:50%; 
    margin:auto 0; 
    text-align: center;
    margin-bottom: 0px;
}

#free-trial-subscribe-btn {
    margin-left: 0px;
}

.continue-reading-subscribe-btn-summary {
    font-size:1.2em; 
    text-align: center;
}

@media (min-width:507px) and (max-width:566px){
    
    .continue-reading-subscribe {
        width:100%; 
        height:620px; 
        margin:0 auto; 
        text-align: center;
        padding: 30px 0px 50px 0px; 
        background:#FFFFFF;
    }
    
    .continue-reading-subscribe-option-block {
        float:none; 
        width:50%; 
        margin:0 auto;
        text-align: center;
        clear: both;
        margin-bottom: 40px;
    }
    
    #free-trial-subscribe-btn {
        margin-left: -40px;
    }
}

@media (min-width:0px) and (max-width:507px){
    
    .continue-reading-subscribe {
        width:100%; 
        height:830px; 
        margin:0 auto; 
        text-align: center;
        padding: 30px 0px 50px 0px; 
        background:#FFFFFF;
    }
    
    #free-trial-subscribe-btn {
        margin-left: -40px;
    }
    
    .continue-reading-subscribe-option-block {
        float:none; 
        width:50%; 
        margin:0 auto;
        text-align: center;
        clear: both;
        margin-bottom: 40px;
    }
    
    #free-trial-subscribe-btn {
        margin-left: -40px;
    }
}
