title = "2FA Login"
url = "/2fa-login"
layout = "default"
is_hidden = 0

[oneTimePasswordForm]
redirect = 404
redirect_logged = "home"
msg_code_mismatch = "Your MFA code was incorrect, please try again."
==
<div class="container">
   <div class="row">
        <div class="col">
			<div class="form-2fa-wrapper">
	            <div class="page-title">
	                <h1>Two Factor Authentication Login</h1>
	            </div>
			
				{% component 'oneTimePasswordForm' %}
			</div>
        </div>
    </div>
</div>