title = "About"
url = "/about"
layout = "default"
is_hidden = 0

==
<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>About Us</h1>
       		</div>

			<p><strong>eprivateclient</strong> is the leading website and news service for private client practitioners, including lawyers, accountants, trustees and fee-based IFAs.</p>

			<p>The regulatory environment in which private client practitioners operate is becoming ever more pressured, fuelled by the seemingly relentless pace of legislative change. The business challenges are also growing. Practitioners are faced with changing forms of competition, more knowledgeable and sophisticated clients - and fast evolving technology.</p>

			<p>Updated daily with a weekly email alert, eprivateclient not only brings you the latest news, but also incisive analysis and features that examine the people, businesses and trends in this increasingly fast-moving marketplace.</p>

			<p>It is also the only place to see the results of the Private Client Practitioner Top 25 Law Firms, Top 25 Accountancy Firms, Top 25 Trust Companies, Top 25 IFA Companies, Top 35 Under 35 and 50 Most Influential. In addition, subscribers will also receive eprivateclient's annual special jurisdictional reports on Switzerland, Jersey and Guernsey.</p>

       	</div>
    </div>
</div>