title = "Advanced Search"
url = "/advanced-search"
layout = "default"
is_hidden = 0

[advancedsearch]
site = 2
==
<div class="container">
   <div class="row">
        <div class="col advanced-search-wrapper">
            <div class="page-title">
                <h1>Advanced article search</h1>
            </div>
            {% component 'advancedsearch' %}
        </div>
    </div>
</div>