title = "Advertise with us"
url = "/advertise-with-us"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   <div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Advertise with Us</h1>
       		</div>
   			<p><strong>eprivateclient</strong> provides access to the most senior and influential figures in the private client world. These professionals are key centres of influence over the placement of hundreds of billions of private client and trust assets.</p>
   			<p><ul>
				<li>People moves</li>
				<li>Regulatory developments</li>
				<li>Tax changes</li>
				<li>Important legal cases</li>
				<li>Asset Allocation Strategies</li>
				<li>Upcoming events</li>
				<li>Profiles of leading figures and firms</li>
				<li>M&A activity</li>
				<li>Evaluation of research data</li>
				<li>Regional surveys</li>
   			</ul></p>
   			<p>The largest searchable archive of information for private client professionals. Opinions from recognised industry experts.</p>

   			<h3>Circulation</h3>
   			<p>eprivateclient is the perfect platform for advertisers whose primary target is to deliver their message directly to the key decision makers within the most significant private client professionals. It provides a solid, respected editorial environment in which advertisers can position their businesses as trusted providers.</p>

   			<h3>eprivateclient advertising rates</h3>
   			<p>eprivateclient provides companies with the opportunity to target the key decision makers within the private client industry. With an escalating global audience, eprivateclient offers prime advertising opportunities to organisations promoting industry specific information.</p>
        <p>For further details on advertising with us please contact advertising@eprivateclient.com</p>
       	</div>
    </div>
</div>
