title = "article"
url = "/article/:slug"
layout = "default"
is_hidden = 0

[article]
slug = "{{ :slug }}"

[related]
slug = "{{ :slug }}"

[articles headlines]
site = 2
main_news = 1
template = "headlines.htm"

[session]
security = "all"
redirect = "login"

[subscriptioncheck]
redirect = "login"
redirectnosub = "subscribe-free-trial"
redirectnoactive = "extend-your-subscription"

[pagevisits]
slug = "{{ :slug }}"

[gift]

[space mainmiddle]
space = 4

[space cmsright]
space = 9
==
<!-- www.addthis.com share tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b1e43258b04f238"></script>

<div class="container article-page">
    <div class="row">
        <div class="col-12 col-md-7 col-main">
            {% component 'article' %}
        </div>
        <div class="col-12 col-md-3 col-secondary">

            {% component 'related' %}

            <div class="gift-wrapper">
                {% component 'gift' %}
            </div>

            <div class="headlines-wrapper">
                <h3>{{trans('twnepc.news::lang.headlines')}}</h3>
                {% component 'headlines' %}
            </div>

            {% component 'mainmiddle' %}
            
        </div>
    </div>
</div>