title = "Benefits of Membership"
url = "/benefits-of-membership"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Benefits of Membership</h1>
       		</div>

          <ul>
            <li><p>Daily news alerts delivered every morning (BST), giving you the latest breaking stories relevant to private client practitioners around the world</p></li>

            <li><p>Exclusive interviews with senior professionals, as well as incisive analysis by leading professionals on the latest legal, regulatory and case law developments</p></li>

            <li><p>Free access to our annual rankings and ratings, including the Top 25 firms series, the 50 Most Influential individuals list and Top 35 Under 35 ratings</p></li>

            <li><p>Free access to a research database of over 7,000 past articles dating back to the launch of Private Client Practitioner in February 2003</p></li>

            <li><p>Complimentary copies of our series of annual jurisdiction reports, including major wealth management centres around the world</p></li>
          </ul>

          <div class="cta-wrapper">
            <a href="{{url('/')}}/registration" class="action-button">Subscribe now »</a>
          </div>

       	</div>
    </div>
</div>
