title = "Contact"
url = "/contact"
layout = "default"
is_hidden = 0

==


<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Contact Us</h1>
       		</div>

   			<div class="row">
   				<div class="col-md-4">
   					<p class="icon"><i class="fas fa-phone"></i>+44 (0) 20 7 967 1601</p>
					<p class="icon"><i class="far fa-at"></i><a href="mailto:info@paminsight.com">info@paminsight.com</a></p>
					<p class="icon">
						<i class="fas fa-home"></i><strong>Head Office Address</strong> <br>
						PAM Insight Ltd <br>
						107 Cheapside <br>
						London EC2V 6DN <br>
						United Kingdom
					</p>
   				</div>
				<div class="col-md-8">
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4965.8808370324905!2d-0.09793966608820563!3d51.51430907963625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487603555a001e2f%3A0x5368e90c3682a924!2sPAM+Insight+Ltd!5e0!3m2!1shu!2shu!4v1530119589009" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen=""></iframe>
					</div>
				</div>
   			</div>

       		<div class="row">
       			<div class="col-md-12 key-contacts">
       				<h3>KEY CONTACTS</h3>
					<p>Editorial</p>
					<p><strong>Will Sidery, Editor</strong></p>
					<p>wsidery@paminsight.com</p><br>
					<p><strong>James Anderson, Founder & Editor-in-Chief</strong></p>
					<p>janderson@paminsight.com</p><br>
					<p>Subscriptions </p>
					<p><strong>Adam Middleton-Pink, Director of Finance and Operations</strong></p>
					<p>amiddleton-pink@paminsight.com</p><br>
					<p>Management </p>
					<p><strong>Ed Hicks, Managing Director</strong></p>
					<p>ehicks@paminsight.com</p>
       			</div>
       		</div>
       		
       	</div>
    </div>
</div>

