title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[articles exclusive]
site = 2
exclusive = 1
template = "exclusive.htm"

[articles headlines]
site = 2
topic = "noselect"
main_news = 1
template = "headlines.htm"

[articles cat1]
title = "Companies"
site = 2
topic = 52
template = "category.htm"
color = "base"
show_image = 1

[articles cat2]
title = "Management"
site = 2
topic = 53
template = "category.htm"
color = "orange"
show_image = 1

[articles cat3]
title = "People"
site = 2
topic = 56
template = "category.htm"
color = "red"
show_image = 1

[articles cat4]
title = "Offshore"
site = 2
topic = 54
template = "category.htm"
color = "turquoise"
show_image = 1

[articles cat5]
title = "Other News"
site = 2
topic = 55
template = "category.htm"
color = "purple"
show_image = 1

[articles cat6]
title = "Structures & Services"
site = 2
topic = 58
template = "category.htm"
color = "yellow"

[articles cat7]
title = "Regulation & Tax"
site = 2
topic = 57
template = "category.htm"
color = "gray"

[siteSearchInclude]

[popularfavourite]
pnum = 5
fnum = 5
site = 2

[space mainmiddle]
space = 4
==
{% component 'siteSearchInclude' %}
<div class="container">
    <div class="row">
    	<div class="col-12">
			<div class="tablet-banner-wrapper"></div>
    	</div>
    	<div class="col-12 col-md-7 col-main">
			<div class="row">
    			<div class="col-12 col-md-7">
    				<div class="featured-news">
    					{% component 'exclusive' %}
    				</div>
    			</div>
    			<div class="col-12 col-md-5">
    				<div class="headlines-wrapper">
    					<h3>Main news headlines</h3>
    					{% component 'headlines' %}
    				</div>
    			</div>
    		</div>

			<div class="row news-box-row">
				<div class="col-12 news-box-wrapper">
					{% component 'cat1' %}
					{% component 'cat2' %}
					{% component 'cat3' %}
					{% component 'cat4' %}
					{% component 'cat5' %}
				</div>
			</div>

			<div class="row news-list-row">
    			<div class="col-12 col-md-7">
    				{% component 'cat6'%}
    			</div>
    			<div class="col-12 col-md-5">
    				{%component 'cat7' %}
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-3 col-secondary">

    		{% component 'popularfavourite' %}
    		
    		{% component 'mainmiddle' %}

    	</div>
    </div>
</div>
