title = "Login"
url = "/login"
layout = "default"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
<?php
function onSignin()
{
    Flash::success('You have successfully logged in');
    return $this->account->onSignin();
}
?>
==
<div class="container">
   <div class="row">
        <div class="col login-wrapper">

            <div class="page-title">
                <h1>Welcome to eprivateclient!</h1>
                <h4><strong>Let’s get you started.</strong></h4>
            </div>

            <p></p>
            <p>
                &bull; To register for a free trial please <a href="{{url('/')}}/registration">click here</a><br>
                &bull; To login please fill in your details below<br><br>
            </p>

            <h4><strong>Subscriber's Login</strong></h4><br>

            <form
                data-request="onSignin"
                data-request-validate
                data-request-flash
                class="default-form">
                <div class="form-group">
                    <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
                    <input
                        name="login"
                        type="text"
                        class="form-control"
                        id="userSigninLogin"
                        placeholder="Enter your {{ loginAttributeLabel|lower }}" />
                    <div data-validate-for="login" style="visibility: hidden;" class="alert alert-danger">Please enter your email</div>
                </div>

                <div class="form-group">
                    <label for="userSigninPassword">Password</label>
                    <input
                        name="password"
                        type="password"
                        class="form-control"
                        id="userSigninPassword"
                        placeholder="Enter your password" />
                    <div data-validate-for="password" style="visibility: hidden;" class="alert alert-danger">Please enter your password</div>
                </div>

                <div class="actions">
                    <button type="submit" class="btn btn-primary" data-attach-loading>Sign in</button>
                </div>

                <div class="forgot-pass">
                    <a href="{{url('/')}}/resetpassword">Forgot Your Password?</a>
                </div>
            </form>
        </div>
    </div>
</div>