title = "Mobile App"
url = "/mobile-app"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>eprivateclient Mobile App</h1>
       		</div>

            <h3>How to install the app on your mobile device</h3>
            <p>iPhone/iPad: click on the 'App Store' icon, once at the store 'search' for eprivateclient app and then click on 'install' </p>
            <p>Android: click on the 'Google Play Store' icon, once at the store 'search' for eprivateclient app, click on 'install' and then click on 'Accept and Download' </p>
            <p>BlackBerry®: go to the 'Browser', type in this link http://pam.rokolabs.com and then click on download. </p>

            <h3>Activate the app in 3 simple steps: </h3>
            <p><strong>Step 1:</strong> Start up the app and enter your registered email address in the activation screen. You will shortly receive an activation email in your inbox </p>
            <p><strong>Step 2:</strong> Click on the link in your activation email and return to the app </p>
            <p><strong>Step 3:</strong> Click on the activate button. You are now ready to start browsing eprivateclient app! </p>

       	</div>
    </div>
</div>