title = "News"
url = "/news/:slug?"
layout = "default"
is_hidden = 0

[category]
slug = "{{ :slug }}"
pag = 10

[subcategories]
slug = "{{ :slug }}"
[space mainmiddle]
space = 4

[popularfavourite]
pnum = 5
fnum = 5
site = 2

==
<div class="container">
    <div class="row">
    	<div class="col-12 col-md-7 col-main">
			<div class="row">
    			<div class="col-12 col-md-12">
    				{% component 'category'%}
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-3 col-secondary">
			{% component 'subcategories' %}

    		{% component 'popularfavourite' %}

    		{% component 'mainmiddle' %}

    	</div>
    </div>
</div>