title = "Privacy Policy"
url = "/privacy"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
                <h1>Pam Insight Privacy Policy</h1>
            </div>
            <h3>Contents</h3>
            <p><a href="#_Toc515017329">2 - Introduction</a> <br />
                <a href="#_Toc515017330">3 - Security</a> <br />
                <a href="#_Toc515017331">4 - Data that we hold</a> <br />
                <a href="#_Toc515017332">4.1 - Services and Products</a> <br />
                <a href="#_Toc515017333">4.1.1 - Why do we process data?</a> <br />
                <a href="#_Toc515017334">4.1.2 - What data is processed?</a> <br />
                <a href="#_Toc515017335">4.1.3 - How long do we hold data for?</a> <br />
                <a href="#_Toc515017336">5 - People who use our website</a> <br />
                <a href="#_Toc515017337">6 - Sharing personal data</a> <br />
                <a href="#_Toc515017338">7 - Locations of processing</a> <br />
                <a href="#_Toc515017339">8 - Individual&rsquo;s Rights</a> <br />
                <a href="#_Toc515017340">9 - Complaints</a> <br />
                <a href="#_Toc515017341">10 - Data Controller and contact information</a> <br />
                <a href="#_Toc515017342">11 - Changes to our privacy statement</a>
            </p>
            <h3><a name="_Toc515017329" id="_Toc515017329">Introduction</a></h3>
            <p>Pam Insights (“we”, “us”, or “our”) is committed to protecting and respecting the personal data that we hold. This privacy statement describes why and how we collect and use personal data and provides information about individuals’ rights. It applies to personal data provided to us, both by individuals themselves or by others. We may use personal data provided to us for the purposes described in this privacy statement or as made clear before collecting personal data.<br />
            Personal data is any information relating to an identified or identifiable living person. When collecting and using personal data, our policy is to be transparent about why and how we process personal data. <br />
            We process personal data for numerous purposes, and the means of collection, lawful basis of processing, use, disclosure, and retention periods for each purpose are set out in the relevant sections below.<br />
            The personal data that is provided to us is provided either directly from the individual concerned, from a third party acting on behalf of an individual.<br />
            Where we receive personal data that relates to an individual from a third party, we request that this third party inform the individual of the necessary information regarding the use of their data. Where necessary, reference may be made to this privacy statement.
            </p>
            <h3><a name="_Toc515017330" id="_Toc515017330">Security</a></h3>
            <p>We take the security of all the data we hold seriously. Staff are trained on data protection, confidentiality and security. <br />
            We have a framework of policies and procedures which ensure we regularly review the appropriateness of the measures we have in place to keep the data we hold secure.<br />
            All information you provide to us is stored on our secure servers.<br />
            Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.
            </p>
            <h3><a name="_Toc515017331" id="_Toc515017331">Data that we hold</a></h3>
            <h4><a name="_Toc515017332" id="_Toc515017332">Services and Products</a></h4>
            <p>We provide services to individuals as well as organisations. The exact data held will depend on the services to be provided.<br />
            Where we engage with individuals, we may collect and process personal data in order to assess the assess what type of products or newsletter communication is appropriate to you. We request that individuals only provide the personal data that is required for us to fulfil our contractual or operational obligation.
            </p>
            <h3><a name="_Toc515017333" id="_Toc515017333">Why do we process data?</a></h3>
            <p>Where data is collected, it is used for a number of purposes, as follows;</p>
            <ul>
                <li>Delivery of processes – There are different reasons why we will process your data:</li>
                <li>Newsletters – When we have received your personal corporate details, this would have been provided by your organisation or when you have signed up for newsletters, we will process your data to send your newsletters in accordance with what you have requested or what your organisation has requested for. </li>
                <li>Products – We will process your data when have bought a product or enquired about buying a product from us. </li>
                <li>Marketing – When you have engaged with us through an enquiry, attended an event, fulfilling a contract or we have identified you as someone we would like to work with, we will process your data to promote our services and for general marketing. We will only do this where we have your explicit consent or we believe we have the legitimate interest to do so.</li>
                <li>Events – We will process your data if you have expressed an interested or you are going to attend an event which is hosted by Pam Insight.</li>
                <li>Individual needs. When communicating with and assessing the needs of clients.</li>
                <li>Administration. In order to manage and administer our business and services, we may collect and process personal data.</li>
            <li>Regulatory. In order for Pam Insights to do what it does, we may from time to time be required to collect and process personal data in order to fulfil regulatory, legal or ethical requirements. This may include (but is not limited to) the verification of identity of individuals.</li>
            </ul>
            <h3><a name="_Toc515017334" id="_Toc515017334">What data is processed?</a></h3>
            <p>The data that is processed is dependent on the service that is being provided and on the recipient of this service.</p>
            <ul>
                <li>What personal data is processed: names, address, email, job title, dietary requirements, number, opinions and feedback, .</li>
            </ul>
            <h3><a name="_Toc515017335" id="_Toc515017335">How long do we hold data for?</a></h3>
            <p>We retain the personal data processed by us for as long as is considered necessary for the purpose(s) for which it was collected, there may also be occasions which will require data to be kept for longer, however this will typically be for legal purposes. <br />
            In addition, personal data may be securely archived with restricted access and other appropriate safeguards where there is a need to continue to retain it. We will periodically review this data, to ensure that it is still relevant and necessary. 
            </p>
            <h3><a name="_Toc515017336" id="_Toc515017336">People who use our website</a></h3>
            <p>When people visit our website, personal data is collected  both through automated tracking and interacting with various forms on the  website or apps (collectively referred to as the websites).<br />
            Personal data may be collected when individuals fill in  forms on our websites or by corresponding with us by phone, e-mail or  otherwise. This includes information provided when an individual registers to  use our websites, subscribe to our service, make an enquiry.
            </p>
            <h3><a name="_Toc515017337" id="_Toc515017337">Sharing personal data</a></h3>
            <p>We will only share  personal data with others when we are legally permitted to do so.&nbsp; When we  share data with others, we put contractual arrangements and security mechanisms  in place to protect the data and to comply with our data protection,  confidentiality and security standards.<br />
            Personal data held  by us may be transferred to:
            </p>
            <ul>
                <li>When we hold events, we will share your data with  the below third parties:</li>
                <li>Photographers who  will take pictures at the events</li>
                <li>We may send a  list of names to the venue where we are holding the event</li>
                <li>The sponsors of  the event, this will be done with your consent.</li>
                <li>Consultants who  will help organise the event.</li>
                <li>We have a team of freelancers who help Pam Insights  deliver our marketing communication and operational work.</li>
            </ul> <br>
            <p>We use third party  applications to support us in providing our services and to help provide, run  and manage our internal database. We do not share your data with them. <br />
            We may receive  requests from third parties with authority to obtain disclosure of personal  data, such as to check that we are complying with applicable law and  regulation, to investigate an alleged crime, to establish, exercise or defend  legal rights.&nbsp; We will only fulfil requests for personal data where we are  permitted to do so in accordance with applicable law or regulation.
            </p>
            <h3><a name="_Toc515017338" id="_Toc515017338">Locations of processing</a></h3>
            <p>The data that we collect from you may be transferred to, and stored at a destination inside the European Economic Area (“EEA”). By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy.</p>
            <h3><a name="_Toc515017339" id="_Toc515017339">Individual’s Rights</a></h3>
            <p>Individuals have certain rights over their personal data and data controllers are responsible for fulfilling these rights as follows:</p>
            <ul>
            <li>Individuals may request access to their personal data held by us as a data controller. </li>
            <li>Individuals may request us to rectify personal data submitted to us or, where appropriate, contact us via the relevant website registration page or by amending the personal details held on relevant applications with which they registered.</li>
                <li>Individuals may request that we erase their personal data</li>
                <li>Where we process personal data based on consent, individuals may withdraw their consent at any time by contacting us or clicking on the unsubscribe link in an email received from us.  </li>
                <li>Individuals may have other rights to restrict or object to our processing of personal data and the right to data portability.  </li>
                <li>Individuals may request information about, or human intervention into, any automated data processing that we may undertake.</li>
            </ul><br>
            <p>If you wish to exercise any of these rights, please send an email to compliance@paminsight.com  </p>
            <h3><a name="_Toc515017340" id="_Toc515017340">Complaints</a></h3>
            <p>We hope that you won’t ever need to, but if you do want to complain about our use of personal data, please send an email with the details of your complaint to compliance@paminsight.com We will look into and respond to any complaints we receive.<br />
            You also have the right to lodge a complaint with the UK data protection regulator, the Information Commissioner's Office (“ICO”). For further information on your rights and how to complain to the ICO, please refer to the ICO website <a href="https://ico.org.uk/concerns">https://ico.org.uk/concerns</a>
            </p>
            <h3><a name="_Toc515017341" id="_Toc515017341">Data Controller and contact information</a></h3>
            <p>The data controller for Pam Insights is Pam Insights. <br />
            If you have any questions  about this privacy statement or how and why we process personal data, please  contact us at:<br /><br>
            <strong>107 Cheapside</strong><br />
            <strong>London</strong><br />
            <strong>EC2V 6DN</strong>
            </p>
            <h3><a name="_Toc515017342" id="_Toc515017342">Changes to our privacy statement</a></h3>
            <p>Updates to this privacy statement will appear on  this website.  This privacy statement was  last updated on 25th May 2018.</p>
       	</div>
    </div>
</div>