title = "Request a subscription"
url = "/request-a-subscription"
layout = "default"
is_hidden = 0

[renderForm]
formCode = "subscription-epc"
redirect = "request-a-subscription"

==
<div class="container cms-wrapper">
  <div class="row">
    <div class="col-md-12 col-lg-10 col-xl-10">
      <div class="page-title">
        <h1>Request a Subscription</h1>
      </div>
      <p>Thank you for your interest in a subscription. Please give us a few basic details and one of our team will be in touch directly to set you up with subscriber access.</p>

      <h3>Request Form</h3>
      <div class="rendered-form default-form new-form">
          {% component 'renderForm' %}
      </div>
  
    </div>
  </div>
</div>