title = "Submit Press Release"
url = "/submit-press-release"
layout = "default"
is_hidden = 0

[renderForm]
formCode = "submit-press-release-epc"
redirect = "submit-press-release"

==
<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Submit Press Release</h1>
       		</div>

          <p><strong>eprivateclient</strong> invites firms and individuals in the wealth management or other allied fields to post their press releases. Our editorial team will review these and if deemed of interest and relevance to the industry they will be posted to the members of eprivateclient community. </p>

          <p><strong>eprivateclient</strong> will not distribute any press release that, at its sole discretion, it deems to be inappropriate for this service. Such press releases include improperly formatted releases, press releases posted by distributors of network marketing organizations or press releases that look and read like advertisements. </p>

          <h3>Press Release Submission Form</h3>

          <div class="rendered-form default-form">
            {% component 'renderForm' %}
          </div>
       	</div>
    </div>
</div>