title = "Subscriptions"
url = "/subscriptions"
layout = "default"
is_hidden = 0

==
<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Subscriptions</h1>
       		</div>
			
			<p><strong>eprivateclient</strong> is the leading website and news service for private client practitioners, including lawyers, accountants, trustees and fee-based IFAs.</p>

			<p>The regulatory environment in which private client practitioners operate is becoming ever more pressured, fuelled by the seemingly relentless pace of legislative change. The business challenges are also growing. Practitioners are faced with changing forms of competition, more knowledgeable and sophisticated clients – and fast evolving technology.</p>
			
			<p>Updated daily and with the option of either a daily, or weekly news bulletin, eprivateclient not only delivers the latest news, but also incisive analysis and features that examine the people, businesses and trends in this increasingly 		fast-changing sector.</p>
			
			<p>eprivateclient is also the only place to see the annual rankings of eprivateclient’s Top 25 Law Firms, Top 25 Accountancy Firms, Top 25 Trust Companies, Top 25 IFA Companies, Top 35 Under 35 and 50 Most Influential. In addition, subscribers also receive eprivateclient’s annual jurisdictional reports, covering the world’s leading offshore financial centres.</p>

			<div class="cta-wrapper">
				<a href="{{url('/')}}/registration" class="action-button">Sign up for a free trial</a>
			</div>

			<h3>Annual subscription rates</h3>
			<p>Primary subscription: £595 <br>
			Additional individual subscription: £325</p>

			<div class="cta-wrapper">
				<a href="{{url('/')}}/request-a-subscription" class="action-button">Subscribe now »</a>
			</div>

			<p><a href="{{url('/')}}/benefits-of-membership">Read more</a> about Benefits of Membership</p>

       	</div>
    </div>
</div>