<div class="control-list list-unresponsive products">
<table class="table data">
                <tr>
                    <th>Corresponding Superscript</th>
                    <th>Note</th>
                </tr>
    <?php foreach($notes as $n):;?>
                <tr>
                    <td><?= $n->ckcdn_superscript;?></td>
                    <td><?= $n->ckcdn_explanatorynote;?></td>
                    
                </tr>
    <?php endforeach;?>
    </table>
</div>