<?php if(count($awards) > 0):?>
<div id="list-categories" class="control-list list-unresponsive">
    <table class="table data">
        <thead>
        <tr>
            <th style="width: 150px"><span>Status</span></th>
            <th class="active"><a href="/">Category</a></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($awards as $award):?>
        <?php
                $application = $this->getAwardApplication($award->award_id,$company_id);
        ?>
        <tr>
            <td>
                <?php if($application && $application->aa_submitted != 1):?>
                <span class="oc-icon-circle text-success">In progress</span>
                <?php elseif($application && $application->aa_submitted == 1):?>
                <span class="oc-icon-circle text-muted">Submitted</span>
                <?php else: ?>
                <span class="oc-icon-circle text-info">Not entered</span>
                <?php endif; ?>
            </td>
            <td><?=$award->award_name;?></td>
            <td class="column-button nolink"><a data-toggle="modal" href="#content-confirmation-<?=$award->award_id?>" class="btn btn-default btn-xs">Criteria</a></td>
            <td class="column-button nolink">
                <?php if($application):?>
                <a class="btn btn-success btn-xs"
                   data-control="popup"
                   data-request-data="company_id:'<?= $company_id ?>',application_id:'<?=$application->awardapplication_id?>',award_id:'<?=$award->award_id?>'"
                   data-handler="onLoadUpdateApplication">View</a>
                <?php endif; ?>
            </td>
        </tr>
        <div class="control-popup modal fade" id="content-confirmation-<?=$award->award_id?>" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Award Criteria</h4>
                    </div>
                    <div class="modal-body">
                        <p><?=$award->award_criterion?></p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <?php endforeach;?>
        </tbody>
    </table>
    <br />
</div>
<?php endif;?>