[viewBag]
==
<div class="footer-container">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8">
				<h4 class="slogan">A Wealth of Knowledge ... <br>
				... A Knowledge of Wealth™</h4>
			</div>			

			<div class="col-12 col-md-4">
				<ul>
					<li><a href="{{url('/')}}/terms-and-conditions" title="">Terms & conditions</a></li>
					<li><a href="{{url('/')}}/privacy-policy" title="">Privacy policy</a></li>
				</ul>
				<div class="copyright">© PAM Insight 2018</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-logos">
	<div class="container">
		<a href="{{url}}/pam" title="PAM"><img src="{{ 'footer_pam_logo.png' | media }}" alt=""></a>
		<a href="{{url}}/epc" title="eprivateclient"><img src="{{ 'footer_epcclient_logo.png' | media }}" alt=""></a>
		<a href="{{url}}/twn" title="thewealthnet"><img src="{{ 'footer_wn_logo.png' | media }}" alt=""></a>
		<a href="{{url}}/fundeye" title="fundeye"><img src="{{ 'footer_fundeye_logo.png' | media }}" alt=""></a>
		<a href="{{url}}/company" title="PAM Insight"><img src="{{ 'footer_pam_insight.png' | media }}" alt=""></a>
	</div>
</div>