[viewBag]
==
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">&nbsp;</div>
            <div class="col-md-12 col-lg-7">
                <ul class="header-logos">
                    <li>
                        <a href="{{url}}/pam" title="">
                            <img src="{{ 'header_pam_logo.jpg' | media }}" alt="">
                            <span>PAM</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/epc" title="">
                            <img src="{{ 'header_epcclient_logo.jpg' | media }}" alt="">
                            <span>eprivateclient</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/twn" title="">
                            <img src="{{ 'header_wn_logo.jpg' | media }}" alt="">
                            <span>thewealthnet</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/fundeye" title="">
                            <img src="{{ 'header_fundeye_logo.jpg' | media }}" alt="">
                            <span>fundeye</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/company" title="">
                            <img src="{{ 'header_pam_insight.jpg' | media }}" alt="">
                            <span>PAM Insight</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{url('/')}}">
            <img src="{{'assets/images/logo.jpg' | theme}}" width="301" alt="">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fal fa-bars"></i></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if this.page.id == 'home' %} active {% endif %}">
                    <a class="nav-link" href="{{url('/')}}">Home</a>
                </li>
                <li class="nav-item about-dropdown dropdown 
                    {% if (this.page.id == 'about-us') %} active {% endif %}
                    {% if (this.page.id == 'creating-value') %} active {% endif %}
                    {% if (this.page.id == 'innovations') %} active {% endif %}
                    ">
                    <a class="nav-link dropdown-toggle" href="{{url('/')}}/about/about-us" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url('/')}}/about/about-us">About Us</a>
                        <a class="dropdown-item" href="{{url('/')}}/about/creating-value">Creating Value</a>
                        <a class="dropdown-item" href="{{url('/')}}/about/innovations">Timeline of Events</a>
                    </div>
                </li>
                <li class="nav-item products-dropdown dropdown 
                    {% if this.page.id == 'pam' %} active {% endif %}
                    {% if this.page.id == 'thewealthnet' %} active {% endif %}
                    {% if this.page.id == 'eprivateclient' %} active {% endif %}
                    {% if this.page.id == 'events' %} active {% endif %}
                    {% if this.page.id == 'pam-awards' %} active {% endif %}
                    ">
                    <a class="nav-link dropdown-toggle" href="{{url('/')}}/our-products/pam" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Products<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url('/')}}/our-products/pam">PAM</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-products/thewealthnet">thewealthnet</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-products/eprivateclient">eprivateclient</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-products/events">Events</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-products/pam-awards">PAM Awards</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-products/fundeye">fundeye</a>
                    </div>
                </li>
                <!--li class="nav-item clients-dropdown dropdown 
                    {% if this.page.id == 'institutional' %} active {% endif %}
                    {% if this.page.id == 'wealth-management' %} active {% endif %}
                    {% if this.page.id == 'private-banking' %} active {% endif %}
                    {% if this.page.id == 'professional-services' %} active {% endif %}
                    {% if this.page.id == 'trust-and-fiduciary' %} active {% endif %}
                    {% if this.page.id == 'miscellaneous' %} active {% endif %}
                    ">
                    <a class="nav-link dropdown-toggle" href="{{url('/')}}/our-clients/institutional" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Clients<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url('/')}}/our-clients/institutional">Institutional</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-clients/wealth-management">Wealth Management</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-clients/private-banking">Private Banking</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-clients/professional-services">Professional Services</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-clients/trust-and-fiduciary">Trust & Fiduciary</a>
                        <a class="dropdown-item" href="{{url('/')}}/our-clients/miscellaneous">Miscellaneous</a>
                    </div>
                </li-->
                <li class="nav-item {% if this.page.id == 'working-for-us' %} active {% endif %}">
                    <a class="nav-link" href="{{url('/')}}/working-for-us">Working For Us</a>
                </li>
                <li class="nav-item {% if this.page.id == 'contact' %} active {% endif %}">
                    <a class="nav-link" href="{{url('/')}}/contact">Contact</a>
                </li>
            </ul>
            <!--div class="search-wrapper mr-auto">
                <i class="far fa-search"></i>
                <span>Search</span>
            </div-->
            {%if user%}
            <!--div class="nav user-nav">
                <a class="nav-link" href="{{url('/')}}">
                    <i class="fa fa-heart"></i>
                    <span>Favourites</span>
                </a>
                <a class="nav-link" href="{{url('/')}}/account">
                    <i class="fa fa-user"></i>
                    <span>My Account</span>
                </a>        
            </div-->
            {% else %}
            <!--div class="nav user-nav">
                <a class="nav-link" href="{{url('/')}}/login">
                    <i class="fa fa-sign-in"></i>
                    <span>Login</span>
                </a>
                <a class="nav-link" href="{{url('/')}}/registration">
                    <i class="fa fa-user-plus"></i>
                    <span>Register</span>
                </a>
            </div-->
            {% endif %}
            <!--div class="search-popup">
                <div class="container">
                    <form class="form-inline" action="{{ 'results' | page }}" method="get">
                        {% component 'searchInput' %}
                    </form>
                </div>
            </div-->
        </div>
    </div>
</nav>