<div class="control-list list-unresponsive products">
    <?php foreach($products as $p):;?>
        <strong><?= $p->product->p_name?></strong>
        <?php if($p->pc_description != ""):;?>
            <p><?= $p->pc_description?></p>
        <?php else: ?>
            <p>No description provided.</p>
        <?php endif;?>
    <?php endforeach;?>
</div>
<style>
    strong{
        font-weight: bolder !important;
    }
    
   
</style>