{% set listCode = __SELF__.listCode %}
{% set isSubscribed = __SELF__.isSubscribed %}
{% set loadData = __SELF__.loadData %}
<div class="col-xs-12 col-md-6 form-group">
    <div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <input type="hidden" class="listcode" name="list" value="{{listCode}}"/>
            <input type="hidden" class="listmail" name="email" value="{{user.email}}"/>
            <input type="hidden" class="listname" name="firtname" value="{{user.name}}"/>
            <input type="hidden" class="listsurname" name="lastname" value="{{user.surname}}"/>
            <label class="btn btn-secondary {{ isSubscribed and loadData ? 'active':'' }}">
                <input class="email_updates" data-request="onSignup" type="radio" name="email_updates_{{listCode}}" id="accountEmailYes" value="1" autocomplete="off" {{ isSubscribed and loadData ? 'checked':'' }}> Yes
            </label>
            <label class="btn btn-secondary {{ isSubscribed == false and loadData ? 'active':'' }}">
                <input class="email_updates" data-request="onSignup" type="radio" name="email_updates_{{listCode}}" id="accountEmailNo" value="0" autocomplete="off" {{ isSubscribed == false and loadData ? 'checked':'' }}> No
            </label>
        </div>
        <div id="subscriberesult_{{listCode}}" style="width: 100%;font-size: 13px;margin-top: 10px;color: green;">

        </div>
    </div>
</div>