
<div class="deactivate-wrapper">

    <h4>Deactivate your account?</h4>
    {% if not user.membership.isMembershipActive and not user.thecompany.membership.isMembershipActive and not user.thebranch.membership.isMembershipActive %}   
        <p>Your account will be disabled and your details removed from the site.<br>You can reactivate your account any time by signing back in.</p>
        
        
        <a
            href="javascript:;"
            onclick="$('#accountDeactivateForm').toggle()" class="btn btn-danger">
            Deactivate account
        </a>
    
        
        <div id="accountDeactivateForm" style="display: none">
            {{ form_ajax('onDeactivate', { class: 'default-form' }) }}
                <div class="form-group">
                    <label for="accountDeletePassword">To continue, please enter your password:</label>
                    <input name="password" type="password" class="form-control" id="accountDeletePassword" />
                </div>
                <button type="submit" class="btn btn-danger">
                    Confirm Deactivate Account
                </button>
                <a
                    href="javascript:;"
                    onclick="$('#accountDeactivateForm').toggle()"
                    class="change">
                    I changed my mind
                </a>
            {{ form_close() }}
        </div>
    {% else %}
        <p>Please contact the office if you would like your details removed from your system.</p>
    {% endif %}
</div>
