==
<?php
function onStart () {
    $this['countries'] = Rainlab\Location\Models\Country::all();
    $this['sitesallsubject'] =  DB::table('keios_multisite_settings as site')
    ->select('interests.site_id','interests.parent_id','interests.is_hidden','site.id as siteid','site.theme','interests.id as categoryid','interests.name','interests.identifier')
    ->where('interests.identifier','all-subjects')
    ->leftJoin('twnepc_news_categories as interests','site.id','interests.site_id')->get();
}
?>
==
{% if canRegister %}
    <div class="register-top-info">
        <p>With your FREE trial subscription, you will enjoy these subscriber conveniences: Real-time news about what's going on in the industry - as it happens tailored delivery of content to match your areas of interest, access to our unique directory of wealth management and ancillary service providers and a comprehensive calendar of relevant conferences, exhibitions and other events.</p>
    </div>
    <form
        data-request="onRegister"
        data-request-validate
        data-request-flash
        class="default-form">

        <h2>Login information</h2>

        <div class="row">

            <div class="col-xs-12 col-md-4 form-group required">
                <label for="registerEmail">Email</label>
                <input
                    name="email"
                    type="email"
                    class="form-control"
                    id="registerEmail"
                    placeholder="Enter your email" />
                <div data-validate-for="email" style="visibility: hidden;" class="alert alert-danger"></div>
            </div>

            <div class="col-xs-12 col-md-4 form-group required">
                <label for="registerPassword">Password</label>
                <input
                    name="password"
                    type="password"
                    class="form-control"
                    id="registerPassword"
                    placeholder="Choose a password" />
                <div data-validate-for="password" style="visibility: hidden;" class="alert alert-danger">Password must contain at least uppercase letter, digit and a minimum of 8 characters.</div>
            </div>

            <div class="col-xs-12 col-md-4 form-group required">
                <label for="registerConfirmPassword">Confirm Password</label>
                <input
                    name="password_confirmation"
                    type="password"
                    class="form-control"
                    id="registerConfirmPassword"
                    placeholder="Confirm your password" />
                <div data-validate-for="password_confirmation" style="visibility: hidden;" class="alert alert-danger">Please confirm your password.</div>
            </div>

        </div>

        <h2>Personal information</h2>

        <div class="row">

            <div class="col-xs-12 col-md-2 form-group">
                <label for="registerSalutation">Salutation</label>
                <select
                    name="salutation"
                    class="custom-select"
                    id="registerSalutation">
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Dr.">Dr.</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="col-xs-12 col-md-5 form-group required">
                <label for="registerFirstName">First Name</label>
                <input
                    name="name"
                    type="text"
                    class="form-control"
                    id="registerFirstName"
                    placeholder="Enter your first name" />
                <div data-validate-for="name" style="visibility: hidden;" class="alert alert-danger">Please enter your first name.</div>
            </div>

            <div class="col-xs-12 col-md-5 form-group required">
                <label for="registerLastName">Last Name</label>
                <input
                    name="surname"
                    type="text"
                    class="form-control"
                    id="registerLastName"
                    placeholder="Enter your last name" />
                <div data-validate-for="surname" style="visibility: hidden;" class="alert alert-danger">Please enter your last name.</div>
            </div>

        </div>

        <div class="row">
            
            <div class="col-xs-12 col-md-6 form-group required">
                <label for="registerClassification">Classification</label>
                <select
                    name="classification"
                    class="custom-select"
                    id="registerClassification">
                    <option value="">Select your classification</option>
                    <option value="institutional">Institutional</option>
                    <option value="professional">Professional</option>
                    <option value="retail">Retail</option>
                </select>
                <div data-validate-for="classification" style="visibility: hidden;" class="alert alert-danger">Please enter your classification.</div>
            </div>
    
        </div>

        <div class="row">
			
			<div class="col-xs-12 col-md-6 form-group required">
				<label for="registerCompany">Company</label>
				<input
					name="company"
					type="text"
					class="form-control"
					id="registerCompany"
					placeholder="Enter your company" />
				<div data-validate-for="company" style="visibility: hidden;" class="alert alert-danger">Please enter your company.</div>
			</div>
            
            <div class="col col-6 form-group required">
                <label for="registerPosition">Position</label>
                <input
                    name="position"
                    type="text"
                    class="form-control"
                    id="registerPosition"
                    placeholder="Enter your Position" />
                <div data-validate-for="position" style="visibility: hidden;" class="alert alert-danger">Please enter your position.</div>
            </div>
			
        </div>

        <div class="row">
            
            <div class="col-xs-12 col-md-6 form-group required">
                <label for="registerAddress">Address (Please start entering your address and select from the list.)</label>
                <input
                    name="street_addr"
                    type="text"
                    class="form-control"
                    id="registerAddress"
                    placeholder="Enter your address" />
                <div data-validate-for="street_addr" style="visibility: hidden;" class="alert alert-danger">Please enter your address line.</div>
            </div>
        
		</div>
	
		<div class="row">
            
            <div class="col-xs-12 col-md-6 form-group">
                <label for="registerAddressAdditional">Address Line 2</label>
                <input
                    name="street_addr_2"
                    type="text"
                    class="form-control"
                    id="registerAddressAdditional1" />
            </div>
			
			<div class="col-xs-12 col-md-6 form-group">
				<label for="registerAddressAdditional">Address Line 3</label>
				<input
					name="street_addr_3"
					type="text"
					class="form-control"
					id="registerAddressAdditiona2" />
			</div>

        </div>

        <div class="row">
			
            <div class="col col-6 form-group required">
                <label for="registerCity">City</label>
                <input
                    name="city"
                    type="text"
                    class="form-control"
                    id="registerCity"
                    placeholder="Enter your City" />
                <div data-validate-for="city" style="visibility: hidden;" class="alert alert-danger">Please enter your city.</div>
            </div>
			
			<div class="col-xs-12 col-md-6 form-group">
				<label for="registerCounty">Region</label>
				<input
					name="user_state"
					type="text"
					class="form-control"
					id="registerCounty"
					placeholder="Enter your Town, County or State" />
			</div>
			
        </div>

        <div class="row">
			
			<div class="col-6 col-md-6 form-group required">
				<label for="registerZip">Postcode</label>
				<input
					name="zip"
					type="text"
					class="form-control"
					id="registerZip" 
					placeholder="Enter your Postcode" />
                <div data-validate-for="zip" style="visibility: hidden;" class="alert alert-danger">Please enter your postcode.</div>
			</div>
            
            <div class="col-xs-12 col-md-6 form-group required">
                <label for="registercountry">Country</label>
                <select
                    name="country_id"
                    class="custom-select"
                    id="registerCountry">
                    <option value="">Select your country</option>
                    
                    {% for country in countries %}
                    <option value="{{country.id}}">{{country.name}}</option>
                    {% endfor %}
                </select>
                <div data-validate-for="country_id" style="visibility: hidden;" class="alert alert-danger">Please enter your country.</div>
            </div>
		
        </div>
		
		<div class="row">
            
            <div class="col-6 col-md-6 form-group required">
                <label for="registerTelephone">Phone number</label>
                <input
                    name="phone"
                    type="text"
                    class="form-control"
                    id="registerTelephone" />
                <div data-validate-for="phone" style="visibility: hidden;" class="alert alert-danger">Please enter your phone number.</div>
            </div>
            <div class="col-6 col-md-6 form-group">
                <label for="registerExt">Ext.</label>
                <input
                    name="phone_ext"
                    type="text"
                    class="form-control"
                    id="registerExt"/>
            </div>
			
		</div>
        
       

        <div class="row">

            <div class="col-xs-12 col-md-6 form-group">
                <label for="">Please select your gender</label>
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary" id="male">
                            <input type="radio" name="gender" id="registerGenderMale" value="male" autocomplete="off"> Male
                        </label>
                        <label class="btn btn-secondary" id="female">
                            <input type="radio" name="gender" id="registerGenderFemale" value="female" autocomplete="off"> Female
                        </label>
                    </div>
                    <div data-validate-for="gender" style="visibility: hidden;" class="alert alert-danger">Please enter your gender.</div>
                </div>
            </div>
            
        </div>
        
        <h2>Your interests</h2>

        <div class="interest-title-wrapper" >
            <div class="form-group">
                <label for="">I wish to receive email updates</label>
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="email_updates" id="registerEmailYes" value="1" autocomplete="off"> Yes
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="email_updates" id="registerEmailNo" value="0" autocomplete="off"> No
                        </label>
                    </div>
                    <div data-validate-for="email_updates" style="visibility: hidden;" class="alert alert-danger">Please set email updates.</div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="row interests-wrapper">
            
            <div class="col">
                <input type="hidden" name="category" value="0">
                {%for as in sitesallsubject %}
                    {{as.id}}
                    {% if as.siteid == site.id %}
                        <div class="interest custom-control custom-checkbox all-subjects site-{{site.id}}" data-site="{{site.id}}">
                            <input type="checkbox" checked class="custom-control-input" value="{{as.categoryid}}" name="category[]" id="interests{{as.categoryid}}">
                            <label class="custom-control-label" for="interests{{as.categoryid}}">{{as.name}}</label>
                        </div>
                    {% endif %}
                {% endfor %}

                {{ block.getAllInterests(site) | raw }}
            </div>
      
        </div>

        <div class="row">
            <div class="col-12 register-bottom-info">
                <p>The information you provide will be safeguarded by Pam Insight Ltd, whose subsidiaries may use it to keep you informed of relevant products and services. </p>
                <p>We occasionally allow reputable companies approved by Pam Insight Ltd to mail details of products which we feel may be of interest to you in line with the topics that you have expressed interest in.</p>
                <p>As an international Ltd, we may transfer your data on a global basis for the purposes indicated above.</p>
                <p>Please tick if:</p>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="contactby_pam" value="0" class="custom-control-input" id="contactByPam">
                    <label class="custom-control-label" for="contactByPam">You do not wish to receive information from Pam Insight and its' subsidiaries.</label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="contact_never" value="1" class="custom-control-input" id="contactNever">
                    <label class="custom-control-label" for="contactNever">You do not wish to receive information about products and services from other carefully selected companies which we believe will be of interest to you.</label>
                </div>
                
                <p>To learn more about our privacy policy, please click <a href="{{url('/')}}/privacy-policy" title="">here</a>.</p>

                <div class="actions">
                    <button type="submit" class="btn btn-primary" data-attach-loading>Register</button>
                    <p><strong>*** For further information, please contact subs@thewealthnet.com</strong></p>
                </div>
            </div>
        
        </div>
    </form>
{% else %}
    <!-- Registration is disabled. -->
{% endif %}