<div class="control-list list-unresponsive main-shareholders">
    <?php foreach($main_shareholders as $sh):;?>
        <strong><?= $sh->csh_name; ?> </strong>
        <span><?= $sh->csh_share; ?>%</span>
    <?php endforeach;?>
</div>
<style>
    strong{
        font-weight: bolder !important;
    }
    #Form-field-Companies-mainshareholders{
        page-break-before: always;
    }
</style>