
<div class="layout control-toolbar">
        <div class="layout-cell">
            <div class="relative toolbar-item loading-indicator-container size-input-text">
                <input placeholder="<?= e(trans('system::lang.settings.search')) ?>" type="text" name="search" value="" 
                    class="form-control icon search"
                    id="settings-search-input"
                    autocomplete="off"
                    data-track-input
                    data-load-indicator
                    data-load-indicator-opaque
                />
            </div>
        </div>
    </div>