<div id="judgeNotes">
    <?= $this->makePartial('button') ?>
    <?php if(count($notes) > 0):?>
    <div id="list" class="control-list list-unresponsive">
        <table class="table data">
            <thead>
            <tr>
                <th style=""><span>Note</span></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($notes as $note):?>
            <tr>
                <td><?=$note->aw_note;?></td>
                <td class="column-button nolink"></td>
                <td class="column-button nolink">
                    <?php if($canEdit):?>
                    <a
                            data-control="popup" data-request-data="note_id:'<?=$note->awardnote_id?>'"
                            data-handler="<?= $this->getEventHandler('onLoadUpdateNote') ?>"
                            target="_blank"
                            class="btn btn-default btn-sm">
                        Edit
                    </a>
                    <?php endif;?>
                </td>
            </tr>
            <?php endforeach;?>
            </tbody>
        </table>
        <br />
    </div>
    <?php endif;?>
</div>