<?php if (!isset($fatalError)): ?>
<?= Form::open([
        'files'                     => true,
        'data-request'              => $this->getEventHandler('onUpdateNote'),
        'data-request-success'      => '$el.closest(".modal").modal("hide");',
        'data-popup-load-indicator' => true
    ]) ?>
<input type="hidden" name="note_id" value="<?=$note_id;?>" />
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="chooseTypeLabel">Edit</h4>
</div>
<div class="modal-body">
    <?= $form->render() ?>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary oc-icon-tick" onclick2="$(this).setCreateFormSessionKey();">Save Changes</button>
</div>

<?= Form::close() ?>

<?php else: ?>
<div class="modal-body">
    <div class="callout callout-danger">
        <div class="header">
            <i class="icon-warning"></i>
            <h3>Error</h3>
            <p><?= $fatalError ?></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <?= e(trans('backend::lang.form.close')) ?>
    </button>
</div>
<?php endif ?>