<div id="Toolbar-listToolbar" class="toolbar-widget list-header">
    <div class="control-toolbar">

        <!-- Control Panel -->
        <div class="toolbar-item toolbar-primary">
            <div data-control="toolbar" data-disposable="">
                <a class="btn btn-primary icon-chevron-left" href="<?= Backend::url('twnepc/awards/league') ?>?awardyear_id=<?=get('awardyear_id')?>">&nbsp;&nbsp;Back to Awards</a>
            </div>
        </div>

    </div>
</div>
<div class="control-list list-unresponsive">
    <table class="table data">
        <thead>
            <tr>
                <th><span>Company</span></th>
                <th><span>Place</span></th>
                <th><span>Rank</span></th>
                <th><span>Voters</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($leagueTableData as $rank) { ?>
                <?php foreach($rank as $app) { ?>
                <tr>
                    <td><?= $app['company']['c_companyname']; ?></td>
                    <td></td>
                    <td><?= $app['rank']; ?></td>
                    <td><?= $app['voters']; ?></td>
                    <td class="column-button nolink">
                        <a
                                href="<?=url('backend/twnepc/awards/applications/update/'.$app['app']->awardapplication_id)?>"
                                target=""
                                class="btn btn-warning btn-sm">
                            View
                        </a>
                    </td>
                </tr>
                <?php } ?>
            <?php } ?>
        </tbody>
    </table>
</div>