<div style="padding: 20px">
    <div class="control-breadcrumb">
        <ul>
            <li><a href="<?= Backend::url('/twnepc/awards/judgeawards/')?>">PAM Awards</a></li>
            <li><a href="<?= Backend::url('twnepc/awards/judgeapplications?award_id='.get('award_id','')) ?>">Other companies</a></li>
        </ul>
    </div>
</div>
<p>
    <a href="<?= Backend::url('twnepc/awards/judgeapplications?award_id='.get('award_id','')) ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
    <?php if ($this->isVoted($awardapplication->awardapplication_id)):?>
    <button
            data-control="popup"
            data-request-data="application_id:'<?=$awardapplication->awardapplication_id?>',award_id:'<?=$awardapplication->award_id?>'"
            data-handler="onLoadVoteForm"
            type="button" class="btn btn-default">Voted</button>
    <?php else: ?>
    <button
            data-control="popup"
            data-request-data="application_id:'<?=$awardapplication->awardapplication_id?>',award_id:'<?=$awardapplication->award_id?>'"
            data-handler="onLoadVoteForm"
            type="button" class="btn btn-warning">Vote</button>
    <?php endif;?>
    <a target="_blank" href="<?= url('company/'.$awardapplication->company_id)?>" type="button" class="btn btn-info">Company Public page</a>
</p>

<div class="form-elements">
    <h2><?=$company->c_companyname?></h2>
    <h4><?=$awardapplication->award->award_name?></h4>
    <p class="form-group span-left">CRITERIA: <?=$awardapplication->award->award_criterion?></p>
</div>
<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
<?php endif ?>

<p>
    <a href="<?= Backend::url('twnepc/awards/judgeapplications?award_id='.get('award_id','')) ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
    <?php if ($this->isVoted($awardapplication->awardapplication_id)):?>
    <button
            data-control="popup"
            data-request-data="application_id:'<?=$awardapplication->awardapplication_id?>',award_id:'<?=$awardapplication->award_id?>'"
            data-handler="onLoadVoteForm"
            type="button" class="btn btn-default">Voted</button>
    <?php else: ?>
    <button
            data-control="popup"
            data-request-data="application_id:'<?=$awardapplication->awardapplication_id?>',award_id:'<?=$awardapplication->award_id?>'"
            data-handler="onLoadVoteForm"
            type="button" class="btn btn-warning">Vote</button>
    <?php endif;?>
    <a target="_blank" href="<?= url('company/'.$awardapplication->company_id)?>" type="button" class="btn btn-info">Company Public page</a>
</p>