<div class="callout fade in callout-danger no-icon no-subheader no-header">
    <div class="content">
        <p>
            <strong><?= \Lang::get('twnepc.sitesearch::lang.settings.experimental'); ?></strong>
            <?= \Lang::get('twnepc.sitesearch::lang.settings.experimental_refer_to_docs'); ?>
        </p>
    </div>
</div>