<div class="report-widget">
    
    
    <h3 style="display: block;""><?php echo $title ?></h3>
    <div>
        
        <iframe src="<?php echo $url ?>" frameborder="0"
            width="100%"
            height="600"
            allowtransparency></iframe>
        
    </div>
</div>
