@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'common/variables';
@import '../../../twn/src/scss/common/mixins';
@import '../../../twn/src/scss/fontawesome/fontawesome';
@import '../../../twn/src/scss/fontawesome/fa-solid';
@import '../../../twn/src/scss/fontawesome/fa-regular';
@import '../../../twn/src/scss/fontawesome/fa-light';
@import '../../../twn/src/scss/fontawesome/fa-brands';
@import '../../../twn/src/scss/layout/base';
@import '../../../twn/src/scss/layout/header';
@import '../../../twn/src/scss/layout/footer';
@import '../../../twn/src/scss/layout/home';
@import '../../../twn/src/scss/layout/cms';
@import '../../../twn/src/scss/components/news/article';
@import '../../../twn/src/scss/components/user/user';
@import '../../../twn/src/scss/components/search/search';
@import '../../../twn/src/scss/layout/advertising';

@import 'layout/fundeye';


.continue-reading-subscribe {
    width:100%; 
    height:400px; 
    padding: 30px 0px 50px 0px; 
    background:#FFFFFF;
}

.continue-reading-subscribe-heading {
    margin:auto 0; 
    text-align: center; 
    font-size: 1.7em;
}

.continue-reading-subscribe-subheading {
    margin:auto 0; 
    text-align: center; 
    font-size: 1.2em;
}

.continue-reading-subscribe-option-block {
    float:left; 
    width:50%; 
    margin:auto 0; 
    text-align: center;
    margin-bottom: 0px;
}

#free-trial-subscribe-btn {
    margin-left: 0px;
}

.continue-reading-subscribe-btn-summary {
    font-size:1.2em; 
    text-align: center;
}

@media (min-width:507px) and (max-width:566px){
    
    .continue-reading-subscribe {
        width:100%; 
        height:620px; 
        margin:0 auto; 
        text-align: center;
        padding: 30px 0px 50px 0px; 
        background:#FFFFFF;
    }
    
    .continue-reading-subscribe-option-block {
        float:none; 
        width:50%; 
        margin:0 auto;
        text-align: center;
        clear: both;
        margin-bottom: 40px;
    }
    
    #free-trial-subscribe-btn {
        margin-left: -40px;
    }
}

@media (min-width:0px) and (max-width:507px){
    
    .continue-reading-subscribe {
        width:100%; 
        height:830px; 
        margin:0 auto; 
        text-align: center;
        padding: 30px 0px 50px 0px; 
        background:#FFFFFF;
    }
    
    #free-trial-subscribe-btn {
        margin-left: -40px;
    }
    
    .continue-reading-subscribe-option-block {
        float:none; 
        width:50%; 
        margin:0 auto;
        text-align: center;
        clear: both;
        margin-bottom: 40px;
    }
    
    #free-trial-subscribe-btn {
        margin-left: -40px;
    }
}


.article-preview-fade-content-end {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    z-index: 10;
    margin-top: -120px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0 ); /* IE6-9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0 )"; /* IE6-9 */
}
