title = "About us"
url = "/about/about-us"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        
        <div class="col-12">
        	<div class="page-title">
        		<h1>About us</h1>
        	</div>
			<p>PAM Insight is an independent company dedicated exclusively to serving a broad and diverse community of professional wealth management organisations around the world (currently in over 50 jurisdictions), with innovative, market-leading and independent information products and services, delivered online, in print and face-to-face.</p>
			
			<h2>Building Relationships based on Trust</h2>
			<p>Since launching the world's first publication specifically devoted to wealth management back in 1997 (long before other publishers jumped on the bandwagon, to try to emulate our business), we have remained focused on the fundamental principle: that our business relationships should be built upon mutual trust and the consistent delivery of sustainable value. Our mission is the consistent delivery of accurate, sharply-focused and timely “must-have” information that is relevant and useful to our subscribers in their professional work.</p>
			<p>Our subscribers have come to rely upon the services we deliver and we are proud to serve them. The majority of our business over the years has resulted from third party recommendation and referral. We do not spend money on advertising, preferring to focus on engaging in direct dialogue with our existing clients, many of whom have been with us on our journey since the beginning. It is possible that you may have arrived at this website, because one of our existing clients has told you about one of our portfolio of specialist products.</p>
			<p>Please feel free to <a href="{{url('/')}}/contact">contact us</a> to discuss how we can help. We look forward to working with you.</p>

			<h2>Pursuing Excellence through Innovation</h2>
			<p>Innovation and the pursuit of excellence stand at the heart of our business culture. We constantly strive to offer our clients the best possible service, as well as the latest ways to help them achieve their business objectives. We continue to search for new and better ways to deliver information that is timely, accurate and relevant to our clients’ needs, wherever they are.</p>
			<p>Ever since the launch of our first specialist publication devoted to meeting the needs of senior private banking and wealth management professionals back in 1997 (before 'wealth management' was widely accepted as a term to describe the sector’s activities), we have continued to break new ground.</p>
			<p>For more details about the innovative products we have launched over time, please <a href="{{url('/')}}/about/innovations">click here</a>.</p>
		</div>

    </div>
</div>