title = "Events"
url = "/our-products/events"
layout = "default"
is_hidden = 0
==

<div class="container">
	<div class="row">
        <div class="col-12">
        	<div class="page-title">
        		<h1>Events</h1>
        	</div>
        	<p>We run many sector-specific events, to enable leading C-level executives and leading advisers across all of the core advisory wealth management disciplines to meet regularly, to exchange knowledge and to develop and maintain important professional relationships.</p>
			<p>Many of these events are discreet, private gatherings that are not publicised, rather they are tailored to meet the specific needs of special interest groups amongst our client base. All of our events are by invitation only, so as to ensure that we only bring together people with shared interests.</p>
			<p>From time to time, we are also happy to partner with other carefully selected third-party event organisers, but only where we believe the specific content being offered may benefit our clients and the organisations they represent.</p>
			<p>We list a selection of some of our regular annual events. If you would like to know more about these, or any of our other events, please contact us.</p>
		</div>
    </div>

   	<div class="row">
        <div class="col-sm-12 col-md-4 image-col">
        	<img src="{{ 'PAMMeetingsPic.jpg' | media }}" alt="PAM CEO / CIO / COO meetings">
        </div>
        <div class="col-sm-12 col-md-8 text-col">
			<h2>PAM CEO / CIO / COO annual dinners</h2>
			<p>Each year, PAM Insight gathers together some of the leading intellectual thought leaders from across the institutional, regulatory, technology and other sectors, to help leaders in the wealth management sector get to grips with the myriad of different challenges they face in their daily work. Conducted under Chatham House rules, these events are now well-established as a key meeting point for senior management within private banks and wealth management businesses to discuss and debate the key issues affecting them and their businesses, in a discreet environment which assures complete confidentiality.</p>
		</div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 image-col">
        	<img src="{{ 'top40Pic.jpg' | media }}" alt="PAM Top 40 Under 40">
        </div>
        <div class="col-sm-12 col-md-8 text-col">
			<h2>PAM Top 40 Under 40</h2>
			<p>The PAM Top 40 Under 40 programme is firmly established amongst private client professionals as a definitive guide to the rising stars in the private banking and private asset management sectors – the next generation’s leaders in the UK and UK offshore markets. This is both an annual report and an annual gathering, created to identify, recognise and promote the emerging leaders in the private banking and independent asset management segments of the market, include both women and men.</p>
		</div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 image-col">
        	<img src="{{ 'mostInfluentialPic.jpg' | media }}" alt="eprivateclient 50 Most Influential">
        </div>
        <div class="col-sm-12 col-md-8 text-col">
			<h2>eprivateclient 50 Most Influential</h2>
			<p>The eprivateclient 50 Most Influential report combines with an evening cocktail reception, attended by the most powerful and influential leaders in the private client legal, accounting and fiduciary sectors within the UK and UK offshore markets. The report identifies and recognises these leaders in the key private client-oriented professional advisory segments of the private client world and os based upon a combination of extensive research and peer-group nominations from across the spectrum of financial and professional advisory services.</p>
		</div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 image-col">
        	<img src="{{ 'top35Pic.jpg' | media }}" alt="eprivateclient Top 35 Under 35">
        </div>
        <div class="col-sm-12 col-md-8 text-col">
			<h2>eprivateclient Top 35 Under 35</h2>
			<p>The eprivateclient Top 35 Under 35 programme is the market-leading guide to the rising stars in the private client legal, accounting and fiduciary sectors – the next generation’s leaders in the UK and UK offshore markets. This is both an annual report and an annual gathering, created to identify, recognise and promote the emerging leaders in the key private client-oriented professional advisory segments of the market, include both women and men.</p>
		</div>
    </div>

</div>
