title = "fundeye"
url = "/our-products/fundeye"
layout = "default"
is_hidden = 0
==

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 image-col">
            <a href="https://www.fundeye.com/" target="_blank"><img src="{{ 'twn_printscreen.jpg' | media }}" alt=""></a>
            <p>Visit <a href="https://www.fundeye.com/" target="_blank">www.fundeye.com</a></p>
        </div>

        <div class="col-sm-12 col-md-8 text-col">
            <div class="page-title">
                <h1>fundeye</h1>
            </div>
            <img src="{{ 'footer_fundeye_logo.png' | media }}" alt="">

            <p>
                fundeye sits at the intersection between global fund providers and the world’s professional investor community. fundeye’s purpose is to focus on those funds and their managers that we believe professional investors should have on their radars.
            </p>
            <p>
                Broadly speaking, fundeye focuses on three types of funds and fund managers: 
            </p>
            <ul>
                <li>Those funds that either meet or beat their benchmarks over five year rolling periods;</li>
                <li>New funds that are being launched by managers that in their previous roles have delivered a similar track record; and</li>
                <li>Those funds that have distributor status across multiple jurisdictions. These are the funds that large distributors, such as private banks, can access for their discretionary investor clients.</li>
            </ul>

            <p>
                fundeye also keeps its readers abreast of the latest news of corporate activity, regulatory developments and important people moves.
            </p>

            <p style="font-style:italic; font-size:0.833rem;">
                fundeye links to fundeye.com, a state-of-the-art one-stop global fund data and document publication and dissemination platform, designed for professional investors and ultimately owned and managed by Carnegie & Cie in Geneva (see www.fundeye.com).
            </p>
	</div>

    </div>
</div>

















