title = "Home"
url = "/"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        <div class="col-sm-4 col-md-4 col-lg-3 pam-logos">
			<a href="{{url('/')}}/our-products/pam" title=""><img src="{{ 'pam_paminsight.jpg' | media }}" alt=""></a>
			<a href="{{url('/')}}/our-products/pam-awards" title=""><img src="{{ 'pam_awards.jpg' | media }}" alt=""></a>
        </div>

        <div class="col-sm-8 col-md-8 col-lg-9">
        	<p>PAM Insight is the first and remains the leading provider of essential specialist news, analysis and comparative data for the fast-evolving world of international wealth management.</p>
        	<p>Established in 1997, today PAM Insight’s business publishes a growing range of innovative and market-leading information products, delivering 'must-have' information online, in print and face-to-face.</p>
        	<p>We are focused exclusively on meeting the changing needs of senior professionals in this important sector, through the timely delivery of concise, accurate and relevant information.</p>
        	<p>We hope you will enjoy visiting our site. Please contact us if you think we may be able to help you.</p>
		</div>

    </div>
</div>
