title = "Innovations"
url = "/about/innovations"
layout = "default"
is_hidden = 0
==
<div class="container">
   	<div class="row">
        
        <div class="col-12">
        	<div class="page-title">
        		<h1>An Ongoing Story of Innovation</h1>
        	</div>
			<p>Our deep understanding of the mosaic that comprises the different elements of wealth management and the unique dynamics and interaction of its various constituents have enabled us to deliver innovative value-added solutions across the spectrum of professional advisory disciplines. Here are some of the highlights:</p>

			<div class="container-fluid">
			    <div class="container innovation-timeline">
                                
                                
                                <!-- section -->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
                                        <h5>Watch this space...</h5>
                                        <p></p>
			            </div>
			            <div class="col-2 text-center full top-item">
			                <div class="circle circle-right">2021</div>
			            </div>
			        </div>
                                
                                
                                <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>


			    	<!-- section-->
			        <div class="row align-items-center timeline-event">
			            <div class="col-2 text-center full-left">
                                        <div class="circle">2020</div>
			            </div>
			            <div class="col-8">
			                <h5>Launch of live virtual PAM Awards</h5>
                                        <p>
                                            A digital first, incorporating online networking with a live broadcast of our market-leading Awards programme.
                                            <br />
                                        </p>
			            </div>
			        </div>
                               
                                
                                <!-- path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner top-right"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner left-bottom"></div>
			            </div>
			        </div>
                                
                                
                                <!-- section -->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
                                        <h5>Launch of PAM Connect</h5>
			                <p>A unique series of networking events, in exclusive venues, enabling our extended audience of leading professionals to connect and forge new and lasting relationships.</p>
			            </div>
			            <div class="col-2 text-center full">
			                <div class="circle circle-right">2019</div>
			            </div>
			        </div>
                                
                                
			        <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>

				<!-- section -->
			        <div class="row align-items-center timeline-event">
			            <div class="col-2 text-center full-left">
			                <div class="circle">2018</div>
			            </div>
			            <div class="col-8">
			                <h5>Launch of fundeye</h5>
			                <p>A daily service dedicated to news and analysis of leading funds and their managers, for professional investors world-wide, linked to fundeye.com, a state-of-the-art global fund data and document publication and dissemination platform.</p>
			            </div>
			        </div>

			        <!-- path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner top-right"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner left-bottom"></div>
			            </div>
			        </div>

				<!-- section-->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
			                <h5>Launch of PAM Leadership Insight Series</h5>
			                <p>Providing the next generation of future leaders in wealth management with curated access to proven and prominent industry figureheads, to help them hone their leadership skills.</p>
			            </div>
			            <div class="col-2 text-center full">
			                <div class="circle circle-right">2017</div>
			            </div>
			        </div>

			        <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>

				<!-- section -->
			        <div class="row align-items-center timeline-event">
			            <div class="col-2 text-center full-left">
			                <div class="circle">2016</div>
			            </div>
			            <div class="col-8">
			                <h5>Launch of PAM SME Series</h5>
			                <p>Creating a community of smaller, newer wealth management businesses, where their founders can learn from entrepreneurs who have already successfully navigated the challenges of growth.</p>
			            </div>
			        </div>

			        <!-- path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner top-right"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner left-bottom"></div>
			            </div>
			        </div>

			        <!-- section-->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
			                <h5>Launch of PAM Digital Survey & Forum</h5>
			                <p>The first independent annual study to focus exclusively on the latest trends and developments in digital technology and how these are impacting the wealth management sector.</p>
			            </div>
			            <div class="col-2 text-center full">
			                <div class="circle circle-right">2015</div>
			            </div>
			        </div>

			        <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>

			        <!-- section -->
			        <div class="row align-items-center timeline-event">
			            <div class="col-2 text-center full-left">
			                <div class="circle">2012</div>
			            </div>
			            <div class="col-8">
			                <h5>Launch of PAM CEO/CIO/COO meetings</h5>
			                <p>We combine incisive, thought-provoking content with the confidential chamber that gives C-level executives the confidence to discuss critical issues affecting their businesses.</p>
			            </div>
			        </div>

			        <!-- path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner top-right"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner left-bottom"></div>
			            </div>
			        </div>

			        <!-- section-->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
			                <h5>Launch of the Top 25 Series</h5>
			                <p>Initially UK-centric in its coverage, these reports track the largest and most successful professional private client advisory firms, including lawyers, accountants, fiduciary businesses and so on.</p>
			            </div>
			            <div class="col-2 text-center full">
			                <div class="circle circle-right">2010</div>
			            </div>
			        </div>

			        <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>

			        <!-- section -->
			        <div class="row align-items-center timeline-event">
			            <div class="col-2 text-center full-left">
			                <div class="circle">2008</div>
			            </div>
			            <div class="col-8">
			                <h5>Launch of PAM Global 50</h5>
			                <p>Acknowledged as the definitive rankings of the world’s most successful private wealth management businesses, this report is essential reading for anyone covering or working in the sector.</p>
			            </div>
			        </div>

			        <!-- path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner top-right"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner left-bottom"></div>
			            </div>
			        </div>

			        <!-- section-->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
			                <h5>Launch of Jurisdiction Report Series</h5>
			                <p>With authoritative analysis by leading professionals in their respective fields, this series keeps private client advisers up-to-date with the latest developments in the offshore world.</p>
			            </div>
			            <div class="col-2 text-center full">
			                <div class="circle circle-right">2004</div>
			            </div>
			        </div>

			        <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>

			        <!-- section -->
			        <div class="row align-items-center timeline-event">
			            <div class="col-2 text-center full-left">
			                <div class="circle">2003</div>
			            </div>
			            <div class="col-8">
			                <h5>Launch of eprivateclient.com</h5>
			                <p>The world’s first and only daily news service dedicated to meeting the specific needs of senior wealth structuring professionals. News and authoritative technical analysis you can trust.</p>
			            </div>
			        </div>

			        <!-- path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner top-right"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner left-bottom"></div>
			            </div>
			        </div>

			        <!-- section-->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
			                <h5>Launch of thewealthnet.com</h5>
			                <p>The world’s first and still the leading daily international news service exclusively devoted to the professional wealth management community. We break the stories others follow.</p>
			            </div>
			            <div class="col-2 text-center full">
			                <div class="circle circle-right">2002</div>
			            </div>
			        </div>

			        <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>

			        <!-- section -->
			        <div class="row align-items-center timeline-event">
			            <div class="col-2 text-center full-left">
			                <div class="circle">2001</div>
			            </div>
			            <div class="col-8">
			                <h5>Launch of pamonline.com</h5>
			                <p>The online portal that brings private clients and their professional advisers into closer proximity with private asset managers, as well as highlighting which firms are leading their peers.</p>
			            </div>
			        </div>

			        <!-- path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner top-right"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner left-bottom"></div>
			            </div>
			        </div>

			        <!-- section-->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
			                <h5>Formation of the PAM Awards judging panel</h5>
			                <p>The rigour, independence and transparency of the PAM Awards is known throughout the private client professions. When a firm wins a PAM Award, it really is based on merit.</p>
			            </div>
			            <div class="col-2 text-center full">
			                <div class="circle circle-right">2000</div>
			            </div>
			        </div>

			        <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>

			        <!-- section -->
			        <div class="row align-items-center timeline-event">
			            <div class="col-2 text-center full-left">
			                <div class="circle">1999</div>
			            </div>
			            <div class="col-8">
			                <h5>Launch of PAM (Private Asset Managers)</h5>
			                <p>The first exhaustive reference source covering private asset management, including data on over 250 private banks, investment managers, stockbrokers, financial advisers, etc.</p>
			            </div>
			        </div>

			        <!-- path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner top-right"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner left-bottom"></div>
			            </div>
			        </div>

			        <!-- section-->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
			                <h5>Launch of the STEP Journal as a bi-monthly publication</h5>
			                <p>We turned what had previously been a quarterly newsletter into a regular professional journal, adding a fresh dimension to the value of STEP membership.</p>
			            </div>
			            <div class="col-2 text-center full">
			                <div class="circle circle-right">1998</div>
			            </div>
			        </div>

			        <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>

			        <!-- section -->
			        <div class="row align-items-center timeline-event">
			            <div class="col-2 text-center full-left">
			                <div class="circle">1997</div>
			            </div>
			            <div class="col-8">
			                <h5>Launch of Wealth Management magazine</h5>
			                <p>Before anyone else, we joined up the dots, from private banking, to investment management, to wealth structuring, to insurance, to real estate, to family governance and so on.</p>
			            </div>
			        </div>

			        <!-- path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner top-right"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner left-bottom"></div>
			            </div>
			        </div>

			        <!-- section-->
			        <div class="row align-items-center justify-content-end timeline-event">
			            <div class="col-8 text-right">
			                <h5>Launch of the STEP Membership Directory</h5>
			                <p>The creation of this product helped put STEP (the Society of Trust & Estate Practitioners) on the map. Over the next decade James Anderson, our founder, acted as STEP’s publisher.</p>
			            </div>
			            <div class="col-2 text-center full">
			                <div class="circle circle-right">1993</div>
			            </div>
			        </div>

			        <!--path between -->
			        <div class="row timeline">
			            <div class="col-2">
			                <div class="corner right-bottom"></div>
			            </div>
			            <div class="col-8">
			                <hr>
			            </div>
			            <div class="col-2">
			                <div class="corner top-left"></div>
			            </div>
			        </div>

			    </div>
			</div>
						
		</div>

    </div>
</div>