title = "Institutional"
url = "/our-clients/institutional"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        <div class="col-12">
			<div class="page-title">
        		<h1>Institutional</h1>
        		<h2>A selection of some of our clients</h2>
        	</div>

			<ul class="clients-list">
				<li>+ Aberdeen Asset Managers </li>
				<li>+ Alken Asset Manangement	</li>
				<li>+ Artisan Partners	</li>
				<li>+ AXA Investment Managers</li>	
				<li>+ Barclays Bank	</li>
				<li>+ Baring Asset Management</li>	
				<li>+ Berkshire Capital Securities</li>	
				<li>+ BlackRock	</li>
				<li>+ BNY Mellon	</li>
				<li>+ Canada Life	</li>
				<li>+ Cantor Fitzgerald	</li>
				<li>+ Citigroup	</li>
				<li>+ Close Brothers</li>	
				<li>+ Commerzbank	</li>
				<li>+ Dai-ichi Life International	</li>
				<li>+ Deutsche Bank	</li>
				<li>+ Dexion Capital	</li>
				<li>+ Duke Street	</li>
				<li>+ EFG Asset Management	</li>
				<li>+ ETF Securities	</li>
				<li>+ Equiniti	</li>
				<li>+ GAM	</li>
				<li>+ Generali International	</li>
				<li>+ Hermes Fund Managers	</li>
				<li>+ HSBC Global Asset Management</li>	
				<li>+ HSBC Investment Bank	</li>
				<li>+ Impax Asset Management	</li>
				<li>+ ING Bank	</li>
				<li>+ Ingenious Media</li>	
				<li>+ Invesco	</li>
				<li>+ Invesco Perpetual</li>	
				<li>+ Investec Asset Management</li>	
				<li>+ J O Hambro Capital Management</li>	
				<li>+ J.P.Morgan	</li>
				<li>+ Janus International</li>	
				<li>+ Jupiter Asset Management</li>	
				<li>+ Kas Bank	</li>
				<li>+ Ketton Securities</li>	
				<li>+ Kuber Ventures	</li>
				<li>+ Legal & General	</li>
				<li>+ Lloyds Bank	</li>
				<li>+ Lombard International Assurance</li>	
				<li>+ Macquarie Capital	</li>
				<li>+ Mediobanca	</li>
				<li>+ Mercer	</li>
				<li>+ Millenium Associates	</li>
				<li>+ Morgan Stanley	</li>
				<li>+ Mount Street Partners	</li>
				<li>+ Multrees Investment Services</li>	
				<li>+ Natixis	</li>
				<li>+ Neptune Investment Management</li>	
				<li>+ Neuberger Berman	</li>
				<li>+ Newscape Capital Group</li>	
				<li>+ Newton Investment Management</li>	
				<li>+ Nordea	</li>
				<li>+ Odey Asset Management</li>	
				<li>+ Peel Hunt	</li>
				<li>+ Perinvest	</li>
				<li>+ Pershing	</li>
				<li>+ Pictet Asset Management</li>	
				<li>+ Platform Securities	</li>
				<li>+ Polar Capital	</li>
				<li>+ Premier Asset Management	</li>
				<li>+ Principal Global Investors	</li>
				<li>+ Raigersfield Capital	</li>
				<li>+ Raymond James Investment Services</li>	
				<li>+ Robeco	</li>
				<li>+ Rothschild	</li>
				<li>+ Royal London Asset Management	</li>
				<li>+ S W Mitchell Capital	</li>
				<li>+ Schroders	</li>
				<li>+ Scotia Capital</li>	
				<li>+ SEI Investments	</li>
				<li>+ Shard Capital	</li>
				<li>+ Shorne Capital Group</li>	
				<li>+ Skagen Funds	</li>
				<li>+ Societe Generale	</li>
				<li>+ Sovereign Capital	</li>
				<li>+ Spencer House Partners</li>	
				<li>+ Sturgeon Ventures	</li>
				<li>+ Suffolk Life	</li>
				<li>+ Swiss Life	</li>
				<li>+ T. Rowe Price	</li>
				<li>+ Talisman Global Asset Management	</li>
				<li>+ Taube Hodson Stonex Partners	</li>
				<li>+ TD Waterhouse	</li>
				<li>+ Towers Watson	</li>
				<li>+ Triple Point Investment Management	</li>
				<li>+ Troy Asset Management	</li>
				<li>+ UBS	</li>
				<li>+ Veritas Asset Management UK	</li>
			</ul>
		</div>
    </div>
</div>




