title = "Miscellaneous"
url = "/our-clients/miscellaneous"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        <div class="col-12">
			<div class="page-title">
        		<h1>Miscellaneous</h1>
        		<h2>A selection of some of our clients</h2>
        	</div>

			<ul class="clients-list">		
				<li>+ A T Kearney	</li>
				<li>+ Above Wealth	</li>
				<li>+ Advent Software	</li>
				<li>+ Alchemy Business Growth</li>	
				<li>+ Avaloq Evolution	</li>
				<li>+ Bain & Co	</li>
				<li>+ Bita Risk Solutions</li>	
				<li>+ Bluerock Consulting	</li>
				<li>+ Boston Consulting Group	</li>
				<li>+ Bovill	</li>
				<li>+ Broker Profile</li>	
				<li>+ Cauldron Consulting</li>	
				<li>+ Charities Aid Foundation</li>	
				<li>+ Chartered Developments	</li>
				<li>+ Cofunds	</li>
				<li>+ Compeer	</li>
				<li>+ Crealogix	</li>
				<li>+ Datamonitor	</li>
				<li>+ DST International	</li>
				<li>+ EDHEC Risk	</li>
				<li>+ Factset Europe	</li>
				<li>+ Financial Express Holdings</li>	
				<li>+ Financial Services Authority	</li>
				<li>+ FNZ	</li>
				<li>+ Focus Solutions Group</li>	
				<li>+ Global Partnership of Family Offices	</li>
				<li>+ GMC Software Technology	</li>
				<li>+ Guernsey Finance	</li>
				<li>+ Hammicks Legal Information Services</li>	
				<li>+ Harrison Spence Partnership	</li>
				<li>+ Headland Consultancy	</li>
				<li>+ ICAEW	</li>
				<li>+ INSEAD	</li>
				<li>+ Interactive Investor</li>	
				<li>+ International Financial Data Services</li>	
				<li>+ Jersey Finance	</li>
				<li>+ JHC	</li>
			</ul>
		</div>
    </div>
</div>