title = "PAM Awards"
url = "/our-products/pam-awards"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        <div class="col-sm-12 col-md-4 image-col">
        	<img src="{{ 'eventsPic.jpg' | media }}" alt="PAM Awards">
        </div>
        <div class="col-sm-12 col-md-8 text-col">
			<div class="page-title">
        		<h1>PAM Awards</h1>
        	</div>
			<p>The PAM Awards remain the most sought after accolades in the UK wealth management industry and the Financial Times described them as the "Oscars" of the sector.</p>
			<p>This is because senior wealth management professionals recognise the compelling combination of factors that make the PAM Awards unique: integrity and rigour in the PAM Awards due diligence process; complete independence and market-leading expertise within the PAM Awards Judging Panel; and solid ring-fencing to ensure zero correlation between who wins and who spends money supporting the PAM Awards with sponsorship.</p>
			<p>Each year, the PAM Awards programme receives hundreds of entries for only a limited number of Awards. All entries are scrutised by the PAM Awards Judging panel, which is comprised of well-recognised leading independent professionals, who between them have a unique blend of independence and expertise to be able to properly and fairly evaluate Award entrants from every angle.</p>
			<p>The PAM Awards culminates in a gala dinner, which is recognised as one of the outstanding dates in the senior private client professional's calendar - and a rare opportunity to mix with the leading practitioners at the top end of the UK private client market.</p>
		</div>
    </div>
</div>