title = "PAM"
url = "/our-products/pam"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        <div class="col-sm-12 col-md-4 image-col">
			<a href="https://www.pamonline.com/" target="_blank"><img src="{{ 'pam_printscreen.jpg' | media }}" alt=""></a>
			<p>Visit <a href="https://www.pamonline.com/" target="_blank">www.pamonline.com</a></p>
        </div>

        <div class="col-sm-12 col-md-8 text-col">
        	<div class="page-title">
        		<h1>PAMonline</h1>
        	</div>
        	<img src="{{ 'pam_paminsight.jpg' | media }}" alt="">
        	<p>PAM is “the best guide available to the leading firms in private client fund management” (Financial Times). Published annually, PAM is the market-leading annual guide to who’s who in private asset management.</p>
        	<p>Together with its online sister product PAMonline, PAM is the most reliable resource available for finding and selecting private asset managers in the UK and UK Offshore markets. PAM highlights the winners and finalists of the <a href="{{url('/')}}/our-products/pam-awards">PAM Awards</a>, the industry’s most sought after awards and a key barometer reading as to which firms are most consistently delivering performance and service to their clients.</p>
        	<p>PAMonline features the latest independently compiled quarterly risk-adjusted performance figures across the industry, via the ARC PCI (Private Client Indices). The website also give you access to regular investment commentaries from leading UK wealth managers, so you can gain a feel for the different views that specific managers have about world markets.</p>
        	<p>Via PAMonline you can access the latest news about changes and developments within relevant private asset management firms that you may be interested in following. We also feature specialist service providers to the wealth management industry, as well as special offers for the latest edition of PAM.</p>
		</div>

    </div>
</div>