title = "Private Banking"
url = "/our-clients/private-banking"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        <div class="col-12">
			<div class="page-title">
        		<h1>Private Banking</h1>
        		<h2>A selection of some of our clients</h2>
        	</div>

			<ul class="clients-list">
				<li>+ ABN AMRO </li>
				<li>+ Adam & Company	</li>
				<li>+ Allfunds Bank	</li>
				<li>+ ANZ Private Bank	</li>
				<li>+ Bank J Safra Sarasin & Cie	</li>
				<li>+ Bank Julius Baer	</li>
				<li>+ Barclays Wealth	</li>
				<li>+ Berenberg Bank	</li>
				<li>+ BNP Paribas	</li>
				<li>+ Brown Brothers Harriman	</li>
				<li>+ Brown Shipley & Co	</li>
				<li>+ Butterfield Bank	</li>
				<li>+ C Hoare & Co	</li>
				<li>+ Citi Private Bank	</li>
				<li>+ Coutts	</li>
				<li>+ Credit Suisse	</li>
				<li>+ Deutsche Wealth & Asset Management	</li>
				<li>+ Duncan Lawrie	</li>
				<li>+ Edmond de Rothschild Group	</li>
				<li>+ EFG Group	</li>
				<li>+ Emirates NBD	</li>
				<li>+ FirstRand International Wealth Management	</li>
				<li>+ Goldman Sachs	</li>
				<li>+ HSBC Private Bank	</li>
				<li>+ ING	</li>
				<li>+ Investec Private Bank	</li>
				<li>+ J.P.Morgan Private Bank	</li>
				<li>+ Julius Baer International	</li>
				<li>+ Kleinwort Benson	</li>
				<li>+ Lloyds Private Banking	</li>
				<li>+ Lombard Odier</li>
				<li>+ Macquarie	</li>
				<li>+ Mirabaud & Cie	</li>
				<li>+ Nedbank Private Wealth	</li>
				<li>+ Nordea	</li>
				<li>+ Pictet & Cie	</li>
				<li>+ Piguet Galland & Cie	</li>
				<li>+ Prival Bank	</li>
				<li>+ Rothschild	</li>
				<li>+ Royal Bank of Canada	</li>
				<li>+ SG Private Banking	</li>
				<li>+ Smith & Williamson	</li>
				<li>+ Standard Bank Jersey	</li>
				<li>+ Standard Chartered Bank	</li>
				<li>+ UBS Wealth Management	</li>
				<li>+ Union Bancaire Privée	</li>
				<li>+ Weatherbys Private Bank</li>	
				<li>+ Zenith Bank	</li>
			</ul>
		</div>
    </div>
</div>