title = "Professional Services"
url = "/our-clients/professional-services"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        <div class="col-12">
			<div class="page-title">
        		<h1>Professional Services</h1>
        		<h2>A selection of some of our clients</h2>
        	</div>

			<ul class="clients-list">
				<li>+ Addleshaw Goddard	</li>
				<li>+ Appleby	</li>
				<li>+ Bedell Group	</li>
				<li>+ Berkeley Law	</li>
				<li>+ Berwin Leighton Paisner	</li>
				<li>+ Bircham Dyson Bell	</li>
				<li>+ Bond Dickinson	</li>
				<li>+ Boodle Hatfield	</li>
				<li>+ Bourner Bullock	</li>
				<li>+ Burges Salmon </li>
				<li>+ Buzzacott	</li>
				<li>+ Carey Group	</li>
				<li>+ Charles Russell Speechlys	</li>
				<li>+ Collas Crill	</li>
				<li>+ Collyer Bristow	</li>
				<li>+ Conyers Dill & Pearman	</li>
				<li>+ Cripps Harries Hall	</li>
				<li>+ Crowe Clark Whitehill	</li>
				<li>+ Deloitte	</li>
				<li>+ Denton Love	</li>
				<li>+ Dixon Wilson	</li>
				<li>+ Ernst & Young	</li>
				<li>+ Farrer & Co	</li>
				<li>+ First Names Group	</li>
				<li>+ Frank Hirth	</li>
				<li>+ Grant Thornton	</li>
				<li>+ Herrington & Carmichael</li>	
				<li>+ Holden and Partners	</li>
				<li>+ Irwin Mitchell	</li>
				<li>+ Kaye Scholer </li>
				<li>+ Keefee, Bruyette & Wood</li>	
				<li>+ Kingston Smith	</li>
				<li>+ KPMG	</li>
				<li>+ Macfarlanes</li>	
				<li>+ Maples & Calder</li>	
				<li>+ McDermott Will & Emery	</li>
				<li>+ Mercer & Hole	</li>
				<li>+ Michelmores	</li>
				<li>+ Mills & Reeve	</li>
				<li>+ Moore Stephens	</li>
				<li>+ Mourant Ozannes	</li>
				<li>+ New Quadrant Partners	</li>
				<li>+ Ogier	</li>
				<li>+ Pannone	</li>
				<li>+ Panos Savides	</li>
				<li>+ Penningtons Manches</li>	
				<li>+ PwC	</li>
				<li>+ Rawlinson & Hunter</li>	
				<li>+ Saffery Champness	</li>
				<li>+ Smith & Williamson	</li>
				<li>+ Sopher & Co	</li>
				<li>+ Sullivan & Cromwell</li>	
				<li>+ Taylor Vinters	</li>
				<li>+ Taylor Wessing	</li>
				<li>+ TempleTax	</li>
				<li>+ Thomas Eggar	</li>
				<li>+ Thomson Snell & Passmore</li>	
				<li>+ Turcan Connell	</li>
				<li>+ Vardags	</li>
				<li>+ Walkers	</li>
				<li>+ Wedlake Bell	</li>
				<li>+ Wilson King	</li>
				<li>+ Wilsons	</li>
				<li>+ Withers	</li>
				<li>+ Wragge Lawrence Graham</li>	
				<li>+ Wrigleys	</li>
				<li>+ Yates Legal	</li>
			</ul>
		</div>
    </div>
</div>