title = "Terms & conditions"
url = "/terms-and-conditions"
layout = "default"
is_hidden = 0
==
<div class="container">
	<div class="row">

		<div class="col-12">
			<div class="page-title">
				<h1>Terms & conditions</h1>
			</div>
			<p>In these conditions the term "PAM" means PAM Insight Limited or any of its group or associated companies,
				the term
				"Customer" means the party who places an order for an advertisement, insert, book mark, or any other
				form of promotional
				space, event, product or service. All orders accepted by PAM are subject to the following conditions.
				PAM reserves the
				right to change these conditions at its absolute discretion without notice. No other conditions will be
				binding unless
				agreed in writing by PAM and the Customer. The placing of any order by a Customer will be deemed to be
				an acceptance of
				these conditions.</p>

			<p>Credit Accounts are strictly net and must be settled within 14 days of the invoice date. PAM will invoice
				the Customer
				within 14 days of the date of receipt of the Customer's signed order confirmation, unless otherwise
				agreed. Each
				Customer undertakes to ensure that payment is made in full by the due date. Any queries regarding
				payment in respect of
				any order must be raised in writing with PAM within two weeks of the publication or invoice date.</p>

			<p>All payments by the Customer must be made in sterling currency. Any payments made in foreign currency
				will be subject to
				an additional handling charge, together with any bank charges applied for foreign exchange.</p>

			<p>PAM will levy an interest surcharge on any overdue amount at a rate of two percent (2%) per month
				(interest will
				calculated monthly on the compounded balance outstanding up to the date of receipt of payment) and
				reserves the right to
				suspend execution of all orders until payment is received in full.</p>

			<p>PAM may at any time instruct its agents to recover any overdue sum. Any costs or charges incurred by PAM
				as a result of
				such instruction will be payable by the Customer to PAM on demand.</p>

			<p>PAM reserves the right to refuse, withdraw, alter or cancel advertisements, promotional material or any
				other Customer
				orders submitted to it at its absolute discretion.</p>

			<p>The Customer warrants that its advertisements will comply with the British Code of Advertising Practice
				and do not
				contravene any of the provisions of the Trade Descriptions Act 1968 or other statute and are not
				defamatory or obscene.</p>

			<p>If an advertisement comes within the meaning of an "investment advertisement" as defined in Section 57(2)
				of the UK
				Financial Services Act, then the Customer must submit the Financial Services Act Approval Form duly
				completed and signed
				by an "Authorised Person" within the meaning of the Act. It is at all times the responsibility of the
				Customer to ensure
				that advertisements comply with the Act or any equivalent legislation in other jurisdictions and the
				Customer will
				indemnify PAM against any liability and costs which PAM may incur or suffer as a result of the Customer
				failing to
				comply with this responsibility.</p>

			<p>PAM reserves the right to discontinue, change or delay the date of any issue of a publication, product,
				or event at its
				absolute discretion.</p>

			<p>PAM will not be liable for any loss or damage including loss of profits or other consequential loss
				resulting from the
				delay or failure of an advertisement to appear on the date(s) specified in any order, from the failure
				of an
				advertisement to appear in any specified format or position in any publication, from the delay of
				failure of an issue of
				a publication, product, or event to appear or take place, or from the discontinuance of any publication,
				product, or
				event.</p>

			<p>The Customer will indemnify PAM against any damage, loss or expense which PAM may incur as a direct or
				indirect
				consequence of the Customer's advertisement, or promotional material.</p>

			<p>Series discounts apply only to orders placed in advance and completed within one year of the first
				insertion. If the
				Customer cancels the balance of a series all unearned series discount will be surcharged. PAM reserves
				the right to
				surcharge any discount if insertions are not completed within the contractual period.</p>

			<p>In no circumstances does the placing of an order confer the right to renew on similar terms.</p>

			<p>PAM reserves the right to increase or reduce its rates at any time at its sole discretion.</p>

			<p>All orders for advertisements, or any promotional activity are subject to the space and venue being
				available.</p>

			<p>Cancellations or changes in the dates of advertisement insertion, or dates of promotional material
				publication, or dates
				of events, which are subject to PAM's acceptance at its sole discretion, must be received in writing not
				less than
				fourteen weeks before the deadline date for the supply of copy, or by such other times as may be
				specified for the
				individual publication, product, or event. For the exact copy deadline date Customers should contact
				PAM. Cancellations
				are subject to a handling charge equal to 35% of the agreed cost specified in the order confirmation.
				The Customer will
				be liable to pay in full for any advertisement, or promotional material published, or event sponsorship,
				where notice is
				not received by the times referred to above.</p>

			<p>Where the Customer has booked an insert or bookmark, the Customer will remain liable for full payment if
				its materials
				fail to arrive at the agreed time and place for insertion. Material and content for all inserts and
				bookmarks must be
				approved in advance of publication by PAM.</p>

			<p>Should PAM introduce a Reader Enquiry or similar service for the benefit of its readers, PAM shall not be
				liable if it
				fails to pass such enquiries to the Customer or its agent(s).</p>

			<p>Copy must be supplied without application from PAM by the copy deadlines specified by each publication.
				In the event of
				copy not being received by the copy deadline PAM reserves the right (a) to repeat standing copy or
				otherwise to
				determine the copy to be published, (b) to charge the Customer the full amount due for the space booked
				and (c) to
				charge the Customer for any extra costs directly incurred by PAM as a result of late copy.</p>

			<p>Copy matter must conform strictly to PAM's published requirements and any additional work involved will
				be charged for
				including the cost of making duplicate films or any necessary desktop publishing, reprographic,
				origination or colour
				processing work and the delivery of proofs to the Customer if required. Where it has been agreed that
				copy shall be
				converted by PAM to the required format, free of charge, the Customer must provide proofed and finished
				text, by the
				stated deadline. The Customer will be provided with one proof under this agreement in order to make
				amendments to errors
				made by PAM. Textual amendments made to copy provided by the Customer will be chargeable at PAM's
				discretion. All
				subsequent proofs sent to the Client will also be chargeable at PAM's discretion. Proofs sent to the
				Customer for
				correction which are not received back by PAM by the relevant deadline will be assumed to be correct.
			</p>

			<p>The Customer shall be responsible for the insurance of all artwork and other advertising or promotional
				material
				delivered by it to PAM and PAM cannot accept any liability for any loss or damage. PAM reserves the
				right to destroy all
				artwork, or other materials which have been in its or its printer's custody for more than three months
				from the last
				date of use without giving further notice to the Customer.</p>

			<p>All advertisement material originated by PAM remains PAM's copyright.</p>

			<p>Where PAM holds events, ticket applications made by the Customer are strictly subject to availability and
				PAM does not
				accept liability for any loss, however caused, arising out of the non-availability of tickets. The
				purchase of tickets
				renders the Customer subject to the terms and conditions of the venue in question in addition to PAM's
				terms and
				conditions. Acceptance of ticket applications are at the absolute discretion of PAM. Applications for
				tables take
				precedence over those for single tickets. In the instance that the event is oversubscribed, awards
				entrants will be
				given precedence over non-entrants. All tickets must be paid for in advance and ticket applications are
				non-transferable
				and cannot be cancelled or refunded within 60 days before the event and only then at PAM’s sole
				discretion. A management
				charge of 50 percent of the purchase price is applicable to cancelled ticket applications. Venues,
				speakers and
				programmes are subject to change at PAM’s sole discretion. In order to provide the Customer with a high
				quality
				experience, PAM will share event attendee details on a limited basis only, as needed, with the venue,
				photographer and
				other event suppliers, as applicable and at PAM’s sole discretion. This may include name and dietary
				requirements, but
				will not include contact details at any time.</p>

			<p>Where PAM engages in joint research with the Customer as part of its contracted services, or engages in
				research
				activities that are co-branded with the Customer, unless otherwise agreed in writing by both the
				parties, all materials,
				research papers, information and all other know-how relating to the research carried out remains PAM's
				copyright and PAM
				shall have sole discretion on how the research is used or published.</p>

			<p>Where PAM provides confidential information to the Customer, or engages in joint research with the
				Customer as part of
				its contracted services, or engages in research activities that are co-branded with the Customer, the
				Customer agrees to
				treat as secret and confidential and not at any time for any reason disclose or permit to be disclosed
				to any person or
				otherwise make use of or permit to be made use of any discussions or correspondence between PAM and the
				Customer or
				unpublished information given to it by PAM relating to PAM's know-how, business plans, plans for new
				publications, new
				companies, finances, or any such information relating to a supplier, customer or client of PAM. At PAM's
				request the
				Customer shall deliver up to PAM all working papers, computer disks and tapes or other material provided
				to or prepared
				by it during the course of business between PAM and the Customer and containing information confidential
				to PAM.</p>

			<p>PAM shall not be liable for any costs or damages due to delay or non-performance of any of its
				publications, products,
				events or services arising out of any cause or event beyond PAM’s control, including, without
				limitation, acts of God;
				earthquakes; fires; floods; acts of war; nuclear catastrophes; civil or military disturbances; acts of
				terrorism;
				sabotage; computer virus; strikes; work stoppages; epidemics or pandemics; riots; power failures;
				computer failure and
				any such circumstances beyond its reasonable control as may cause interruption, loss or malfunction of
				utility,
				transportation, computer (hardware or software) or telephone communication service; accidents; labour
				disputes; acts of
				civil or military authority; governmental actions; or inability to obtain labour, material, equipment or
				transportation.</p>

			<p>The Customer agrees that it will indemnify and hold PAM fully and effectively indemnified against all
				costs, claims,
				damages and other liabilities which PAM may suffer as a result of the Customer not complying with this
				Agreement.</p>

			<p>Failure by PAM to insist upon strict performance by the Customer of any of these Terms and Conditions
				shall not operate
				as a waiver or otherwise release or in any way affect the liability of the Customer under these Terms
				and Conditions.</p>

			<p>These Terms and Conditions shall be governed and construed in accordance with the laws of England and PAM
				and Customer
				hereby agree to submit to the exclusive jurisdiction of the English Courts.</p>

		</div>

	</div>
</div>