title = "Wealth Management"
url = "/our-clients/wealth-management"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        <div class="col-12">
			<div class="page-title">
        		<h1>Wealth Management</h1>
        		<h2>A selection of some of our clients</h2>
        	</div>

			<ul class="clients-list">
				<li>+ ACPI Investments	</li>
				<li>+ Affinity Private Wealth	</li>
				<li>+ Albert E Sharp	</li>
				<li>+ Algebra Capital	</li>
				<li>+ Alliance Trust	</li>
				<li>+ Anacap Financial Partnership</li>	
				<li>+ Anchura Partners	</li>
				<li>+ Arbuthnot Latham	</li>
				<li>+ Ashcourt Rowan	</li>
				<li>+ Baigrie Davies	</li>
				<li>+ Baird & Co	</li>
				<li>+ Bellecapital	</li>
				<li>+ Bestinvest	</li>
				<li>+ Brewin Dolphin	</li>
				<li>+ Bridport & Co	</li>
				<li>+ Broadstone	</li>
				<li>+ Brooks Macdonald Asset Management	</li>
				<li>+ Brown Advisory	</li>
				<li>+ Canaccord Genuity	</li>
				<li>+ Capital Group	</li>
				<li>+ Cavendish Asset Management	</li>
				<li>+ Cazenove Capital Management	</li>
				<li>+ Cerno Capital	</li>
				<li>+ Chase De Vere	</li>
				<li>+ Chelverton Asset Management	</li>
				<li>+ Citibank	</li>
				<li>+ City Asset Management	</li>
				<li>+ Close Asset Management	</li>
				<li>+ Collins Stewart Wealth Management</li>	
				<li>+ Dart Capital	</li>
				<li>+ Dion Global	</li>
				<li>+ DPZ Capital	</li>
				<li>+ E.I Sturdza Investment</li>	
				<li>+ ECU Group	</li>
				<li>+ EFG International	</li>
				<li>+ Ermitage Global Wealth Management	</li>
				<li>+ European Investment Management	</li>
				<li>+ European Wealth	</li>
				<li>+ Evercore Partners International	</li>
				<li>+ Fisher Investments Inc	</li>
				<li>+ Fortress Investment Group	</li>
				<li>+ Future Capital Partners	</li>
				<li>+ GAM	</li>
				<li>+ Genedon Asset Management SA	</li>
				<li>+ Goldman Sachs	</li>
				<li>+ Greystone Financial Management	</li>
				<li>+ Hargreave Hale	</li>
				<li>+ Hassium Asset Management	</li>
				<li>+ Heartwood Wealth Management	</li>
				<li>+ HSBC Private Bank	</li>
				<li>+ Ingenious Asset Management	</li>
				<li>+ International Asset Monitor	</li>
				<li>+ Investec Wealth & Investment	</li>
				<li>+ Investment Quorum	</li>
				<li>+ IPS Capital	</li>
				<li>+ J Rothschild Services</li>	
				<li>+ JM Finn	</li>
				<li>+ LCF Edmond de Rothschild Holdings	</li>
				<li>+ Lincoln Private Investment Office	</li>
				<li>+ LJ Athene Investment	</li>
				<li>+ London & Capital	</li>
				<li>+ London Wall Partners	</li>
				<li>+ Lord North Street	</li>
				<li>+ Lothbury Investment Management	</li>
				<li>+ Maseco Private Wealth	</li>
				<li>+ McInroy & Wood	</li>
				<li>+ Merrill Lynch Wealth Management	</li>
				<li>+ OCM Wealth Management	</li>
				<li>+ Odey Wealth Management	</li>
				<li>+ Oxbridge Private Wealth Management Inc.	</li>
				<li>+ Partners Wealth Management	</li>
				<li>+ Peak Investments	</li>
				<li>+ PFP Group	</li>
				<li>+ The Private Office</li>	
				<li>+ Prospect Wealth Management</li>	
				<li>+ PSigma Investment Management	</li>
				<li>+ Quilter Cheviot Asset Management	</li>
				<li>+ Quilvest	</li>
				<li>+ Rampart Capital	</li>
				<li>+ Rathbone Brothers	</li>
				<li>+ RBC Wealth Management	</li>
				<li>+ Rothschild	</li>
				<li>+ Rowan Dartington	</li>
				<li>+ Ruffer	</li>
				<li>+ Sand Aire	</li>
				<li>+ Sanlam Private Investments	</li>
				<li>+ Sarasin & Partners	</li>
				<li>+ Saunderson House	</li>
				<li>+ SC Davies & Co	</li>
				<li>+ SCM Private	</li>
				<li>+ Smith & Williamson Investment Management</li>	
				<li>+ Spiers & Jeffrey	</li>
				<li>+ St James's Place Wealth Management</li>	
				<li>+ Standard Life Wealth	</li>
				<li>+ Stanhope Capital	</li>
				<li>+ Stenham	</li>
				<li>+ Stonehage Fleming Family & Partners	</li>
				<li>+ Swiss Life	</li>
				<li>+ TD Direct Investing International	</li>
				<li>+ Thesis Asset Management	</li>
				<li>+ Thomas Miller	</li>
				<li>+ Thurleigh Investment Managers	</li>
				<li>+ Towry	</li>
				<li>+ Unigestion</li>	
				<li>+ Veritas Investment Management	</li>
				<li>+ Vestra Wealth	</li>
				<li>+ Walker Crips Group</li>	
				<li>+ Waverton Investment Management</li>	
				<li>+ Wellian Investment Solutions	</li>
				<li>+ WH Ireland	</li>
			</ul>
		</div>
    </div>
</div>