title = "Working For Us"
url = "/working-for-us"
layout = "default"
is_hidden = 0
==

<div class="container">
   	<div class="row">
        
        <div class="col-12">
        	<div class="page-title">
        		<h1>Working For Us</h1>
        	</div>
        	<h2>Current Vacancies</h2>
        	<p>Although we have no vacancies at present we are always interested in hearing from talented individuals wanting to develop a career in specialist financial media. Please feel free to send in your application for our consideration at any time.</p>

        	<h2>Overview</h2>
        	<p>At the end of each job advertisement, you will find instructions on how to apply. Please ensure that you apply in the way requested - otherwise this may delay your application. General career applications can be made using any of these methods. </p>

        	<h2>On-Line Application</h2>
        	<p>In many cases you will be able to fill in and submit an on-line version of PAM Insight;s Application Form. In order that applications from all sources can receive equal consideration, when we receive the on-line form from you, it will be printed out into hard copy. You may be asked to sign the printed form at a later stage, if you are successful in being short-listed. To use this form now, click here.</p>

        	<h2>CV Submission</h2>
        	<p>Where indicated, you will be able to submit a CV by email. Alternatively you can often post your CV. When submitting your CV in either of these ways, please ensure that you remember to include your name, your address (including postcode) and the full title of the job that you are applying for.</p>

        	<h2>Closing Dates</h2>
        	<p>Please ensure that you take note of the closing date that appears in each for each job vacancy. It is the last date that we generally accept completed applications for this vacancy. If you anticipate problems in returning the form, please telephone the contact number in the advertisement.</p>

        	<h2>Interview Arrangements</h2>
        	<p>If you have any specific requirements regarding your needs at interview, or regarding the timing of your interview please provide details in a covering note with your application.</p>

        	<h2>Confidential</h2>
        	<p>
        		All sections must be completed. <br>
				When applying for any vacancy within PAM Insight, you should be aware that there are certain legal restrictions which apply to taking up employment in the UK. It will only be possible for PAM Insight  to apply for work permits from the British Government - Department for Education and Employment - if there are no suitable candidates who are normally resident in the UK or who are nationals of the European Economic Area (EU States plus Norway and Iceland).<br>
				The British Asylum and Immigration Act 1996 requires that all successful candidates will be asked to provide evidence of their immigration status and eligibility to seek work in the UK. <br>
				Further information on the UK Government's immigration policy can be found on the web site of the appropriate Government Department - Home Office Immigration and Nationality Directorate. <br>
				Please give addresses and telephone numbers by which you can be contacted including a daytime telephone number. PAM Insight will take into account the fact that your daytime telephone number may be your work telephone number, and that your employer or colleagues may not know you have applied to PAM Insight.
			</p>

		</div>

    </div>
</div>