<div class="control-list list-unresponsive">
    <table id="sortFees" class="table data" data-control="">
    <thead>
        <tr>
            
            <th><a>Type of Charge</a></th>
            <th><a>Type of Fee</a></th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
    	<?php foreach($fees as $f):;?>
    	<tr>

    		<td><?= $f->getChargeByIndex($f->cf_charge);?></td>
    		<td><?= $f->feetype->cft_name; ?></td>
    		<td><?= $f->cf_text;?></td>
    	</tr>
    	<?php endforeach;?>
    </tbody>
    </table>
    <div>
    	
    </div>
</div>