<div class="item">
    <a href="" title=""><img src="{{ 'pam.jpg' | media }}" alt=""></a>
    <span class="author">
        <img src="{{ 'user.png' | media }}" alt="">
        <span>ANGELA SEABROOK, 20/02/2018</span>
    </span>
        <p class="description">
            <a href="" title=""><strong>EXCLUSIVE:</strong> 28 firms named as 2018 PAM Awards finalists after record number of entrants</a>
        </p>
</div>