{% set records = __SELF__.records %}
{% set title = __SELF__.title %}
<h1>External List template from Config</h1>
<ul>
    {% for record in records%}
    <li>{{record[title]}}</li>
    {% else %}
    <li>No records found</li>
    {% endfor %}
</ul>