{% set articles = __SELF__.articles %}
{% set category = __SELF__.category %}
{% set sum = __SELF__.sum%}
{% set next = __SELF__.nextPage %}
{% set prev = __SELF__.prevPage %}
{% set current = __SELF__.current %}
{% set hasMore = __SELF__.hasMore %}
{% set pag = __SELF__.pag %}
{% set count = __SELF__.count %}

<div class="page-title">
        <h1 class="category-title">
            {% if category.name != 'Unknown' %}
                {{category.name}}
            {% else %}
                News
            {% endif %}
        </h1>
    </div>
    <ul class="news-list">

        {% for a in articles %}
            <li class="list-item">
                    {%if a.lead_image%}
                    <a href="{{url('/')}}/article/{{a.slug}}" title="Think-tank paper seeks to re-frame positive role of IFCs in facilitating global investment">
                        
                        <img src="{{a.lead_image.path()}}" alt="{{a.title}}">
                        
                    </a>
                    {% endif %}
                    <div class="item-title">
                        <a href="{{url('/')}}/article/{{a.slug}}" title="{{a.title}}">{{a.title}}</a>
                    </div>
                    <div class="item-time"><span>{{a.author.author_name}}</span> on {{ a.published_date | date('d/m/Y')}}</div>
                    <div class="item-desc">
                        {{a.summary|raw}}
                    </div>
                </li>
        {% endfor %}
            </ul>
    <div class="control-pagination">
        {%if pag == 1%}
        <span class="page-iteration">Displayed news: {{current*pag}} of {{sum}}</span>
        {% else %}
            {% if count == pag %}
            <span class="page-iteration">Displayed news: {{count*current - (pag-1) }} - {{count*current}}  of {{sum}}</span>
            {% else %}
                <span class="page-iteration">Displayed news: {{sum}}  of {{sum}}</span>
            {% endif %}
        {% endif%}
        <a href="{{prev}}" class="page-back" title="Previous page"></a>
        {% if hasMore %}
        <a href="{{next}}" class="page-next" title="Next page"></a>
        {% else %}
        <a href="#"  class="page-next" style="opacity:0.3;" title="Next page"></a>
        {% endif %}
    </div>