{% set article = __SELF__.article %}
{% set rating = __SELF__.rating %}
{% set feedbackEmail = __SELF__.feedbackEmail %}

<article>
    <h3>
        
        {{article.title}}
        
    </h3>
    
    <div class="article-head">
        <div class="author">
            <!--img src="" alt=""-->
            {% if article.contributor %}
                <span>{{article.contributor}}, {{ article.published_date | date('d/m/Y')}}</span>
            {% else %}
                <span>{{article.author.author_name}}, {{ article.published_date | date('d/m/Y')}}</span>
            {% endif %}
        </div>
        <div class="share">
            <span>{{trans('twnepc.news::lang.share')}}</span> <div class="addthis_inline_share_toolbox"></div> 
        </div>
       
    </div>
    <div class="fav-summary">
        <div id="fav-result">
                {% partial 'article::favourite' email=feedbackEmail %}
        </div>
    </div>
    <!--div class="lead-image">
        <img src="{{article.lead_image.getPath()}}" />
    </div-->
    <div class="article-body">
        {{article.body | raw}}
        
        {% if is_article_preview == true %}
            <div class="article-preview-fade-content-end"></div>
        {% endif %}
        
        {%if article.attachment | length > 0 %}
        <div class="article-attachments" style="clear:both;">
            <h5>{{trans('twnepc.news::lang.article_attachments')}}</h5>
            <ul>
               {% for attachment in article.attachment %}
                <li><a target="_blank" href="{{attachment.path}}">{{ attachment.file_name }}</a></li>
               {% endfor %} 
            </ul>
        
        </div>
        {% endif %}
    </div>
    
    {% if is_article_preview == true %}
    <br />
    <div style="clear: both"></div>
    
    <div class="headlines-wrapper headline continue-reading-subscribe">
        <div class="continue-reading-subscribe-heading">
            <h2><strong>Continue reading this article...</strong></h2>
        </div>
        <br />
        <!-- set vars and other stuff here when the site is for twn -->
        {% if article.site_id == 1 %} 
            {% set site_name = "twn" %}
            {% set request_a_sub = "/twn/request-a-subscription" %}
            {% set email_contact = "contact subs@thewealthnet.com" %}
            <p class="continue-reading-subscribe-subheading"><strong>Start a free trial now for access to breaking news and cutting edge analysis of the wealth management industry.</strong></p>
        {% endif %}
        
        <!-- set vars and other stuff here when the site is for epc -->
        {% if article.site_id == 2 %} 
            {% set site_name = "epc" %}
            {% set request_a_sub = "/epc/request-a-subscription" %}
            {% set email_contact = "contact subs@eprivateclient.com" %}
            <p class="continue-reading-subscribe-subheading"><strong>Start a free trial now for access to breaking news of the regulatory environment and legislative change happening in wealth management.</strong></p>
        {% endif %}
        
        <!-- set vars and other stuff here when the site is for fundeye -->
        {% if article.site_id == 4 %} 
            {% set site_name = "fundeye" %}
            {% set request_a_sub = "/fundeye/registration" %}
            {% set email_contact = "contact support@paminsight.com" %}
            <p class="continue-reading-subscribe-subheading"><strong>Start a free trial now for access to breaking news that supports global fund providers and the professional investor community.</strong></p>
        {% endif %}

        <br />
        <br />
        <div class="actions continue-reading-subscribe-option-block">
            <i style="font-size:200% " class="fa fa-sign-in"></i>
            <br />
            <br />
            <button type="button" onclick="window.location.href = '/{{ site_name }}/login'" class="btn btn-primary">Login</button>
            <br /><br />
            <p class="continue-reading-subscribe-btn-summary">You are currently not logged in, <br />login to view the full article<br />start by clicking this button.</p>
        </div>
        
        <div class="actions continue-reading-subscribe-option-block">
            <img src="{{ 'assets/images/continue-reading-and-subscribe.png' | theme }}" />
            <br />
            <br />
            <button id="free-trial-subscribe-btn" type="button" onclick="window.location.href = '{{ request_a_sub }}'" class="btn btn-primary">Take out a free trial now</button>
            <br /><br />
            <p class="continue-reading-subscribe-btn-summary">Need a subscription, <br />fill out the form here or <br />{{ email_contact }}</p>
        </div>
        
    </div>
    
    <br />
    <div style="clear: both"></div>
    {% endif %}
    
    <div class="article-footer">

        {% if article.sponsored != ''%}
        <div class="sponsored">
            SPONSORED BY {{article.sponsored}}
        </div>
        {% endif %}
        <div class="share">
            <span>{{trans('twnepc.news::lang.share')}}</span> <div class="addthis_inline_share_toolbox"></div>
        </div>
        
    </div>
    {% if user %}
        <div class="articles-rate">
            <!-- Rating form -->
            {% if rated_already %}
                <div class="rating-summary" style="float:left;">
                    <div id="result">
                            {% partial 'article::rateresult'  %}
                    </div>
                </div>
            {% else %}
            <!-- Rating -->
            <form  class="rating-form" method="post" style="float:left;">
                    <input  type="hidden" name="article_id" id="article_id" value="{{article.id}}"/>
                    <label for="">{{trans('twnepc.news::lang.rate')}}</label>
                    <div class="rating-wrapper">
                        <input data-request="onRate"  data-request-success="onRateSuccess()" type="radio" name="ratings" id="rating_1" value="1" class="radio">
                        <label class="rating-1"  for="rating_1" title="1 star"><span>1 star</span></label>

                        <input data-request="onRate"  data-request-success="onRateSuccess()"  type="radio" name="ratings" id="rating_2" value="2" class="radio">
                        <label class="rating-2" for="rating_2" title="2 star"><span>2 star</span></label>

                        <input data-request="onRate"  data-request-success="onRateSuccess()"  type="radio" name="ratings" id="rating_3" value="3" class="radio">
                        <label class="rating-3" for="rating_3" title="3 star"><span>3 star</span></label>

                        <input data-request="onRate"  data-request-success="onRateSuccess()" type="radio" name="ratings" id="rating_4" value="4" class="radio">
                        <label class="rating-4" for="rating_4" title="4 star"><span>4 star</span></label>

                        <input data-request="onRate"  data-request-success="onRateSuccess()"  type="radio" name="ratings" id="rating_5" value="5" class="radio">
                        <label class="rating-5" for="rating_5" title="5 star"><span>5 star</span></label>
                    </div>
                </form>

                <div class="rating-summary" style="display: none;float:left;">
                        <div id="result">
                                {% partial 'article::rateresult'  %}
                        </div>
                    </div>


            {% endif %}
        </div>
    {% endif %}
    
</article>