
{% if user %}
    {% if fav==false %}
        <div class="fav">
            <label style="cursor:pointer;" class="fav-article" ><i class="far fa-heart">
            </i><span style="margin-left: 10px;">Add to favourites</span>
            <input type="hidden" class="fav-article-id" name="fav-article" value="{{article.id}}"  />
            <input type="hidden" class="fav-user-id" name="fav-article" value="{{user.id}}"  />
            </label>
        </div>
    {% else %}
        <div class="fav">
            <label class="fav-article-done" >
                <i class="far fa-heart"></i><span style="margin-left: 8px;">Added to favourites</span>
            </label>
        </div>
    {% endif %}
    
    <div class="mailto">
        <a href="mailto:{{email | raw}}?cc=&#106;&#097;&#110;&#100;&#101;&#114;&#115;&#111;&#110;&#064;&#112;&#097;&#109;&#105;&#110;&#115;&#105;&#103;&#104;&#116;&#046;&#099;&#111;&#109;&subject={{article.title}}">
            <i class="far fa-envelope"></i><span style="margin-left: 8px;">Send Feedback</span>
        </a>
    </div>
    
{% endif %}
