<p>{{trans('twnepc.news::lang.thanks_for_rating')}}</p>
<span class='label'>
        <span>{{trans('twnepc.news::lang.your_rating')}}</span>
    </span>
    <div class='rating-result'>
        {% if rating == 0 %}
            <span style='width: 0%'></span>
        {% else %}
            <span style='width: {{rating/5*100}}%'></span>
        {% endif %}
    </div>
</span>