<div class="form-group text-field span-left">
    <a class="btn btn-primary" target="_blank" href="<?=url('backend/twnepc/awards/awards/update/'.$formModel->award_id)?>">
        See Award Entry
    </a>
    <a class="btn btn-primary" target="_blank" href="<?=url('backend/twnepc/pamcompanies/companies/update/'.$formModel->company_id)?>">
        View Company profile
    </a>
</div>