{% if user %}
<div>
    <h2>Gift this article</h2>
    <form data-request="onSendGift" data-request-update="'gift::result': '#giftresult'">
        <div class="form-group">
            <input type="hidden" name="article" value="{{article.id}}"/>
            <input class="form-control" type="email" placeholder="Enter recipient email" name="giftemail"/>
        </div>
        <div class="form-group">
            
            <input class="form-control" type="text" placeholder="Type a short message (optional)" name="giftmessage"/>
        </div>
        <div class="form-group actions">
            <button type="submit" class="form-control btn btn-primary">Send</button>
        </div>
    </form>
    <div class="giftresult" id="giftresult"></div>
</div>
{% endif %}