#judge-notes {
    position: fixed;
    top:50%;
    right:0px;
}

#judge-notes button {
    box-shadow: 5px 5px 2px #888888;
    background-color: white;
    border: 1px solid #14265b;
    color: #14265b;
    font-size: 14px;
    line-height: 52px;
    padding-left: 20px;
    padding-right: 20px;
}

#judge-notes-modal .ajax-loader {
    text-align: center;
    display: none;
    margin-bottom: 30px;
}

.form-preview .form-control {
    border: none !important;
    background-color: transparent !important;
}
