<div class="section section5">

    <div class="emailform">

        <div class="container ">

            <div class="row subbyform">

                <div class="col-xs-12 col-md-6 col-lg-5">

                    <p>Subscribe to PAM to hear about the latest news and promotions</p>

                </div>

                <div class="col-xs-12 col-md-6 col-lg-7">

                    <form id="subscribe-form" data-success-title="Thank You" data-success-text="For registering for PAM news and promotions">

                        <p class="form-control-invalid-text"></p>

                        <input placeholder="Email address:" class="validate" type="text" name="email" ><button class="button" type="button" id="signup">Send</button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

<script>

    $(function() {

        $("#signup").click(function (e) {

            if ($("#signup").text() != "Wait...") {

                var form = $(this).closest("form");

                resetFormValidation(form);

                form.request('mailSignup::onSignup', {

                    success: function (data) {

                        ga('send', 'event', 'newsletterSubscription', 'submit');

                        resetFormFields(form);

                        showNotification(form);

                    },

                    update: {},

                    error: function ($el, context, textStatus, jqXHR) {

                        var resp = $el.responseJSON;

                        validateForm(form,resp.X_OCTOBER_ERROR_FIELDS);

                    },

                    complete: function () {

                        $("#signup").text("Send");

                    }

                });

            }

            $("#signup").text("Wait...");

            e.preventDefault();

        });

        function resetFormValidation(form){

            form.find("input.validate,textarea.validate").each(function(){

                var input = $(this);

                input.removeClass('invalid');

                input.parent().find('.form-control-invalid-text').css({display:'none'});

            });

        }

        function validateForm(form,response){

            $.each( response, function( key, value ) {

                var input = form.find('input[name="'+key+'"],textarea[name="'+key+'"]');

                input.addClass('invalid');

                input.parent().find('.form-control-invalid-text').html(value).css({display:'block'});

            });

        }

        function resetFormFields(form){

            form.find("input[type='text'],textarea").each(function(){$(this).val('')});

            form.find("input[type='email']").each(function(){$(this).val('')});

        }

        function showNotification(form){

            $('#notification-modal').find("h1").html(form.data('success-title'));

            $('#notification-modal').find("p").html(form.data('success-text'));

            $('#notification-modal').modal("show").addClass("fade");

        }

    });

</script>