// Form elements
.form-control {
	&:focus {
		outline: none;
		@include box-shadow(none);
	}
}

.rendered-form {
	max-width: 600px;

	.referred-form-group {
		&.hidden {
			display: none;
		}
	}
}

.default-form {
	font-size: 1rem;
	border-radius: 4px;
	.form-control {
		font-size: 0.9rem;
		&:focus {
			border-color: $secondary;
		}
		&[readonly] {
			pointer-events: none;
		}
	}

	.alert.alert-danger:not(.visible) {
		display: none;
	}

	textarea {
		min-height: 140px;
	}
}

.custom-select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 0 25px 0 10px;
    line-height: 1;
    height: 33px;
    &:focus {
    	@include box-shadow(none);
		border-color: $secondary;
    }
}

.btn-group-toggle {
	.btn-secondary {
		background: none;
		color: $secondary;;
		border-color: $secondary;
		font-size: 0.9rem;
		font-weight: 500;
		border-top-left-radius: 0.25rem !important;
    	border-bottom-left-radius: 0.25rem !important;
		& + .btn-secondary {
			border-top-right-radius: 0.25rem !important;
    		border-bottom-right-radius: 0.25rem !important;
    		border-top-left-radius: 0 !important;
    		border-bottom-left-radius: 0 !important;
		}
		&:not(:disabled):not(.disabled).active {
			background: $secondary;
			border-color: $secondary;
		}
		&:not(:disabled):not(.disabled):focus,
		&:not(:disabled):not(.disabled).focus {
			@include box-shadow(none);
		}
	}
}

.custom-checkbox {
	.custom-control-input {
		&:checked {
			& ~ .custom-control-label {
				&:before {
					background-color: $secondary;
				}
			}
		}
	}
}

.form-group {
	> label {
		margin-bottom: 3px;
		font-weight: 500;
		white-space: nowrap;
		@media screen and (max-width: 767px) {
			white-space: normal;
		}
		span {
			font-size: 0.8rem;
			color: $gray;
		}
	}

	&.has-error {
		.form-control,
		.custom-select {
			border: 1px solid $error;
		}
	}

	&.required {
		> label {
			&:after {
				content: ' *';
			}
		}
	}

	.alert-danger,
	.form-field-error-label {
		background-color: transparent;
		border: 0;
		padding: 3px 0.75rem 0 0;
		font-size: 0.9rem;
		font-weight: 500;
		color: $error;
		font-family: $baseFont;
	}
}

.actions,
.modal-footer {
	button.btn-primary {
		background-color: $primary;
    	border-color: $primary;
    	font-weight: bold;
    	padding: 10px 30px;
    	&:hover {
    		background-color: $secondary;
    		border-color: $secondary;
    	}
    	&:focus,
    	&.focus {
    		@include box-shadow(none);
    		background-color: $secondary;
    		border-color: $secondary;
    		color: white;
    	}
	}

	button.btn-secondary {
    	font-weight: bold;
    	padding: 10px 30px;
    	background-color: #999;
    	border-color: #999;
    	&:hover {
    		background-color: #777;
    		border-color: #777;
    	}
    	&:focus,
    	&.focus {
    		@include box-shadow(none);
    		color: white;
    		background-color: #777;
    		border-color: #777;
    	}
	}
}

// Register page
.interest-title-wrapper {
	width: 100%;
	border-bottom: 1px solid $grayBg;
	padding-bottom: 10px;
	margin: 0 0 20px;
	
	a {
		color: $gray;
	}
	
	a:hover {
		color: $primary;
	}

	h2.interest-title {
		float: left;
		width: 80%;
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.interest-all {
		float: right;
		width: 20%;
		text-align: right;
	}
}

.register-wrapper {
	max-width: 1000px;
	margin: 0 auto;

	h2 {
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-size: 1.5rem;
		font-weight: bold;
		border-bottom: 1px solid $grayBg;
		& ~ h2 {
			margin-top: 50px;
			@media (max-width: 767px) {
				margin-top: 30px;
			}
		}
	}

	.register-top-info {
		margin-bottom: 30px;
	}

	.register-top-info,
	.register-bottom-info {
		p {
			line-height: 160%;
			margin-bottom: 10px;
			a {
				text-decoration: underline;
				color: $secondary;
				&:hover {
					color: $primary;
				}
			}
		}
	}

	.register-bottom-info {
		margin: 20px 0 10px 0;
		padding-top: 25px;
		border-top: 1px solid $grayBg;
		.custom-checkbox {
			margin-bottom: 10px;
		}
	}

	.actions {
		border-top: 1px solid $grayBg;
		margin-top: 20px;
		padding-top: 25px;
		p {
			margin-top: 30px;
			strong {
				font-weight: 600;
			}
		}
	}

	.interests-wrapper {
		.custom-control {
			margin-bottom: 0px;
			&.all-subjects {
				margin-top: 10px;
				margin-bottom: 25px;
			}
		}
		strong {
			display: block;
			width: 100%;
			clear: both;
			font-size: 1.1rem;
			padding-bottom: 5px;
			& ~ strong {
				padding-top: 20px;
			}
		}
		.interests {
			border: 1px solid #F9F9F9;
			padding: 15px 15px 10px 15px;
			background-color: #F9F9F9;
			@media (min-width: 992px) {
				column-count: 2;
				-moz-column-count: 2;
				-webkit-column-count: 2;
			}
			&:after {
				clear: both;
				display: table;
				content: '';
			}
			> .interest {
				width: 100%;
				padding-right: 15px;
				@media (max-width: 991px) {
					padding-right: 0;
				}

				label {
					margin-bottom: 8px;
				}
			}
		}
	}
	form {
		@media (max-width: 767px) {
			label[for="registerAddressAdditional"] {
				display: none;
			}
		}
	}
}

// Login
.login-wrapper,
.forgot-wrapper,
.form-2fa-wrapper {
	max-width: 600px;
	margin: 30px auto 30px auto;

	p {
		font-size: 1rem;
		font-family: $specialFont;
	}

	.forgot-pass {
		text-align: right;
		margin-top: -32px;
		a {
			color: $gray;
			@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
			text-decoration: none;
			&:hover {
				color: $primary;
			}
		}
	}

	.actions {
		margin-top: 10px;
		padding-top: 10px;
	}
}


// My account
.account-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	
	@media (max-width: 767px) {
		form {
			label[for="accountAddressAdditional"] {
				display: none;
			}
		}
		> .row {
			> .col-8 {
				padding-left: 0;
			}
		}
	}
	
	.page-title {
		margin-bottom: 20px;
	}

	h3 {
		margin-bottom: 20px;
		font-size: 1.75rem;
		@media (max-width: 1199px) {
            font-size: 1.65rem;
        }
        @media (max-width: 991px) {
            font-size: 1.55rem;
        }
        @media (max-width: 767px) {
            font-size: 1.4rem;
        }
	}

	.left-nav {
		background: $primary;
		background: -moz-linear-gradient(top, $secondary 0%, $primary 100%);
		background: -webkit-linear-gradient(top, $secondary 0%, $primary 100%);
		background: linear-gradient(to bottom, $secondary 0%, $primary 100%);
		padding: 15px 25px;
		height: 100%;
		@media (max-width: 991px) {
			padding: 15px 20px;
		}
		@media (max-width: 767px) {
			padding: 15px 10px;
		}
		.nav {
			.nav-link {
				font-weight: 500;
				border-radius: 0;
				color: white;
				@include transition(opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				font-family: $specialFont;
				padding-left: 0;
				padding-right: 0;
				font-size: 1.1rem;
				@media (max-width: 991px) {
					font-size: 1rem;
				}
				@media (max-width: 767px) {
					text-align: center;
					font-size: 0.8rem;
					line-height: 120%;
				}
				i.fal {
					display: none;
					font-size: 1.4rem;
					@media (max-width: 767px) {
						display: block;;
						padding-bottom: 5px;
					}
				}
				&:hover {
					opacity: 0.7;
				}
				& + .nav-link {
					padding-top: 10px;
					margin-top: 5px;
					border-top: 1px solid rgba(255, 255, 255, 0.4);
				}
				&.active {
					background: none;
					font-weight: 700;
					position: relative;
					padding-left: 15px;
					@media (max-width: 767px) {
						padding-left: 0;
					}
					&:before {
						content: '';
						width: 6px;
						height: 6px;
						background-color: white;
						display: block;
						position: absolute;
						left: 0;
						top: 50%;
						margin-top: -3px;
						border-radius: 50%;
						@media (max-width: 767px) {
							display: none;
						}
					}
					&:hover {
						color: white;
					}
				}
			}
		}
	}

	.tab-pane {
		visibility: hidden;
		opacity: 0;
		display: none;
		&.active {
			display: block;
			visibility: visible;
			opacity: 1;
		}
	}

	.actions {
		border-bottom: 1px solid $grayBg;
		margin-top: 10px;
		padding-top: 10px;
		padding-bottom: 45px;
		margin-bottom: 40px;
		p {
			margin-top: 30px;
			strong {
				font-weight: 600;
			}
		}
	}

	.interests-wrapper {
		.custom-control {
			margin-bottom: 0px;
			&.all-subjects {
				margin-top: 10px;
				margin-bottom: 25px;
			}
		}

		strong {
			display: block;
			width: 100%;
			clear: both;
			font-size: 1.1rem;
			padding-bottom: 5px;
			& ~ strong {
				padding-top: 20px;
			}
		}
		.interests {
			border: 1px solid #F9F9F9;
			padding: 15px 15px 10px 15px;
			background-color: #F9F9F9;
			@media (min-width: 992px) {
				column-count: 2;
				-moz-column-count: 2;
				-webkit-column-count: 2;
			}
			&:after {
				clear: both;
				display: table;
				content: '';
			}
			> .interest {
				width: 100%;
				padding-right: 15px;
				@media (max-width: 991px) {
					padding-right: 0;
				}

				label {
					margin-bottom: 8px;
				}
			}
		}
	}
	
	.newsletter-wrapper {
		.newsletter-label {
			margin: 20px 0 10px;
		}
	}

	.deactivate-wrapper {
		padding-top: 20px;
	}

	.two-factor-wrapper {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #EEE;
		h4 {
			padding-bottom: 20px;
		}
		h3 {
			font-family: $specialFont;
			font-size: 1.2rem;
		}

		.form-group {
			label {
				white-space: normal;
				line-height: 120%;
				max-width: 250px;
				font-size: 0.9333rem;
				padding-bottom: 5px;
			}
			img {
				max-width: 200px;
				height: auto;
				width: 100%;
				@media (max-width: 767px) {
					max-width: 150px;
				}
				@media (max-width: 479px) {
					max-width: 120px;
				}
			}

			input {
				width: 100%;
				max-width: 270px;
			}
		}

		ul {
			margin: 0 0 20px 0;
			list-style: none;
			padding: 0;
			li {
				margin: 0;
				padding: 0;
				display: inline;
				letter-spacing: 0.5px;
				padding-right: 5px;
				&:after {
					content: ',';
				}
				&:last-child {
					&:after {
						content: '';
					}
				}
			}
		}

		.btn {
			font-weight: 500;
    		padding: 7px 20px;
		}
	}

	.deactivate-wrapper {

		h4 {
			font-family: $specialFont;
			font-size: 1.2rem;
		}

		p, label {
			font-family: $specialFont;
			font-size: 0.9rem;
			color: $gray;
		}

		.btn {
			font-weight: 500;
			padding: 7px 20px;
		}

		label {
			padding-top: 20px;
		}

		a.change {
			padding-left: 10px;
			color: $text;
			@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
			text-decoration: none;
			font-weight: 500;
			&:hover {
				color: $primary;
			}
		}
	}
}

.form-2fa-wrapper {
	text-align: left;
	.form-group {
		text-align: left;
		p {
			padding-top: 5px;
		}
	}
	.form-actions {
		text-align: left;
		button {
			display: inline-block;
		    font-weight: 400;
		    text-align: center;
		    white-space: nowrap;
		    vertical-align: middle;
		    user-select: none;
		    border: 1px solid transparent;
		    padding: 0.375rem 0.75rem;
		    font-size: 1rem;
		    line-height: 1.5;
		    border-radius: 0.25rem;
		    background-color: $primary;
	    	border-color: $primary;
	    	font-weight: bold;
	    	padding: 10px 30px;
	    	width: auto;
	    	color: white;
	    	&:hover {
	    		background-color: $secondary;
	    		border-color: $secondary;
	    	}
	    	&:focus,
	    	&.focus {
	    		@include box-shadow(none);
	    		background-color: $secondary;
	    		border-color: $secondary;
	    		color: white;
	    	}
		}
	}
}

// Favourites
.account-wrapper {
	.favs {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: block;
			padding-right: 30px;
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #F1F1F1;
			position: relative;
			line-height: 120%;
			.fav-title {
				a {
					color: $primary;
					&:hover {
						color: $secondary;
						text-decoration: none;
					}
				}
			}
			a.fav-remove {
				position: absolute;
				top: 0;
				right: 0;
				color: #777;
				display: block;
				cursor: pointer;
				font-size: 1.1rem;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				&:hover {
					color: $primary;
				}
			}
		}
	}

	table.membership {
		tr {
			td {
				padding: 2px 20px 2px 0;
				&.membership-name {
					padding-top: 20px;
				}
			}
		}
	}
}

