title = "PAM online - Page Not Found"
url = "/404"
layout = "default"
==
<div class="page404">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="big-one">404</p>

                    <h1 class="text-center">Sorry the page you are looking for can't be found</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">It might be worth checking your spelling to make sure the URL is correct.</p>

                    <p class="text-center">If you would like to report a broken link email
                        <a href="#" onclick="sendEmailTo('help','');return false;"><b class="highlight">help@paminsight.com</b></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% partial 'footer_subscribe' %}
