title = "PAM online - About Us"
url = "/about-us"
layout = "default"
is_hidden = 0
meta_title = "About PAM Online | Private Asset Manager Directory"
meta_description = "Based in the UK and established in 1997, today PAM Insight’s business publishes a growing range of innovative and market-leading information products"

[siteSearchInclude]

[team]
==
{% partial 'tall_banner' title="About Us" image="banners/about-us-banner.jpg" %}
<section id="about-header-content">
    <div class="container">
        <div class="row">
            {% content 'about-us.htm' %}
        </div>
    </div>
</section>
<!-- About Content -->
<section id="pam-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>The PAM Team</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid">
            {% component 'team'%}
        </div>
    </div>
</section>
<!-- About Content -->

{% partial 'footer_subscribe' %}