title = "PAM online - PAM Awards Winners"

url = "/awards-winners"

layout = "default"

is_hidden = 0



[session]

security = "user"

redirect = "/"



==

use Twnepc\PamCompanies\Models\Companies;

use Twnepc\Awards\Models\AwardApplication;

use Twnepc\Awards\Models\AwardYear;

use Twnepc\Awards\Models\Award;



function onStart()

{

    $post = get();



    $this['awardyear'] = "2018";

    $this['awardcat'] = 0;



    $this['yearsAsModels'] = $yearsAsModels = AwardYear::all()->sortByDesc('ay_year');



    foreach($yearsAsModels as $year){

        $this['awardyear'] = $year->ay_year;

        break;

    }



    if (isset($post['awardyear'])) {

        $this['awardyear'] = $post['awardyear'];

    }



    if (isset($post['awardcat'])) {

        $this['awardcat'] = $post['awardcat'];

    }



    $this['currentyear'] = AwardYear::where("ay_year", $this['awardyear'])->get();



    $awardyear = AwardYear::where("ay_year", $this['awardyear'])->first();

    $winnersDateToTime = strtotime($awardyear->ay_winnerdate);

    $finalistDateToTime = strtotime($awardyear->ay_shortlistdate);

    $nowToTime = time();

    $this['showFinalists'] = $showFinalists = false;

    $this['showWinners'] = $showWinners = false;



    if( $finalistDateToTime <= $nowToTime ){

        $this['showFinalists'] = $showFinalists = true;

    }



    if( $winnersDateToTime <= $nowToTime ){

        $this['showWinners'] = $showWinners = true;

    }


    foreach ($this['currentyear'] as $curyear) {

        $this['catsAsModels'] = Award::where("awardyear_id", $curyear->awardyear_id)->get();

    }



    $catlist = [];



    foreach ($this['catsAsModels'] as $cat) {

        if(isset($post['awardcat']) && $post['awardcat'] != 0){

            array_push($catlist, $post['awardcat']);

            break;

        }else{

            array_push($catlist, $cat->award_id);

        }

    }



    $this['shorties'] = array();

    $this['winners'] = array();

    if($showWinners){

        $this['winners'] = AwardApplication::whereIn("award_id", $catlist)->where("aa_result", "w")->orderBy("award_id","desc")->get();

        $this['shorties'] = AwardApplication::whereIn("award_id", $catlist)

            ->where("aa_result", "s")

            ->orderBy("award_id","desc")->get();

    }



    if($showFinalists && !$showWinners){

        $this['winners'] = AwardApplication::whereIn("award_id", $catlist)->where("aa_result", "w")->orderBy("award_id","desc")->get();

        $this['shorties'] = AwardApplication::whereIn("award_id", $catlist)

            ->where("aa_result", "s")

            ->orWhere("aa_result", "w")

            ->orderBy("award_id","desc")->get();

    }

}



function onGetCategoriesByYear()

{

    $awards = [];

    $awardyear = post("awardyear",false);

    if($awardyear){

        $year = AwardYear::where("ay_year", $awardyear)->first();

        $awardsAsModel = Award::where("awardyear_id", $year->awardyear_id)->get();

        foreach($awardsAsModel as $award){

            $awards[$award->award_id] = $award->award_name;

        }

    }

    return ['#award_categories' => $this->renderPartial('awards_select',['awards'=>$awards])];

}



==



<div class="awards-winners">

    {% partial 'tall_banner' title="PAM Awards - Winners" image="banners/awards-winner-banner.jpg" %}

    {% partial 'awards_subnav' active_page="awards-winners" %}

    <div class="section section-awards first-section reset-padding-bottom white-bg">

        <div class="container">

            <div class="row">

                <div class="col-sm-10 col-sm-offset-1">

                    <div class="embed-responsive embed-responsive-16by9" style="">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7ux8j-jWJjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                    <p>To win or be shortlisted as a finalist at the PAM Awards is the ultimate recognition of

                        excellence. Hence the Financial Times referred to the PAM Awards as the ‘Oscars’ of the private

                        asset management world. No other awards programme competes with the combined levels of

                        independence, integrity, rigour and transparency. The firms listed below can be justly proud of

                        their achievements.</p>



                </div>

            </div>

        </div>

    </div>

    <div class="section section-awards white-bg reset-padding-bottom" style="padding-top: 0 !important;">

        <div class="container">

            <div class="row">

                <div class="col-sm-10 col-sm-offset-1">

                    <p class="reset-margin-top">

                        Here you will find all of our winners and finalists from each award, and each year since the

                        first awards in 2000.

                    </p>

                </div>

            </div>

            <div class="row row-mod">

                <form method="get" action="/awards-winners">

                    <div class="col-md-3 col-mod">

                        <div class="form-group row">

                            <label class="col-lg-4 col-md-12 col-sm-12 control-label"><span>Year:</span></label>



                            <div class="col-lg-8 col-md-12 col-sm-12">

                                <div class="styled-select ">

                                    <select name="awardyear" id="awardyear"

                                            data-request="onGetCategoriesByYear"

                                            >

                                        {% for year in yearsAsModels %}

                                        {% if awardyear != year.ay_year %}

                                        <option value="{{year.ay_year}}">{{year.ay_year}}</option>

                                        {% else %}

                                        <option value="{{year.ay_year}}" selected>{{year.ay_year}}</option>

                                        {% endif %}

                                        {% endfor %}

                                    </select>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-6 col-mod" id="award_categories">

                        <div class="form-group row">

                            <label class="col-lg-3 col-md-12 col-sm-12 control-label"><span>Categories:</span></label>



                            <div class="col-lg-9 col-md-12 col-sm-12">

                                <div class="styled-select ">

                                    <select name="awardcat" id="awardcat">

                                        <option value="0">Show all</option>

                                        {% for catModel in catsAsModels %}

                                        {% if awardcat != catModel.award_id %}

                                        <option value="{{ catModel.award_id }}">{{ catModel.award_name }}</option>

                                        {% else %}

                                        <option value="{{ catModel.award_id }}" selected>{{ catModel.award_name }}

                                        </option>

                                        {% endif %}

                                        {% endfor %}

                                    </select>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 col-mod">

                        <div class="form-group row">

                            <label class="hidden-lg hidden-sm hidden-xs col-md-0 control-label"><span>&nbsp;</span></label>



                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <button type="submit" class="button blue btn-block button-sm">Submit</button>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>



    {% for winner in winners %}



    <div class="section section-awards">

        <div class="container">

            <div class="row winner-post">

                <div class="col-sm-12">

                    <h2>{{ winner.award.award_name }}</h2>

                </div>

                {% if showWinners == true %}

                <div class="col-md-4 col-sm-6">

                    <div class="company-logo">

                        {% if winner.company.logo %}

                        <img src="{{winner.company.logo.getPath()}}" alt="{{ winner.award.award_name }} Winner"

                             class="img-responsive">

                        {% else %}

                        <img src="{{'companylogo-placeholder.jpg' | media}}" alt="{{ winner.award.award_name }} Winner"

                             class="img-responsive">

                        {% endif %}

                    </div>

                </div>

                <div class="col-md-8 col-sm-6">

                    <p class="company-name reset-margin-top">

                        <span class="highlight"><b>{{ awardyear }} Winner - </b></span>

                        <a href='company/{{ winner.company.company_id }}'>{{ winner.company.c_companyname }}</a>

                    </p>

                </div>

                {% endif %}

            </div>



            <div class="row winner-post">

                <div class="col-md-12 col-sm-12 col-xs-12 text-center-xs">

                    <p><span class="highlight"><b>{{ awardyear }} finalists</b></span></p>

                </div>

                {% for short in shorties %}

                {% if winner.award.award_id == short.award.award_id %}

                <div class="col-sm-4 col-xs-12 text-center-xs">

                    <p><a href='company/{{ short.company.company_id }}'>{{ short.company.c_companyname }}</a></p>

                </div>

                {% endif %}

                {% endfor %}

            </div>





        </div>

    </div>



    {% endfor %}



    {% if hasRole('Private Asset Manager') or hasRole('Private Asset Manager Admin') %}

    {% content 'awards-categories-submit-interests.htm' %}

    {% endif %}

</div>



{% partial 'footer_subscribe' %}

