title = "PAM online - The Judges"

url = "/judges/:year?"

layout = "default"

is_hidden = 0

meta_title = "The PAM Awards Judges | Private Asset Manager Directory"

meta_description = "The Judging Panel, which was established in 2000, delivers both quantitative and qualitative evaluation of leading firms across all PAM Awards categories..."



[judges]

year = 2018



[siteSearchInclude]

==

<div class="awards-judges">

    {% partial 'tall_banner' title="The Judges" image="banners/awards-judges-banner.jpg" %}

    {% partial 'awards_subnav' active_page="judges" %}

    <div class="section section-awards first-section white-bg">

        <div class="container">

            <div class="row">

                <div class="col-md-6 col-sm-12">

                    {% content 'awards-judges.htm' %}

                    <div class="br"></div>

                    {% partial 'judges::search' %}

                </div>

                <div class="col-md-5 col-md-offset-1 col-sm-12">

                    <div class="embed-responsive embed-responsive-16by9" style="">

                        <img id="awards-video-overlay" alt="video" class="img-responsive" src="{{'entry/video-overlay.jpg' | media}}"/>

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/7ux8j-jWJjk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="section section-awards">

        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <h2>The Panel Members</h2>

                </div>

            </div>

            <div class="br"></div>

            <div class="row">

                {% component "judges"%}

            </div>

            <div class="row">

                <div class="col-sm-12">

                    <a class="button greyblue btn-block" href="statement">Statement of Principles</a>

                </div>

            </div>

        </div>

    </div>

    <div class="section section-awards-interest">

        <div class="container">

            <div class="row">

                <div class="col-sm-6">

                    <h1>Submit your interest</h1>



                    <p>Once you have submitted your interest for an award we will send you the

                        information to complete your entry</p>

                    <a href="#" onclick="sendEmailTo('wmarston','PAM Awards Entry');return false;" class="button bluewhite">Enter now</a>

                </div>

            </div>

        </div>

    </div>

</div>

{% partial 'footer_subscribe' %}