title = "PAM online - PAM Awards"
url = "/awards-main"
layout = "default"
is_hidden = 0
meta_title = "The PAM Awards | Private Asset Manager Directory"
meta_description = "The PAM Awards are the most sought after awards in the UK wealth management sector, covering the consistency of both investment performance and client service levels."

[siteSearchInclude]
==
<div class="awards-main">
    {% partial 'tall_banner' title="PAM Awards" image="banners/awards-main-banner.jpg" %}
    {% partial 'awards_subnav' active_page="awards-main" %}
    <div class="section section-awards first-section white-bg">
        <div class="container">
            {% content "awards-main-video.htm" %}
            <div class="row-mod row">
		{% if user %}
		{% if hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin') %}
		{% content "awards-main-how-to-enter.htm" %}
		{% endif %}
		{% endif %}	
		{% content "awards-main-categories.htm" %}
		{% if user %}
		{% if hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin') %}			
		{% content "awards-main-sponsors-winners-dinner.htm" %}
		{% endif %}
		{% endif %}
            </div>
        </div>
    </div>
	{% if user %}
	{% if hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin') %}
	{% content "awards-main-submit-interests.htm" %}
	{% endif %}
	{% endif %}
</div>
{% partial 'footer_subscribe' %}