title = "PAM online - PAM Awards Gala Dinner"

url = "/awards-dinner"

layout = "default"

is_hidden = 0



[gallery]

gallery_id = 18



[session]

security = "user"

redirect = "/"



==



<div class="awards-main">

    {% partial 'tall_banner' title="PAM Awards" image="banners/awards-main-banner.jpg" %}

    {% partial 'awards_subnav' active_page="awards-dinner" %}



    <div class="section section-awards first-section white-bg">

        {% content 'awards-dinner.htm' %}

    </div>       

    

{% component 'gallery' %}



</div>

{% partial 'footer_subscribe' %}