title = "PAM online - PAM Awards Categories"
url = "/awards-categories"
layout = "default"
is_hidden = 0
meta_title = "The PAM Awards Criteria | Private Asset Manager Directory"
meta_description = "The aim of the PAM Awards is to gather market data on the relative performance of the leading private asset management firms based on specific criteria..."
==
<div class="methodology">
    {% partial 'tall_banner' title="PAM Awards - Categories" image="banners/awards-categories-banner.jpg" %}
    {% partial 'awards_subnav' active_page="awards-categories" %}

    <div class="section section-awards first-section">
        {% content 'awards-categories.htm' %}
    </div>
    {% if user %}
        {% if hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin') %}
        {% content 'awards-categories-submit-interests.htm' %}
        {% endif %}
    {% endif %}
    {% partial 'footer_subscribe' %}
</div>