title = "PAM online - PAM Awards Methodology"
url = "/awards-methodology"
layout = "default"
is_hidden = 0
meta_title = "The PAM Awards Methodology | Private Asset Manager Directory"
meta_description = "Private asset management firms enter themselves for individual award categories via the completion of a category specific submission..."

[siteSearchInclude]
==
<div class="methodology">
    {% partial 'tall_banner' title="PAM Awards - Methodology" image="banners/awards-methodology-banner.jpg" %}
    {% partial 'awards_subnav' active_page="awards-methodology" %}

    <div class="section section-awards white-bg">
        {% content "awards-methodology-entry.htm" %}
    </div>

    <div class="section section-awards">
        {% content "awards-methodology-judging-process.htm" disable_meet_judges_button='' %}  
    </div>
	{% if user %}
	{% if hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin') %}
	{% content 'awards-methodology-submit-interests.htm' %}
	{% endif %}
	{% endif %}

    {% partial 'footer_subscribe' %}

</div>