title = "PAM online - PAM Awards Judge"
url = "/judge/:id"
layout = "default"
is_hidden = 0
meta_title = "The PAM Awards Judges Detail | Private Asset Manager Directory"
meta_description = "The Judging Panel, which was established in 2000, delivers both quantitative and qualitative evaluation of leading firms across all PAM Awards categories..."

[judges]
year = 2017

[siteSearchInclude]
==
use Twnepc\Pamcontent\Models\Judges;
function onStart()
{
$postId = $this->param('id');
$this['post'] = Judges::find($postId);
}
==
<div class="awards-judges">
    {% partial 'tall_banner' title="The Judges" image="banners/awards-judges-banner.jpg" %}
    <div class="section section-awards first-section white-bg">
        <div class="container">
            <div class="row">
                <div class="">
                    <a href="{{'awards-judges'|page}}" class="hidden-xs hidden-sm button whiteblue">Return to judges</a>
                    <a href="{{'awards-judges'|page}}" class="visible-xs visible-sm btn-block button whiteblue">Return to judges</a>
                </div>
            </div>
            <div class="br"></div>
            <div class="row judgepr">
                <div class="col-sm-12 col-xs-12 col-md-2 jpic">
                    <img src="{{post.photo | media}}" alt="{{post.name}}" class="img-responsive"/></div>
                <div class="col-sm-12 col-xs-12 col-md-8">
                    <h2>{{post.name}}</h2>
                    <p>{{post.position}}</p>
                </div>
                <div class="col-md-2">
			{% if post.email != '' %}
			<a href="mailto:{{post.email}}"  class="button whiteblue intouch btn-block">Get in Touch</a>
			{% endif %}
		</div>
            </div>
            <div class="row judgedr">
                <div class="col-sm-12 col-xs-12 col-sm-12">
                    <h3>About the judge</h3>
                    <p>{{post.about}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-awards-interest">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Submit your interest</h1>
                    <p>Once you have submitted your interest for an award we will send you the
                        information to complete your entry</p>
                    <a href="#" onclick="sendEmailTo('wmarston','PAM Awards Entry');return false;" class="button bluewhite">Enter now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% partial 'footer_subscribe' %}