title = "PAM online - Company"
url = "/company/:id/:section?"
layout = "default"
is_hidden = 0

[company]

[session]
security = "user"
redirect = "/"

==
<div class="company">
    <div class="section">
        <div class="container">
            {% component 'company' %}
        </div>
    </div>
</div>
{% partial 'footer_subscribe' %}