title = "PAM online - Company Review"
url = "/company-review/:id"
layout = "default"
is_hidden = 0

[review]
companyID={{:id}}

[session]
security = "user"
redirect = "/"

==
{% partial 'short_banner' title="Write your review" image="shortbannerback.jpg" %}
<div class="write-your-review">
    <div class="section">
        <div class="container">
            {% component 'review' %}
        </div>
    </div>
</div>
{% partial 'footer_subscribe' %}