title = "PAM online - PAM Directory"
url = "/PAM-directory"
layout = "default"
is_hidden = 0
meta_title = "The PAM Directory | Private Asset Manager Directory"
meta_description = "First published in 1999, the PAM Directory is the most authoritative independent source of reference on the UK/UK offshore private asset management sector."

[siteSearchInclude]

[Twnepc\FormBuilder\Components\RenderForm renderForm]
formCode = "pam_directory_form"
==
<div class="directory">

    {% partial 'tall_banner' title="PAM Directory" image="banners/knowledge-hub-pam-directory-banner2.jpg" %}

    {% content 'directory.htm' %}

    <div class="section section-order-form section-with-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {% content 'directory-order-now.htm' %}
                    <div class="row directoryform">
                        {% component 'renderForm' %}
                    </div>
                </div>
                {% content 'directory-books.htm' %}
            </div>
        </div>
    </div>
</div>
{% partial 'notification_modal' %}
{% partial 'footer_subscribe' %}