title = "PAM online - Disclaimer"
url = "/disclaimer"
layout = "default"
is_hidden = 0
[siteSearchInclude]
==
{% partial 'short_banner' title="Disclaimer" image="shortbannerback.jpg" %}
<section id="generic-page">
    <div class="container">
        <div class="row">
            {% content 'disclaimer.htm' %}
        </div>
    </div>
</section>
{% partial 'footer_subscribe' %}