title = "PAM online - Find A Private Asset Manager"
url = "/findPam/:REGUSER_Type?"
layout = "default"
is_hidden = 0
meta_title = "Find a Private Asset Manager | PAM Online"
meta_description = "Whether you are a private investor or professional adviser, use out 'Select a Private Asset Manager' tool to find your private asset manager..."

[question]
id_quest = 4

[question question2]
id_quest = 5

[question question3]
id_quest = 6

[question question4]
id_quest = 7

[question question5]
id_quest = 2

[question question6]
id_quest = 8

[question question7]
id_quest = 9

[question question8]
id_quest = 10

[question question9]
id_quest = 11

[question question10]
id_quest = 12

[question question11]
id_quest = 13

[question question12]
id_quest = 14

[question question13]
id_quest = 27
==
function onStart()
{

    $userId = (isset($this['user']))?$this['user']->attributes['id']:'';
    $userlevel = '';
    
    $userlevels = [
            'Private Asset Manager Admin' => 0,
            'Private Asset Manager' => 0
        ];
        
    
    if (!empty($userId)) {
        $levels = Db::select("select name from pamonline_roles as allRoles right join pamonline_roles_assigned_roles as assignedRoles ON allRoles.id = role_id 
                where assignedRoles.user_id={$userId}");
    
        foreach ($levels as $level) {
            $userlevels["{$level->name}"] = 1;
        }
    }     
	
$this["userlevels"] = $userlevels;	

$this["showassetmanagers"] = "N";

if (isset($userlevels['Private Investor'])) {
if ($userlevels['Private Investor']==1) {
$this['prosel'] = "p";
$this['indsel'] = "selected";	                
$this['procheck'] = "p";
$this['indcheck'] = "checked";
$this['regUserType'] = "ind";
$this["showassetmanagers"] = "Y";
}
}

if (isset($userlevels['Professional Advisors'])) {
if ($userlevels['Professional Advisors']==1) {
$this['prosel'] = "selected";
$this['indsel'] = "p";
$this['procheck'] = "checked";
$this['indcheck'] = "p";
$this['regUserType'] = "pro";
$this["showassetmanagers"] = "N";
} 
}

}
==
{% partial 'tall_banner' title="Select a Private Asset Manager" image="banners/questions-find-a-pam-banner.jpg" %}

<div class="findpam">
    <form id="selectPam" action="{{url('/')}}/PAM-results2" method="GET">


        {% component 'question' only_one_option=regUserType %}

        <!-- QUESTION 2  -->
        <div class="section question backgroundGry">
            <div class="container">
                <div class="row resize-column-height">
                    {% component 'question2' %}
                    {% component 'question3' %}
                </div>
            </div>
        </div>

        {% component 'question4' %}

        {% component 'question5' %}


        {% component 'question6' %}

        {% component 'question7' %}

        {% component 'question8' %}

        {% component 'question9' %}
        <BR>
        <BR>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="question" style="text-transform: uppercase;"><h1>About your Private Asset Manager</h1></label>
                    </div>
                </div>
            </div>
        </div>

        {% component 'question10' %}

        {% component 'question11' %}

        <div class="section question">
            <div class="container">
                <div class="row resize-column-height">
                    {% component 'question12' %}
		  {% if (showassetmanagers == 'Y') %}			
		  {% component 'question13' %}	
		  {% endif %}
                </div>
            </div>
        </div>


        <input type=hidden name=submit1 value=1 >
        <input type=hidden name=SearchFormType value="a">

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="submit button white center-block">Submit to get your results!</button>
                    </div>
                </div>
            </div>
        </div>

    </form>



</div>