title = "PAM online - Find A Private Asset Manager"

url = "/findPam-advanced"

layout = "default"

is_hidden = 0

meta_title = "Find a Private Asset Manager Advanced | PAM Online"

meta_description = "Whether you are a private investor or professional adviser, use out 'Select a Private Asset Manager Advanced' tool to find your private asset manager..."



[question]

id_quest = 15



[question question2]

id_quest = 16



[question question3]

id_quest = 17



[question question4]

id_quest = 18



[question question5]

id_quest = 19



[question question6]

id_quest = 20



[question question7]

id_quest = 21



[question question8]

id_quest = 22



[question question9]

id_quest = 23



[question question10]

id_quest = 24



[question question11]

id_quest = 25



[question question12]

id_quest = 26

==

function onStart()

{

$post = get();

$this['userlevel'] = "";

if ($this->param('REGUSER_Type') == 'pro') {

$this['prosel'] = "selected";

$this['indsel'] = "p";

$this['procheck'] = "checked";

$this['indcheck'] = "p";

} else if ($this->param('REGUSER_Type') == 'ind') {

$this['prosel'] = "p";

$this['indsel'] = "selected";	                

$this['procheck'] = "p";

$this['indcheck'] = "checked";

}

$this['regUserType'] = $this->param('REGUSER_Type');



$this['post'] = $post;



// var_dump($post);



    $postArrays = [];

    foreach ($post as $key=>$value) {

        if (is_array($value)) {

            $postArrays["{$key}"] = '';

            $i=0;

            foreach ($value as $v) {

            $postArrays["{$key}"] .= "<input type=\"hidden\" name=\"{$key}[]\" value=\"{$v}\">\n";

                ++$i;

            }

        }

    }

    $this['postArr'] = $postArrays;



}

==

{% partial 'tall_banner' title="Select a Private Asset Manager - Advanced Search" image="banners/questions-find-a-pam-banner.jpg" %}





<div class="findpam advanced">

    <form id="selectPam" action="/PAM-results2" method="GET">

        

<input type="hidden" name="t" value="b">

<input type="hidden" name="formname" value="loginform">



                {% if post.REGUSER_TypeMob != '' %}

		<input type="hidden" name="REGUSER_TypeMob" value="{{post.REGUSER_TypeMob}}">

                {% endif %}

                

                {% if post.REGUSER_Type != '' %}

		<input type="hidden" name="REGUSER_Type" value="{{post.REGUSER_Type}}">

                {% endif %}

                

                {% if post.REGUSER_TypeMob != '' %}

		<input type="hidden" name="REGUSER_Nat" value="{{post.REGUSER_Nat}}">

                {% endif %}

                

                {% if post.REGUSER_Tax != '' %}

		<input type="hidden" name="REGUSER_Tax" value="{{post.REGUSER_Tax}}">

                {% endif %}

                
                
                {% if post.REGUSER_Describes != '' and post.REGUSER_Describes is defined %}
                
		<input type="hidden" name="REGUSER_Describes[]" value="{{post.REGUSER_Describes|join(',')}}">

                {% endif %}

         

                {% if post.REGUSER_TypeMob != '' %}		

		<input type="hidden" name="REGUSER_Knowledge" value="{{post.REGUSER_Knowledge}}">

		{% endif %}

		

                {% if post.REGUSER_Reason != '' %}

		{{html_clean(postArr.REGUSER_Reason)}}

                {% endif %}

                

                {% if post.MT_MinMob != '' %}

		<input type="hidden" name="MT_MinMob" value="{{post.MT_MinMob}}">

                {% endif %}

                

                {% if post.MT_MinSlider != '' %}

		<input type="hidden" name="MT_MinSliderSlider" value="{{post.MT_MinSliderSlider}}">

                {% endif %}

                

                {% if post.MT_Min != '' %}

		<input type="hidden" name="MT_Min" value="{{post.MT_Min}}">

                {% endif %}

                

                {% if post.REGUSER_TypeMob != '' %}

		<input type="hidden" name="MT_MinAssMobSlider" value="{{post.MT_MinAssMobSlider}}">

                {% endif %}

                

                {% if post.REGUSER_TypeMob != '' %}

                <input type="hidden" name="MT_MinAss" value="{{post.MT_MinAss}}">

                {% endif %}

                

                {% if post.REGUSER_Wealth != '' %}

		<input type="hidden" name="REGUSER_Wealth" value="{{post.REGUSER_Wealth}}">

                {% endif %}

                

                {% if post.MT_Area != '' %}

		<input type="hidden" name="MT_Area" value="{{post.MT_Area}}">

                {% endif %}

                

                {% if post.REGUSER_TypeMob != '' %}

		<input type="hidden" name="MT_ManagerType" value="{{post.MT_ManagerType}}">

                {% endif %}

                

                {% if post.MT_AdvDisc != '' %}

		<input type="hidden" name="MT_AdvDisc" value="{{post.MT_AdvDisc}}">

                {% endif %}				

	

                {% if post.MT_BLOCK != '' %}

		<input type="hidden" name="MT_BLOCK" value="{{post.MT_BLOCK}}">

                {% endif %}					

                

                {% if post.MT_SegPool != '' %}

		<input type="hidden" name="MT_SegPool" value="{{post.MT_SegPoo}}">

                {% endif %}

                

                {% if post.MT_Managed != '' %}

		<input type="hidden" name="MT_Managed" value="{{post.MT_Managed}}">

                {% endif %}

                

                {% if post.REGUSER_Fundamental != '' %}

		<input type="hidden" name="REGUSER_Fundamental" value="{{post.REGUSER_Fundamental}}">

                {% endif %}

                

                {% if post.REGUSER_Charge != '' %}

		<input type="hidden" name="REGUSER_Charge" value="{{post.REGUSER_Charge}}">

                {% endif %}

                

                {% if post.MT_ass != '' %}

                {{html_clean(postArr.MT_ass)}}

                {% endif %}

                

                {% if post.MT_ManagerBased != '' %}

		<input type="hidden" name="MT_ManagerBased" value="{{post.MT_ManagerBased}}">

                {% endif %}

                

                {% if post.MT_PnS != '' %}

                {{html_clean(postArr.MT_PnS)}}

                {% endif %}

              

                {% if post.REGUSER_Risk != '' %}

		<input type="hidden" name="REGUSER_Risk" value="{{post.REGUSER_Risk}}">

                {% endif %}

                

                {% if post.REGUSER_CapRisk != '' %}

		<input type="hidden" name="REGUSER_CapRisk" value="{{post.REGUSER_CapRisk}}">

                {% endif %}



                {% if post.REGUSER_ViewPortfolio != '' %}

		{{html_clean(postArr.REGUSER_ViewPortfolio)}}

                {% endif %}



                {% if post.REGUSER_BuySelPortfolio != '' %}

                {{html_clean(postArr.REGUSER_BuySelPortfolio)}}

                {% endif %}

                

                {% if post.REGUSER_AccessToInvestment != '' %}

		{{html_clean(postArr.REGUSER_AccessToInvestment)}}

                {% endif %}

                

                {% if post.israte != '' %}

		<input type="hidden" name="israte" value="{{post.israte}}">

                {% endif %}

                

                {% if post.isfollow != '' %}

		<input type="hidden" name="isfollow" value="{{post.isfollow}}">	

                {% endif %}

        <div class="section section-question white-bg">

            <div class="container">

                <div class="row">

                    <div class="col-sm-12">

                        <h2>Fill in the relevant questions below to update results at the bottom</h2>

                    </div>

                </div>

            </div>

        </div>       

                

{% component 'question' %}

{% component 'question2' %}

{% component 'question3' %}

{% component 'question4' %}

{% component 'question5' %}

{% component 'question6' %}

{% component 'question7' %}

{% component 'question8' %}

{% component 'question9' %}

{% component 'question10' %}

{% component 'question11' %}

{% component 'question12' %}



        <input type="hidden" name="submit1" value="1">

        <input type="hidden" name="SearchFormType" value="a">

        {% if s_REGUSER_Type != '' %}

        <input type="hidden" name="REGUSER_Type" value="{{s_REGUSER_Type}}">

        {% endif %}

        {% if s_MT_Min != '' %}

        <input type="hidden" name="MT_Min" value="{{s_MT_Min}}">

        {% endif %}       

        <div class="section section-question white-bg">

            <div class="container">

                <div class="row">

                    <div class="col-lg-12">

                        <button type="submit" class="submit button center-block">Submit to update your results!</button>

                    </div>

                </div>

            </div>

        </div>



    </form>





</div>