title = "PAM online - Guide to Wealth Management"
url = "/guide-wealthmanagement/:slug?/:slug2?"
layout = "default"
is_hidden = 0
meta_title = "The PAM Guide to Wealth Management"
meta_description = "Wealth management is about taking care of all your financial needs, as well as those of your family and in some cases businesses. Find out more..."

[Twnepc\Blog\Components\Categories blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "guide-wealthmanagement/"
parentCategory = "guide-wealthmanagement"

[Twnepc\Blog\Components\Post blogPost]
slug = "{{ :slug2 }}"
categoryPage = "guide-wealthmanagement/"
==
{% partial 'short_banner' title="PAM Guide to Wealth Management" image="shortbannerback.jpg" %}
<div class="section wealthMan">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <a class="button bluewhite hidden-lg hidden-md hidden-sm col-xs-12 wealthmobile" style="margin: 30px 0 0 0">Chapters</a>
                <div class="hidden-lg hidden-md hidden-sm col-xs-12 chaptersMenu">
                    <a href="{{'knowledge-hub'|page}}" class="button whiteblue btn-block">Back to Knowledge Hub</a>
                    <div class="widget_text">{% component "blogCategories" %}</div>
                </div>
                <div class="hidden-xs">
                    <a href="{{'knowledge-hub'|page}}" class="button whiteblue btn-block">Back to Knowledge Hub</a>
                    <div class="widget_text">{% component "blogCategories" %}</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 wealthContent">
                {% component 'blogPost' %}
            </div>
        </div>
    </div>
</div>

<div class="section section5 purchasepamrow">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7"><h2>Purchase the PAM Directory Now</h2>
                <p>The PAM Directory is a <strong>comprehensive guide</strong> on comparative data focusing on asset managers, investment managers, private banks,
                    stockbrokers, wealth managers and multi-family offices, who provide discretionary and/or advisory portfolio management services for private clients.</p>

                <a href="#" onclick="sendEmailTo('wmarston','');return false;" class="button bluewhite col-xs-12 col-md-5">Order Now</a>
            </div>
            <div class="col-xs-12 col-md-5">
                <img class="img-responsive pull-right footerimage hidden-sm hidden-xs" alt="Footer" src="{{'footerbooks.png'|media}}">
            </div>
        </div>

    </div>
</div>
{% partial 'footer_subscribe' %}