title = "PAM online - Private Asset Manager Directory"

url = "/"

layout = "default"

is_hidden = 0

meta_title = "PAM Online | Private Asset Manager Directory"

meta_description = "PAM is the best independent resource available for finding and selecting Private Asset Managers in the UK and UK Offshore. Find an asset manager today…"



[siteSearchInclude]

==

function onStart()

{

    $result = Db::select("SELECT count(*)+521+120609 as total from pamtbl_search_log where SL_ID>143410 AND SL_Type='ind'");

    $this['searches_count'] = $result[0]->total;

    unset($result);



    $result = Db::select("SELECT SUM(PS_ValueM) / 1000000000 as total from pamtbl_search_log csl LEFT OUTER JOIN pamtbl_portfolio_search ps on csl.SL_Min=ps.PS_NAME WHERE IFNULL (PS_Type, 'm') = 'm' AND ((SL_Type = '' AND SL_ID>142889) OR (SL_Type='ind' AND SL_ID<142889))");

    $this['billions_count'] = $result[0]->total;

    unset($result);

}

==

{% content 'home-top-content.htm' searches_count=searches_count billions_count=billions_count %}



                <div class="btnwrapper col-md-9 col-xs-12">

		  {% if user %}

			{% if hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager') or hasRole('Private Asset Manager Admin') %}

					  <a href="awards-main" class="button">Enter the 2019 PAM Awards</a>

			{% endif %}

		  {% endif %}

                    <a href="awards-main" class="button">Find out more about the PAM Awards</a>														

                </div>



{% content 'home-bottom-content.htm' %}

<div class="section section5">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-7"><h2>Rate and follow Private Asset Managers</h2>

                <p>Our Rate feature allows you to have your say, with a star rating to let you provide feedback on your client experience. The Follow option gives you access to 

		investment commentaries from the firms you are interested in and the latest news about them.</p>

				

                {% if ((user) and (hasRole('Professional Advisors') or hasRole('Judge') or hasRole('Private Investor'))) %}

                <a href="PAM-results2?israte=Y" class="button bluewhite col-xs-12 col-md-5">Rate Private Asset Managers</a>

                <a href="PAM-results2?isfollow=Y" class="button bluewhite col-xs-12 col-md-6">Follow Private Asset Managers</a>

		{% elseif ((user) and (hasRole('Private Asset Manager') or hasRole('Private Asset Manager Admin')))%}	

                <a data-toggle="modal" data-target="#pam-modal" class="button bluewhite col-xs-12 col-md-5 loginclick">Rate Private Asset Managers</a>

                <a data-toggle="modal" data-target="#pam-modal" class="button bluewhite col-xs-12 col-md-6 loginclick">Follow Private Asset Managers</a>							

                {% else %}

                <a data-toggle="modal" data-target="#login-modal" class="button bluewhite col-xs-12 col-md-5 loginclick">Rate Private Asset Managers</a>

                <a data-toggle="modal" data-target="#login-modal" class="button bluewhite col-xs-12 col-md-6 loginclick">Follow Private Asset Managers</a>

                {% endif %}



            </div>

            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-5">

                <img src="/storage/app/media/rateimg.png" alt="rate a pam">

            </div>

        </div>



    </div>

</div>