title = "PAM online - I Am A Professional Adviser"
url = "/im-a-professional"
layout = "default"
is_hidden = 0
meta_title = "How PAM Helps Professional Advisors | PAM Online"
meta_description = "We don't give advice, but you will find all the information you need to help your clients ask the right questions and make their own informed decisions..."

[siteSearchInclude]
==
{% partial 'tall_banner' title="I am a Professional Adviser" image="banners/i-am-prof-banner.jpg" %}

{% content 'im-a-professional-how-we-can-help.htm' %}
<!-- Section Rate and Follow -->
<div class="section section5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7"><h2>Rate and follow Private Asset Managers</h2>
                <p>Our Rate feature allows you to have your say, with a star rating to let you provide feedback on your client experience. The Follow option gives you access to investment commentaries from the firms you are interested in and the latest news about them.</p>
                {% if user and hasRole('Judges') %}
		{% content 'im-a-professional-rate-for-judges.htm'%}
                {% else %}
                {% content 'im-a-professional-rate-for-all.htm' %}
                {% endif %}

            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-5">
                <img src="{{'rateimg.png'|media}}" alt="rate">
            </div>
        </div>

    </div>
</div>
<!-- / Section Rate and Follow -->
<!-- PAM Account -->
{% content 'im-a-professional-account.htm' %}
<!-- PAM Account -->
<!-- PAM Awards Section -->
{% if user %}
{% else %}
{% content 'im-a-professional-awards.htm' %}
{% endif %}
<!-- PAM Awards Section -->
{% partial 'footer_subscribe' %}