title = "PAM online - I Am A Private Invester"
url = "/im-a-investor"
layout = "default"
is_hidden = 0
meta_title = "How PAM Helps Private Investors | PAM Online"
meta_description = "We are completely independent: Unlike other sites that say they can help you find a wealth manager for free and without any manager bias..."

[siteSearchInclude]
==
{% partial 'tall_banner' title="I am a Private Investor" image="banners/i-am-private-banner.jpg" %}

{% content 'im-a-investor-how-we-help.htm' %}
<!-- Section Rate and Follow -->
<div class="section section5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7"><h2>Rate and follow Private Asset Managers</h2>
                <p>Our Rate feature allows you to have your say, with a star rating to let you provide feedback on your client experience. The Follow option gives you access to investment commentaries from the firms you are interested in and the latest news about them.</p>
		{% if ((user) and (hasRole('Judges'))) %}
			{% content 'im-a-investor-rate-for-judges.htm' %}
		{% else %}
			{% content 'im-a-investor-rate-for-all.htm' %}
		{% endif %}
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-5">
                <img src="{{'rateimg.png'|media}}" alt="rate">
            </div>
        </div>

    </div>
</div>
<!-- / Section Rate and Follow -->
<!-- PAM Account -->
{% if user %}
{% else %}
{% content 'im-a-investor-do-you-have-account.htm' %}
{% endif %}
<!-- PAM Account -->

{% partial 'footer_subscribe' %}