title = "PAM online - My Account"

url = "/my-account"

layout = "default"

is_hidden = 0



[session]

security = "user"

redirect = "/"



==

function onStart() {

    $userId = (isset($this['user']))?$this['user']->attributes['id']:'';

    if (!empty($userId)) {

        $companiesRecords = \Db::table('pamtbl_favourite_companies')->where(['REGUSER_ID' => $userId])->get();

        $this["companiesRecords"] = $companiesRecords;

        

        $searchRecords = \Db::table('pamtbl_search_queries')->where(['REGUSER_ID' => $userId])->orderBy('searchid','desc')->get();

        if(count($searchRecords) > 0) {
        
            $newRecords = [];

            foreach ($searchRecords as $rec) { 

                $rec->search_string = urldecode($rec->search_string);

                $rec->search_string = str_replace('&save_search=','&save_search2=',$rec->search_string);

                $newRecords[] = $rec;

            }

            $this['searchRecords'] = $newRecords;
        }
    } 

}

==

{% if hasRole('Private Investor') %}

    {% partial 'tall_banner' title="My Account" image="banners/i-am-private-banner.jpg" %}

{% elseif hasRole('Professional Advisors')%}

    {% partial 'tall_banner' title="My Account" image="banners/i-am-prof-banner.jpg" %}

{% elseif hasRole('Judge') %}

    {% partial 'tall_banner' title="My Account" image="banners/awards-judges-banner.jpg" %}

{% elseif hasRole('Private Asset Manager') or hasRole('Private Asset Manager Admin')  %}

    {% partial 'tall_banner' title="My Account" image="banners/i-am-a-pam-banner.jpg" %}

{% else %}

    {% partial 'tall_banner' title="My Account" image="banners/i-am-private-banner.jpg" %}

{% endif %}



<script>

    function beforeOpenFollowed(company_id,company_name,freq) {

	$("#howOften").val(freq);

        $("#cid1").val(company_id);

        $("#cname").val(company_name);

    }

    

    function doFollowCompany() {

        $.get( "/PAM-results2?followCompany="+$("#cid1").val()+"&often="+$("#howOften").val()+"&company_name="+$("#cname").val(), function( data ) {

            var code = $("#howOften option:selected").val();

            $("#subscription"+$("#cid1").val()).html(code);

        });        

    }

    

    function unfollowCompany(company_id) { 

        $.get( "/PAM-results2?unfollowCompany="+company_id, function( data ) {

            document.getElementById("company"+company_id).style = 'text-decoration:line-through';

            $("#btn"+company_id+"_1").hide();

            $("#btn"+company_id+"_2").hide();

        });                

    }

    

    function goto(url) {

        self.location.href = url;

    }

    

    function removeSearchResult(result_id) {

        $.get( "/PAM-results2?deleteResult="+result_id, function( data ) {

            //document.getElementById("company"+company_id).style = 'text-decoration:line-through';

            $("#sR"+result_id).hide();

        });                

        

    }

    

</script>



<div class="section section-login-modal">

    <div class="modal fade" id="followDlg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span

                        aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body">

                <form name="FollowForm" data-request="onFollowCompany">

                <h3>How often do you want to receive notifications?</h3>

                <div class="styled-select">

                    <input type="hidden" name="company_id" id="cid1">    

                <select name="howOften" id="howOften">

                    <option value="daily">Every day</option>

                    <option value="weekly">Every week</option>

                    <option value="never">Never</option>

                </select>

                </div>

                <input type="hidden" name="company_name" id="cname">

                </form>

                <div style="float:right">

                <a class="button whiteblue" data-dismiss="modal" onClick="doFollowCompany()">Update</a>

                </div>

            </div>

        </div>

    </div>

</div>

</div>







<div class="section section-tabs">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <div class="wrapper">

                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"

                                                                  data-toggle="tab">My Account</a></li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="section section-questions">

    <div class="container">

		<div class="row">

        {% if can('access_company_details') and (user.pamadmin.activated or user.member.activated) %}

                <div class="col-xs-12">

                    {% if user.pamadmin %}

                    <a href="{{account.backendUrl( user.pamadmin.company.company_id )}}" target="_blank" class="button whiteblue">Edit Company Profile</a>

                    <a href="{{'company'|page({id:user.pamadmin.company.company_id})}}" class="button whiteblue">View Company Profile</a>
                    

                    {% if account.getActiveAward  %}

                    <a target="_blank" href="{{account.backendAwardUrl()}}" class="button bluewhite">Enter Awards</a>

                    {% endif %}

                    {% elseif user.member %}

                    <a href="{{account.backendUrl( user.member.company.company_id )}}" target="_blank" class="button whiteblue">Edit Company Profile</a>

                    <a href="{{'company'|page({id:user.member.company.company_id})}}" class="button whiteblue">View Company Profile</a>
						<br><br>If you wish to change your profile please click on the Edit button, if you wish to view your profile as others users of this website would see it please click on the View button.
                   
                    {% if account.getActiveAward %}

                    <a target="_blank" href="{{account.backendAwardUrl()}}" class="button bluewhite">Enter Awards</a>

                    {% endif %}

                    {% endif %}

                </div>

        {% endif %}

        {% if can('judging_area') and (user.backenduser) %}

            <div class="col-xs-12">

                <a href="{{account.backendAwardJudgeUrl( )}}" target="_blank" class="button whiteblue">Judging area</a>

            </div>

        {% endif %}

		</div>

        <div class="row">

            <div class="col-xs-12">

                <div class="section-content__wrapper">

                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="home">

                            <div class="panel-group accordion" id="general" role="tablist" aria-multiselectable="true">

                                <div class="panel panel-default active">

                                    <div class="panel-heading" role="tab" id="headingOne">

                                        <h4 class="panel-title">

                                            <a role="button" data-toggle="collapse" data-parent="#general"

                                               href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                                                <span></span>Your Details

                                            </a>

                                        </h4>



                                        <div class="collapse-status">

                                            <a href="#collapseOne" role="button" data-toggle="collapse"

                                               data-parent="#general">

                                                <span class="glyphicon glyphicon-remove pull-right"></span>

                                            </a>

                                        </div>

                                    </div>

                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"

                                         aria-labelledby="headingOne">

                                        <div class="panel-body">

                                            {% if can('personal_profile') %}

                                                {% component 'account::update'%}

                                            {% else %}

                                                <div class="row">

                                                    <div class="col-md-10">

                                                        <p>Please email PAM to update your details</p>

                                                    </div>

                                                </div>

                                            {% endif %}

                                        </div>

                                    </div>

                                </div>

								

			{% if user.pamadmin or user.member %}

			{% else %}

                                <div class="panel panel-default">

                                    <div class="panel-heading" role="tab" id="headingTwo">

                                        <h4 class="panel-title">

                                            <a class="collapsed" role="button" data-toggle="collapse"

                                               data-parent="#general" href="#collapseTwo" aria-expanded="false"

                                               aria-controls="collapseTwo">

                                                <span></span>Followed Managers

                                            </a>

                                        </h4>



                                        <div class="collapse-status">

                                            <a href="#collapseTwo" role="button" data-toggle="collapse"

                                               data-parent="#general">

                                                <span class="glyphicon glyphicon-plus pull-right"></span>

                                            </a>

                                        </div>

                                    </div>

                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"

                                         aria-labelledby="headingTwo">

                                        <div class="panel-body">

                                            {% if companiesRecords %}

                                            <table width="100%" border="0" cellspacing="3" cellpadding="0">

                                                {% for record in companiesRecords %}

                                                

                                                <tr>

                                                    <td style="padding-right:15px;" id="company{{record.PamID}}"><nobr><a href="company/{{record.PamID}}">{{record.name}}</a><nobr></td>

                                                      <td>(<span id="subscription{{record.PamID}}">{{record.subscription}}</span>)</td>

						<td>

							<a href="#followDlg" class="button whiteblue" onClick="beforeOpenFollowed({{record.PamID}},'{{record.name}}','{{record.subscription}}')"  data-toggle="modal" id="btn{{record.PamID}}_1" type="button">Change</a>

                                                        &nbsp;&nbsp;

                                                        <a href class="button whiteblue" id="btn{{record.PamID}}_2" onClick="unfollowCompany({{record.PamID}})">Un-follow</a>

                                                    </td>

                                                </tr>

                                                                                                                                               

                                                {% endfor %}

                                            </table>    

					{% else %}

					<p>You are not following any PAMs at present</p>											

                                            {% endif %}

                        <!--                    

                                            <div style="width:100%"><div style="width:40%;float:left;">Somecompany 123</div>

                                                <div style="float:left;width:60%;">(weekly) 

                                                <button class="button button-sm" type="button">Change</button>

                                                &nbsp;&nbsp;

                                                <button class="button button-sm" type="button">Unfollow</button>

                                                </div>                                        

                                            </div>

                                            <div style="width:100%"><div style="width:40%;float:left;">Somecompany 123</div>

                                                <div style="float:left;width:60%;">(weekly) 

                                                <button class="button button-sm" type="button">Change</button>

                                                &nbsp;&nbsp;

                                                <button class="button button-sm" type="button">Unfollow</button>

                                                </div>                                        

                                            </div>

                    -->    

                                            

                                        </div>

                                    </div>

                                </div>

                                <div class="panel panel-default">

                                    <div class="panel-heading" role="tab" id="headingThree">

                                        <h4 class="panel-title">

                                            <a class="collapsed" role="button" data-toggle="collapse"

                                               data-parent="#general" href="#collapseThree" aria-expanded="false"

                                               aria-controls="collapseThree">

                                                <span></span>Saved Searches

                                            </a>

                                        </h4>



                                        <div class="collapse-status">

                                            <a href="#collapseThree" role="button" data-toggle="collapse"

                                               data-parent="#general">

                                                <span class="glyphicon glyphicon-plus pull-right"></span>

                                            </a>

                                        </div>

                                    </div>

                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"

                                         aria-labelledby="headingThree">

                                        <div class="panel-body">

                                        {% if (searchRecords) %}

                                            <table width="100%" cellspacing="8" cellpadding="4">

                                                

                                            {% for record in searchRecords %}

                                            <tr id="sR{{record.searchid}}"><td width="50%">&nbsp;{{record.name}} &nbsp;&nbsp;&nbsp;

					<a href class="button whiteblue" value="Go" onClick="goto('{{record.search_string}}')">View</a>&nbsp;&nbsp;&nbsp;

					<a href class="button whiteblue" value="Remove" onClick="removeSearchResult({{record.searchid}})">Remove</a></td>

					</tr>

                                            {% endfor %}

                                            </table>

				    {% else %}

					<p>You currently have no saved searches</p>

                                        {% endif %}

                                        </div>

                                    </div>

                                </div>

			{% endif %}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>



{% partial 'footer_subscribe' %}