title = "pam-subscription"
url = "/pam-subscription"
layout = "default"
description = "Subscribe to PAM for the latest data on Private Asset Managers"
meta_title = "Subscribe to PAM"
meta_description = "Subscribe to PAM for the latest data on Private Asset Managers"
is_hidden = 0
==
<div class="container">
  <!--Section: Content-->
  <section class="text-center">
  

    


    <h3 class="mb-4"><strong>PAM Subscriptions</strong></h3>


    <div class="row gx-lg-5">

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <!-- Card 1 -->
        <div class="card">

          <div class="card-header bg-white py-3">
            <h3 class="mb-2"><strong>Standard</strong></h3>
            <h5 class="mb-0"><strong>£FREE</strong></h5> 
            <p>For private investors and high net worth individuals who want to make informed decisions for themselves.</p>
          </div>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">List of leading Private Asset Managers (PAMs)</li>
              <li class="list-group-item">Latest Assets Under Management figures</li>
              <li class="list-group-item">Investment philosophy</li>
              <li class="list-group-item">Fee calculator</li>
              <li class="list-group-item">Contact details of private asset managers</li>
            </ul>
          </div>

          <div class="card-footer bg-white py-3">
                    <a href="https://buy.stripe.com/test_bIY8xyexoeN98ak3cd" title="Buy PAM Professional Now" >
            <button type="button" class="btn btn-primary btn-sm" >Subscribe now</button>
          price_1KJ2o3Lyvna2Btk7I3QPHOfu
            
            <!-- <a class="loginclick" data-target="#register-modal" data-hide="#login-modal"> -->
                <button type="button" class="btn btn-success btn-sm loginclick"  data-toggle="modal"  data-target="#register-modal" data-hide="#login-modal">Register for FREE</button>
            <!-- </a> -->
          </div>

        </div>
        <!-- Card -->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <!-- Card -->
        <div class="card border border-primary">

          <div class="card-header bg-white py-3">
            <h3 class="mb-2"><strong>Professional</strong></h3>
            <h5 class="mb-0"><strong>£725 per year</strong></h5>
            <p>For professional investment advisors who need up-to-date and accurate data on fund managers</p>  
          </div>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Everything in FREE account</li>
              <li class="list-group-item">Past 5 years of data</li>
              <li class="list-group-item">List of key personnel</li>
              <li class="list-group-item">Link to news stories and articles about each PAM</li>
              <li class="list-group-item">Search by company name</li>
            </ul>
          </div>

          <div class="card-footer bg-white py-3">
          <a href="https://buy.stripe.com/test_bIY8xyexoeN98ak3cd" title="Buy PAM Professional Now" >
            <button type="button" class="btn btn-primary btn-sm" >Subscribe now</button>
            </a>
          </div>

        </div>
        <!-- Card -->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <!-- Card -->
        <div class="card">

          <div class="card-header bg-white py-3">
            <h3 class="mb-2"><strong>Professional Plus</strong></h3>
            <h5 class="mb-0"><strong>£1355 per year</strong></h5>
            <p>For investment analysts, typically working within a company</p>                
          </div>

          <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Everything in Professional account</li>              
                <li class="list-group-item">Interactive graphs and charts of financial data</li>
                <li class="list-group-item">Compare PAM's against one another</li>
                <li class="list-group-item">Analytics reports to you inbox</li>
                <li class="list-group-item">Advanced searching and filtering</li>
              </ul>
          </div>
          <div class="card-footer bg-white py-3">
          <a href="https://buy.stripe.com/test_14k8xyah8dJ5fCM8wz" >          
            <button type="button" class="btn btn-info btn-sm">Subscribe now</button>
            </a>
          </div>
        </div>
        <!-- Card -->
      </div>

    </div>
  </section>
  <!--Section: Content-->
</div>


<div class="container visible-md-block visible-lg-block visible-sm-block">
&nbsp;
</div>