title = "PAM Subscription Confirmed"
url = "/pam-subscription-confirmed"
layout = "default"
meta_title = "Thanks for subscribing to PAM Online."
is_hidden = 0

[webhook]
==
<div class="section section1  visible-md-block visible-lg-block visible-sm-block">

    <div class="container">

        <div class="row">

            <div class="mainText col-xs-12">

                <h1 class="text-center maintitle">Thanks for subscribing</h1>

            </div>

        </div>

    </div>


{% component 'webhook' %}
</div>