title = "PAM online - Sitemap"
url = "/sitemap"
layout = "default"
is_hidden = 0
[siteSearchInclude]
==

{% partial 'short_banner' title=title image="shortbannerback.jpg" %}
<section class="sitemap">
    <div class="container">
        <div class="row">
            {% content 'sitemap-main-knowledge.htm' %}
			
            {% if user %}
            {% content 'sitemap-awards-information-for-members.htm' %}
	   {% else %}
	   {% content 'sitemap-awards-information-for-non-members.htm' %}
            {% endif %}
			
            {% content 'sitemap-users.htm' %}
        </div>
    </div>
</section>
{% partial 'footer_subscribe' %}