title = "Search results"
url = "/sitesearch"
layout = "default"

[searchResults]
resultsPerPage = 10
showProviderBadge = 1
noResultsMessage = "Your search did not return any results. If you are looking for a PAM, then please use the Select a Private Asset Manager Function."
visitPageMessage = "Visit page"
==

<section id="generic-page">
    <div class="container">
        <div class="row">
		<div class="col-xs-12">
		<h2>Search results for {{ searchResults.query }}</h2>
		<hr />
		
		{% component 'searchResults' %}
		</div>
        </div>
    </div>
</section>