title = "PAM online - Statement of principles"
url = "/statement"
layout = "default"
is_hidden = 0
[siteSearchInclude]
==
{% partial 'short_banner' title="Statement of principles" image="shortbannerback.jpg" %}
<section id="generic-page">
    <div class="container">
        <div class="row">
            {% content 'statement.htm' %}
        </div>
    </div>
</section>
{% partial 'footer_subscribe' %}