title = "PAM online - Terms and Conditions"
url = "/terms"
layout = "default"
is_hidden = 0
[siteSearchInclude]
==
{% partial 'short_banner' title="Terms and Conditions" image="shortbannerback.jpg" %}
<section id="generic-page">
    <div class="container">
        <div class="row">
            {% content 'terms.htm' %}
        </div>
    </div>
</section>
{% partial 'footer_subscribe' %}