<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for article in articles %}
        <url>
            <loc>{{ 'https://www.paminsight.com/' ~ site ~ '/article/' ~ article.slug}}</loc>
            <lastmod>{{ article.published_date|date('c') }}</lastmod>
            <priority>0.5</priority>
        </url>
    {% endfor %}
</urlset>