<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for year in years %}
  {% for site in sites %}
    <sitemap>
      <loc>{{url('/') ~ '/' ~ site ~ '/' ~year ~ '/sitemap.xml'}}</loc>
    </sitemap>
  {% endfor %}
{% endfor %}
</sitemapindex>