<form data-success-title="Thank You"

      data-success-text="For contacting PAM one of our team will be in contact shortly">

    <input type="hidden" name="formname" value="pamcontactform"/>

    <div class="row">

        <div class="col-lg-12">

            <h2 class="text-center">Get in touch with PAM</h2>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-6 col-lg-mod">

            <div>

                <p class="form-control-invalid-text"></p>

                <input type="text" class="form-control validate" name="firstname" placeholder="First name:">

            </div>

            <div>

                <p class="form-control-invalid-text"></p>

                <input type="text" class="form-control validate" name="lastname" placeholder="Last name:">

            </div>

            <div>

                <p class="form-control-invalid-text"></p>

                <input type="text" class="form-control validate" name="phone" placeholder="Contact number:">

            </div>

        </div>

        <div class="col-lg-6 col-lg-mod">

            <div>

                <p class="form-control-invalid-text"></p>

                <input type="text" class="form-control validate" name="enquiry" placeholder="Subject:">

            </div>

            <div>

                <p class="form-control-invalid-text"></p>

                <input type="text" class="form-control validate" name="email" placeholder="Email address:">

            </div>

            <div>

                <p class="form-control-invalid-text"></p>

                <input type="text" class="form-control validate" name="company" placeholder="Company:">

            </div>

        </div>

        <div class="col-lg-12 col-lg-mod">

            <p class="form-control-invalid-text"></p>

            <textarea class="form-control validate" name="message" rows="5" cols="20" placeholder="Message:"></textarea>

        </div>

    </div>

    <div class="row">

        <!--<div class="col-lg-5 col-lg-mod">-->

        <!--<div class="captcha-wrapper">-->

        <!--<div class="g-recaptcha" data-sitekey="6LcVnBkTAAAAAKYav8kb6lpf6FLakSojcHVpszl0"></div>-->

        <!--</div>-->

        <!--</div>-->

        <div class="col-lg-2 col-lg-offset-5 col-lg-mod">

            <button class="button whiteblue btn-block" type="button" id="submit">Send</button>

        </div>

    </div>

</form>

<script>

    $(function() {

        $("#submit").click(function (e) {

            if ($("#submit").text() != "Please Wait...") {

                var form = $(this).closest("form");

                resetFormValidation(form);

                form.request('contactForm::onMailSent', {

                    success: function (data) {

                        ga('send', 'event', 'contacted', 'submit');

                        resetFormFields(form);

                        showNotification(form);

                    },

                    update: {},

                    error: function ($el, context, textStatus, jqXHR) {

                        var resp = $el.responseJSON;

                        validateForm(form,resp.X_OCTOBER_ERROR_FIELDS);

                    },

                    complete: function () {

                        $("#submit").text("Send");

                    }

                });

            }

            $("#submit").text("Please Wait...");

            e.preventDefault();

        });

        function resetFormValidation(form){

            form.find("input.validate,textarea.validate").each(function(){

                var input = $(this);

                input.removeClass('invalid');

                input.parent().find('.form-control-invalid-text').css({display:'none'});

            });

        }

        function validateForm(form,response){

            $.each( response, function( key, value ) {

                var input = form.find('input[name="'+key+'"],textarea[name="'+key+'"]');

                input.addClass('invalid');

                input.parent().find('.form-control-invalid-text').html(value).css({display:'block'});

            });

        }

        function resetFormFields(form){

            form.find("input[type='text'],textarea").each(function(){$(this).val('')});

            form.find("input[type='email']").each(function(){$(this).val('')});

        }

        function showNotification(form){

            $('#notification-modal').find("h1").html(form.data('success-title'));

            $('#notification-modal').find("p").html(form.data('success-text'));

            $('#notification-modal').modal("show").addClass("fade");

        }

    });

</script>