{% for user in team.posts %}
<div class="shadow-wrap">
    <div class="grid-item">
        <div class="contact-roll-wrap">
            <div class="contact-roll">
                <div class="contact-text">
                    <p>{{user.about}}</p>
                    {% if user.linkedin %}
                    <div class="linkedin-button">
                        <p class='linkedin'><a
                                href="{{user.linkedin}}"
                                target="_blank"><img src="{{ 'linkedin.png' | media }}" alt="linkedin"></a>
                        </p>
                    </div>
                    {% endif %}
                </div>
                <div class="contact-button">
                    <p>Contact</p>
                </div>
            </div>
            <div class="staff-box">
                <h3>{{user.name}}</h3>

                <p class="job-title">{{user.role}}</p>
                <img src="{{ 'divider.png' | media }}" class="staff-divider" alt="divider">

                <p class="telephone"><span class="blue-font">Telephone: </span>{{user.number}}</p>

                <p class="email"><span class="blue-font">E: </span><a href="mailto:{{user.email}}">{{user.email}}</a>
                </p>
            </div>
            <div class="extras-wrap">
                <div class="business-card">
                    <a target="_blank" href="{{ user.virtual_business_card | media }}">Download virtual business card</a>
                </div>
                <div class="more-information">
                    More Information
                </div>
            </div>
            <div class="shadow hidden-sm hidden-xs">
                <img src="{{ 'drop-shadows.png' | media }}" alt="">
            </div>
        </div>
    </div>
</div>
{% endfor %}