<h3 style="padding: 15px;">PAMs</h3>
<div class="control-list">
    <table class="table data">
        <thead>
        <tr>
            <th><span></span></th>
            <th><span>Active</span></th>
            <th><span>Not active</span></th>
            <th><span>Total</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Standard</b></td>
            <td><?=$table1['rows']['standard']['active']?></td>
            <td><?=$table1['rows']['standard']['not_active']?></td>
            <td><?=$table1['rows']['standard']['total']?></td>
        </tr>
        <tr>
            <td><b>Premier</b></td>
            <td><?=$table1['rows']['premier']['active']?></td>
            <td><?=$table1['rows']['premier']['not_active']?></td>
            <td><?=$table1['rows']['premier']['total']?></td>
        </tr>
        <tr>
            <td><b>Enhanced</b></td>
            <td><?=$table1['rows']['enhanced']['active']?></td>
            <td><?=$table1['rows']['enhanced']['not_active']?></td>
            <td><?=$table1['rows']['enhanced']['total']?></td>
        </tr>
        <tr>
            <td><b>Totals</b></td>
            <td><?=$table1['rows']['totals']['active']?></td>
            <td><?=$table1['rows']['totals']['not_active']?></td>
            <td><?=$table1['rows']['totals']['total']?></td>
        </tr>
        </tbody>
    </table>
</div>

<h3 style="padding: 15px;">Registered users</h3>
<div class="control-list">
    <table class="table data">
        <thead>
        <tr>
            <th><span></span></th>
            <th><span>Registered</span></th>
            <th><span>Registered (last 30 days)</span></th>
            <th><span>Logged In (last 30 days)</span></th>
            <th><span>Number of searches</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>Private Investor</b></td>
            <td><?=$table2['rows']['private_investor']['registered']?></td>
            <td><?=$table2['rows']['private_investor']['registered_30']?></td>
            <td><?=$table2['rows']['private_investor']['loggedin_30']?></td>
            <td><?=$table2['rows']['private_investor']['searches']?></td>
        </tr>
        <tr>
            <td><b>Professional Advisor</b></td>
            <td><?=$table2['rows']['professional_advisor']['registered']?></td>
            <td><?=$table2['rows']['professional_advisor']['registered_30']?></td>
            <td><?=$table2['rows']['professional_advisor']['loggedin_30']?></td>
            <td><?=$table2['rows']['professional_advisor']['searches']?></td>
        </tr>
        <tr>
            <td><b>PAMs</b></td>
            <td><?=$table2['rows']['pams']['registered']?></td>
            <td><?=$table2['rows']['pams']['registered_30']?></td>
            <td><?=$table2['rows']['pams']['loggedin_30']?></td>
            <td><?=$table2['rows']['pams']['searches']?></td>
        </tr>
        <tr>
            <td><b>Totals</b></td>
            <td><?=$table2['rows']['totals']['registered']?></td>
            <td><?=$table2['rows']['totals']['registered_30']?></td>
            <td><?=$table2['rows']['totals']['loggedin_30']?></td>
            <td><?=$table2['rows']['totals']['searches']?></td>
        </tr>
        </tbody>
    </table>
</div>

<h3 style="padding: 15px;">Back end changes</h3>
<?= $this->listRender('changes'); ?>

<h3 style="padding: 15px;">Back end login</h3>
<?= $this->listRender('logins'); ?>