<h1>Hi!</h1>
<p style="margin: 0; padding-bottom: 40px;">{{username}} sent you an article as a gift:</p> 

<p>{{mess}}</p>

<h2 style="font-size: 18px; margin: 0; padding-bottom: 10px;">{{article.title}}</h2>
{% if article.summary %}
	{{article.summary | raw}}
{% endif %}
<p><a href="{{link}}">Read this article</a></p>