<div class="rate-holder">
<?php for($i = 1; $i <= 5; $i++) { ?>

    <?php if($i <= $value) { ?>
    <span class="rate-icon fa fa-star" data-number="<?php echo $i ?>"></span>
    <?php } else { ?>
    <span class="rate-icon fa fa-star-o" data-number="<?php echo $i ?>"></span>
    <?php } ?>
<?php
}
?>
</div>
<input type="hidden" class="hidden-rating" name="Rating[rating]" />