<div data-control="toolbar">
    <a href="<?= Backend::url('twnepc/awards/awardsyears') ?>" class="btn btn-primary">&nbsp;&nbsp;Back to Years</a>
    <a href="<?= Backend::url('twnepc/awards/awards/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
</div>
