<p>To use Stripe, you need to <a href="https://stripe.com" target="_blank">Sign up for a Stripe account</a> and <a href="https://dashboard.stripe.com/apikeys" target="_blank">create a pair of API keys</a> for your site. The key pair consists of a Public key and a Secret key. The Secret key authorizes communication between your application backend and the Stripe server to track the the user's session from PAM to tstripe (where they pay) and back to PAM adfter a successful payment. The Secret Key must be kept safe for security purposes. It must never be revealed to anyone who is not an Administrator </p>

<p>Keys pairs come in two types:  TEST and LIVE: Test public keys and test secret keys begin with <strong>pk_test_</strong> and <strong>sk_test_</strong> . Live keys begin with <strong>pk_live_</strong> and <strong>sk_live_</strong></p>

<p>When test keys are used, no money is taken from the credit card. Test credit card numbers can only be used with TEST keys. Changing to LIVE keys, makes all credit card transaction on Stripe LIVE.</p>

<p>The API key pair is unique to the domains and first-level subdomains that you specify. Specifying more than one domain could come in handy if you serve your website from multiple top level domains.</p>

<p>Webhooks link an asynchonous action on the Stripe platform, to a target action on PAM. e.g. If a users credit card is about to expire, a Webhook will call a script on PAM that updates that User's profile, such that when that user next Logs on, a pop-up is displayed reminding them their card is about to expire.</p>
