<div data-control="toolbar">
    <!--a
        href="<?= Backend::url('responsiv/campaign/subscribers/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Subscriber
    </a-->
    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $.oc.listGetChecked($('.control-list'))
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <div class="btn-group">
        <a
            href="<?= Backend::url('responsiv/campaign/subscribers/export') ?>"
            class="btn btn-default oc-icon-download">
            Export Subscribers
        </a>
        <!--a
            href="<?= Backend::url('responsiv/campaign/subscribers/import') ?>"
            class="btn btn-default oc-icon-upload">
            Import Subscribers
        </a-->
    </div>
</div>