<?php if(count($feedbacks) > 0):?>
<div id="list" class="control-list list-unresponsive">
    <table class="table data">
        <thead>
        <tr>
            <th style=""><span>Feedback</span></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($feedbacks as $feedback):?>
        <tr>
            <td><?=$feedback->af_note;?></td>
        </tr>
        <?php endforeach;?>
        <tr>
            <?php foreach($feedbacks as $feedback):?>
            <?php foreach($feedback->feedbackfiles as $file):?>
            <tr>
                <td>
                    <ul>
                    
                        <li><a href="<?= $file->getPath();?>" target="_blank"><?= $file->file_name ?></a></li>
                    
                    </ul>
                </td>
            </tr>
            <?php endforeach; ?>
            <?php endforeach;?>
        </tr>
        </tbody>
    </table>
    <br />
</div>
<?php endif;?>