<div class="control-list list-unresponsive">
    <table id="sortPersonnel" class="table data" data-control="">
        <thead>
        <tr>
            <th></th>
            <th class="list-checkbox">
                <div class="checkbox custom-checkbox nolabel">
                    <input type="checkbox" id="sortPersonnel_checkboxAll" class="checkboxAll" />
                    <label for="sortPersonnel_checkboxAll"></label>
                </div>
            </th>
            <th class="sort-<?=$sortColumnBy?>"><a data-request-data="sortColumn: 'cp_firstname',sortColumnBy:'<?=$sortColumnBy?>', company_id: <?=$company_id?>" data-stripe-load-indicator="" data-request="<?= $this->getEventHandler('onSortingByColumn') ?>" href="javascript:;">Firstname</a></th>
            <th class="sort-<?=$sortColumnBy?>"><a data-request-data="sortColumn: 'cp_lastname',sortColumnBy:'<?=$sortColumnBy?>', company_id: <?=$company_id?>" data-stripe-load-indicator="" data-request="<?= $this->getEventHandler('onSortingByColumn') ?>" href="javascript:;">Lastname</a></th>
            <th class="sort-<?=$sortColumnBy?>"><a data-request-data="sortColumn: 'cp_jobtitle',sortColumnBy:'<?=$sortColumnBy?>', company_id: <?=$company_id?>" data-stripe-load-indicator="" data-request="<?= $this->getEventHandler('onSortingByColumn') ?>" href="javascript:;">Job title</a></th>
            <th class="sort-<?=$sortColumnBy?>"><a data-request-data="sortColumn: 'cpsection_id',sortColumnBy:'<?=$sortColumnBy?>', company_id: <?=$company_id?>" data-stripe-load-indicator="" data-request="<?= $this->getEventHandler('onSortingByColumn') ?>" href="javascript:;">Section</a></th>
            <th><span>Salutation</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($records as $record): ?>
        <tr>
            <td class="list-checkbox nolink">
                <i class="icon-align-justify"></i>
            </td>
            <td class="list-checkbox nolink">
                <div class="checkbox nolabel">
                    <input class="sortorder" type="hidden" name="cp_order[<?= $record->companypersonnel_id ?>]" value="<?= $record->cp_order ?>">
                    <input type="checkbox" name="ids[]" value="<?= $record->companypersonnel_id ?>">
                </div>
            </td>
            <td>
                <?= $record->cp_firstname ?>
            </td>
            <td>
                <?= $record->cp_lastname ?>
            </td>
            <td>
                <?=$record->cp_jobtitle?>
            </td>
            <td>
                <?=$record->section?$record->section->cps_name:""?>
            </td>
            <td><?=$record->cp_salutation?></td>
            <td class="column-button nolink">
                <a class="btn btn-default btn-sm" data-control="popup" data-request-data="company_id:'<?= $company_id ?>',personnel_id:'<?=$record->companypersonnel_id?>'"
                   data-handler="formPersonnel::onLoadUpdatePersonnel">Edit</a>
            </td>
        </tr>
        <?php endforeach ?>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $('#sortPersonnel').sortable({
            containerSelector: 'table',
            itemPath: '> tbody',
            itemSelector: 'tr',
            placeholder: '<tr class="placeholder"/>',
            onDrop: function  ($item, container, _super) {
                $(container.el).sortable("disable");
                $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                $("body").removeClass(container.group.options.bodyClass);

                $(container.el).find('.sortorder').each(function(key,input){
                    $(input).val(key+1);
                });
                $('form').request('onPersonnelSorted', {
                    success: function() {

                    },
                    complete: function(){
                        $(container.el).sortable("enable");
                    }
                })
            }
        });
        $('.checkboxAll').each(function(){
            var checkboxAll = $(this);
            checkboxAll.change(function(){
                var table = $(this).closest('table');
                if($(this).is(":checked")) {
                    table.find('td input[type="checkbox"]').prop('checked', true);
                }else{
                    table.find('td input[type="checkbox"]').prop('checked', false);
                }
            });
        });
    });
</script>