<div class="control-list list-unresponsive">
    <table id="sortPersonnelSections" class="table data" data-control="">
        <thead>
        <tr>
            <th></th>
            <th class="list-checkbox">
                <div class="checkbox custom-checkbox nolabel">
                    <input type="checkbox" id="sortPersonnelSections_checkboxAll" class="checkboxAll" />
                    <label for="sortPersonnelSections_checkboxAll"></label>
                </div>
            </th>
            <th><span>Section name</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($records as $record): ?>
        <tr>
            <td class="list-checkbox nolink">
                <i class="icon-align-justify"></i>
            </td>
            <td class="list-checkbox nolink">
                <div class="checkbox nolabel">
                    <input class="sortorder" type="hidden" name="cps_order[<?= $record->cpsection_id ?>]" value="<?= $record->cps_order ?>">
                    <input type="checkbox" name="ids[]" value="<?= $record->cpsection_id ?>">
                </div>
            </td>
            <td><?= $record->cps_name ?></td>
            <td class="column-button nolink">
                <a class="btn btn-default btn-sm" data-control="popup" data-request-data="company_id:'<?= $company_id ?>',cpsection_id:'<?=$record->cpsection_id?>'"
                   data-handler="<?= $this->getEventHandler('onLoadUpdateSection') ?>">Edit</a>
            </td>
        </tr>
        <?php endforeach ?>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $('#sortPersonnelSections').sortable({
            containerSelector: 'table',
            itemPath: '> tbody',
            itemSelector: 'tr',
            placeholder: '<tr class="placeholder"/>',
            onDrop: function  ($item, container, _super) {
                $(container.el).sortable("disable");
                $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                $("body").removeClass(container.group.options.bodyClass);

                $(container.el).find('.sortorder').each(function(key,input){
                    $(input).val(key+1);
                });
                $('form').request('onSectionSorted', {
                    success: function() {

                    },
                    complete: function(){
                        $(container.el).sortable("enable");
                    }
                })
            }
        });
        $('.checkboxAll').each(function(){
            var checkboxAll = $(this);
            checkboxAll.change(function(){
                var table = $(this).closest('table');
                if($(this).is(":checked")) {
                    table.find('td input[type="checkbox"]').prop('checked', true);
                }else{
                    table.find('td input[type="checkbox"]').prop('checked', false);
                }
            });
        });
    });
</script>