<?php
    use Twnepc\PamCompanies\Models\Settings as Settings;
    use Twnepc\PamCompanies\Models\CompanyPersonnelSection;

    $ps = CompanyPersonnelSection::where('company_id',$company_id)->get();
?>

<div >
	<a href="#"
        data-count="<?= count($ps);?>"
        data-control="popup"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-handler="<?= $this->getEventHandler('onLoadAddSection') ?>"
        class="btn btn-primary btn-sm oc-icon-plus" id="addPersonnelSectionBtn">Add Personnel Section</a>
        &nbsp;&nbsp;&nbsp;

    <a href="#"
        data-request-confirm="Are you sure you wish to delete selected sections?"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-request="<?= $this->getEventHandler('onRemoveSection') ?>"
        class="btn btn-primary btn-sm oc-icon-minus">Remove selected</a>
</div>
<div style="margin-top: 20px;" class="comment small">
    <?php echo Settings::get('key_personnel_text'); ?>
</div>

<script>
    if($('#addPersonnelSectionBtn').data('count') == 3)
    {
        $('#addPersonnelSectionBtn').css('display','none');
    }
</script>