#reorderRecords li {
    background: white;
    border: 1px solid #f5f5f5;
    padding: 10px;
    border-radius: 4px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}


#reorderRecords li .move {
    font-size: 20px;
    top: 3px;
    position: relative;
}


#reorderRecords li span {
    padding-top: 0px;
}

#reorderRecords .placeholder {
    
    width: 100%;
    height: 64px;
    background: #d2d2d2 !important;
}


#reorderRecords .placeholder:before {
    content:'' !important;
}
