.revisions table ,.  table {
    border-collapse: collapse;
    width: 100%;
}
.revisions table > tbody > tr > td {
    border: 1px solid #d0d9dd;
    text-align: center;
    padding: 6px;
}
.revisions table > tbody > tr > td:first-child, table > tbody > tr > th:first-child {
    
    text-align: left;
}
.revisions table > tbody > tr > th {
    border: 1px solid #d0d9dd;
    border-bottom: 1px solid #d0d9dd;
    text-align: center;
    padding: 6px;
    background-color: #d0d9dd;
    line-height: 28px;
}

#Form-field-Article-category-group input[id^="checkbox_Form-field-Article-category_"] + label {
    font-weight: normal;
}

#Form-field-Article-category-group input[id^="checkbox_Form-field-Article-category_"] + label span {
    font-weight: bold;
}