description = "Default layout"

[webpackAssets]
assetsFolder = "themes/company/assets"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pam Insight - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="PAM Insight">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
        <meta name="generator" content="PAM Insight">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1229218-9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-1229218-9');
        </script>


        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
        <link href="{{'assets/images/favicon.png' | theme}}" rel="shortcut icon" type="image/x-icon">
        <link href="{{'assets/images/favicon.png' | theme}}" rel="icon" type="image/ico">
        <!-- loqate code (temporary) -->
        <script>
        (function(n,t,i,r){var u,f;n[i]=n[i]||{},n[i].initial={
            accountCode:"PAMIN11111",
            host:"PAMIN11111.pcapredict.com"},
            n[i].on=n[i].on||function(){(n[i].onq=n[i].onq||[]).push(arguments)},u=t.createElement("script"),u.async=!0,
            u.src=r,f=t.getElementsByTagName("script")[0],f.parentNode.insertBefore(u,f)})(window,document,"pca","//PAMIN11111.pcapredict.com/js/sensor.js")
        </script>
        {{ webpackAssets.css | raw }}
        {% styles %}
    </head>
    <body class="active-dropdown page-{{ this.page.baseFileName }}">
        <!-- Header -->
        <header id="layout-header">
            {% partial 'header' %}
        </header>
        <!-- Content -->
        <section id="layout-content" class="main-content">
            {% page %}
        </section>
        <!-- Footer -->
        <footer class="footer">
            {% partial 'footer' %}
        </footer>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>
        {{ webpackAssets.js | raw }}
        {% scripts %}

    </body>
</html>