<div class="control-list list-unresponsive">
    <table id="sortFees" class="table data" data-control="">
        <thead>
        <tr>
            <th></th>
            <th class="list-checkbox">
                <div class="checkbox custom-checkbox nolabel">
                    <input type="checkbox" id="sortFees_checkboxAll" class="checkboxAll" />
                    <label for="sortFees_checkboxAll"></label>
                </div>
            </th>
            <th><a>Type of Charge</a></th>
            <th><a>Type of Fee</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($records as $record): ?>
        <tr>
            <td class="list-checkbox nolink">
                <i class="icon-align-justify"></i>
            </td>
            <td class="list-checkbox nolink">
                <div class="checkbox nolabel">
                    <input class="sortorder" type="hidden" name="cf_position[<?= $record->companyfee_id ?>]" value="<?= $record->cf_position ?>">
                    <input type="checkbox" name="ids[]" value="<?= $record->companyfee_id ?>">
                </div>
            </td>
            <td>
                <a  data-control="popup" data-request-data="company_id:'<?= $company_id ?>',fee_id:'<?=$record->companyfee_id?>'"
                    data-handler="<?= $this->getEventHandler('onLoadUpdateFee') ?>" href="#"><?=$record->getChargeByIndex($record->cf_charge);?></a>
            </td>
            <td>
                <?php if($record->feetype):?>
                <a  data-control="popup" data-request-data="company_id:'<?= $company_id ?>',fee_id:'<?=$record->companyfee_id?>'"
                    data-handler="<?= $this->getEventHandler('onLoadUpdateFee') ?>" href="#"><?=$record->feetype->cft_name;?></a>
                <?php endif;?>
            </td>
            <td class="column-button nolink">
                <a  data-control="popup" data-request-data="company_id:'<?= $company_id ?>',fee_id:'<?=$record->companyfee_id?>'"
                    data-handler="<?= $this->getEventHandler('onLoadUpdateFee') ?>" class="btn btn-default btn-sm" href="#">Edit</a>
            </td>
        </tr>
        <?php endforeach ?>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $('#sortFees').sortable({
            containerSelector: 'table',
            itemPath: '> tbody',
            itemSelector: 'tr',
            placeholder: '<tr class="placeholder"/>',
            onDrop: function  ($item, container, _super) {
                $(container.el).sortable("disable");
                $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                $("body").removeClass(container.group.options.bodyClass);

                $(container.el).find('.sortorder').each(function(key,input){
                    $(input).val(key+1);
                });
                $('form').request('onFeesSorted', {
                    success: function() {

                    },
                    complete: function(){
                        $(container.el).sortable("enable");
                    }
                })
            }
        });
        $('.checkboxAll').each(function(){
            var checkboxAll = $(this);
            checkboxAll.change(function(){
                var table = $(this).closest('table');
                if($(this).is(":checked")) {
                    table.find('td input[type="checkbox"]').prop('checked', true);
                }else{
                    table.find('td input[type="checkbox"]').prop('checked', false);
                }
            });
        });
    });
</script>