{% if not user %}

    <div class="row">

        <div class="col-md-12 register-wrapper">
        	<div class="page-title">
        		<h1>Register</h1>
        	</div>
            {% partial __SELF__ ~ '::register' %}
        </div>

    </div>

{% else %}

    <div class="row">

        <div class="col-md-12 account-wrapper">
            <div class="page-title">
                <h1>My Account</h1>
            </div>
            <div class="row">
                {% partial __SELF__ ~ '::activation_check' %}
                {% partial __SELF__ ~ '::update' %}
            </div>
        </div>
    </div>

{% endif %}