==
<?php
function onStart () {
    $this['countries'] = Rainlab\Location\Models\Country::all();

    $this['industries'] = Twnepc\User\Models\Industry::orderBy('industry_name','ASC')->get();
    $this['branch'] = Twnepc\Company\Models\Branch::find($this->user->branch_id);
    $this['usercategory'] = $this->user->category;
    $catids = [];
    foreach($this['usercategory'] as $c) {
        array_push($catids,$c->id);
    }

    $this['catids'] = $catids;

    $this['fav'] = DB::table('article_fav_user')
		->where('user_id',$this->user->id)
		->leftJoin('twnepc_news_articles as article','article.id','=','article_fav_user.article_id')
		->leftJoin('keios_multisite_settings as site','article.site_id','=','site.id')->get();

    $this['siteswithinterests'] = DB::table('keios_multisite_settings as site')
    ->select('interests.site_id','interests.parent_id','interests.is_hidden','site.id','site.theme','interests.id as categoryid','interests.name')
    ->where('interests.is_hidden',0)
    ->where('interests.parent_id',NULL)
    ->groupBy('site.id')
    ->leftJoin('twnepc_news_categories as interests','site.id','interests.site_id')
    ->get();

    $this['sitesallsubject'] =  DB::table('keios_multisite_settings as site')
    ->select('interests.site_id','interests.parent_id','interests.is_hidden','site.id','site.theme','interests.id as categoryid','interests.name','interests.identifier')
    ->where('interests.identifier','all-subjects')
    ->leftJoin('twnepc_news_categories as interests','site.id','interests.site_id')->get();

}
?>
==

    <div class="col-4">

        <div class="left-nav">
            
            <!-- Nav tabs -->
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="account-information-tab" data-toggle="list" href="#account-information" role="tab" aria-controls="account-information" aria-selected="true"><i class="fal fa-user"></i>Personal information</a>
                <a class="nav-link" id="account-address-tab" data-toggle="list" href="#account-address" role="tab" aria-controls="account-address" aria-selected="false"><i class="fal fa-map-marker"></i>My address</a>
                <a class="nav-link" id="account-interests-tab" data-toggle="list" href="#account-interests" role="tab" aria-controls="account-interests" aria-selected="false"><i class="fal fa-star"></i>My interests</a>
                <a class="nav-link" id="account-fav-tab" data-toggle="list" href="#account-fav" role="tab" aria-controls="account-fav" aria-selected="false"><i class="fal fa-heart"></i> My Favourites</a>
                <a class="nav-link" id="account-membership-tab" data-toggle="list" href="#account-membership" role="tab" aria-controls="account-membership" aria-selected="false"><i class="fal fa-check-circle"></i> My Memberships</a>
                <a class="nav-link" id="account-newsletter-tab" data-toggle="list" href="#account-newsletter" role="tab" aria-controls="account-newsletter" aria-selected="false"><i class="fal fa-envelope"></i>Newsletter subscription</a>
                <a class="nav-link" id="account-password-tab" data-toggle="list" href="#account-password" role="tab" aria-controls="account-password" aria-selected="false"><i class="fal fa-unlock"></i> Change password</a>
                <a class="nav-link" id="account-factor-tab" data-toggle="list" href="#account-factor" role="tab" aria-controls="account-factor" aria-selected="false"><i class="fal fa-shield-check"></i> Security</a>
                <a class="nav-link" id="account-leave-tab" data-toggle="list" href="#account-leave" role="tab" aria-controls="account-leave" aria-selected="false"><i class="fal fa-times-circle"></i> Leave Us</a>
                <a class="nav-link" href="#" data-request="onLogout" data-request-data="redirect: '/'"><i class="fal fa-sign-out"></i>Logout</span></a> 
            </div>

        </div>

    </div>
    
    <div class="col-8">

        <!-- Tab panes -->
        <div class="tab-content" id="v-pills-tabContent">
            

                <div class="tab-pane show active" id="account-information" role="tabpanel" aria-labelledby="account-information-tab">
                    {{ form_ajax('onUpdatePersonalInformation', { model: user, class: 'default-form', 'data-request-validate': true, 'data-request-flash': true }) }}
                    <h3>Personal information</h3>
                    
                    <div class="row">
                        <div class="col-xs-12 col-md-2 form-group">
                            <label for="accountSalutation">Salutation</label>
                            <select
                                name="salutation"
                                class="custom-select"
                                id="accountSalutation">
                                <option {{ user.salutation == 'Mr.' ? 'selected' }} value="Mr.">Mr.</option>
                                <option {{ user.salutation == 'Mrs.' ? 'selected' }} value="Mrs.">Mrs.</option>
                                <option {{ user.salutation == 'Ms.' ? 'selected' }} value="Ms.">Ms.</option>
                                <option {{ user.salutation == 'Dr.' ? 'selected' }} value="Dr.">Dr.</option>
                                <option {{ user.salutation == 'Other' ? 'selected' }} value="Other">Other</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-md-5 form-group required">
                            <label for="accountFirstName">First Name</label>
                            <input
                                name="name"
                                type="text"
                                class="form-control"
                                id="accountFirstName"
                                placeholder="Enter your first name"
                                value="{{user.name}}"
                                />
                            <div data-validate-for="name" style="visibility: hidden;" class="alert alert-danger">Please enter your first name</div>
                        </div>

                        <div class="col-xs-12 col-md-5 form-group required">
                            <label for="accountLastName">Last Name</label>
                            <input
                                name="surname"
                                type="text"
                                class="form-control"
                                id="accountLastName"
                                placeholder="Enter your last name"
                                value="{{user.surname}}" />
                            <div data-validate-for="surname" style="visibility: hidden;" class="alert alert-danger">Please enter your last name</div>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        
                        <div class="col-xs-12 col-md-6 form-group required">
                            <label for="accountEmail">Email</label>
                            <input 
                            name="email" 
                            type="email" 
                            class="form-control" 
                            id="accountEmail" 
                            value="{{ form_value('email') }}"
                            disabled/>
                            <div data-validate-for="email" style="visibility: hidden;" class="alert alert-danger">Please enter your email.</div>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        
                        <div class="col-xs-12 col-md-6 form-group required">
                            <label for="accountClassification">Classification (If you would like to change this please <a href="{{url('/')}}/contact" title="">contact us</a>.)</label>
                            <select
                                name="classification"
                                class="custom-select"
                                id="accountClassification" disabled>
                                <option {{ user.classification == 'Institutional' ? 'selected' }} value="Institutional">Institutional</option>
                                <option {{ user.classification == 'Professional' ? 'selected' }} value="Professional">Professional</option>
                                <option {{ user.classification == 'Retail' ? 'selected' }} value="Retail">Retail</option>
                            </select>
                            <div data-validate-for="classification" style="visibility: hidden;" class="alert alert-danger">Please enter your classification.</div>
                        </div>
                    
                    </div>

                    <div class="row">

                        <div class="col-xs-12 col-md-6 form-group required">
                            <label for="accountCompany">Company</label>
                            
                            {% if user.thecompany %}
                            <input
                                name="thecompany"
                                type="text"
                                class="form-control"
                                id="accountCompany"
                                placeholder="Enter your company"
                                value="{{user.thecompany.name}}"
                                disabled
                                />
                            <input
                                name="company"
                                type="hidden"
                                class="form-control"
                                id="accountCompany"
                                placeholder="Enter your company"
                                value="{{user.company}}"
                                />
                            {% else %}
                            <input
                                name="company"
                                type="text"
                                class="form-control"
                                id="accountCompany"
                                placeholder="Enter your company"
                                value="{{user.company}}"
                                />
                            {% endif %}
                            <div data-validate-for="company" style="visibility: hidden;" class="alert alert-danger"></div>
                        </div>
                        
                        <div class="col-xs-12 col-md-6 form-group required">
                            <label for="accountPosition">Position</label>
                            <input
                                name="position"
                                type="text"
                                class="form-control"
                                id="accountPosition"
                                placeholder="Enter your Position" 
                                value="{{user.position}}"
                                />
                            <div data-validate-for="position" style="visibility: hidden;" class="alert alert-danger">Please enter your position.</div>
                        </div>

                    </div>

                    <div class="row">
            
                        <div class="col-xs-12 col-md-6 form-group required">
                            <label for="accountTelephone2">Telephone</label>
                            <input
                                name="phone"
                                type="text"
                                class="form-control"
                                id="accountTelephone2" 
                                value="{{user.phone}}"
                                />
                            <div data-validate-for="phone" style="visibility: hidden;" class="alert alert-danger">Please enter your telphone number</div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label for="accountExt">Ext.</label>
                            <input
                                name="phone_ext"
                                type="text"
                                class="form-control"
                                id="accountExt"
                                value="{{user.phone_ext}}"
                                />
                        </div>
                        
                        
                    </div>
                    <input
                                name="fax"
                                type="hidden"
                                class="form-control"
                                id="registerFax"
                                value="{{user.fax}}"/>

                    <div class="row">

                        <div class="col-xs-12 col-md-6 form-group">
                            <label for="">Your gender</label>
                            <div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary {{ user.gender == 'male' ? 'active' }}">
                                        <input {{ user.gender == 'male' ? 'checked' }} type="radio" name="gender" id="accountGenderMale" value="male" autocomplete="off" > Male
                                    </label>
                                    <label class="btn btn-secondary {{ user.gender == 'female' ? 'active' }}">
                                        <input {{ user.gender == 'female' ? 'checked' }} type="radio" name="gender" id="accountGenderFemale" value="female" autocomplete="off"> Female
                                    </label>
                                    <div data-validate-for="gender" style="visibility: hidden;" class="alert alert-danger"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-12 register-bottom-info">
                            <p>Please tick if:</p>
            
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" {{ not user.contactby_pam ? 'checked' }} name="contacttruest" class="custom-control-input" id="contactTruest">
                                <label class="custom-control-label" for="contactTruest">You do not wish to receive information from Pam Insight and its' subsidiaries.</label>
                            </div>
                            <br>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" {{ user.contact_never ? 'checked' }} name="contactbusinesses" class="custom-control-input" id="contactBusinesses">
                                <label class="custom-control-label" for="contactBusinesses">You do not wish to receive information about products and services from other carefully selected companies which we believe will be of interest to you.</label>
                            </div>
                            <br>
                            <p>To learn more about our privacy policy, please click <a href="{{url('/')}}/privacy" title="">here</a>.</p>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    {{form_close()}}
                </div>

                <div class="tab-pane" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                    {% if not branch %}
                        {{ form_ajax('onUpdateMyAddress', { model: user, class: 'default-form', 'data-request-validate': true, 'data-request-flash': true }) }}
                            <h3>My address</h3>
                            <div class="row">

                                <div class="col-xs-12 col-md-6 form-group required">
                                    <label for="accountAddress">Address</label>
                                    <input
                                        name="street_addr"
                                        type="text"
                                        class="form-control"
                                        id="accountAddress"
                                        placeholder="Enter your address"
                                        value="{{user.street_addr}}"
                                        />
                                    <div data-validate-for="street_addr" style="visibility: hidden;" class="alert alert-danger"></div>
                                </div>

                                <div class="col-xs-12 col-md-6 form-group">
                                    <label for="accountAddressAdditional">Address Line 2</label>
                                    <input
                                        name="street_addr_2"
                                        type="text"
                                        class="form-control"
                                        id="accountAddressAdditional"
                                        value="{{user.street_addr_2}}"
                                        />
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-md-6 form-group">
                                    <label for="accountAddressAdditional2">Address Line 3</label>
                                    <input
                                            name="street_addr_3"
                                            type="text"
                                            class="form-control"
                                            id="accountAddressAdditional2"
                                            value="{{user.street_addr_3}}"
                                    />
                                </div>

                                <div class="col-xs-12 col-md-6 form-group required">
                                    <label for="accountCity">City</label>
                                    <input
                                        name="city"
                                        type="text"
                                        class="form-control"
                                        id="accountCity"
                                        placeholder="Enter your City"
                                        value="{{user.city}}"
                                        />
                                    <div data-validate-for="city" style="visibility: hidden;" class="alert alert-danger">Please enter your city</div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-md-6 form-group">
                                    <label for="accountCounty">Town / County / State </label>
                                    <input
                                        name="county"
                                        type="text"
                                        class="form-control"
                                        id="accountCounty"
                                        placeholder="Enter your Town, County or State"
                                        value="{{user.user_state}}"
                                        />
                                </div>

                                <div class="col-xs-12 col-md-6 form-group required">
                                    <label for="branchZip">Postcode</label>
                                    <input
                                            name="zip"
                                            type="text"
                                            class="form-control"
                                            id="accountZip"
                                            placeholder="Enter your Postcode"
                                            value="{{user.zip}}"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 form-group required">
                                    <label for="accountCountry">Country</label>
                                    <select
                                        name="country_id"
                                        class="custom-select"
                                        id="accountCountry">
                                        <option value="">Select your country</option>
                                        {% for country in countries %}
                                        <option {{user.country_id == country.id ? 'selected'}} value="{{country.id}}">{{country.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div data-validate-for="country_id" style="visibility: hidden;" class="alert alert-danger"></div>
                                </div>

                            </div>
                            <div class="actions">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        {{form_close()}}
                    {% else %}
                        <h3>Office Address</h3>

                        <div class="default-form">
                            
                            <div class="row">
                                <div class="col-xs-12 col-md-6 form-group">
                                    <label for="branchAddress">Address</label>
                                    <input
                                            readonly
                                            name="branch_address1"
                                            type="text"
                                            class="form-control"
                                            id="branchAddress"
                                            placeholder="Enter your address"
                                            value="{{branch.branch_address1}}"
                                    />
                                </div>

                                <div class="col-xs-12 col-md-6 form-group">
                                    <label for="branchAddress2">Address Line 2</label>
                                    <input
                                            readonly
                                            name="branch_address2"
                                            type="text"
                                            class="form-control"
                                            id="branchAddress2"
                                            placeholder="-"
                                            value="{{branch.branch_address2}}"
                                    />
                                </div>
                                
                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-md-6 form-group">
                                    <label for="branchAddress2">Address Line 3</label>
                                    <input
                                            readonly
                                            name="branch_address3"
                                            type="text"
                                            class="form-control"
                                            id="branchAddress3"
                                            placeholder="-"
                                            value="{{branch.branch_address3}}"
                                    />
                                </div>

                                <div class="col-xs-12 col-md-6 form-group">
                                    <label for="branchCity">City</label>
                                    <input
                                            readonly
                                            name="branch_city"
                                            type="text"
                                            class="form-control"
                                            id="branchCity"
                                            placeholder="-"
                                            value="{{branch.branch_city}}"
                                    />
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xs-12 col-md-6 form-group">
                                    <label for="branchRegion">Town / County / State</label>
                                    <input
                                            readonly
                                            name="branch_region"
                                            type="text"
                                            class="form-control"
                                            id="branchRegion"
                                            placeholder="-"
                                            value="{{branch.branch_region}}"
                                    />
                                </div>

                                <div class="col-xs-12 col-md-6 form-group">
                                    <label for="branchZip">Postcode</label>
                                    <input
                                            readonly
                                            name="branch_zip"
                                            type="text"
                                            class="form-control"
                                            id="branchZip"
                                            placeholder="-"
                                            value="{{branch.branch_zip}}"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 form-group required">
                                    <label for="branchCountry">Country</label>
                                    <select
                                            disabled="disabled"
                                            name="country_id"
                                            class="custom-select"
                                            id="branchCountry">
                                        <option value="">Select your country</option>
                                        {% for country in countries %}
                                        <option {{branch.country_id == country.id ? 'selected'}} value="{{country.id}}">{{country.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="tab-pane" id="account-interests" role="tabpanel" aria-labelledby="account-interests-tab">
                    <h3>My interests</h3>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                       {%for i in siteswithinterests%}
                            <li class="nav-item">
                                <a class="nav-link {{i.id == site.id ? 'active': ''}}" id="{{i.theme}}-tab" data-toggle="tab" href="#{{i.theme}}" role="tab" aria-controls="home" aria-selected="true">
                                    {{i.theme}}
                                </a>
                            </li>
                       {%endfor%}
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        {{ form_ajax('onUpdateMyInterests', { model: user, class: 'default-form', 'data-request-validate': true, 'data-request-flash': true }) }}
                        <input type="hidden" name="category" value="0">
                        {%for s in siteswithinterests%}
                            <div style="margin-top: 20px;" class="tab-pane fade {{s.id == site.id ? 'active show': ''}}" id="{{s.theme}}" role="tabpanel" aria-labelledby="{{s.theme}}-tab">
                                    <div class="row interests-wrapper">
                                            <div class="col">
                                                {%for as in sitesallsubject %}
                                                    {% if as.id == s.id %}
                                                        <div class="interest custom-control custom-checkbox all-subjects site-{{s.id}}" data-site="{{s.id}}">
                                                            <input type="checkbox" {% if as.categoryid in catids %} checked{% endif %} class="custom-control-input" value="{{as.categoryid}}" name="category[]" id="interests{{as.categoryid}}">
                                                            <label class="custom-control-label" for="interests{{as.categoryid}}">{{as.name}}</label>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}

                                                {{ block.getAllInterests(s,catids) | raw }}
                                            </div>
                                    </div>
                            </div>
                        {%endfor%}
                        <div class="actions">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        {{form_close()}}
                    </div>
                </div>
                
                <div class="tab-pane" id="account-fav" role="tabpanel" aria-labelledby="account-fav-tab">
                    <ul id="favs" class="favs">
                        {% partial 'account::favourite'  %}
                    </ul>
                </div>

                <div class="tab-pane" id="account-membership" role="tabpanel" aria-labelledby="account-membership-tab">
                    <h4>Membership List</h4>
                    {% if memberships|length == 0 and cmemberships|length == 0 and dmemberships|length == 0 %}
                        <p>No membership.</p>
                    {% endif %}
                    {% if memberships|length > 0 %}
                    <h4>My Memberships</h4>
                    <table class="membership">
                        {% for membership in memberships %}
                        <tr><td class="membership-name"><strong>Name:</strong></td><td class="membership-name">{{membership.subscription.name}}</td></tr>
                        <tr><td><strong>Status:</strong></td><td> {{membership.status}}</td></tr>
                        <tr><td><strong>Started at:</strong></td><td> {{membership.start_date|date('d/m/Y')}}</td></tr>
                        <tr><td><strong>Ends on:</strong></td><td> {{membership.end_date|date('d/m/Y')}}</td></tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% if cmemberships|length > 0 %}
                    <br><br>
                    <h4>Company Membership</h4>
                    <table class="membership">
                        {% for membership in cmemberships %}
                        <tr><td class="membership-name"><strong>Name:</strong></td><td class="membership-name">{{membership.subscription.name}}</td></tr>
                        <tr><td><strong>Status:</strong></td><td> {{membership.status}}</td></tr>
                        <tr><td><strong>Started at:</strong></td><td> {{membership.start_date|date('d/m/Y')}}</td></tr>
                        <tr><td><strong>Ends on:</strong></td><td> {{membership.end_date|date('d/m/Y')}}</td></tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                    {% if dmemberships|length > 0 %}
                    <br><br>
                    
                    <h4>Branch Membership</h4>
                    
                    <table class="membership">
                        {% for membership in dmemberships %}
                        <tr><td class="membership-name"><strong>Name:</strong></td><td class="membership-name">{{membership.subscription.name}}</td></tr>
                        <tr><td><strong>Status:</strong></td><td> {{membership.status}}</td></tr>
                        <tr><td><strong>Started at:</strong></td><td> {{membership.start_date|date('d/m/Y')}}</td></tr>
                        <tr><td><strong>Ends on:</strong></td><td> {{membership.end_date|date('d/m/Y')}}</td></tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>

                <div class="tab-pane newsletter-wrapper" id="account-newsletter" role="tabpanel" aria-labelledby="account-newsletter-tab">

                    <h3>Newsletter subscription</h3>
                    
                    <div>I wish to receive email updates from:</div>

                    <div class="newsletter-label">the<strong>wealth</strong>net</div>
                        <div class="row">
                            {%component 'newslettersignuptwn'%}
                        </div>
                        
                        <div class="newsletter-label">e<strong>private</strong>client</div>
                        <div class="row">
                            {%component 'newslettersignupepc'%}
                        </div>
                        
                        <div class="newsletter-label">fundeye</div>
                        <div class="row">
                            {%component 'newslettersignupfundeye'%}
                        </div>

                </div>
                <div class="tab-pane" id="account-password" role="tabpanel" aria-labelledby="account-password-tab">

                    {{ form_ajax('onUpdatePasswordAndMail', { model: user, class: 'default-form', 'data-request-validate': true, 'data-request-flash': true }) }}
                    <h3>Change password</h3>

                    <div class="row">
                    
                        <div class="col-xs-12 col-md-6 form-group">
                            <label for="accountPassword">New Password</label>
                            <input name="password" type="password" class="form-control" id="accountPassword">
                            <div data-validate-for="password" style="visibility: hidden;" class="alert alert-danger">Password must contain at least uppercase letter, digit and a minimum of 8 characters.</div>
                        </div>

                        <div class="col-xs-12 col-md-6 form-group">
                            <label for="accountPasswordConfirm">Confirm New Password</label>
                            <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
                            <div data-validate-for="password_confirmation" style="visibility: hidden;" class="alert alert-danger">Please confirm your password.</div>
                        </div>

                    </div>
                    <div class="actions">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    {{form_close()}}
                </div>
                <div class="tab-pane" id="account-factor" role="tabpanel" aria-labelledby="account-factor-tab">
                    <div class="two-factor-wrapper">
                        <h4>Security</h4>
                        {% component 'twoFactorActivate' %}
                    </div>
                </div>
                <div class="tab-pane" id="account-leave" role="tabpanel" aria-labelledby="account-leave-tab">
                    <h4>Leave us</h4>
                    {% partial __SELF__ ~ '::deactivate_link' %}
                </div>
                

        </div>
        
       
    </div>
