<form data-request="{{ __SELF__ }}::onSignup" data-request-update="'{{__SELF__}}::result': '#result'">
    <input name="email" type="email" id="newsletter" class="form-control" placeholder="E-mail" required>
    <button class="btn" title="Sign up" type="submit"><span>Sign up</span></button>
    <div id="result"></div>
</form>