<h3 style="padding: 15px;">User Logins</h3>
<?=$this->listRender('throttle')?>
<h3 style="padding: 15px;">Pam Logs</h3>
<?=$this->listRender('logs')?>
<h3 style="padding: 15px;">Pam Reviews</h3>
<?=$this->listRender('reviews')?>

