<div class="control-list list-unresponsive">
    <table id="" class="table data" data-control="">
        <tbody>
            <tr>
                <td>Advisory Minimum Portfolio Size</td>
                <td>£ <?= $advmin;?></td>
            </tr> 
            <tr>
                <td>Discretionary Minimum Portfolio Size</td>
                <td>£ <?= $discmin;?></td> 
            </tr>       
        </tbody>
    </table>
</div>
<style>
    strong{
        font-weight: bolder !important;
    }
</style>