$baseFont: 'Montserrat', sans-serif;
$specialFont: 'Roboto', sans-serif;
$text: #000000;
$fontSize: 15px;

$primary: #0053a1; // Blue
$primaryLight: #1377d4;
$secondary: #04b6dd; //Light blue
$secondaryLight: #a4ecfc;
$selected: #98ff98;  // Green
$grayBg: #EEE;
$gray: #555;
$placeholderBg: #467DB0;
$blue: #297fca;
$error: #721c24;
