<div id="Lists" class="control-list">
    <table class="table data">
        <tbody>
        <tr>
            <td>Total Site Hits (including home page)</td>
            <td><?=$data['total_site_hits_1']?></td>
        </tr>
        <tr>
            <td>Total Site Hits (excluding home page)</td>
            <td><?=$data['total_site_hits_2']?></td>
        </tr>
        <tr>
            <td>No. of Basic Searches - PAM</td>
            <td><?=$data['basic_search_1']?></td>
        </tr>
        <tr>
            <td>No. of Basic Searches - Private Investor</td>
            <td><?=$data['basic_search_2']?></td>
        </tr>
        <tr>
            <td>No. of Basic Searches - Professional Advisors</td>
            <td><?=$data['basic_search_3']?></td>
        </tr>
        <tr>
            <td>No. of Advanced Searches - PAM</td>
            <td><?=$data['advanced_search_1']?></td>
        </tr>
        <tr>
            <td>No. of Advanced Searches - Private Investor</td>
            <td><?=$data['advanced_search_2']?></td>
        </tr>
        <tr>
            <td>No. of Advanced Searches - Professional Advisors</td>
            <td><?=$data['advanced_search_3']?></td>
        </tr>
        <tr>
            <td>Total Searches - PAM</td>
            <td><?=$data['total_search_1']?></td>
        </tr>
        <tr>
            <td>Total Searches - Private Investor</td>
            <td><?=$data['total_search_2']?></td>
        </tr>
        <tr>
            <td>Total Searches - Professional Advisors</td>
            <td><?=$data['total_search_3']?></td>
        </tr>
        <tr>
            <td>No. of Reviews/Ratings (registered only)</td>
            <td><?=$data['reviews_ratings']?></td>
        </tr>
        <tr>
            <td>No. of Follow actions (registered only)</td>
            <td><?=$data['follow']?></td>
        </tr>
        <tr>
            <td>No. of Un-Follow actions (registered only)</td>
            <td><?=$data['unfollow']?></td>
        </tr>
        <tr>
            <td>No. of views of unique PAM entries (registered only)</td>
            <td><?=$data['unique_pam_views']?></td>
        </tr>
        </tbody>
    </table>
</div>