<div id="feedback_action">
    <?php if($feedback): ?>
    <button
            data-control="popup"
            data-request-data=""
            data-handler="<?= $this->getEventHandler('onLoadUpdateFeedback') ?>"
            type="button" class="btn btn-primary">Feedback</button>
    <?php else: ?>
    <button
            data-control="popup"
            data-request-data=""
            data-handler="<?= $this->getEventHandler('onLoadAddFeedback') ?>"
            type="button" class="btn btn-primary">Add Feedback</button>
    <?php endif;?>
</div>