<style type="text/css">
    .select2-container {
        width: 100% !important;
        display: block;
    }

    .select-article .select2-container--default .select2-selection--multiple .select2-selection__choice {
        float: none !important;
    }
</style>
<div class="select-company">
    <label class="custom-label" for="siteselect">Select Articles</label>
    <select class="s2" name="articles" multiple class="form-control"  data-request="onChangeArticle">
        
    </select>
    </div>

<?= Form::open(['class'=>'layout-relative dashboard-container']) ?>
<div id="reportReportContainer" class="report-container loading">

    <!-- Loading -->
    <div class="loading-indicator-container">
        <div class="loading-indicator indicator-center">
            <span></span>
            <div><?= e(trans('backend::lang.list.loading')) ?></div>
        </div>
    </div>

</div>
<?= Form::close() ?>

<script>
$(document).ready(function() {
    $.request('onInitReportContainer').done(function() {
        $('#reportReportContainer').removeClass('loading')
    })

    <?php if(isset($_GET['id'])):; ?>

    $.ajax({
        url: '<?= Backend::url("twnepc/report/articlefiltered/onPreFilter") ?>',
        method: 'post',
        data: {
            id: <?php echo $_GET["id"] ?>,
        },
        success: function(resp) {

                console.log(resp.results[0].text);
                var newOption = new Option(resp.results[0].text,resp.results[0].id, true, true);
                $('.s2').append(newOption).trigger('change');            
        }
    });

    <?php endif;?>
})

$(document).on('render', function(){
    $('.s2').select2({

        placeholder: 'Search for Articles',
        tags: false,
        minimumInputLength: 3,
        allowClear: false,
        ajax: {
            url: '<?= Backend::url("twnepc/report/articlefiltered/onFilter") ?>',
            dataType: 'json',
            method: 'post',
            delay: 250,
            data: function (params) {
                var query = {
                    search: params.term,
                    reason: 'related',
                    site_id: $('#Form-field-Article-site').val()
                }

                // Query parameters will be ?search=[term]&type=public
                return query;
            }
        }

    });
})
</script>
