body.dragging, body.dragging * {
    cursor: move !important
}
.icon-align-justify{
    cursor: move !important
}
.dragged {
    position: absolute; opacity: 0.5; z-index: 2000;
}
#sortOffices li.placeholder {
    position: relative;
}
.sortableRecords{
    list-style: none;
}