{%if subcategories|length > 0 %}
    <div class="subcategories">
        <h4>Subcategories</h4>
        <ul>
            {% for cat in subcategories %}
                <li><a href="{{url('/')}}/news/{{cat.identifier}}">{{cat.name}}</a></li>
            {%endfor%}
        </ul>
    </div>
{% endif %}