{% set popular = __SELF__.popular %}
{% set favourite = __SELF__.favourite %}

{% if popular.count or favourite.count %}
<div class="stories-wrapper">
    <ul class="nav nav-tabs" id="storyTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Most Popular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="favourites" aria-selected="false">Favourites</a>
        </li>
    </ul>

    <div class="tab-content" id="storyTabContent">
        <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
            <ul class="storylist">
                {% for p in popular %}
                <li class="item"><a href="{{url('/')}}/article/{{p.slug}}" title="{{p.title}}">{{p.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">
            <ul class="storylist">
                {% if favourite.count %}
                    {% for f in favourite %}
                        <li class="item"><a href="{{url('/')}}/article/{{f.slug}}" title="{{f.title}}">{{f.title}}</a></li>
                    {% endfor %}
                {% else %}
                    <li class="item">You have no favourite article.</li>
                {% endif %}
            </ul></a>
        </div>
    </div>
    <a href="{{url('/')}}/news" class="more-stories">
        <i class="fas fa-th"></i>
        <span>See all main stories</span>
    </a>
</div>
{% endif %}  