<div class="form-group span-left">
    <a class="btn btn-primary" target="_blank" href="<?php echo url('backend/twnepc/pamcompanies/companies/update/'.$model->company_id)?>"><?=$model->company->c_companyname;?></a>
</div>