<?php
use Twnepc\Awards\Models\Award;
$activeAward = Award::getActiveAward();
$data = [];
$data['prev_year'] = $activeAward->year->ay_year - 2;
$data['curr_year'] = $activeAward->year->ay_year - 1;
?>
<div class="form-group section-field" style="padding-bottom: 0px; margin-top: 30px;">
    <div class="field-section">
        <h4><?=$this->parse_html($field->config['text'],$data)?></h4>
    </div>
</div>