<?php
$openedYear = $model->getCurrentOpenedYear();
$data = [];
$data['prev_year'] = $openedYear-2;
$data['curr_year'] = $openedYear-1;
?>
<div class="form-group section-field" style="padding-bottom: 0px; margin-top: 30px;">
    <div class="field-section">
        <h4><?=$this->parse_html($field->config['text'],$data)?></h4>
    </div>
</div>