<?php
$func = function($html, $args){
    foreach($args as $key => $val) $html = str_replace("%[$key]", $val, $html);
    return $html;
};
$data = [];
$data['curr_year'] = $model->year->ay_year -1;
$data['prev_year'] = $model->year->ay_year -2;
?>
<div class="form-group section-field" style="padding-bottom: 0px; margin-top: 30px;">
    <div class="field-section">
        <h4><?=$func($field->config['text'],$data)?></h4>
    </div>
</div>