<div class="control-list list-unresponsive products">
<h3>UK Offices</h3>
<table class="table data">
                <tr>
                    <th>Name/Address</th>
                    <th>Country</th>
                    <th>Town</th>
                    <th>Postcode</th>
                    <th>Contact Name</th>
                    <th>Job Title</th>
                    <th>Telephone</th>
                    <th>Fax</th>
                    <th>Email</th>
                    <th>Website</th>
                </tr>
    <?php foreach($offices as $o):;?>
        <?php if($o->o_directory):; ?>
            
                <tr>
                    <td><?= $o->o_address1;?> - <?= $o->o_address2;?> <?= $o->o_address3;?></td>
                    <td><?= $o->country->country_name;?></td>
                    <td><?= $o->o_town;?></td>
                    <td><?= $o->o_postcode;?></td>
                    <td><?= $o->o_contactname;?></td>
                    <td><?= $o->o_contactjobtitle;?></td>
                    <td><?= $o->o_telephone;?></td>
                    <td><?= $o->o_fax;?></td>
                    <td><?= $o->o_emailaddress;?></td>
                    <td><?= $o->o_website;?></td>
                </tr>
            
        <?php endif;?>
    <?php endforeach;?>
    </table>
<h3>Other UK and Crown Dependency Offices</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Town</th>
    </tr>
    <?php foreach($offices as $o):;?>
        <?php if(strpos(strtolower($o->o_address1),'other uk and crown dependency offices in') !== false):; ?>
            
                <tr>
                    <td><?= $o->o_address1;?></td>
                    
                    <td><?= $o->o_town;?></td>
                    
                </tr>
            
        <?php endif;?>
    <?php endforeach;?>
</table>
<h3>Other International Offices</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Town</th>
    </tr>
    <?php foreach($offices as $o):;?>
        <?php if(strpos(strtolower($o->o_address1),'other international offices in') !== false):; ?>
            
                <tr>
                    <td><?= $o->o_address1;?></td>
                    
                    <td><?= $o->o_town;?></td>
                    
                </tr>
            
        <?php endif;?>
    <?php endforeach;?>
</table>
</div>
<style>
    strong{
        font-weight: bolder !important;
    }
    
   
</style>