<div data-control="toolbar">
        <a href="<?= Backend::url('twnepc/pamcompanies/companies/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a> 
</div>
