<div id="Lists" class="control-list">

    <h3 style="padding: 15px;">General</h3>
    <table class="table data">
        <tbody>
        <tr>
            <td>Appeared In Search Results</td>
            <td><?=$data['general']['appeared_in_search']?></td>
        </tr>
        <tr>
            <td>Average Position in search results</td>
            <td><?=$data['general']['avg_position']?></td>
        </tr>
        <tr>
            <td>Added to favourites</td>
            <td><?=$data['general']['added_favorites']?></td>
        </tr>
        <tr>
            <td>Currently in favourites</td>
            <td><?=$data['general']['curr_favorites']?></td>
        </tr>
        <tr>
            <td>Contact requests made</td>
            <td><?=$data['general']['contact_request']?></td>
        </tr>
        <tr>
            <td>Linked to website</td>
            <td><?=$data['general']['link_to_web']?></td>
        </tr>
        <tr>
            <td>Entry Viewed</td>
            <td><?=$data['general']['entry_viewed']?></td>
        </tr>
        <tr>
            <td>Number of page views (tabs i.e intro, kcd etc)</td>
            <td><?=$data['general']['num_page_views']?></td>
        </tr>
        </tbody>
    </table>

    <h3 style="padding: 15px;">Entry Pageviews</h3>
    <table class="table data">
        <tbody>
        <tr>
            <td>Introduction to firm</td>
            <td><?=$data['views']['introduction']?></td>
        </tr>
        <tr>
            <td>History</td>
            <td><?=$data['views']['history']?></td>
        </tr>
        <tr>
            <td>Investment Philosophy</td>
            <td><?=$data['views']['philosophy']?></td>
        </tr>
        <tr>
            <td>Disclaimer</td>
            <td><?=$data['views']['disclaimer']?></td>
        </tr>
        <tr>
            <td>Key Corporate Data</td>
            <td><?=$data['views']['corporate']?></td>
        </tr>
        <tr>
            <td>Investment Platforms</td>
            <td><?=$data['views']['platforms']?></td>
        </tr>
        <tr>
            <td>Questions and Answers</td>
            <td><?=$data['views']['questions']?></td>
        </tr>
        <tr>
            <td>Products and services</td>
            <td><?=$data['views']['products']?></td>
        </tr>
        <tr>
            <td>Main offices</td>
            <td><?=$data['views']['offices']?></td>
        </tr>
        <tr>
            <td>Main shareholders</td>
            <td><?=$data['views']['shareholders']?></td>
        </tr>
        <tr>
            <td>Asset Classes</td>
            <td><?=$data['views']['assets']?></td>
        </tr>
        <tr>
            <td>Key Personal</td>
            <td><?=$data['views']['personnel']?></td>
        </tr>
        <tr>
            <td>Fees and charges</td>
            <td><?=$data['views']['charges']?></td>
        </tr>
        <tr>
            <td>Articles and press cuttings</td>
            <td><?=$data['views']['articles']?></td>
        </tr>
        <tr>
            <td>Publications</td>
            <td><?=$data['views']['publications']?></td>
        </tr>
        <tr>
            <td>News</td>
            <td><?=$data['views']['news']?></td>
        </tr>
        <tr>
            <td>Investment Commentary</td>
            <td><?=$data['views']['commentary']?></td>
        </tr>
        <tr>
            <td>Minimum Thresholds</td>
            <td><?=$data['views']['thresholds']?></td>
        </tr>
        </tbody>
    </table>
</div>