<br /><br /><br />
<div class="control-filter" data-control="filterwidget" data-options-handler="onFilterOptions" data-update-handler="onFilterOptionsUpdate">


    <!-- Group -->
    <a href="javascript:;" class="filter-scope" data-scope-name="types" data-trigger-condition="" data-trigger-action="">
        <span class="filter-label">Types:</span>
        <span class="filter-setting">all</span>
    </a>

    <!-- Group -->
    <a href="javascript:;" class="filter-scope" data-scope-name="pams" data-trigger-condition="" data-trigger-action="">
        <span class="filter-label">Companies:</span>
        <span class="filter-setting">all</span>
    </a>

    <a
        class="filter-scope-date range"
        href="javascript:;"
        data-scope-name="dates"
        data-trigger="filter"
        data-trigger-condition=""
        data-trigger-action="test()"
        data-scope-data="<?= e(json_encode([
            'dates' =>  [isset($after) ? $after : null, isset($before) ? $before : null],
            'minDate' => '2000-01-01',
            'maxDate' => '2099-12-31',
        ]))
        ?>">
        <span class="filter-label">Date range:</span>
        <span class="filter-setting"><?= isset($afterStr) && isset($beforeStr) ? ($afterStr . ' ? ' . $beforeStr) : e(trans('backend::lang.filter.date_all')) ?></span>
    </a>
    <?php

    $today = [];
    $today['dates'] = [];
    $today['dates'][] = date('Y-m-d H:i:s', strtotime('-1 day'));
    $today['dates'][] = date('Y-m-d H:i:s', time());

    $yesterday = [];
    $yesterday['dates'] = [];
    $yesterday['dates'][] = date('Y-m-d H:i:s', strtotime('-2 day'));
    $yesterday['dates'][] = date('Y-m-d H:i:s', strtotime('-1 day'));

    $week = [];
    $week['dates'] = [];
    $week['dates'][] = date('Y-m-d H:i:s', strtotime('-1 week'));
    $week['dates'][] = date('Y-m-d H:i:s', time());

    $month = [];
    $month['dates'] = [];
    $month['dates'][] = date('Y-m-d H:i:s', strtotime('-1 month'));
    $month['dates'][] = date('Y-m-d H:i:s', time());

    $month_3 = [];
    $month_3['dates'] = [];
    $month_3['dates'][] = date('Y-m-d H:i:s', strtotime('-3 month'));
    $month_3['dates'][] = date('Y-m-d H:i:s', time());

    $month_6 = [];
    $month_6['dates'] = [];
    $month_6['dates'][] = date('Y-m-d H:i:s', strtotime('-6 month'));
    $month_6['dates'][] = date('Y-m-d H:i:s', time());

    $month_12 = [];
    $month_12['dates'] = [];
    $month_12['dates'][] = date('Y-m-d H:i:s', strtotime('-12 month'));
    $month_12['dates'][] = date('Y-m-d H:i:s', time());

?>
    <button href="javascript:;"
            data-request="onFilterOptionsUpdate"
            data-request-success="updateDateRangeAttr(this,<?=e(json_encode($today))?>)"
            data-request-data="<?= e(json_encode([
            'scopeName' =>  'dates',
            'options' => $today
        ]))?>"
            class="date-btn btn btn-primary btn-sm">Today</button>
    <button href="javascript:;"
            data-request="onFilterOptionsUpdate"
            data-request-success="updateDateRangeAttr(this,<?=e(json_encode($yesterday))?>)"
            data-request-data="<?= e(json_encode([
            'scopeName' =>  'dates',
            'options' => $yesterday
        ]))?>"
            class="date-btn btn btn-primary btn-sm">Yesterday</button>

    <button href="javascript:;"
            data-request="onFilterOptionsUpdate"
            data-request-success="updateDateRangeAttr(this,<?=e(json_encode($week))?>)"
            data-request-data="<?= e(json_encode([
            'scopeName' =>  'dates',
            'options' => $week
        ]))?>"
            class="date-btn btn btn-primary btn-sm">Last 7 days</button>

    <button href="javascript:;"
            data-request="onFilterOptionsUpdate"
            data-request-success="updateDateRangeAttr(this,<?=e(json_encode($month))?>)"
            data-request-data="<?= e(json_encode([
            'scopeName' =>  'dates',
            'options' => $month
        ]))?>"
            class="date-btn btn btn-primary btn-sm">Last 30 days</button>

    <button href="javascript:;"
            data-request="onFilterOptionsUpdate"
            data-request-success="updateDateRangeAttr(this,<?=e(json_encode($month_3))?>)"
            data-request-data="<?= e(json_encode([
            'scopeName' =>  'dates',
            'options' => $month_3
        ]))?>"
            class="date-btn btn btn-primary btn-sm">Last 3 month</button>

    <button href="javascript:;"
            data-request="onFilterOptionsUpdate"
            data-request-success="updateDateRangeAttr(this,<?=e(json_encode($month_6))?>)"
            data-request-data="<?= e(json_encode([
            'scopeName' =>  'dates',
            'options' => $month_6
        ]))?>"
            class="date-btn btn btn-primary btn-sm">Last 6 month</button>

    <button href="javascript:;"
            data-request="onFilterOptionsUpdate"
            data-request-success="updateDateRangeAttr(this,<?=e(json_encode($month_12))?>)"
            data-request-data="<?= e(json_encode([
            'scopeName' =>  'dates',
            'options' => $month_12
        ]))?>"
            class="date-btn btn btn-primary btn-sm">Last 12 month</button>
    <script>
        function updateDateRangeAttr(elem,dates){
            if(!dates.dates)
                return;
            if(!dates.dates[0] && !dates.dates[1])
                return;
            var filter = $(elem).closest('.control-filter');
            var html = dates.dates[0]+" &rightarrow; "+dates.dates[1];
            $(filter).find('.filter-scope-date .filter-setting').html(html);
            $(filter).find('.filter-scope-date').addClass('active');
        }
    </script>
</div>
<?php echo $this->makePartial('list', $data);?>
<br /><br /><br />
