

.small-banner img {
    max-width: 135px;
    margin-right: 5%;
    margin-left: 0;
}

.small-banner p{
    color: white;
    font-size: 0.8667rem;
    font-family: "Roboto", sans-serif;
    line-height: 140%;
    padding-top: 15px;
    margin-bottom: 5px;
}

.small-banner a{
    font-size: 0.8667rem;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: white;
    text-decoration: none;
    position: relative;
}