<?php
	Use Twnepc\Awards\Models\AwardInvestment;
	Use Twnepc\Awards\Models\AwardYear;
	Use Twnepc\Awards\Models\Award;
?>
<div class="form-preview">
    <?php 
    	$config = $this->makeConfig('$/twnepc/awards/models/awardinvestment/fields.yaml');
    	$company_id = $this->vars['formModel']['company_id'];
    	$awardID = $this->vars['formModel']['award_id'];

    	$award = Award::find($awardID);
        //dd($award);
    	$query = AwardInvestment::where('awardyear_id', $award->awardyear_id)->where('company_id', $company_id)->first();
    	
    	if($query)
    	{
	    	$config->model = $query;
	    	
	    	$config->context = 'update';

	       	$form = $this->makeWidget('Backend\Widgets\Form', $config);
	    	$form->previewMode = true;

	       	echo $form->render();
       	}
       	else{
       	?>
       	<p>No Data submitted yet!</p>
       	<?php
       	}
    	
    ?>
</div>