<!--
{% if canRegister %}
    <h3>Register</h3>
    <form
        data-request="onRegister">
        <div class="form-group">
            <label for="registerName">Full Name</label>
            <input
                name="name"
                type="text"
                class="form-control"
                id="registerName"
                placeholder="Enter your full name" />
        </div>

        <div class="form-group">
            <label for="registerEmail">Email</label>
            <input
                name="email"
                type="email"
                class="form-control"
                id="registerEmail"
                placeholder="Enter your email" />
        </div>

        {% if loginAttribute == "username" %}
            <div class="form-group">
                <label for="registerUsername">Username</label>
                <input
                    name="username"
                    type="text"
                    class="form-control"
                    id="registerUsername"
                    placeholder="Enter your username" />
            </div>
        {% endif %}

        <div class="form-group">
            <label for="registerPassword">Password</label>
            <input
                name="password"
                type="password"
                class="form-control"
                id="registerPassword"
                placeholder="Choose a password" />
        </div>

        <button type="submit" class="btn btn-default">Register</button>
    </form>
{% else %}
    -- Registration is disabled. --
{% endif %}
-->


<style>

    .ui-autocomplete {

        z-index: 9999;

    }

</style>

<form id="registration-form" data-success-title="Thank you for registering with PAMonline!"

      data-success-text="You should now receive an email asking you to verify your email address.  If you do not receive this email, please call +44 (0)20 7967 1608  for assistance.">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-mod">

            <div>

                <p class="form-control-invalid-text">Please choose type</p>



                <div class="styled-select">

                    <select name="role" id="role" class="validate">

                        <option value='' selected>Select User Type</option>

                    {% for role in account.allowedRoles() %}
                        <!-- role != 2 and role != 6 -->
			{% if (role != 8 and role != 12) %}

                        <option value="{{ role }}" >{{ roles[role] }}</option>

			{% endif %}

                    {% endfor %}

                    </select>

                </div>

            </div>

            <div>

                <p class="form-control-invalid-text">Please enter salutation</p>

                <div class="styled-select">

                    <select name="salutation" id="salutation" class="validate">

                        <option value='' selected>Select salutation</option>

                        {% for salutation in account.getSalutations() %}

                        <option value="{{salutation}}" >{{salutation}}</option>

                        {% endfor %}

                    </select>

                </div>

            </div>

            <div>

                <p class="form-control-invalid-text">Please enter first name</p>

                <input type="text" name="name" class="form-control validate"

                       placeholder="First name..">

            </div>

            <div>

                <p class="form-control-invalid-text">Please enter last name</p>

                <input type="text" name="surname" class="form-control validate"

                       placeholder="Last name..">

            </div>

            <div>

                <p class="form-control-invalid-text">Please enter phone</p>

                <input type="text" name="phone" class="form-control validate"

                       placeholder="Phone number..">

            </div>

            <div>

                <p class="pull-left input-text">&nbsp;&nbsp;&nbsp;I would like to receive News:</p>



                <div >

                    <table class="switcher">

                        <tr>

                            <td><span class="bool">No</span></td>

                            <td>

                                <div class="onoffswitch">

                                    <input type="checkbox" name="update_sched" value="d"

                                           class="onoffswitch-checkbox" id="myonoffswitch" checked>

                                    <label class="onoffswitch-label" for="myonoffswitch">

                                        <span class="onoffswitch-inner"></span>

                                        <span class="onoffswitch-switch"></span>

                                    </label>

                                </div>

                            </td>

                            <td><span class="bool">Yes</span></td>

                        </tr>

                    </table>

                </div>

            </div>

            <!--								<div>-->

            <!--									<input type="text" name="REGUSER_Phone2" class="form-control" id=""-->

            <!--										   placeholder="Secondary Phone number..">-->

            <!--								</div>-->

            <!--								<div>-->

            <!--									<input type="text" name="REGUSER_Phone3" class="form-control" id=""-->

            <!--										   placeholder="Alternative Phone number..">-->

            <!--								</div>-->

        </div>



        <div class="col-lg-6 col-md-6 col-mod">



            <div>

                <p class="form-control-invalid-text">Please choose country</p>



                <div class="styled-select">

                    <select class="validate" name="country_id">

                        {% for country in account.getCountries() %}

                        {% if country.country_id == 272 %}

                        <option value='{{country.country_id}}' selected>{{country.country_name}}</option>

                        {% else %}

                        <option value='{{country.country_id}}'>{{country.country_name}}</option>

                        {% endif %}

                        {% endfor %}

                    </select>

                </div>



            </div>

            <div>

                <p class="form-control-invalid-text">Please enter company</p>

                <input type="text" id="company-autocomplete" name="company" class="form-control validate"

                       placeholder="Company.." autocomplete="off">

            </div>

            <div>

                <p class="form-control-invalid-text">Please enter postcode</p>

                <input type="text" name="zip" class="form-control validate"

                       placeholder="Postcode..">

            </div>

            <div>

                <p class="form-control-invalid-text">Please enter valid email</p>

                <input type="email" name="email" class="form-control validate"

                       placeholder="Email(Username)..">

            </div>

            <div>

                <p class="form-control-invalid-text">Please enter password</p>

                <input type="password" name="password" class="form-control validate"

                       placeholder="Password.." autocomplete="off">

            </div>
            <div>

                <p class="form-control-invalid-text">Password does no match</p>

                <input type="password" name="password_confirmation" class="form-control validate"

                       placeholder="Repeat Password.." autocomplete="off">

            </div>

            

        </div>
        <div class="row">
                        <div class="col-xs-12">
                            <div class="text-center"><p><small style="font-size:11px"><sup>*</sup>The password must be between 8-25
characters and contain at least one uppercase letter and one number.</small></p></div>
                        </div>
                    </div>

        <!--							<div class="col-lg-12 col-mod">-->

        <!--								<div>-->

        <!--									<p class="form-control-invalid-text">Please enter address</p>-->

        <!--									<input type="text" name="REGUSER_Address1" class="form-control validate" id=""-->

        <!--										   placeholder="Address..">-->

        <!--								</div>-->

        <!--							</div>-->

        <!--							<div class="col-lg-12 col-mod">-->

        <!--								<div>-->

        <!--									<input type="text" name="REGUSER_Address2" class="form-control" id=""-->

        <!--										   placeholder="Address..">-->

        <!--								</div>-->

        <!--							</div>-->

        <div class="col-sm-12 col-mod">

            <div class="checkbox">

                <label>

                    <input class="css-checkbox" name="contactby_pam" value="1" type="checkbox"> You do not wish to

                    receive information from PAM Insight Ltd. and its subsidiaries.

                </label>

            </div>

        </div>

        <div class="col-sm-12 col-mod">

            <div class="checkbox">

                <label>

                    <input class="css-checkbox" name="iu_contactbusinesses" value="Y" type="checkbox"> You do not wish to

                    receive information about products and services from other carefully selected

                    companies which we believe will be of interest to you.

                </label>

            </div>

        </div>

        <!--							<div class="col-sm-12 col-mod">-->

        <!--								<div class="checkbox">-->

        <!--									<label>-->

        <!--										<input class="css-checkbox" name="REGUSER_checkbox3" type="checkbox"> You do not wish to have-->

        <!--										your account verified allowing you to use the review function.-->

        <!--									</label>-->

        <!--								</div>-->

        <!--							</div>-->

        <div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6">

            <div class="br"></div>

            <button type="submit" class="button btn-block">Send</button>

        </div>

    </div>
    

</form>

<script>

    $(function () {

        $(document).ready(function () {

            $("#company-autocomplete").val('');

        });

        $("#company-autocomplete").autocomplete({

            autoFocus: false,

            source: function (request, response) {

                var input = $("#company-autocomplete");

                //input.prop('readonly',true);

                $.request('account::onCompanySelect', {

                    data: {

                        'term': input.val()

                    },

                    success: function (data) {

                        response(data);

                        //input.prop('readonly',false);

                    },

                    error: function ($el, context, textStatus, jqXHR) {

                        alert("Error!");

                    },

                    complete: function () {

                        //input.prop('readonly',false);

                    }

                })

            },

            minLength: 3

        });

        $("#registration-form").submit(function (e) {

            var form = $(this);

            var submit = form.find('button[type="submit"]');

            if (submit.text() != "Please Wait...") {

                resetFormValidation(form);

                form.request('account::onRegister', {

                    success: function (data) {

                        $('#register-modal').removeClass("fade").modal("hide");

                        resetFormFields(form);

                        showNotification(form);

                    },

                    update: {},

                    error: function ($el, context, textStatus, jqXHR) {

                        var resp = $el.responseJSON;

                        validateForm(form, resp.X_OCTOBER_ERROR_FIELDS);

                    },

                    complete: function () {

                        submit.text("Send");

                    }

                });

            }

            submit.text("Please Wait...");

            e.preventDefault();

        });

        function resetFormValidation(form) {

            form.find("input.validate,textarea.validate").each(function () {

                var input = $(this);

                input.removeClass('invalid');

                input.parent().find('.form-control-invalid-text').css({display: 'none'});

            });

            form.find(".styled-select").each(function () {

                var input = $(this);

                input.removeClass('invalid');

                input.parent().find('.form-control-invalid-text').css({display: 'none'});

            });

        }



        function validateForm(form, response) {

            $.each(response, function (key, value) {

                var input = form.find('input[name="' + key + '"],textarea[name="' + key + '"]');

                input.addClass('invalid');

                input.parent().find('.form-control-invalid-text').html(value).css({display: 'block'});

            });

            $.each(response, function (key, value) {

                var input = form.find('select[name="' + key + '"]');

                input.parent().addClass('invalid');

                input.parent().parent().find('.form-control-invalid-text').html(value).css({display: 'block'});

            });

        }



        function resetFormFields(form) {

            form.find("input[type='text'],textarea").each(function () {

                $(this).val('')

            });

            form.find("input[type='email']").each(function () {

                $(this).val('')

            });

        }



        function showNotification(form) {

            $('#notification-modal').find("h1").html(form.data('success-title'));

            $('#notification-modal').find("p").html(form.data('success-text'));

            $('#notification-modal').modal("show").addClass("fade");

        }

    });

</script>

