<form
        id="resend-form"
        data-success-title="Success"
        data-success-text="Please check your email to get instructions for activation account.">
    <div class="row">
        <div class="col-xs-12">
            <p class="form-control-invalid-text"></p>
            <input type="text" name="email" class="form-control validate" id="email" placeholder="Email address" required>
        </div>
        <div class="col-sm-offset-3 col-sm-6 col-xs-12">
            <button type="submit" class="button btn-block">Resend</button>
            <a class="link modal-change" data-show="#login-modal" data-hide="#restore-modal">Back to login</a>
        </div>
    </div>
</form>
<script>
    $(function() {
        $("#resend-form").submit(function (e) {
            var form = $(this);
            var submit = form.find('button[type="submit"]');
            if (submit.text() != "Please Wait...") {
                resetFormValidation(form);
                form.request('account::onResendEmail', {
                    success: function (data) {
                        $('#resend-modal').removeClass("fade").modal("hide");
                        resetFormFields(form)
                        showNotification(form);
                    },
                    update: {},
                    error: function ($el, context, textStatus, jqXHR) {
                        var resp = $el.responseJSON;
                        validateForm(form,resp.X_OCTOBER_ERROR_FIELDS);
                    },
                    complete: function () {
                        submit.text("Resend");
                    }
                });
            }
            submit.text("Please Wait...");
            e.preventDefault();
        });
        function resetFormValidation(form){
            form.find("input.validate,textarea.validate").each(function(){
                var input = $(this);
                input.removeClass('invalid');
                input.parent().find('.form-control-invalid-text').css({display:'none'});
            });
        }
        function validateForm(form,response){
            $.each( response, function( key, value ) {
                var input = form.find('input[name="'+key+'"],textarea[name="'+key+'"]');
                input.addClass('invalid');
                input.parent().find('.form-control-invalid-text').html(value).css({display:'block'});
            });
        }
        function resetFormFields(form){
            form.find("input[type='text'],textarea").each(function(){$(this).val('')});
            form.find("input[type='email']").each(function(){$(this).val('')});
        }
        function showNotification(form){
            $('#notification-modal').find("h1").html(form.data('success-title'));
            $('#notification-modal').find("p").html(form.data('success-text'));
            $('#notification-modal').modal("show").addClass("fade");
        }
    });
</script>