<!--
<form
    data-request="onSignin">
    <div class="form-group">
        <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
        <input
            name="login"
            type="text"
            class="form-control"
            id="userSigninLogin"
            placeholder="Enter your {{ loginAttributeLabel|lower }}" />
    </div>

    <div class="form-group">
        <label for="userSigninPassword">Password</label>
        <input
            name="password"
            type="password"
            class="form-control"
            id="userSigninPassword"
            placeholder="Enter your password" />
    </div>

    <button type="submit" class="btn btn-default">Sign in</button>
</form>
-->

<form id="login-form">
    <div class="row">
        <div class="col-xs-12">
            <p class="form-control-invalid-text">Please enter value</p>
            <input type="text" name="login" class="form-control validate" id="username" placeholder="Username" required>
        </div>
        <div class="col-xs-12">
            <p class="form-control-invalid-text">Please enter value</p>
            <input type="password" name="password" class="form-control validate" id="password" placeholder="Password" required>
        </div>
        <div class="col-xs-12">
            <div class="checkbox">
                <label>
                    <input class="css-checkbox" name="keep" type="checkbox"> Keep me signed in
                </label>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-6 col-xs-12">
            <button type="submit" class="button btn-block">Login</button>
            <a class="link modal-change" data-show="#restore-modal" data-hide="#login-modal">Can't access your account?</a><br />
            <a class="link modal-change" data-show="#resend-modal" data-hide="#login-modal">Resend account activation email</a>
        </div>
    </div>
</form>
<script>
    $(function() {
        $("#login-form").submit(function (e) {
            var form = $(this);
            var submit = form.find('button[type="submit"]');
            if (submit.text() != "Please Wait...") {
                resetFormValidation(form);
                form.request('account::onSignin', {
                    success: function (data) {
                        if(data.X_OCTOBER_REDIRECT)
                            window.location.href = data.X_OCTOBER_REDIRECT;
                        else
                            window.location.reload();
                    },
                    update: {},
                    error: function ($el, context, textStatus, jqXHR) {
                        var resp = $el.responseJSON;
                        validateForm(form,resp.X_OCTOBER_ERROR_FIELDS);
                    },
                    complete: function () {
                        submit.text("Login");
                    }
                });
            }
            submit.text("Please Wait...");
            e.preventDefault();
        });
        function resetFormValidation(form){
            form.find("input.validate,textarea.validate").each(function(){
                var input = $(this);
                input.removeClass('invalid');
                input.parent().find('.form-control-invalid-text').css({display:'none'});
            });
        }
        function validateForm(form,response){
            $.each( response, function( key, value ) {
                var input = form.find('input[name="'+key+'"],textarea[name="'+key+'"]');
                input.addClass('invalid');
                if(key == 'login'){
                    input.parent().find('.form-control-invalid-text').html("Enter a valid email address").css({display:'block'});
                }

                if(key == 'password'){
                    input.parent().find('.form-control-invalid-text').html("Enter your password").css({display:'block'});
                }

            });
        }
        function resetFormFields(form){
            form.find("input[type='text'],textarea").each(function(){$(this).val('')});
            form.find("input[type='email']").each(function(){$(this).val('')});
        }
        function showNotification(form){
            $('#notification-modal').find("h1").html(form.data('success-title'));
            $('#notification-modal').find("p").html(form.data('success-text'));
            $('#notification-modal').modal("show").addClass("fade");
        }
    });
</script>
