<!--
{{ form_ajax('onUpdate') }}

    <div class="form-group">
        <label for="accountName">Full Name</label>
        <input name="name" type="text" class="form-control" id="accountName" value="{{ user.name }}">
    </div>

    <div class="form-group">
        <label for="accountEmail">Email</label>
        <input name="email" type="email" class="form-control" id="accountEmail" value="{{ user.email }}">
    </div>

    <div class="form-group">
        <label for="accountPassword">New Password</label>
        <input name="password" type="password" class="form-control" id="accountPassword">
    </div>

    <div class="form-group">
        <label for="accountPasswordConfirm">Confirm New Password</label>
        <input name="password_confirmation" type="password" class="form-control" id="accountPasswordConfirm">
    </div>

    <button type="submit" class="btn btn-default">Save</button>

{{ form_close() }}
-->

{{ form_open({ 'data-success-title': '','data-success-text':'Your account details have been updated.','id':'account-form',model:user }) }}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-mod">
            <div>
                <p class="form-control-invalid-text">Please choose type</p>
                {% for role in account.allowedRoles() %}
                        {% if hasRole(roles[role]) %}
                        <input type="text" readonly class="form-control validate" value="{{roles[role]}}"
                               placeholder="Company..">
                        <input type="hidden" name="role" value="{{role}}"/>
                        {% endif %}
                {% endfor %}
            </div>
            <div>
                <p class="form-control-invalid-text">Please enter salutation</p>
                <div class="styled-select margbot">
                <select name="salutation" id="salutation" class="validate">
                    <option value=''>Select salutation</option>
                    {% for salutation in account.getSalutations() %}
                    <option value="{{salutation}}"
                            {% if salutation == form_value('salutation') %}selected{% endif %}>{{salutation}}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <div>
                <p class="form-control-invalid-text">Please enter first name</p>
                <input type="text" name="name" class="form-control validate" value="{{form_value('name')}}"
                       placeholder="First name..">
            </div>
            <div>
                <p class="form-control-invalid-text">Please enter last name</p>
                <input type="text" name="surname" class="form-control validate" value="{{form_value('surname')}}"
                       placeholder="Last name..">
            </div>
            <div>
                <p class="form-control-invalid-text">Please enter phone</p>
                <input type="text" name="phone" class="form-control validate" value="{{form_value('phone')}}"
                       placeholder="Phone number..">
            </div>
            <div>
                <p class="pull-left input-text">&nbsp;&nbsp;&nbsp;I would like to receive News:</p>

                <div class="pull-right">
                    <table class="switcher">
                        <tr>
                            <td><span class="bool">No</span></td>
                            <td>
                                <div class="onoffswitch">
                                    <input type="checkbox" name="contactby_other" value="1"
                                           class="onoffswitch-checkbox" id="myonoffswitch" {% if form_value("contactby_other") == "1" %} checked {% endif %}>
                                    <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </td>
                            <td><span class="bool">Yes</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-mod">

            <div>
                <p class="form-control-invalid-text">Please choose country</p>
                <div class="styled-select margbot">
                    <select class="validate" name="country_id">
                        <option value='21' >Afghanistan</option>
                        <option value='96' >Albania</option>
                        <option value='22' >Algeria</option>
                        <option value='102' >Andorra</option>
                        <option value='103' >Angola</option>
                        <option value='276' >Anguilla</option>
                        <option value='105' >Antigua & Barbuda</option>
                        <option value='23' >Argentina</option>
                        <option value='106' >Armenia</option>
                        <option value='18' >Australia</option>
                        <option value='259' >Austria</option>
                        <option value='108' >Azerbaijan</option>
                        <option value='24' >Bahamas</option>
                        <option value='110' >Bahrain</option>
                        <option value='93' >Bangladesh</option>
                        <option value='25' >Barbados</option>
                        <option value='112' >Belarus</option>
                        <option value='260' >Belgium</option>
                        <option value='26' >Belize</option>
                        <option value='27' >Bermuda</option>
                        <option value='116' >Bhutan</option>
                        <option value='28' >Bolivia</option>
                        <option value='118' >Bosnia & Herzegowina</option>
                        <option value='119' >Botswana</option>
                        <option value='29' >Brazil</option>
                        <option value='121' >British Indian Ocean Territory</option>
                        <option value='277' >British Virgin Islands</option>
                        <option value='30' >Brunei Darussalam</option>
                        <option value='31' >Bulgaria</option>
                        <option value='123' >Burundi</option>
                        <option value='124' >Cambodia</option>
                        <option value='125' >Cameroon</option>
                        <option value='17' >Canada</option>
                        <option value='127' >Cayman Islands</option>
                        <option value='128' >Central African Republic</option>
                        <option value='129' >Chad</option>
                        <option value='32' >Chile</option>
                        <option value='33' >China</option>
                        <option value='130' >Christmas Island</option>
                        <option value='34' >Colombia</option>
                        <option value='133' >Congo</option>
                        <option value='134' >Cook Islands</option>
                        <option value='35' >Costa Rica</option>
                        <option value='36' >Croatia</option>
                        <option value='138' >Cuba</option>
                        <option value='97' >Cyprus</option>
                        <option value='37' >Czech Republic</option>
                        <option value='261' >Denmark</option>
                        <option value='142' >Dominica</option>
                        <option value='38' >Dominican Republic</option>
                        <option value='143' >East Timor</option>
                        <option value='39' >Ecuador</option>
                        <option value='40' >Egypt</option>
                        <option value='145' >El Salvador</option>
                        <option value='146' >Equatorial Guinea</option>
                        <option value='147' >Eritrea</option>
                        <option value='41' >Estonia</option>
                        <option value='148' >Ethiopia</option>
                        <option value='149' >Falkland Islands</option>
                        <option value='151' >Fiji</option>
                        <option value='262' >Finland</option>
                        <option value='263' >France</option>
                        <option value='152' >French Guiana</option>
                        <option value='153' >French Polynesia</option>
                        <option value='155' >Gabon</option>
                        <option value='156' >Gambia</option>
                        <option value='100' >Georgia</option>
                        <option value='264' >Germany</option>
                        <option value='157' >Ghana</option>
                        <option value='158' >Gibraltar</option>
                        <option value='265' >Greece</option>
                        <option value='159' >Greenland</option>
                        <option value='160' >Grenada</option>
                        <option value='162' >Guam</option>
                        <option value='42' >Guatemala</option>
                        <option value='274' >Guernsey, Channel Islands</option>
                        <option value='163' >Guinea</option>
                        <option value='165' >Guyana</option>
                        <option value='166' >Haiti</option>
                        <option value='167' >Heard & McDonald Islands</option>
                        <option value='43' >Honduras</option>
                        <option value='44' >Hong Kong</option>
                        <option value='45' >Hungary</option>
                        <option value='46' >Iceland</option>
                        <option value='47' >India</option>
                        <option value='48' >Indonesia</option>
                        <option value='170' >Iran (Islamic Rep. of)</option>
                        <option value='266' >Ireland</option>
                        <option value='278' >Isle of Man, British Isles</option>
                        <option value='49' >Israel</option>
                        <option value='10' >Italy</option>
                        <option value='136' >Ivory Coast</option>
                        <option value='50' >Jamaica</option>
                        <option value='51' >Japan</option>
                        <option value='283' >Jersey, Channel Islands</option>
                        <option value='52' >Jordan</option>
                        <option value='171' >Kazakhstan</option>
                        <option value='53' >Kenya</option>
                        <option value='174' >Korea (South)</option>
                        <option value='54' >Kuwait</option>
                        <option value='279' >Labuan</option>
                        <option value='55' >Latvia</option>
                        <option value='56' >Lebanon</option>
                        <option value='95' >Liberia</option>
                        <option value='178' >Libya</option>
                        <option value='179' >Liechtenstein</option>
                        <option value='57' >Lithuania</option>
                        <option value='11' >Luxembourg</option>
                        <option value='59' >Macau</option>
                        <option value='181' >Macedonia</option>
                        <option value='182' >Madagascar</option>
                        <option value='183' >Malawi</option>
                        <option value='60' >Malaysia</option>
                        <option value='61' >Maldives</option>
                        <option value='184' >Mali</option>
                        <option value='98' >Malta</option>
                        <option value='186' >Martinique</option>
                        <option value='187' >Mauritania</option>
                        <option value='188' >Mauritius</option>
                        <option value='62' >Mexico</option>
                        <option value='190' >Micronesia</option>
                        <option value='191' >Moldova</option>
                        <option value='63' >Monaco</option>
                        <option value='192' >Mongolia</option>
                        <option value='64' >Morocco</option>
                        <option value='195' >Mozambique</option>
                        <option value='196' >Myanmar</option>
                        <option value='197' >Namibia</option>
                        <option value='198' >Nauru</option>
                        <option value='65' >Nepal</option>
                        <option value='12' >Netherlands</option>
                        <option value='280' >Nevis</option>
                        <option value='19' >New Zealand</option>
                        <option value='201' >Nicaragua</option>
                        <option value='202' >Niger</option>
                        <option value='66' >Norway</option>
                        <option value='206' >Oman</option>
                        <option value='67' >Pakistan</option>
                        <option value='68' >Panama</option>
                        <option value='208' >Papua New Guinea</option>
                        <option value='69' >Paraguay</option>
                        <option value='210' >Peru</option>
                        <option value='70' >Philippines</option>
                        <option value='71' >Poland</option>
                        <option value='13' >Portugal</option>
                        <option value='72' >Puerto Rico</option>
                        <option value='73' >Qatar</option>
                        <option value='74' >Romania</option>
                        <option value='75' >Russian Federation</option>
                        <option value='216' >Rwanda</option>
                        <option value='218' >Saint Lucia</option>
                        <option value='220' >Samoa</option>
                        <option value='76' >Saudi Arabia</option>
                        <option value='223' >Senegal</option>
                        <option value='224' >Seychelles</option>
                        <option value='225' >Sierra Leone</option>
                        <option value='77' >Singapore</option>
                        <option value='226' >Slovakia</option>
                        <option value='227' >Slovenia</option>
                        <option value='229' >Somalia</option>
                        <option value='20' >South Africa</option>
                        <option value='14' >Spain</option>
                        <option value='80' >Sri Lanka</option>
                        <option value='281' >St Lucia</option>
                        <option value='230' >St. Helena</option>
                        <option value='232' >Suriname</option>
                        <option value='234' >Swaziland</option>
                        <option value='15' >Sweden</option>
                        <option value='81' >Switzerland</option>
                        <option value='295' >Switzerland - German</option>
                        <option value='296' >Switzerland - Liechtenstein</option>
                        <option value='297' >Switzerland - Romande</option>
                        <option value='298' >Switzerland - Ticino</option>
                        <option value='235' >Syria</option>
                        <option value='82' >Taiwan</option>
                        <option value='236' >Tajikistan</option>
                        <option value='92' >Tanzania</option>
                        <option value='83' >Thailand</option>
                        <option value='238' >Togo</option>
                        <option value='240' >Tonga</option>
                        <option value='241' >Trinidad & Tobago</option>
                        <option value='94' >Tunisia</option>
                        <option value='84' >Turkey</option>
                        <option value='243' >Turkmenistan</option>
                        <option value='244' >Turks & Caicos Islands</option>
                        <option value='246' >U.S. Minor Outlying Islands</option>
                        <option value='247' >Uganda</option>
                        <option value='85' >Ukraine</option>
                        <option value='86' >United Arab Emirates</option>
                        <option value='289' >United Kingdom - Central Southern</option>
                        <option value='287' >United Kingdom - East Midlands</option>
                        <option value='272' selected>United Kingdom - London</option>
                        <option value='269' >United Kingdom - North East</option>
                        <option value='270' >United Kingdom - North West</option>
                        <option value='294' >United Kingdom - Northern Ireland</option>
                        <option value='271' >United Kingdom - Scotland</option>
                        <option value='267' >United Kingdom - South East</option>
                        <option value='268' >United Kingdom - South West</option>
                        <option value='284' >United Kingdom - Wales</option>
                        <option value='288' >United Kingdom - West Midlands</option>
                        <option value='275' >Uruguay</option>
                        <option value='16' >USA</option>
                        <option value='249' >Uzbekistan</option>
                        <option value='282' >Vanuatu</option>
                        <option value='87' >Venezuela</option>
                        <option value='88' >Vietnam</option>
                        <option value='253' >Virgin Islands (British)</option>
                        <option value='254' >Virgin Islands (U.S.)</option>
                        <option value='256' >Western Sahara</option>
                        <option value='99' >Yemen</option>
                        <option value='89' >Yugoslavia</option>
                        <option value='257' >Zaire</option>
                        <option value='90' >Zambia</option>
                        <option value='258' >Zimbabwe</option>
                    </select>
                </div>

            </div>
            <div>
                <p class="form-control-invalid-text">Please enter postcode</p>
                <input type="text" name="zip" class="form-control validate" value="{{form_value('zip')}}"
                       placeholder="Postcode..">
            </div>
            <div>
                <p class="form-control-invalid-text">Please enter company (please contact PAM Insight Head Office to update this)</p>
                <input type="text" readonly name="company" class="form-control validate" value="{{ account.getCompanyNameByCompanyId( form_value('company_id'),form_value('company') ) }}"
                       placeholder="Company..">
            </div>
            <div>
                <p class="form-control-invalid-text">Please enter password</p>
                <input type="password" name="password" class="form-control validate"
                       placeholder="New Password..">
            </div>
            <div>
                <p class="form-control-invalid-text">Please enter password confirmation</p>
                <input type="password" name="password_confirmation" class="form-control validate"
                       placeholder="New Password confirmation..">
            </div>
            <div>
                <p class="form-control-invalid-text">Please enter valid email</p>
                <input type="email" name="email" class="form-control validate" readonly value="{{form_value('email')}}"
                       placeholder="Email(Username)..">
            </div>
        </div>
        <div class="col-sm-12 col-mod">
            <div class="checkbox">
                <label>
                    <input class="css-checkbox" name="contactby_pam" value="1" type="checkbox" {% if form_value("contactby_pam") == "1" %} checked {% endif %}> You do not wish to
                    receive information from PAM Insight Ltd. and its subsidiaries.
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-mod">
            <div class="checkbox">
                <label>
                    <input class="css-checkbox" name="iu_contactbusinesses" value="Y" type="checkbox" {% if form_value("iu_contactbusinesses") == "Y" %} checked {% endif %}> You do not wish to
                    receive information about products and services from other carefully selected
                    companies which we believe will be of interest to you.
                </label>
            </div>
        </div>
		<div class="col-sm-12 col-mod">
			<p style="margin-left: 0px;">Please contact PAM Insight Head Office to update your company name</p>
		</div>	
        <div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6">
            <div class="br"></div>
            <button type="submit" class="button btn-block">Update</button>
        </div>
    </div>
{{ form_close() }}
<script>
    $(function() {
        $("#account-form").submit(function (e) {
            var form = $(this);
            var submit = form.find('button[type="submit"]');
            if (submit.text() != "Please Wait...") {
                resetFormValidation(form);
                form.request('account::onUpdate', {
                    success: function (data) {
                        resetPasswordFields(form);
                        showNotification(form);
                    },
                    update: {},
                    error: function ($el, context, textStatus, jqXHR) {
                        var resp = $el.responseJSON;
                        validateForm(form,resp.X_OCTOBER_ERROR_FIELDS);
                    },
                    complete: function () {
                        submit.text("Update");
                    }
                });
            }
            submit.text("Please Wait...");
            e.preventDefault();
        });
        function resetFormValidation(form){
            form.find("input.validate,textarea.validate").each(function(){
                var input = $(this);
                input.removeClass('invalid');
                input.parent().find('.form-control-invalid-text').css({display:'none'});
            });
        }
        function validateForm(form,response){
            $.each( response, function( key, value ) {
                var input = form.find('input[name="'+key+'"],textarea[name="'+key+'"]');
                input.addClass('invalid');
                input.parent().find('.form-control-invalid-text').html(value).css({display:'block'});
            });
        }
        function resetFormFields(form){
            form.find("input[type='text'],textarea").each(function(){$(this).val('')});
            form.find("input[type='email']").each(function(){$(this).val('')});
        }
        function showNotification(form){
            $('#notification-modal').find("h1").html(form.data('success-title'));
            $('#notification-modal').find("p").html(form.data('success-text'));
            $('#notification-modal').modal("show").addClass("fade");
        }
        function resetPasswordFields(form){
            form.find("input[type='password']").each(function(){$(this).val('')});
        }
    });
</script>