<?php if (!isset($fatalError)): ?>
<?= Form::open(
[
'data-request'              => 'onVoteApplication',
'data-popup-load-indicator' => true
]
) ?>
<input type="hidden" name="awardapplication_id" value="<?= $application_id ?>" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="chooseTypeLabel">Vote Award Application</h4>
</div>
<div class="modal-body">

    <br />
    <?= $form->render(['preview' => true]) ?>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
<?= Form::close() ?>
<?php else: ?>
<div class="modal-body">
    <div class="callout callout-danger">
        <div class="header">
            <i class="icon-warning"></i>
            <h3>Error</h3>
            <p><?= $fatalError ?></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <?= e(trans('backend::lang.form.close')) ?>
    </button>
</div>
<?php endif ?>