<div style="padding: 20px">
    <div>
        <ul>
            <?php foreach($awardapplications as $companyName => $appId):?>
            <?php if($awardapplication->awardapplication_id == $appId)continue;?>
            <li><a href="<?= Backend::url('twnepc/awards/judgeapplications/preview/'.$appId.'?award_id='.get('award_id','')) ?>"><?=$companyName?></a></li>
            <?php endforeach;?>
        </ul>
    </div>
</div>
<p>
    <a href="<?= Backend::url('twnepc/awards/judgeapplications?award_id='.get('award_id','')) ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
    <?php if ($this->isVoted($awardapplication->awardapplication_id)):?>
    <button
            data-control="popup"
            data-request-data="application_id:'<?=$awardapplication->awardapplication_id?>',award_id:'<?=$awardapplication->award_id?>'"
            data-handler="onLoadVoteForm"
            type="button" class="btn btn-default">Rank</button>
    <?php else: ?>
    <button
            data-control="popup"
            data-request-data="application_id:'<?=$awardapplication->awardapplication_id?>',award_id:'<?=$awardapplication->award_id?>'"
            data-handler="onLoadVoteForm"
            <?php if(!$this->canJudgeVote($awardapplication->awardapplication_id)):?>disabled="disabled"<?php endif;?>
            type="button" class="btn btn-warning">Rank</button>

    <?php endif;?>
    <a target="_blank" href="<?= url('company/'.$awardapplication->company_id)?>" type="button" class="btn btn-info">Company Public page</a>
    <!--a class="btnPrint oc-icon-print btn btn-default">Print</a-->
</p>

<div class="form-elements">
    <h2><?=$company->c_companyname?></h2>
    <h4><?=$awardapplication->award->award_name?></h4>
    <p class="form-group span-left"><button id="hidershower" class="btn btn-info">CRITERIA</button> <br>
		<div id="critcon" style="display:none;" >
		<?=$awardapplication->award->award_criterion?>
		</div>
	</p>
    <script>
        $()
    </script>
</div>
<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
<?php endif ?>

<p>
    <a href="<?= Backend::url('twnepc/awards/judgeapplications?award_id='.get('award_id','')) ?>" class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('backend::lang.form.return_to_list')) ?>
    </a>
    <?php if ($this->isVoted($awardapplication->awardapplication_id)):?>
    <button
            data-control="popup"
            data-request-data="application_id:'<?=$awardapplication->awardapplication_id?>',award_id:'<?=$awardapplication->award_id?>'"
            data-handler="onLoadVoteForm"
            type="button" class="btn btn-default">Rank</button>
    <?php else: ?>
    <button
            data-control="popup"
            data-request-data="application_id:'<?=$awardapplication->awardapplication_id?>',award_id:'<?=$awardapplication->award_id?>'"
            data-handler="onLoadVoteForm"
    <?php if(!$this->canJudgeVote($awardapplication->awardapplication_id)):?>disabled="disabled"<?php endif;?>
    type="button" class="btn btn-warning">Rank</button>

    <?php endif;?>
    <a target="_blank" href="<?= url('company/'.$awardapplication->company_id)?>" type="button" class="btn btn-info">Company Public page</a>
    <!--a class="btnPrint oc-icon-print btn btn-default">Print</a-->
</p>
<script>
    $(document).ready(function(){
        $(".btnPrint").printPage({
            url: "/backend/twnepc/awards/printing/preview/<?php echo $awardapplication->awardapplication_id.'?award_id='.get('award_id')?>",
            attr: "href",
            message:"Your document is being created"
        })
    });
</script>