<div class="control-list list-unresponsive products">
    <h3>CEO Q&A</h3>
    <ul style="padding-left: 0px">
    <?php foreach($sections as $section):;?>
        <?php foreach($section->questions as $q):;?>

            <?php if($section->cqs_text == 'CEO'):;?>
                <?php $answer = $this->getAnswerByQuestionId($q->companyquestion_id); ?>
                <li style="list-style: none;margin-top: 10px;display: block;">
                <strong style="clear:left;display: block;margin-bottom: 10px;margin-top: 10px;"><?php echo $q->cq_text;?></strong>
                <?php if($answer):; ?>
                <span style="clear:left;">
                    <div style="float:left;">
                       
                       <?php if($answer->personnel->avatar):;?>
                       <img width="80" src="<?php  echo $answer->personnel->avatar->getThumb(300,300);?>"/>
                       <?php endif; ?>
                        
                    </div>
                    <div style="float:left;margin-left: 10px;">
                    <div><strong><?= $answer->personnel->cp_firstname." ".$answer->personnel->cp_lastname; ?></strong></div>
                    <div><?= $answer->personnel->cp_jobtitle ?></div>
                    </div>
                </span>
                <?php endif;?>
                <p style="clear:left;"><?php if($answer)echo $answer->ca_text;?></p>
                </li>
            <?php endif;?>
        <?php endforeach;?>
    <?php endforeach;?>
    </ul>
    <h3>CIO Q&A</h3>
    <ul style="padding-left: 0px">
    <?php foreach($sections as $section):;?>
        <?php foreach($section->questions as $q):;?>
            <?php if($section->cqs_text == 'CIO'):;?>
                <?php $answer = $this->getAnswerByQuestionId($q->companyquestion_id); ?>
                <li style="list-style: none;margin-top:10px;display: block;">
                <strong style="clear:left;display: block;margin-bottom: 10px;margin-top: 10px;"><?php echo $q->cq_text;?></strong>
                <?php if($answer):; ?>
                <span style="clear:left;">
                    <div style="float:left;">
			<?php if($answer->personnel->avatar):;?>                        
                            <img width="80" src="<?php  echo $answer->personnel->avatar->getThumb(300,300); ?>"/>
                        <?php endif; ?>
                    </div>
                    <div style="float:left;margin-left: 10px;">
                    <div><strong><?= $answer->personnel->cp_firstname." ".$answer->personnel->cp_lastname; ?></strong></div>
                    <div><?= $answer->personnel->cp_jobtitle ?></div>
                    </div>
                </span>
                <?php endif;?>
                <p style="clear:left;"><?php if($answer)echo $answer->ca_text;?></p>
                </li>
            <?php endif;?>
        <?php endforeach;?>
    <?php endforeach;?>
    </ul>
</div>
<style>
    strong{
        font-weight: bolder !important;
    }
    
   
</style>
