<?php $rate = $record->rating; ?></span>
<span>
    <?php for($i=1;$i<=$rate;$i++):?>
        <span class="fa fa-star checked"></span>
    <?php endfor;?>
    <?php for($i=$rate;$i<5;$i++):?>
        <span class="fa fa-star-o"></span>
    <?php endfor;?>
</span>

<style>
.fa-star.checked {
    color: orange;
}
</style>