<div class="control-popup modal fade" id="awards-submit-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Submit To PAM Awards</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure ?</p>
            </div>
            <div class="modal-footer">
                <form data-request="onSubmitToAwards"
                      data-request-error="$el.closest('.modal').modal('hide');$('.popup-backdrop').remove();"
                      data-request-complete="$el.closest('.modal').modal('hide');$('.popup-backdrop').remove();"
                      data-popup-load-indicator>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>