<div id="pin-generator">
    <div class="loading-indicator-container">
        <p>Current PIN: <?=$pin?></p>
        <button
                data-load-indicator="Wait..."
                data-request="<?= $this->getEventHandler('onGeneratePIN') ?>"
                data-request-data=""
                type="button" class="btn btn-warning">Generate PIN</button>
    </div>
</div>
<br /><br />