[viewBag]
==
<div class="footer-container">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 footer-nav">
				<div class="logo">
					<img src="{{ 'logo.png' | media }}" alt="">
				</div>
				<div class="row">
					<ul class="col-12 col-md-6">
						<li><a href="{{url('/')}}/advertise-on-thewealthnet" title="">Advertise on thewealthnet</a></li>
						<li><a href="{{url('/')}}/contribute-a-story" title="">Contribute a story</a></li>
						<li><a href="{{url('/')}}/terms-and-conditions" title="">Terms & conditions</a></li>
						<li><a href="{{url('/')}}/privacy-policy" title="">Privacy policy</a></li>
						<li><a href="{{url('/')}}/benefits-of-membership" title="">Benefits of membership</a></li>
						<li><a href="{{url('/')}}/thewealthnet-events" title="">thewealthnet events</a></li>
					</ul>
					<ul class="col-12 col-md-6">
						<li><a href="{{url('/')}}/faqs" title="">FAQs</a></li>
						<li><a href="{{url('/')}}/submit-press-release" title="">Submit press release</a></li>
						<li><a href="{{url('/')}}/advanced-search" title="">Advanced search</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-2 footer-contact">
				<h4>Contact</h4>
				<p>Editorial</p>
				<span><a href='&#109;ailto&#58;%6E&#101;ws&#37;40thewea&#108;th&#110;et&#46;&#99;o&#109;'>new&#115;&#64;th&#101;weal&#116;hne&#116;&#46;com</a></span>
				<p>Article Reprints </p>
				<span><a href='mai&#108;to&#58;a%6Di&#37;64%64leto&#110;%2&#68;pi&#110;k&#64;%&#55;0%61&#109;i%6Esi%6&#55;ht&#46;%6&#51;o%6D'>a&#109;i&#100;&#100;l&#101;ton-p&#105;nk&#64;p&#97;minsight&#46;c&#111;m</a></span>
				<p>Subscription Sales</p>
				<span><a href='&#109;&#97;&#105;l&#116;o&#58;subs&#64;&#116;&#104;e&#119;%6&#53;%&#54;1l&#116;hnet&#46;c%6Fm'>subs&#64;&#116;h&#101;w&#101;&#97;lthnet&#46;c&#111;m</a></span>
				<p>Technical Support</p>
				<span><a href='mailt&#111;&#58;%73%75&#112;%70&#111;&#37;72t&#64;t%68e%7&#55;eal%74h&#110;%6&#53;t&#46;c&#111;&#109;'>&#115;upport&#64;the&#119;ealthnet&#46;com</a></span>
				<p>Advertising</p>
				<span><a href='mai&#108;to&#58;a&#100;v%&#54;5r&#116;%6&#57;si&#110;%&#54;7&#64;&#37;&#55;4hew%6&#53;%&#54;1&#108;t%68%&#54;E&#101;%&#55;&#52;%2E&#37;6&#51;o%6&#68;'>ad&#118;&#101;r&#116;isi&#110;g&#64;thewea&#108;thn&#101;t&#46;com</a></span>
			</div>
			<div class="col-12 col-md-3 footer-address">
				<h4>Address</h4>
				<!--p class="email">hello@thewealthnet.com</p-->
				<address>
					PAM Insight Ltd<br />
					107 Cheapside<br />
					London<br />
					EC2V 6DN<br />
					United Kingdom 
				</address>
				<p class="tel">Tel: +44(0) 207 967 1601</p>
			</div>
			<div class="col-12 col-md-3 footer-subscription">
				<h4>thewealthnet Subscriptions</h4>
				<p><a href="{{url('/')}}/registration" title="Sign up for free trial">Sign up for free trial</a></p>
				<p><a href="{{url('/')}}/registration" title="Subscribe to thewealthnet">Subscribe to thewealthnet</a></p>

				<h4>Follow us</h4>
				<ul>
					<li><a href="https://twitter.com/thewealthnet" title="" target="_blank"><i class="fab fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/company/thewealthet" title="" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>

				
               		

				<!--form action="" method="post">
					<input name="email" type="email" id="newsletter" class="form-control" placeholder="E-mail">
					<button class="btn" title="Sign up" type="submit"><span>Sign up</span></button>
				</form-->
			</div>
		</div>
	</div>
</div>
<div class="footer-logos">
	<div class="container">
		<a href="https://www.pamonline.com/" title="PAM"><img src="{{ 'footer_pam_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/epc" title="eprivateclient"><img src="{{ 'footer_epcclient_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/twn" title="thewealthnet"><img src="{{ 'footer_wn_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/fundeye" title="fundeye"><img src="{{ 'footer_fundeye_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/pam" title="PAM Insight"><img src="{{ 'footer_pam_insight.png' | media }}" alt=""></a>
	</div>
</div>