<?php
    $company = $formModel->getCompanyDetails();
?>
<h4><small>review for</small> <?=$company->c_companyname?> <small><i><?=$formModel->date?></i></small></h4>
<hr />
<div class="form-group text-field span-left">
    <label><?=$formModel->title?>: <span style="color:red"><?=$formModel->general?>%</span></label>
    <p><?=$formModel->description?></p>
    <hr />
</div>
<?php foreach($formModel->rate as $key => $value):?>
<div class="form-group text-field span-left">
    <label><?=$value['title']?>: <span style="color:red"><?=$value['rate']?>%</span></label>
    <p><?=$value['description']?></p>
    <hr />
</div>
<?php endforeach;?>