subject = "Confirm your account"
==

Hello {{ name }},

We need to verify that this is your email address.

Please click the link below to confirm your account:
{{ link }}

==

<p>Hello {{ name }},</p>

<p>We need to verify that this is your email address.</p>

<p>
    Please click the link below and enter code {{ code }} to confirm your account:<br />
    <a href="{{ link }}">{{ link }}</a>
</p>
