subject = "A new user has signed up"
layout = "system"
==

Hello {{ name }},

A new user has just signed up. Here are details:

ID: {{ id }}
Name: {{ name }}
Email: {{ email }}

==

<p>Hello {{ name }},</p>

<p>A new user has just signed up. Here are details:</p>

<ul>
    <li>ID: {{ id }}</li>
    <li>Name: {{ name }}</li>
    <li>Email: {{ email }}</li>
</ul>