subject = "Your account has been disabled to edit {{ company_name }} details!"
==

Hello {{ name }},

This is a message to inform you that your account has been disabled to edit {{ company_name }} details.

==

<p>Hello {{ name }},</p>

<p>This is a message to inform you that your account has been disabled to edit {{ company_name }} details.</p>
