subject = "PIN request"

==



Dear {{ name }},



You have been allocated a new PIN from PAMonline, please use - {{pin}}.



Should you have any problems please do get in contact with a member of the team on +44 (0)20 7967 1608.



Kind Regards

The PAMonline Team

www.pamonline.com



==



<p>Dear {{ name }},</p>



<p>You have been allocated a new PIN from PAMonline, please use - {{pin}}.</p>



<p>Should you have any problems please do get in contact with a member of the team on +44 (0)20 7967 1608.</p>



<p>Kind Regards<br />

The PAMonline Team<br />

<a href='https://www.pamonline.com'>www.pamonline.com</a></p>

