subject = "Your account has been confirmed to edit {{ company_name }} details!"
==

Hello {{ name }},

This is a message to inform you that your account has added access to edit {{ company_name }} details.

==

<p>Hello {{ name }},</p>

<p>This is a message to inform you that your account has added access to edit {{ company_name }} details.</p>

<a href="{{ access_url }}">{{ link_text }}</a>