subject = "Your account has been confirmed!"
==

Hello {{ name }},

This is a message to inform you that your account has been activated successfully.

==

<p>Hello {{ name }},</p>

<p>This is a message to inform you that your account has been activated successfully.</p>
<p>Your login details:</p>
<ul>
    <li>login:{{ email }}</li>
    <li>password:{{ password }}</li>
</ul>