{% if can('judging_area') and (user.backenduser) %}
<div id="judge-notes">
    <button type="button" data-toggle="modal" data-target="#judge-notes-modal">Notes</button>
</div>
<div class="section section-login-modal">
    <div class="modal fade" id="judge-notes-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document"></div>
    </div>
</div>
<script>
    $(function() {
        $("#judge-notes button").click(function (e) {
            var button = $(this);
            button.prop('disabled',true);
            $.request('judgeNotes::onLoadSelectAward', {
                success: function (data) {
                    $("#judge-notes-modal .modal-dialog").html(data.html);
                    $('#judge-notes-modal').modal("show").addClass("fade");
                },
                update: {},
                error: function ($el, context, textStatus, jqXHR) {

                },
                complete: function () {
                    button.prop('disabled',false);
                }
            });
        });

        $(document).on('change','#award-pam-select',(function (e) {
            var elem = $(this);
            $("#judge-notes-modal .modal-body").hide();
            $("#judge-notes-modal .ajax-loader").show();
            $.request('judgeNotes::onLoadNoteForm', {
                data:{
                    'award_id': $('#award-select').val(),
                    'company_id': elem.val()
                },
                success: function (data) {
                    $("#judge-notes-modal .modal-dialog").html(data.html);
                },
                update: {},
                error: function ($el, context, textStatus, jqXHR) {

                },
                complete: function () {
                    $("#judge-notes-modal .modal-body").show();
                    $("#judge-notes-modal .ajax-loader").hide();
                }
            });
        }));

        $(document).on('change','#award-select',(function (e) {
            var elem = $(this);
            $("#judge-notes-modal .modal-body").hide();
            $("#judge-notes-modal .ajax-loader").show();
            $.request('judgeNotes::onLoadSelectPAM', {
                data:{
                    'award_id': elem.val()
                },
                success: function (data) {
                    $("#judge-notes-modal .modal-dialog").html(data.html);
                },
                update: {},
                error: function ($el, context, textStatus, jqXHR) {

                },
                complete: function () {
                    $("#judge-notes-modal .modal-body").show();
                    $("#judge-notes-modal .ajax-loader").hide();
                }
            });
        }));
    });
</script>
{% endif %}