<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>{{message}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-change" href="{{judgeNotes.backendAwardJudgeUrl()}}" target="_blank">Access already added notes</a>
    </div>
</div>