<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Add Notes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_open({ 'data-success-title': 'Your account details have been updated.','data-success-text':'','id':'note-form',model:user }) }}
                <div>
                    <p class="form-control-invalid-text">Please enter password</p>
                    <div class="styled-select margbot">
                        <select name="award_id" class="validate" id="award-select">
                            <option value="0">Select Award</option>
                            {% for award in awards %}
                            <option value="{{ award.award_id }}"
                                    {% if selected_award == award.award_id %} selected {% endif %}
                                    >{{ award.award_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div>
                    <p class="form-control-invalid-text">Please enter password</p>
                    <div class="styled-select margbot">
                        <select name="company_id" class="validate" id="award-pam-select">
                            <option value="0">Select Company</option>
                            {% for company in companies %}
                            <option value="{{ company.company_id }}"
                                    {% if selected_company == company.company_id %} selected {% endif %}
                                    >{{ company.c_companyname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div>
                    <p class="form-control-invalid-text">Please enter password</p>
                    <textarea rows="4" placeholder="Award Note:" class="form-control validate form-control" name="aw_note"></textarea>
                </div>
                <div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6">
                    <div class="br"></div>
                    <button type="submit" class="button btn-block">Add</button>
                </div>
                {{ form_close() }}
            </div>
        </div>
    </div>
    <div class="ajax-loader"><img src="{{'ajax-loader.gif'|media}}" /></div>
    <div class="modal-footer">
        <a class="modal-change" href="{{judgeNotes.backendAwardJudgeUrl()}}" target="_blank">Access already added notes</a>
    </div>
</div>
<script>
    $(function() {
        $('#note-form').submit(function (e) {
            var form = $(this);
            $("#judge-notes-modal .modal-body").hide();
            $("#judge-notes-modal .ajax-loader").show();
            form.request('judgeNotes::onAddNote', {

                success: function (data) {
                    $("#judge-notes-modal .modal-dialog").html(data.html);
                },
                update: {},
                error: function ($el, context, textStatus, jqXHR) {
                    var resp = $el.responseJSON;
                    validateForm(form,resp.X_OCTOBER_ERROR_FIELDS);
                },
                complete: function () {
                    $("#judge-notes-modal .modal-body").show();
                    $("#judge-notes-modal .ajax-loader").hide();
                }
            });
            e.preventDefault();
        });

        function validateForm(form,response){
            $.each( response, function( key, value ) {
                var input = form.find('input[name="'+key+'"],textarea[name="'+key+'"]');
                input.addClass('invalid');
                input.parent().find('.form-control-invalid-text').html(value).css({display:'block'});
            });
            $.each( response, function( key, value ) {
                var input = form.find('select[name="'+key+'"]');
                input.parent().addClass('invalid');
                input.parent().parent().find('.form-control-invalid-text').html(value).css({display:'block'});
            });
        }
    });
</script>