<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Add Notes</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ form_open({ 'data-success-title': '','data-success-text':'Your account details have been updated.','id':'account-form',model:user }) }}
                <div>
                    <div class="styled-select margbot">
                        <select name="role" class="validate" id="award-select">
                            <option value="0">Select Award</option>
                            {% for award in awards %}
                            <option value="{{ award.award_id }}"
                                    {% if selected_award == award.award_id %} selected {% endif %}
                                    >{{ award.award_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div>
                    <div class="styled-select margbot">
                        <select name="role" class="validate" id="award-pam-select">
                            <option value="0">Select Company</option>
                            {% for company in companies %}
                            <option value="{{ company.company_id }}"
                                    >{{ company.c_companyname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {{ form_close() }}
            </div>
        </div>
    </div>
    <div class="ajax-loader"><img src="{{'ajax-loader.gif'|media}}" /></div>
    <div class="modal-footer">
        <a class="modal-change" href="{{judgeNotes.backendAwardJudgeUrl()}}" target="_blank">Access already added notes</a>
    </div>
</div>