<?php if (!isset($fatalError)): ?>
<form
        id="submit_to_awards"
        data-request="onSubmitToAwards"
        data-request-error="$el.closest('.modal').modal('hide');$('.popup-backdrop').remove();"
        data-request-complete="$el.closest('.modal').modal('hide');$('.popup-backdrop').remove();"
        data-popup-load-indicator>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Submit To PAM Awards</h4>
    </div>
    <div class="modal-body">
        <h4>I will be entering these categories: </h4>
        <?php
        $IsThereSomethingToSubmit = false;
        ?>
        <?php foreach($awards as $award):?>
        <?php
                $application = $this->getAwardApplication($award->award_id,$company_id);
                if($application && $application->aa_submitted != 1):
                    $IsThereSomethingToSubmit = true;

        ?>
        <div class="checkbox custom-checkbox">
            <input name="application_ids[]" value="<?=$application->awardapplication_id?>" data-award-id="<?=$award->award_id?>" data-award-linkedto="<?=$award->getLinkedCategoryID()?>" type="checkbox" id="checkbox_<?=$application->awardapplication_id?>" />
            <label for="checkbox_<?=$application->awardapplication_id?>"><?=$award->award_name?>.
            <?php if(count($award->links) > 0):?>
            REQUIRED: <u><?= $award->getLinkedCategoryTitle()?></u>
            <?php endif;?>
            <?php if($award->award_emprequired == 1):?> * <?php endif;?>
            </label>
        </div>
        <br />
        <?php endif;?>
        <?php endforeach;?>
        <?php if($IsThereSomethingToSubmit):?>
        <small>* Categories marked with an asterisk above require submission of the Extended Manager Profile. On submission, these sections will also be submitted along with your category submission.</small>
        <br /><br />
        <?php endif;?>
        <?php if($IsThereSomethingToSubmit == false):?>
        <div class="callout fade in callout-danger">
            <div class="content">
                <p>Nothing to submit</p>
            </div>
        </div>
        <?php endif;?>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <?php if($IsThereSomethingToSubmit):?>
        <button type="submit" class="btn btn-primary">Submit</button>
        <?php endif;?>
    </div>
</form>

<?php else: ?>
<div class="modal-body">
    <div class="callout callout-danger">
        <div class="header">
            <i class="icon-warning"></i>
            <h3>Error</h3>
            <p><?= $fatalError ?></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        Close
    </button>
</div>
<?php endif ?>
<script>
    $(document).ready(function(){
        $("#submit_to_awards input[type='checkbox']").on("change",function(){
            var award = $(this);
            if (award.prop('checked')) {
                checkLinkedAwards(true,award);
            }else{
                checkLinkedAwards(false,award);
            }
        });

        function checkLinkedAwards(checked,parentAward)
        {
            var award = false;
            $("#submit_to_awards input[type='checkbox']").each(function(){
                award = $(this);
                if(award.data('award-id') == parentAward.data('award-linkedto')){
                    if(award.prop('checked') != checked){
                        award.prop('checked',checked);
                        if(award.data('award-linkedto')){
                            return checkLinkedAwards(checked,award);
                        }
                    }
                    return;
                }
            });
        }
    });
</script>