<?php if (!isset($fatalError)): ?>
<?= Form::open(
    [
    'files'                     => true,
    'data-request'              => 'onUpdateApplication',
    'data-request-success'      => 'success($el,data)',
    'data-popup-load-indicator' => true
    ]
) ?>
    <input type="hidden" name="application_id" value="<?= $application_id ?>" />
    <input type="hidden" name="company_id" value="<?= $company_id?>">
    <input type="hidden" name="award_id" value="<?= $award->award_id?>">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="chooseTypeLabel">Edit</h4>
    </div>
    <div class="modal-body">
        <h4><b><?=$award->award_name?></b></h4>
        <p><u>CRITERIA</u>: <?=$award->award_criterion?></p>
        <?php if(count($award->links) > 0):?>
        <p><u>IMPORTANT</u>: This award is linked to other categories. If you would like to enter this award, you must enter the linked categories too.</p>
        <ul>
            <?php foreach($award->links as $link):?>
            <li><?=$link->award_name;?></li>
            <?php endforeach;?>
        </ul>
        <?php endif;?>
        <br />
        <?= $form->render() ?>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary oc-icon-tick" onclick2="$(this).setCreateFormSessionKey();">Save Changes</button>
    </div>
<?= Form::close() ?>
<?php else: ?>
<div class="modal-body">
    <div class="callout callout-danger">
        <div class="header">
            <i class="icon-warning"></i>
            <h3>Error</h3>
            <p><?= $fatalError ?></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <?= e(trans('backend::lang.form.close')) ?>
    </button>
</div>
<?php endif ?>
<script>
    function success(element,data){
        if(data.link && data.link.award_id){
            $.popup({ handler: 'onLoadAddApplication',
                extraData: {
                    'company_id': data.link.company_id,
                    'award_id': data.link.award_id,
                }
            });
        }
    }
</script>