<!--div>
    The following is a list of the awards for which we're currently accepting applications. Please click the award names to view the criteria.
    <br><br>
    Those awards you have indicated you would like to enter for are shown in red. To submit your entry application, click My Application for those categories you have indicated.
    <br><br>
    If you wish to amend the categories you have entered for, by either adding or withdrawing, please <a href="mailto:wmarston@paminsight.com">contact</a> us.
</div-->

<div>
    The following is a list of the awards for which we are currently accepting applications. Please click the award names to view the criteria.
    <br><br>
    To submit you entry application, click My Application for those categories you have indicated you wish to enter.
    <br><br>
    If you wish to amend the categories you have entered for, by either adding or withdrawing, please <a href="mailto:events@paminsight.com">contact</a> us.
</div>
<br />
<?= $this->makePartial('list_categories') ?>