<div id="Lists" class="control-list">
    <table class="table data">
        <tbody>
        <tr>
            <td>No. of successful logins</td>
            <td><?=$data['success_logins']?></td>
        </tr>
        <tr>
            <td>No. of failed logins</td>
            <td><?=$data['failed_loggins']?></td>
        </tr>
        <tr>
            <td>Page views (including homepage)</td>
            <td><?=$data['page_views']?></td>
        </tr>
        <tr>
            <td>Page views (excluding home page)</td>
            <td><?=$data['page_views_excluding_homepage']?></td>
        </tr>
        <tr>
            <td>No. of Basic Searches</td>
            <td><?=$data['basic_search']?></td>
        </tr>
        <tr>
            <td>No. of advanced searches</td>
            <td><?=$data['advanced_search']?></td>
        </tr>
        <tr>
            <td>Total searches</td>
            <td><?=$data['total_search']?></td>
        </tr>
        <tr>
            <td>No. of reviews/ratings</td>
            <td><?=$data['reviews']?></td>
        </tr>
        <tr>
            <td>No. of follow actions</td>
            <td><?=$data['follow']?></td>
        </tr>
        <tr>
            <td>No. of unnfollow actions</td>
            <td><?=$data['unfollow']?></td>
        </tr>
        <tr>
            <td>No. of updates to profile</td>
            <td><?=$data['updates']?></td>
        </tr>
        <tr>
            <td>No. of views of unique PAM Entries</td>
            <td><?=$data['uniq_page_views']?></td>
        </tr>
        </tbody>
    </table>
</div>