<tr>
    <td class="banner-container" width="700" bgcolor="#FFFFFF" style="padding: 0 20px;">
        
        <!-- Banner -->
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
            <tr>
                <td width="100%" valign="bottom" align="center">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td>
                                <div class="desktop-banner" style="padding-bottom: 15px;display:block !important">
                                    <!-- AdSpeed.com Serving Code 7.9.4 for [Zone] twn_homepage_leaderboard 728x90 -->
                                    <script type="text/javascript" src="https://g.adspeed.net/ad.php?do=js2&amp;zid=20440&amp;wd=728&amp;ht=90&amp;target=_blank&amp;spot=1&amp;globASS=&amp;globASI=&amp;globASE=&amp;cb=0.942033292959416&amp;ref=&amp;uri=http%3A//www.thewealthnet.com/page_magazine.php&amp;ref=&amp;uri=http%3A//www.thewealthnet.com/page_magazine.php&amp;t=1536053875"></script>
                                    <noscript><iframe width="728" height="90" src="https://g.adspeed.net/ad.php?do=html&zid=20440&wd=728&ht=90&target=_blank" frameborder="0" scrolling="no" allowtransparency="true" hspace="0" vspace="0"><a href="https://g.adspeed.net/ad.php?do=clk&zid=20440&wd=728&ht=90&pair=as1" target="_blank"><img style="border:0px;" src="https://g.adspeed.net/ad.php?do=img&zid=20440&wd=728&ht=90&pair=as1" alt="i" width="728" height="90"/></a></iframe>
                                    </noscript>
                                    <!-- AdSpeed.com End -->
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
<tr>