<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
        <td width="100%" height="60" valign="bottom" bgcolor="#FFFFFF" align="center">
            <table cellspacing="0" cellpadding="8" border="0">
                <tr>
                    <td>
                        <div style="padding-bottom: 20px; padding-top: 20px">
                            <img
                                class="logo"
                                src="{{'assets/images/logo_epc_email.png' | theme}}"
                                alt="EPC"
                                width="280"
                                height="60" />
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="#C21A24">
    <tr class="navigation">
        <td width="19%" style="text-align: center; padding: 8px 0;"><a href="https://www.paminsight.com/epc/" style="text-decoration: none;"><span style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: white; text-decoration: none;">News</span></a></td>
        <td width="19%" style="text-align: center; padding: 8px 0;"><a href="https://www.paminsight.com/epc/about" style="text-decoration: none;"><span style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: white; text-decoration: none;">About</span></a></td>
        <td width="24%" style="text-align: center; padding: 8px 0;"><a href="https://www.paminsight.com/epc/registration" style="text-decoration: none;"><span style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: white; text-decoration: none;">Subscriptions</span></a></td>
        <td width="19%" style="text-align: center; padding: 8px 0;"><a href="https://www.paminsight.com/epc/contact" style="text-decoration: none;"><span style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: white; text-decoration: none;">Contact</span></a></td>
        <td width="19%" style="text-align: center; padding: 8px 0;"><a href="https://www.paminsight.com/epc/login" style="text-decoration: none;"><span style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: white; text-decoration: none;">Login</span></a></td>
    </tr>
</table>
