<a data-toggle="modal" href="#content-confirmation" class="btn btn-danger">Clear Singoff Data</a>
<div class="control-popup modal fade" style="font-size:14px;" id="content-confirmation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Are you sure you wanna do that?</h4>
            </div>
            <div class="modal-body">
            	<p>All of the current signoff data will be deleted. this is cannot be undone!</p>
            </div>
            <div class="modal-footer">
                <a href="<?= Backend::url('twnepc/pamcompanies/companies/clearsignoffdata') ?>" type="button" class="btn btn-success">Yes</a>
            	<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>