<div data-control="toolbar">
    <a
        href="<?= Backend::url('twnepc/user/users') ?>"
        class="btn btn-default oc-icon-chevron-left">
        <?= e(trans('twnepc.user::lang.groups.return_to_users')) ?>
    </a>
    <a
        href="<?= Backend::url('twnepc/user/usergroups/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('twnepc.user::lang.groups.new_group')) ?>
    </a>
</div>
