<table id="sortOffices" class="table data" data-control="">
    <tbody>
    <?php foreach ($records as $record): ?>
        <tr>
            <td class="list-checkbox nolink">
                <i class="icon-align-justify"></i>
            </td>
            <td class="list-checkbox nolink">
                <div class="checkbox nolabel">
                    <input class="sortorder" type="hidden" name="o_ordernouk[<?= $record->office_id ?>]" value="<?= $record->o_ordernouk ?>">
                    <input type="checkbox" name="ids[]" value="<?= $record->office_id ?>">
                </div>
            </td>
            <td>
                <a  data-control="popup" data-request-data="company_id:'<?= $company_id ?>',id:'<?=$record->office_id?>'"
                               data-handler="<?= $this->getEventHandler('onLoadUpdateOffice') ?>" href="#"><?= $record->o_address1 ?></a>
            </td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
<script>
    $(document).ready(function(){
        $('#sortOffices').sortable({
            containerSelector: 'table',
            itemPath: '> tbody',
            itemSelector: 'tr',
            placeholder: '<tr class="placeholder"/>',
            onDrop: function  ($item, container, _super) {
                $(container.el).sortable("disable");
                $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                $("body").removeClass(container.group.options.bodyClass);

                $(container.el).find('.sortorder').each(function(key,input){
                    $(input).val(key+1);
                });
                $('form').request('onOfficeSorted', {
                    success: function() {

                    },
                    complete: function(){
                        $(container.el).sortable("enable");
                    }
                })
            }
        });
    });
</script>