<div id="<?=$listRecordsElementId?>">
    <table class="table data" data-control="rowlink">
        <thead>
        <tr>
            <th class="sort-<?=$sortColumnBy?>"><a data-request-data="sortColumn: 'companyqsection_id',sortColumnBy:'<?=$sortColumnBy?>', company_id: <?=$company_id?>" data-stripe-load-indicator=""
                                                   data-request="<?= $this->getEventHandler('onSortingByColumn') ?>" href="javascript:;">Section</a></th>
            <th><span>Question</span></th>
            <th><span>Answer</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <?php foreach($sections as $section):?>
                <?php foreach($section->questions as $question):?>
                    <?php
                        $answer = $this->getAnswerByQuestionId($question->companyquestion_id);
                    ?>
                    <tr class="<?=$section->cqs_text?>">
                        <td class="nolink"><?=$section->cqs_text?></td>
                        <td><?=$question->cq_text?></td>
                        <td><?php if($answer)echo $answer->ca_text;?></td>
                        <td class="column-button nolink">
                            <?php if($answer): ?>
                            <a class="btn btn-default btn-sm" data-control="popup" data-request-data="company_id:'<?= $company_id ?>',aid:'<?= $answer->companyanswer_id ?>'"
                               data-handler="<?= $this->getEventHandler('onLoadUpdateAnswer') ?>">Update Answer</a>
                            <?php else: ?>
                            <a class="btn btn-default btn-sm" data-control="popup" data-request-data="company_id:'<?= $company_id ?>',qid:'<?=$question->companyquestion_id?>'"
                               data-handler="<?= $this->getEventHandler('onLoadAddAnswer') ?>">Add Answer</a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach;?>
            <?php endforeach;?>
        </tbody>
    </table>
</div>