<div class="field-repeater" data-control="fieldrepeater">
    <ul id="<?= $this->getId('items') ?>">
    <?php foreach($this->getQuestions() as $qid => $question):?>
        <li>
            <div class="form-group  textarea-field">
                <label><?=$question?></label>
                <textarea placeholder="" class="form-control field-textarea" autocomplete="off"  name="<?=$indexName?>[<?=$this->getAnswerId($qid)?>]"
                        ><?=$this->getAnswerText($qid)?></textarea>
            </div>
        </li>
    <?php endforeach;?>
    </ul>
</div>

