<div >
	<a href="#"
        data-control="popup"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-handler="<?= $this->getEventHandler('onLoadAddQuestion') ?>"
        class="btn btn-primary btn-sm oc-icon-plus">Add Question</a>
        &nbsp;&nbsp;&nbsp;

    <a href="#"
        data-request-confirm="Are you sure you wish to delete selected question?"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-request="<?= $this->getEventHandler('onRemoveQuestion') ?>"
        class="btn btn-primary btn-sm oc-icon-minus">Remove question</a>
</div>