{% if __SELF__.qrCode %}
	<h3>Two Factor Authentication</h3>
	<form data-request="onActivateToken">
		<div class="row">
			<div class="col-xl-3 col-md-4 col-sm-12 col-xs-12">
			    <div class="form-group">
			        <img src="{{ __SELF__.qrCode }}" alt="">
			    </div>
		    </div>
		    <div class="col-xl-9 col-md-8 col-sm-12 col-xs-12">
			    <div class="form-group">
			    	<label for="">Scan the QR code and insert your Identification Number</label>
			        <input class="form-control" type="text" name="otp" />
			    </div>
			    <button class="btn btn-success">Activate</button>
			</div>
		</div>
	</form>
{% else %}
	<h3>Two Factor Authentication is enabled</h3>

	{% if google2fa_recovery_codes %}
		<p>Should you ever lose your phone, each of these recovery codes can be used one time each to regain access to your account. Please save them in a safe place, or you will lose access to your account.</p>
		<ul>
			{% for code in google2fa_recovery_codes %}
				<li>{{ code }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<div class="action">
		<a href="javascript:void(0);" class="btn btn-danger" data-request="onDisableToken">Disable Two Factor Authentication</a>
	</div>
{% endif %}