<table id="sortProducts" class="table data" data-control="">
    <thead>
    <tr>
        <th class="list-checkbox">
            <div class="checkbox custom-checkbox nolabel">
                <input type="checkbox" id="<?=$contenttype?>_checkboxAll" class="checkboxAll" />
                <label for="<?=$contenttype?>_checkboxAll"></label>
            </div>
        </th>
        <th><span>Title</span></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($records as $record): ?>
    <tr>
        <td class="list-checkbox nolink">
            <div class="checkbox nolabel">
                <input type="checkbox" name="ids[]" value="<?= $record->companycomment_id ?>">
            </div>
        </td>
        <td>
            <a  data-control="popup" data-request-data="company_id:'<?= $company_id ?>',article_id:'<?=$record->companycomment_id?>'"
                data-handler="<?= $this->getEventHandler('onLoadUpdateArticle') ?>" href="#"><?= $record->cc_name ?></a>
        </td>
        <td class="column-button nolink">
            <a  data-control="popup" data-request-data="company_id:'<?= $company_id ?>',article_id:'<?=$record->companycomment_id?>'"
                data-handler="<?= $this->getEventHandler('onLoadUpdateArticle') ?>" class="btn btn-default btn-sm" href="#">Edit</a>
        </td>
    </tr>
    <?php endforeach ?>
    </tbody>
</table>
<script>
    $(document).ready(function(){
        $('.checkboxAll').each(function(){
            var checkboxAll = $(this);
            checkboxAll.change(function(){
                var table = $(this).closest('table');
                if($(this).is(":checked")) {
                    table.find('td input[type="checkbox"]').prop('checked', true);
                }else{
                    table.find('td input[type="checkbox"]').prop('checked', false);
                }
            });
        });
    });
</script>