<div >
	<a href="#"
        data-control="popup"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-handler="<?= $this->getEventHandler('onLoadAddArticle') ?>"
        class="btn btn-primary btn-sm oc-icon-plus">Add</a>
        &nbsp;&nbsp;&nbsp;

    <a href="#"
        data-request-confirm="Are you sure you wish to delete selected articles?"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-request="<?= $this->getEventHandler('onRemoveArticle') ?>"
        class="btn btn-primary btn-sm oc-icon-minus">Remove selected</a>
</div>