<table id="sortProducts" class="table data" data-control="">
    <thead>
    <tr>
        <th></th>
        <th class="list-checkbox">
            <div class="checkbox custom-checkbox nolabel">
                <input type="checkbox" id="sortProducts_checkboxAll" class="checkboxAll" />
                <label for="sortProducts_checkboxAll"></label>
            </div>
        </th>
        <th><span>Name</span></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($records as $record): ?>
    <tr>
        <td class="list-checkbox nolink">
            <i class="icon-align-justify"></i>
        </td>
        <td class="list-checkbox nolink">
            <div class="checkbox nolabel">
                <input class="sortorder" type="hidden" name="pc_orderno[<?= $record->productcompany_id ?>]" value="<?= $record->pc_orderno ?>">
                <input type="checkbox" name="ids[]" value="<?= $record->productcompany_id ?>">
            </div>
        </td>
        <td>
            <a  data-control="popup" data-request-data="company_id:'<?= $company_id ?>',id:'<?=$record->productcompany_id?>'"
                data-handler="<?= $this->getEventHandler('onLoadUpdateProduct') ?>" href="#"><?php if($record->product)echo $record->product->p_name ?></a>
        </td>
        <td class="column-button nolink">
            <a  data-control="popup" data-request-data="company_id:'<?= $company_id ?>',id:'<?=$record->productcompany_id?>'"
                data-handler="<?= $this->getEventHandler('onLoadUpdateProduct') ?>" class="btn btn-default btn-sm" href="#">Edit</a>
        </td>
    </tr>
    <?php endforeach ?>
    </tbody>
</table>
<script>
    $(document).ready(function(){
        $('#sortProducts').sortable({
            containerSelector: 'table',
            itemPath: '> tbody',
            itemSelector: 'tr',
            placeholder: '<tr class="placeholder"/>',
            onDrop: function  ($item, container, _super) {
                $(container.el).sortable("disable");
                $item.removeClass(container.group.options.draggedClass).removeAttr("style")
                $("body").removeClass(container.group.options.bodyClass);

                $(container.el).find('.sortorder').each(function(key,input){
                    $(input).val(key+1);
                });
                $('form').request('onProductsSorted', {
                    success: function() {

                    },
                    complete: function(){
                        $(container.el).sortable("enable");
                    }
                })
            }
        });
        $('.checkboxAll').each(function(){
            var checkboxAll = $(this);
            checkboxAll.change(function(){
                var table = $(this).closest('table');
                if($(this).is(":checked")) {
                    table.find('td input[type="checkbox"]').prop('checked', true);
                }else{
                    table.find('td input[type="checkbox"]').prop('checked', false);
                }
            });
        });
    });
</script>