<input type="hidden" name="User[backenduser]" value="<?=$backenduser?>">
<?php if($isJudge):?>
    <div id="judgeBackendAccess">
        <div class="loading-indicator-container">
            <?php if($hasBackendAccess):?>
            <a
                data-load-indicator="Wait..."
                data-request="<?= $this->getEventHandler('onDisableJudgeBackend') ?>"
                class="btn btn-danger" href="#">Deactivate</a> <p>Judging area for this user is activated.</p>
            <?php else: ?>
            <a
                data-load-indicator="Wait..."
                data-request="<?= $this->getEventHandler('onActivateJudgeBackend') ?>"
                class="btn btn-success" href="#">Activate</a> <p>Judging area for this user is deactivated.</p>
            <?php endif;?>
        </div>
    </div>
<?php endif;?>