<div class="form-elements">
    <h3><?=$awardapplication->award->award_name?></h3>
    <p class="form-group span-left">CRITERIA: <?=$awardapplication->award->award_criterion?></p>
</div>
<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>
    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
<?php endif ?>