<?php if (!isset($fatalError)): ?>
	<form data-request="<?= $this->getEventHandler('onCreateItem') ?>" data-request-success="$el.closest('.modal').modal('hide');" data-popup-load-indicator>

		<input type="hidden" name="master_object_class" value="<?= $type ?>" />

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="chooseTypeLabel">New <?= $typeInfo['label'] ?></h4>
		</div>
		<div class="modal-body">
			<?= $form->render() ?>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button type="submit" class="btn btn-primary oc-icon-plus" onclick2="$(this).setCreateFormSessionKey();">Add Item</button>
		</div>

	</form>

<?php else: ?>
	<div class="modal-body">
		<div class="callout callout-danger">
			<div class="header">
				<i class="icon-warning"></i>
				<h3>Error</h3>
				<p><?= $fatalError ?></p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-default"
			data-dismiss="popup">
			<?= e(trans('backend::lang.form.close')) ?>
		</button>
	</div>
<?php endif ?>