@twn-link-color: #5756b1;
@twn-button-primary-bg: #2c2b79;
@twn-button-positive-bg: #2c2b79;
@twn-button-negative-bg: #2c2b79;

@epc-link-color: #C21A24;
@epc-button-primary-bg: #86141A;
@epc-button-positive-bg: #86141A;
@epc-button-negative-bg: #86141A;

@fundeye-link-color: #f59815;
@fundeye-button-primary-bg: #67387c;
@fundeye-button-positive-bg: #67387c;
@fundeye-button-negative-bg: #67387c;

@button-text-color: white;

/* Base */

body, body *:not(html):not(style):not(br):not(tr):not(code) {
    font-family: Avenir, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: @body-bg;
    color: @text-color;
    height: 100%;
    hyphens: auto;
    line-height: 1.4;
    margin: 0;
    -moz-hyphens: auto;
    -ms-word-break: break-all;
    width: 100% !important;
    -webkit-hyphens: auto;
    -webkit-text-size-adjust: none;
    word-break: break-all;
    word-break: break-word;
}

p,
ul,
ol,
blockquote {
    line-height: 1.4;
    text-align: left;
}

.site-twn a {
    color: @twn-link-color;
}

.site-epc a {
    color: @epc-link-color;
}

.site-fundeye a {
    color: @fundeye-link-color;
}

a img {
    border: none;
}

/* Typography */

h1 {
    color: @heading-color;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
    padding-bottom: 15px;
}

h2 {
    color: @heading-color;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
    padding-bottom: 10px;
}

h3 {
    color: @heading-color;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

p {
    color: @text-color;
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 0;
    text-align: left;
}

code {
    color: @text-color;
    font-size: 16px;
    line-height: 1.5em;
}

p.sub {
    font-size: 12px;
}

img {
    max-width: 100%;
}

/* Layout */

.wrapper {
    background-color: @body-bg;
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.content {
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

/* Header */

.header {
    padding: 25px 0;
    text-align: center;
}

.header a, .header span {
    color: @header-color;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}

/* Body */

.body {
    background-color: @content-bg;
    border-bottom: 1px solid @body-border-color;
    border-top: 1px solid @body-border-color;
    margin: 0;
    padding: 0;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

/* Subcopy */

.subcopy {
    border-top: 1px solid @subcopy-border-color;
    margin-top: 25px;
    padding-top: 25px;
}

.subcopy p {
    font-size: 12px;
}

/* Footer */

.footer {
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.footer p {
    color: @footer-color;
    font-size: 13px;
    text-align: left;
}

/* Tables */

.table table {
    border-collapse: collapse;
    margin: 30px auto;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.table th {
    border-bottom: 1px solid @table-border-color;
    padding-bottom: 8px;
}

.table td {
    color: @text-color;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0;
}

.content-cell {
    padding: 35px;
}

.wrapper.layout-system .content-cell {
    padding: 35px 0;
}

/* Buttons */

.action {
    margin: 30px auto;
    padding: 0;
    text-align: center;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.button {
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
    color: @button-text-color !important;
    display: inline-block;
    text-decoration: none;
    -webkit-text-size-adjust: none;
    font-size: 16px;
    font-weight: bold;
}

.site-twn .button-primary {
    background-color: @twn-button-primary-bg;
    border-top: 10px solid @twn-button-primary-bg;
    border-right: 18px solid @twn-button-primary-bg;
    border-bottom: 10px solid @twn-button-primary-bg;
    border-left: 18px solid @twn-button-primary-bg;
}

.site-twn .button-positive {
    background-color: @twn-button-positive-bg;
    border-top: 10px solid @twn-button-positive-bg;
    border-right: 18px solid @twn-button-positive-bg;
    border-bottom: 10px solid @twn-button-positive-bg;
    border-left: 18px solid @twn-button-positive-bg;
}

.site-twn .button-negative {
    background-color: @twn-button-negative-bg;
    border-top: 10px solid @twn-button-negative-bg;
    border-right: 18px solid @twn-button-negative-bg;
    border-bottom: 10px solid @twn-button-negative-bg;
    border-left: 18px solid @twn-button-negative-bg;
}

.site-epc .button-primary {
    background-color: @epc-button-primary-bg;
    border-top: 10px solid @epc-button-primary-bg;
    border-right: 18px solid @epc-button-primary-bg;
    border-bottom: 10px solid @epc-button-primary-bg;
    border-left: 18px solid @epc-button-primary-bg;
}

.site-epc .button-positive {
    background-color: @epc-button-positive-bg;
    border-top: 10px solid @epc-button-positive-bg;
    border-right: 18px solid @epc-button-positive-bg;
    border-bottom: 10px solid @epc-button-positive-bg;
    border-left: 18px solid @epc-button-positive-bg;
}

.site-epc .button-negative {
    background-color: @epc-button-negative-bg;
    border-top: 10px solid @epc-button-negative-bg;
    border-right: 18px solid @epc-button-negative-bg;
    border-bottom: 10px solid @epc-button-negative-bg;
    border-left: 18px solid @epc-button-negative-bg;
}

.site-fundeye .button-primary {
    background-color: @fundeye-button-primary-bg;
    border-top: 10px solid @fundeye-button-primary-bg;
    border-right: 18px solid @fundeye-button-primary-bg;
    border-bottom: 10px solid @fundeye-button-primary-bg;
    border-left: 18px solid @fundeye-button-primary-bg;
}

.site-fundeye .button-positive {
    background-color: @fundeye-button-positive-bg;
    border-top: 10px solid @fundeye-button-positive-bg;
    border-right: 18px solid @fundeye-button-positive-bg;
    border-bottom: 10px solid @fundeye-button-positive-bg;
    border-left: 18px solid @fundeye-button-positive-bg;
}

.site-fundeye .button-negative {
    background-color: @fundeye-button-negative-bg;
    border-top: 10px solid @fundeye-button-negative-bg;
    border-right: 18px solid @fundeye-button-negative-bg;
    border-bottom: 10px solid @fundeye-button-negative-bg;
    border-left: 18px solid @fundeye-button-negative-bg;
}

/* Panels */

.panel {
    margin: 0 0 21px;
}

.panel-content {
    background-color: @panel-bg;
    padding: 16px;
}

.panel-item {
    padding: 0;
}

.panel-item p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Promotions */

.promotion {
    background-color: @promotion-bg;
    border: 2px dashed @promotion-border-color;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 24px;
    width: 100%;
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
}

.promotion h1 {
    text-align: center;
}

.promotion p {
    font-size: 15px;
    text-align: center;
}

.promotion p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}
