<div class="form-group">
    
    <div class="loading-indicator-container" style="display:none">
        <div class="loading-indicator">
            <span></span>
        </div>
    </div>
    <select class="form-control custom-select" data-val="<?= $value ?>" id="<?=$id?>" name="<?= $name ?>" data-depends-data="<?= htmlspecialchars(json_encode($options))?>">

    </select>
</div>
<script>
    $(document).ready(function(){
        var field = $("#<?=$id?>");
        var dependField = $("select[name='<?=$dependsOnField?>']");
        var fieldDependsData = field.data('depends-data');
        fillFieldOptions(field,dependField.val(),fieldDependsData);
        dependField.on("change",function(){
            field.select2('val',0);
            fillFieldOptions(field,$(this).val(),fieldDependsData);
        });
        function fillFieldOptions(field,key,options)
        {
            //field.html('');
            $.each(options,function(index,value){
                if(key == index){
                    field.html('');
                    $.each(value,function(key,label){
                        if($(field).data('val') == key){
                            field.append($('<option selected></option>')
                                .attr("value",key)
                                .text(label));
                        }else {
                        field.append($('<option></option>')
                                .attr("value",key)
                                .text(label));
                        }
                    });
                }
            });
        }
    });
</script>
