<div data-control="toolbar">
    <a href="<?= Backend::url('twnepc/awards/winnersawards') ?>?awardyear_id=<?=get('awardyear_id',0)?>" class="btn btn-primary icon-chevron-left">&nbsp;&nbsp;Back to Awards</a>
</div>
