<div class="report-widget users-widget">
        <h3>Users currently ONLINE</h3>
        <?php //var_dump($users);?>
        <div>
            <ul class="userlist">
            <?php foreach($online as $user):?>
                <li style="color: black;"><?php echo $user->name;?> <?php echo $user->surname;?></li>
            <?php endforeach;?>
            </ul>
        </div>
    </div>
    <style>
    .users-widget h3 {
        margin-bottom: 10px;
    }
    .userlist { list-style: none;padding-left: 0px;}
    .userlist li::before {content: "•"; color: green; font-size: 30px;position: relative;top: 4px;margin-right: 10px;}
    </style>