<h3>My Favourites</h3>

{% for f in fav %}
<li>
  <a class="fav-remove fas fa-trash" data-toggle="modal" data-target="#exampleModal{{f.id}}"></a>
  <div class="fav-title">
    <a href="{{f.domain}}/article/{{f.slug}}" target="_blank">{{f.title}} ({{f.theme}})</a>
  </div>
    
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{f.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you really want to delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-request-update="" data-request="onUnFav" data-request-data="article: '{{f.id}}',user: '{{user.id}}'">YES</button>
        </div>
      </div>
    </div>
  </div>
</li>
{% endfor %}

{%if fav|length == 0 %}
  <p>You not favourited any article.</p>
{% endif %}