<?= Form::open(['id' => 'addGroupForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title">Add Subscriber</h4>
    </div>
    <div class="modal-body">

        <?php if ($this->fatalError): ?>
            <p class="flash-message static error"><?= $fatalError ?></p>
        <?php endif ?>

        <select class="form-control custom-select select2" id="userid" name="user">
            <option value="">--Select a user to subscribe--</option>
            <?php foreach($users as $user):; ?>
            <option value="<?= $user->id ?>"><?= $user->name.' '.$user->surname.' - '.$user->email;?></option>
            <?php endforeach;?>
        </select>
        <br/>
    </div>

    <div class="modal-footer">
        <button
            type="submit"
            class="btn btn-primary"
            data-request="onAddSubscriber"
            data-popup-load-indicator>
            <?= e(trans('backend::lang.form.add')) ?>
        </button>
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </button>
    </div>
<?= Form::close() ?>
