<a
    href="<?= Backend::url('responsiv/campaign/lists/update/'.$formModel->id) ?>"
    class="btn btn-primary oc-icon-pencil">
    Edit list details
</a>
<a
    href="javascript:;"
    class="btn btn-default oc-icon-users"
    data-control="popup"
    data-handler="onLoadAddSubscriber">
    Add subscriber
</a>
<a
    href="javascript:;"
    class="btn btn-default oc-icon-users"
    data-control="popup"
    data-handler="onLoadAddRecipientGroup">
    Add recipient group
</a>
<?php if (false /*@todo*/ && class_exists('RainLab\User\Plugin')): ?>
    <a
        href="javascript:;"
        class="btn btn-default oc-icon-refresh">
        Sync with users
    </a>
<?php endif ?>
<a
    href="javascript:;"
    data-request="onDelete"
    data-load-indicator="Deleting List..."
    data-request-confirm="Do you really want to delete this list?"
    class="btn btn-danger oc-icon-trash-o">
    Delete this list
</a>
