<div class="scoreboard-item title-value">
    <h4>List name</h4>
    <p><?= $formModel->name ?></p>
    <p class="description">Created: <?= $formModel->created_at->toFormattedDateString() ?></p>
</div>
<div class="scoreboard-item title-value">
    <h4>Subscribers</h4>
    <p><?= $formModel->count_subscribers ?></p>
    <p class="description">Today: <?= $formModel->count_subscribers_today ?></p>
</div>