<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('responsiv/campaign/lists') ?>">Lists</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="scoreboard">
        <div data-control="toolbar">
            <?= $this->makePartial('preview_scoreboard') ?>
        </div>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <?= $this->makePartial('preview_toolbar') ?>
        </div>
    </div>

    <div class="list-header">
        <h3>Subscribers</h3>
    </div>
    <?= $this->relationRender('subscribers') ?>

<?php else: ?>

    <div class="padded-container">
        <p class="flash-message static error"><?= e($this->fatalError) ?></p>
        <p><a href="<?= Backend::url('responsiv/campaign/lists') ?>" class="btn btn-default">Return to lists list</a></p>
    </div>

<?php endif ?>