<div style="padding:30px;">
    <div align="center" id="pagetitle"><b><font size="3" face="verdana"><br><font size="-1"><i>Welcome to the PAM Awards</i></font>
    </font></b></div><font size="3" face="verdana">

    </font>
    <div align="center" id="pagetitle"></div>

    <br>
    <div align="left">
		<p>The links to the left will direct you to the sections required for the entry into PAM Awards. The Judging Panel will have complete access to each of these sections. 
			<strong>The areas you must complete are dependent on which categories you are entering.</strong></p>

		<p><strong>Investment Performance only – Please go to Award Categories and enter the relevant categories.</strong></p>

		<p><strong>Non-Investment Performance categories</strong> – If you are entering any of the non-performance categories you must complete all of the sections, 
			including Group Structure and Personnel; Investment Management Process; Pooled Funds/Unlisted Securities; Regulation and Investor Protection; and Fees, 
			Charges and Interest. </p>

		<p><strong>Data Updates – Year end – </strong>this section is a consolidation of all of the year end data fields. When you are asked to update your entry with 
			year end figures in January, you may use this page to quickly and easily complete this submission. </p>

		<p>Please remember to <strong>Save</strong> your entry on each page each time you make an amendment. When you are satisfied that all sections are complete 
			and correct, please click the <strong>Submit to PAM Awards</strong>, found on the Award Categories page, which will make the information you have entered 
			available to the Judges. </p>

		<p>If you have any queries on the PAM Awards, particularly if they relate to the criteria, submission process or non-performance awards please contact Kathryn Stokes 
			on <a href="mailto:kstokes@paminsight.com">kstokes@paminsight.com or 07894 488014</a></p>

		<!--p>If you have any technical queries regarding the data requirements for the Investment Performance categories, please contact Vicky Rooke, 
			<a href="mailto:Manager.Relations@assetrisk.com">Manager.Relations@assetrisk.com</a> 020 7442 5954</p-->
                
                <p>If you have any technical queries regarding the data requirements for the Investment Performance categories, please contact ARC, 
                        <a href="mailto:Manager.Relations@assetrisk.com">Manager.Relations@assetrisk.com</a> 020 7442 5954</p>
    </div>
</div>