{% for user in judges.posts %}
<div class="col-sm-4">
    <div class="member-post">
        <div class="wrapper">
            <img src="{{user.photo | media}}" alt="{{user.name}}" class="img-responsive" />
            <h3>{{user.name}}</h3>
            <p>{{user.position}}</p>
	    <p>{{user.chair}}</p>		
        </div>
        <a class="learn-more" href="{{ 'awards-judge'|page({id:user.id}) }}">Learn more</a>
    </div>
</div>
{% endfor %}