<?php if (!isset($fatalError)): ?>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="chooseTypeLabel">Pamonline</h4>
</div>
<div class="modal-body">
    <p>For better experience use large screen devices.</p>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="disableDisplayCheck">Okay</button>
</div>

<?php else: ?>

<div class="modal-body">
    <div class="callout callout-danger">
        <div class="header">
            <i class="icon-warning"></i>

            <h3>Error</h3>

            <p><?= $fatalError ?></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        Close
    </button>
</div>

<?php endif ?>