<?php
    Use Twnepc\PamCompanies\Models\Settings;
?>
<?php if (!isset($fatalError)): ?>

<form data-request="onEnterPINSubmitted" data-request-success="closeWidgetPINModal($el)" data-popup-load-indicator>

    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title" id="chooseTypeLabel">You must enter the PIN to save updates to the Company profile</h4>

    </div>

    <div class="modal-body">

        <div class="form-group span-full">

            <label style="display: block;">PIN code</label>

            <input type="text" name="pin_code" value="" class="form-control" style="float: left;width: 84.9%;border-top-right-radius: 0px !important;border-bottom-right-radius: 0px !important;" />
             <button  style="    float: left;height: 40px;border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;"type="submit" class="btn btn-primary oc-icon-plus" onclick2="$(this).setCreateFormSessionKey();">Enter</button>
        </div>

        <div class="form-group span-full">

            <div class="callout fade in callout-danger no-icon no-subheader">

                <div class="header">

                    <h3>Don't know your PIN code?</h3>

                </div>

                <div class="content">

                    <p><?php echo Settings::get('dont_know_pin');?></p>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

        <button type="button" class="btn btn-warning" data-request="onRequestPIN">Request PIN</button>

        

    </div>



</form>



<?php else: ?>

<div class="modal-body">

    <div class="callout callout-danger">

        <div class="header">

            <i class="icon-warning"></i>

            <h3>Error</h3>

            <p><?= $fatalError ?></p>

        </div>

    </div>

</div>

<div class="modal-footer">

    <button

            type="button"

            class="btn btn-default"

            data-dismiss="popup">

        Close

    </button>

</div>

<?php endif ?>

<script>

    function closeWidgetPINModal($el)

    {

        //$el.closest('.modal').modal('hide');

    }



    $(document).ready(function(){

        $('.modal').on('hidden.bs.modal', function () {

            var modal = $(document).find('.modal');

            if(modal.length > 0)

            {

                $(document.body).addClass('modal-open');

                alert();

                console.log("there is one more modal");

            }

        })

    });

</script>