
<!-- 
    To display the public variable $name, delcared in components/createsession.php , 
    use  {{ __SELF__.name }}  instead of {{ createSession.name }}
    {{ createSession.name }}  will work, but is not as flexible, especially 
    if the createSession alias is changed.
-->

{{ dump(__SELF__.products) }}

{{ dump(__SELF__.products.count()) }}

{{ dump(__SELF__.products.getIterator()) }}

<p>the self Public is {{ __SELF__.public_key  }}</p> 

<p>the self Secret is {{ __SELF__.secret_key  }}</p> 

<h2>Products</h2>
<pre>{{ __SELF__.products  }} </pre>

<h2>Product Prices</h2>
<pre>{{ __SELF__.product_prices  }} </pre>
<ul>
    {% for oneimage in __SELF__.images %}
        <li>{{ product.username|e }}</li>
    {% endfor %}
</ul>

<h2>Product Images</h2>
<pre>{{ __SELF__.images  }} </pre>

<form 
    data-request="{{__SELF__}}::onSubscribe" 
    data-request-success="$('#subscribeBtn').val('Subscribed')" 
    data-request-update="'{{__SELF__}}::subscribed': '#result'" 
>
<div class="panel panel-primary">
    <div class="panel-body">
        <div id="result">
            <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" id="btn">Subscribe here</button>
            </span>
        </div>
    </div>
</div>
</form>
<!-- stripe script here mww -->
<script src="https://js.stripe.com/v3"></script>
<script charset="utf-8">
    var stripe = Stripe('{{ __SELF__.public_key}}') ;
    btn.addEventListener('click',function(e) {
        e.preventDefault();
        stripe.redirectToCheckout({ sessionId:'{{ __SELF__.sessionId}}'})
    } ;
</script>