<div class="form-group text-field span-left">
    <label>Full name:</label>
    <p><?=$formModel->user->name?> <?=$formModel->user->surname?></p>
    <hr />
</div>
<div class="form-group text-field span-left">
    <label>Email address:</label>
    <p><?=$formModel->user->email?></p>
    <hr />
</div>
<div class="form-group text-field span-left">
    <label>Telephone:</label>
    <p><?=$formModel->user->phone?></p>
    <hr />
</div>