<a href="" class="btn btn-primary">Refresh Progress Data</a>
<h3>Current Progress</h3>
<table class="table data">
    <thead>
    <tr>
        <?php $counter = 0;?>
        <?php foreach($records as $r): ?>
        <?php foreach($r->attributes as $key => $val): ?>
            <?php
            
                if(strpos($key,'_signoff') && $counter == 0)
                {
                    $title1 = str_replace('c_','',$key);
                    $title2 = str_replace('_signoff','',$title1);
                    if(!in_array($title2,$disabled))
                    {
                ?>
                    <th>
                    <span>
                    <center>
                    <?php
                        $title = str_replace('c_','',$key);
                        $title = str_replace('_signoff','',$title);
                        $title = str_replace('_',' ',$title);

                        if($title == 'Kcd')
                        {
                            $title = 'Key Corporate Data';
                        }

                        echo ucwords($title);
                    ?>
                    </center>
                    <span>
                    </th>

                <?php
                    }
                }
            ?>
            
            <?php endforeach ?>
            <?php $counter++?>
        <?php endforeach ?>
    </tr>
    </thead>
    <tbody>
    <?php $counter = 0;?>
    <?php foreach ($records as $record): ?>
    <tr>    
            <?php if($counter == 0):?>
            <?php foreach($record->attributes as $key => $val): ?>
            
            <?php
            
                if(strpos($key,'_signoff'))
                {
                    $title1 = str_replace('c_','',$key);
                    $title2 = str_replace('_signoff','',$title1);
                    if(!in_array($title2,$disabled))
                    {
                ?>

                <?php
                    $title = str_replace('c_','',$key);
                    $title = str_replace('_signoff','',$title);
                    $title = str_replace('_',' ',$title);

                    if($title == 'Kcd')
                    {
                        $title = 'Key Corporate Data';
                    }

                ?>
                <td data-cell="<?php echo ucwords($title); ?>">
                <center>
                   <span class="color-<?php echo ($val==1 ? 'normal': 'red'); ?>"><?php echo ($val == 1 ? 'Yes': 'No'); ?></span>
                </center>
                </td>

                <?php
                    }
                }
            ?>
            
            <?php endforeach ?>
            <?php endif ?>
            
        
    </tr>
    <?php $counter ++;?>
    <?php endforeach ?>
    </tbody>
</table>
<h3>Progress History</h3>
<table id="sortProducts" class="table data" data-control="">
    <thead>
    <tr>
        
        <th><span>Name</span></th>
        <th><span>Date Modified</span></th>
        <?php $counter = 0;?>
        <?php foreach($records as $r): ?>
        <?php foreach($r->attributes as $key => $val): ?>
            <?php
            
                if(strpos($key,'_signoff') && $counter == 0)
                {
                    $title1 = str_replace('c_','',$key);
                    $title2 = str_replace('_signoff','',$title1);
                    if(!in_array($title2,$disabled))
                    {
                ?>
                <th>
                <span>
                <center>
                <?php
                    $title = str_replace('c_','',$key);
                    $title = str_replace('_signoff','',$title);
                    $title = str_replace('_',' ',$title);

                    if($title == 'Kcd')
                    {
                        $title = 'Key Corporate Data';
                    }

                    echo ucwords($title);
                ?>
                </center>
                <span>
                </th>

                <?php
                    }
                }
            ?>
            
            <?php endforeach ?>
            <?php $counter++?>
        <?php endforeach ?>
    </tr>
    </thead>
    <tbody>
    <?php $counter = 0; ?>
    <?php foreach ($records as $record): ?>
    <tr>
       
        <td>
            <?php echo $record->cs_name;?>
        </td>
        <td class="column-button nolink">
           <?php echo $record->pam_modified; ?> 
        </td>
        
        	
        	   
        		<?php foreach($record->attributes as $key => $val): ?>
        	
        	<?php
        	
        		if(strpos($key,'_signoff'))
        		{
                    $title1 = str_replace('c_','',$key);
                    $title2 = str_replace('_signoff','',$title1);
                    if(!in_array($title2,$disabled))
                    {
        		?>
                <?php
                    $title = str_replace('c_','',$key);
                    $title = str_replace('_signoff','',$title);
                    $title = str_replace('_',' ',$title);

                    if($title == 'Kcd')
                    {
                        $title = 'Key Corporate Data';
                    }

                ?>
        		<td data-cell="<?php echo ucwords($title); ?>">
        		<center>
                    
        		    <span class="<?php echo ( $counter < (count($records)-1) && $records[$counter+1][$key] != $val ? 'changed': ''); ?> color-<?php echo ($val==1 ? 'normal': 'red'); ?>">

        			<?php echo ($val == 1 ? 'Yes': 'No');?>
        		    </span>
                </center>
        		</td>

        		<?php
                    }
        		}
        	?>
        	
        	<?php endforeach ?>
        	
        	
        
    </tr>
    <?php $counter++;?>
    <?php endforeach ?>
    </tbody>
</table>