$baseFont: 'Montserrat', sans-serif;
$specialFont: 'Roboto', sans-serif;
$text: #000000;
$fontSize: 15px;

$primary: #86141A; // Red
$secondary: #C21A24; // Dark red
$selected: #FB056B;  // Pink
$grayBg: #EEEEEE;
$gray: #555555;
$placeholderBg: #999999;
$blue: #297fca;
$error: #721c24;

$articleTitle: #000000;
$articleTitleHover: #86141A;
$sectionTitle: #C21A24;

$moreLink: #555555;
$trending: #86141A;

$footer: #FB056B;
$menuSelected: #FFFFFF;
$secMenu: #777777;
$pupularBox: #C21A24;
