// Header top	
.header-top,
header .region-selector .select-region select.regionselect ~ ul.select-options {
	background-color: #d67f04;
}

// Home news box with tab
.stories-wrapper {
	border: 1px solid #DDDDDD;
	background-color: #FFFFFF;
	background: #FFFFFF;
	@include box-shadow(0px 2px 40px 0px rgba(0,0,0,0.15));
	padding: 0;
	ul.nav-tabs {
		li.nav-item {
			a {
				color: #666666;
				font-family: $specialFont;
				background-color: #F1F1F1;
				text-transform: uppercase;
				font-size: 0.9rem;
				font-weight: 400;
				@include transition(color 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				&:after {
					@include transition(none);
					opacity: 1;
					background-color: #DDDDDD;
					height: 1px;
				}
				&.active {
					color: #000000;
					background-color: white;
					&:after {
						background-color: #FFFFFF;
					}
					&:hover {
						&:after {
							background-color: #FFFFFF;
						}
					}
				}
				&:hover {
					color: #000000;
					&:after {
						background-color: #DDDDDD;
					}
				}
			}
			&:first-child {
				border-right: 1px solid #DDDDDD;
			}
		}
	}
	ul.storylist {
		margin-bottom: 0;
		li.item {
			padding-left: 20px;
			padding-right: 20px;
			border-bottom: 1px solid #DDDDDD;
			margin-top: 12px;
			padding-bottom: 12px;
			&:before {
				display: none;
			}
			a {
				color: $secondary;
				font-weight: 400;
				font-family: $specialFont;
				line-height: 130%;
			}
		}
	}

	.more-stories {
		background: none;
		margin-left: 0;
		margin-right: 0;
		margin-top: -8px;
		border-top: 1px solid #DDDDDD;
		display: none;
		i {
			color: $secondary;
		}
		&:hover {
			i {
				color: $pupularBox;
			}
		}
		span {
			font-family: $specialFont;
			color: $secondary;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 0.9rem;
		}
	}
}

// Home subscribe box
.subscriber-box {
	padding: 0;
	background-color: transparent;
	@include box-shadow(none);
	h2 {
		color: #000;
		text-transform: none;
		font-family: $specialFont;
		text-align: center;
		font-weight: 600;
	}
	.content {
		border-top: 5px solid $secondary;
		background-color: #E8E8E8;
		padding: 15px;
	}
	p {
		font-family: $specialFont;
		font-size: 0.8667rem;
		line-height: 140%;
		margin-bottom: 5px;
	}
	a {
		color: $secondary;
		font-family: $specialFont;
		font-size: 0.8667rem;
		text-trannsform: uppercase;
	}
}

// News box
.news-box {
	&.color-orange {
		border-color: #5756B7;
	}

	 .img {
	 	span {
	 		background-color: rgba(214, 127, 4, 0.65);
	 	}
	}
}

// Home update
@media (max-width: 991px) {
	.main-content {
		.col-main {
			.news-box-row {
				.col-12.col-secondary {
					margin-top: 20px;
				}
			}
		}
	}

	.news-box {
		h3 {
			margin-top: 10px;
			padding-bottom: 5px;
		}
	}

	.news-list-row {
		.col-md-6 {
			flex: 0 0 58.33333%;
    		max-width: 58.33333%;
    		padding-right: 1%;
    		padding-left: 15px;
    		& + .col-md-6 {
				flex: 0 0 41.66667%;
				max-width: 41.66667%;
				padding-right: 15px;
				padding-left: 1%;
    		}
		}
	}
}

// Main logo
header {
	nav.navbar {
		.navbar-brand {
			img {
				max-width: 220px;
				@media (max-width: 1199px) {
					max-width: 206px;
				}
				@media (max-width: 991px) {
					max-width: 196px;
				}
			}
		}
	}
}








