<?php 
    $article = \Twnepc\News\Models\Article::find($recordId);
    $user = Backend\Models\User::find($article->author_lockedby);
    $currentuser = \BackendAuth::getUser()->id;
?>
<div class="form-buttons" data-request-data="id: <?= $recordId ?>">

    <?php if($article->author_lockedby):;?>
    <label style="line-height: 40px;">Locked by <?php echo $user->first_name.' '.$user->last_name;?></label>
       
        <?php if($article->author_lockedby == $currentuser):;?>
        <button data-request="onUnlock" data-request-update="lock: '#lock-result'" class="btn btn-primary" style="float: right;">Unlock</button>
        <?php endif; ?>
    <?php else: ?>
        <button data-request="onLock" data-request-update="lock: '#lock-result'" class="btn btn-primary" style="float: right;">Lock</button>
    <?php endif;?>
</div>