
<?php 
$article = \Twnepc\News\Models\Article::find($recordId);
?>

<?php $rate = round($article->overallRating()) ?></span>
<span>
    <?php for($i=1;$i<=$rate;$i++):?>
        <span class="fa fa-star checked"></span>
    <?php endfor;?>
    <?php for($i=$rate;$i<5;$i++):?>
        <span class="fa fa-star-o"></span>
    <?php endfor;?>
</span>

<style>
.fa-star.checked {
    color: orange;
}

</style>