<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('twnepc/news/articles') ?>">Articles</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <div class="col-md-8">
                <?= $this->formRender() ?>
            </div>
            <div class="col-md-4">
                <div class="ratings">
                    <table>
                        <tr>
                            <td>Overall Ratings:</td>
                            <td>
                                <?= $this->makePartial('overall', ['recordId' => $recordId]) ?>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="revisions">
                    <div class="form-buttons">
                    <label style="line-height: 40px;">Change History</label>
                    <a href="<?= Backend::url('twnepc/news/history/show/'.$recordId) ?>" target="_blank" class="btn btn-primary" style="float: right;">See Details</a>
                </div>
                
                <div id="lock-result">
                    <?= $this->makePartial('lock', ['recordId' => $recordId]) ?>
                </div>

                <table>
                    
                    <?php foreach($revisions as $key => $val):;?>
                    <tr>
                        <?php  
                            $dateString = str_replace("'","",$key); 
                            $date = DateTime::createFromFormat('Y-m-d H:i:s', $dateString);
                        ?>
                        <td width="80" style="white-space:nowrap;">
                                <small><b><?= $date->format('Y M. d'); ?></b></small><br>
                                <b><?= $date->format('h:i'); ?></b><br>
                            <button style="margin-top: 10px;" class="btn btn-primary disabled">Revert</button>
                        </td>
                        <td style="padding:0px;">
                            <table>
                                    <tr>
                                            <th>Field</th>
                                            <th>By</th>
                                            <th>From</th>
                                            <th>To</th>
                                        </tr>
                                
                                    <?php foreach($val as $revision):;?>
                                    <tr>
                                    <td><?= trans('twnepc.news::lang.'.$revision['field']); ?></td>
                                    <td><?= $revision['user']['user'][0]['login'];?></td>
                                    <td>
                                    <?php
                                        if(strlen($revision['old_value']) > 30) {
                                            echo substr($revision['old_value'],0,30).'...';
                                        } else {
                                            echo $revision['old_value'];
                                        } 
                                    ?></td>
                                    <td><?php
                                        if(strlen($revision['new_value']) > 30) {
                                            echo substr($revision['new_value'],0,30).'...';
                                        } else {
                                            echo $revision['new_value'];
                                        }     
                                    ?></td>
                                    
                                    </tr>
                                    <?php endforeach; ?>
                                
                            </table>
                        </td>
                        
                    </tr>
                    <?php endforeach; ?>
                </table>
                </div>
            </div>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')) ?>
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                    data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>">
                </button>

                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('twnepc/news/articles') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>
    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('twnepc/news/articles') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>