<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Newsletter</title>
    <style>
        a
        {
            color:#ce4240; text-decoration:none;
        }
        a:hover
        {
            text-decoration: underline;
        }
    </style>
</head>

<body style="padding:0px;margin:0px;background-color:#e0e0e0">

    <!-- Bg -->
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
    <td bgcolor="#e0e0e0">
        <br />

        <!-- Container -->
        <table cellspacing="0" cellpadding="0" border="0" align="center">
            <tr>
                <td width="700" height="43" bgcolor="#ffffff">
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="660" style="width:660px;">
                        <tr>
                            <td>
                                <div style="font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#7a7a7a;">
                                    Trouble reading this email?
                                    <a href="{browser_url}">View it in your browser</a>.
                                </div>
                            </td>
                            <td align="right">
                                <div style="font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#7a7a7a;text-align:right">
                                    Not interested anymore?
                                    <a href="{unsubscribe_url}">Unsubscribe here</a>.
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                </tr><tr>
                <td width="700" bgcolor="#FFFFFF">

                    <!-- Header -->
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="660" style="width:660px;">
                        <tr>
                            <td width="660" height="85" valign="bottom" bgcolor="#2B3E50" align="center">
                                <table cellspacing="0" cellpadding="8" border="0">
                                    <tr>
                                        <td>
                                            <div style="padding-bottom: 30px; padding-top: 30px">
                                                <img
                                                    src="{{ 'plugins/responsiv/campaign/assets/images/sample-logo.png'|app }}"
                                                    alt="OctoberCMS"
                                                    width="360"
                                                    height="85" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                <img
                                    src="{fileupload name="banner_image" label="Banner image" imageWidth="660" imageHeight="180"}http://placehold.it/660x180{/fileupload}"
                                    alt="Banner"
                                    width="660"
                                    height="180" />
                            </td>
                        </tr>
                    </table>

                    <br />

                    <!-- Content -->
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="660" style="width:660px;">
                        <tr>
                            <td>
                                <div style="font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;">
                                    {text name="articleId" label='Article Id'}{/text}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="font-size:12px;color:#333333;font-family:Helvetica, Arial, sans-serif;">

                                    <div style="padding-top:30px">
                                        <h2 style="font-size:40px;color:#555555;padding:0;margin:0;letter-spacing:-1px">
                                            {text name="intro" label="Introductory message"}Hello there, {first_name}!{/text}
                                        </h2>
                                    </div>

                                    <!--p style="font-size:16px;line-height:150%">{textarea name="intro_content" label="Opening statement" size="small"}{/textarea}</p-->

                                    {repeater name="content_sections" prompt="Add another content section"}
                                        <div style="padding-top: 15px">
                                            <h3 style="font-size:21px;font-weight:normal;color:#ce4240;padding:0;margin:0">
                                                {text name="content_header" label="Content section" placeholder="Type in a heading and enter some content for it below"}{/text}
                                            </h3>
                                            <div style="line-height:150%; font-size:14px">
                                                {richeditor name="content_body" size="large"}{/richeditor}
                                            </div>
                                        </div>
                                    {/repeater}

                                    <div style="padding-top: 5px">
                                        <p style="font-size:16px">{text name="salutation" label="Salutation"}Good afternoon, good evening and good night!{/text}</p>
                                        <p style="font-size:16px"><em>&mdash; Your friends at OctoberCMS</em></p>
                                    </div>

                                    <br />

                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- Footer -->
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="660" style="width:660px;">
                        <tr>
                          <td height="126" valign="middle" bgcolor="#2B3E50">
                            <table width="100%" border="0" cellspacing="0" cellpadding="12">
                                <tr>
                                    <td align="center" valign="top">
                                        <div class="footer" style="color:#fff;font-weight:bold;font-size:28px;font-family:Arial, Helvetica, sans-serif;padding-top:5px;padding-bottom:5px;">
                                            <a href="http://www.octobercms.com/" style="color:#FFFFFF">www.OctoberCMS.com</a>
                                        </div>
                                        <br />
                                        <div style="color:#FFFFFF;font-weight:normal;font-size:12px;font-family:Arial, Helvetica, sans-serif;padding-bottom:5px;">
                                             You have received this email because you are a registered user of the OctoberCMS website.
                                            <br /><br />
                                            &copy; OctoberCMS &nbsp; &bull; &nbsp; All Rights Reserved
                                        </div>
                                    </td>
                                </tr>
                              </table>
                            </td>
                        </tr>
                    </table>

                    <br />

                </td>
            </tr>
        </table>

        <br />

    </td>
    </tr>
    </table>

</body>
</html>