<div data-control="toolbar">
    <a
            href="<?= Backend::url('twnepc/pamcontent/faq') ?>"
            class="btn btn-default oc-icon-chevron-left">
        Back to faq
    </a>
        <a href="<?= Backend::url('twnepc/pamcontent/faqsection/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
</div>
