{% set records = __SELF__.records %}
{% set title = __SELF__.title %}
{% set topic = __SELF__.topic %}
{% set color = __SELF__.color %}
{% set show_image = __SELF__.getShowImage() %}

{% if records.count%}
    
    <div class="news-box color-{{color}}">
        <h3>{{title}}</h3>
        {%for record in records%}
            {% if loop.first%}
                {% if record.lead_image.getPath() and show_image %}
                <div class="img">
                    <a href="{{ 'article'|page({ slug: record.slug }) }}" title="">
                        <img src="{{record.lead_image.getPath()}}" alt="">
                        <span>{{record.title|raw}}</span>
                    </a>
                </div>
                {% endif%}
            {% endif%}
        {% endfor %}
        <ul>
            {%for record in records%}

            {% if loop.first%}
                {% if record.lead_image.getPath() and show_image %}

                {% else %}

                    <li>
                        <span>{{ record.published_date | date('d/m/Y')}}</span>
                        <p><a href="{{ 'article'|page({ slug: record.slug }) }}" title="">{{record.title}}</a></p>
                    </li>

                {% endif%}
            {% else %}
                
                <li>
                    <span>{{ record.published_date | date('d/m/Y')}}</span>
                    <p><a href="{{ 'article'|page({ slug: record.slug }) }}" title="">{{record.title}}</a></p>
                </li>
            
            {% endif%}
            
            {% endfor %}
        </ul>
        <a href="{{url('/')}}/news/{{topic.identifier}}" class="more-link"><i class="fas fa-caret-right"></i> Show all</a>
    </div>

{% endif%}