{% set records = __SELF__.records %}
{% set title = __SELF__.title %}
{% set topic = __SELF__.topic %}
{% set color = __SELF__.color %}

{% if records.count %}

    <div class="news-box color-{{color}}">
        <h3>{{title}}</h3>
        <ul class="categorylist">
            {% for record in records %}
            <li>
                {% if record.lead_image.getPath() %}
                    <div class="img">
                        <a href="{{ 'article'|page({ slug: record.slug }) }}" title="">
                            <img src="{{record.lead_image.getPath()}}" alt="">
                        </a>
                    </div>
                {% endif %}
                <span>{{ record.published_date | date('d/m/Y')}}</span>
                <p><a href="{{ 'article'|page({ slug: record.slug }) }}" title="">{{record.title}}</a></p>
            </li>
            {% endfor %}
        </ul>
        <a href="{{url('/')}}/news/{{topic.identifier}}" class="more-link"><i class="fas fa-caret-right"></i> Show all</a>
    </div>

{% endif %}