{% set records = __SELF__.records %}

{% for record in records %}
<div class="item">

	<a href="{{ 'article'|page({ slug: record.slug }) }}" title="{{record.title}}">
		{% if record.lead_image.getPath() %}
			<img src="{{record.lead_image.getPath()}}" alt="{{record.title}}">
		{% else %}
			<img src="{{ 'exclusive_twn.jpg' | media }}" alt="{{record.title}}">
		{% endif %}
	</a>
    <span class="author">
        <span>{{record.author.author_name}}, {{ record.published_date | date('d/m/Y')}}</span>
    </span>
    <p class="description">
        <a href="{{ 'article'|page({ slug: record.slug }) }}" title="">{{record.title}}</a>
    </p>

</div>
{% endfor %}
