{% set records = __SELF__.records %}
{% for record in records %}
<div class="item">
	
	<div class="item-img">
		<a href="{{ 'article'|page({ slug: record.slug }) }}" title="{{record.title}}">
			{% if record.lead_image.getPath() %}
				<img src="{{record.lead_image.getPath()}}" alt="{{record.title}}">
			{% else %}
				<img src="{{ 'exclusive.jpg' | media }}" alt="{{record.title}}">
			{% endif %}
		</a>
	</div>
	
	<div class="item-content">
		<span class="author">
	    	{{record.author.author_name}}, {{ record.published_date | date('d/m/Y')}}
		</span>
		<p class="description">
	    	<a href="{{ 'article'|page({ slug: record.slug }) }}" title="">{{record.title}}</a>
		</p>
		<div class="content">
			{% if record.summary %}
	  			{{record.summary | raw}}
	  		{% else %}
				{{record.body | striptags | slice(0,200)~'...' }}
			{% endif %}
		</div>
	</div>
	
</div>
{% endfor %}