{% set records = __SELF__.records %}
{% set topic = __SELF__.topic %}
{% if records.count %}
	{% for record in records %}
		<div class="headline">
			
			<div class="time">{{ record.published_date | date('d/m/Y')}}</div>
			<p><a href="{{ 'article'|page({ slug: record.slug }) }}" title="">{{record.title}}</a></p>
		</div>
	{% endfor %}
	<a href="{{url('/')}}/news/{{topic.identifier}}" class="more-link"><i class="fas fa-caret-right"></i> Show all</a>
{% else %}
	<p>No Main News Headline.</p>
{% endif %}