{% for review in companyReviews %}
<div class="review-block">
    <h1>"{{review.title}}"</h1>
    <div class="star-rating" data-rate="{{review.general}}">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <p>{{review.description}}</p>
    <p><a class="button whiteblue openDetailedReview" data-status-open="View full review" data-status-close="Hide full review">View full review</a></p>
    <!-- <p class="highlight"><b><?php // echo date_format(date_create($review['date']), 'd/m/Y');?></b></p> -->
    <div class="row reviewdetails" style="display: none">
        {% for key,value in review.rate%}
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="small highlight rating-label-text">{{value.title}}:</p>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="star-rating pull-left xs-pull-right"
                         data-rate="{{value.rate}}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                    <p class="margebot">{{value.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}