<div class="col-sm-12">
    <h4 id="company-title" class="panel-content-header">{{title}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">

                <div class="col-sm-4">
                    {% if author.avatar %}
                    <img src="{{author.avatar.getPath()}}" class="img-responsive"/>
                    {% endif %}
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <h2>{{author.cp_firstname}} {{author.cp_lastname}}</h2>
                    <p>{{author.cp_jobtitle}}</p>
                </div>

                {% if company.isEditable(user) %}
                <div class="col-sm-12 text-center">
                    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="br"></div>
<div class="col-sm-12">
    <div class="panel-group accordion" id="answers1" role="tablist" aria-multiselectable="true">
        {% for key,answer in answers  %}
        <div class="panel panel-default panel-collapse {% if loop.index == 1 %} active {% endif %}">
            <div class="panel-heading" role="tab" id="heading_{{answer.companyanswer_id}}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#answers1"
                       href="#collapse_{{answer.companyanswer_id}}"
                       aria-expanded="true"
                       aria-controls="collapse_{{answer.companyanswer_id}}">
                        {{answer.question.cq_text}}
                    </a>
                </h4>

                <div class="collapse-status">
                    <a href="#collapse_{{answer.companyanswer_id}}" data-parent="#answers1" role="button" data-toggle="collapse">
                        {% if loop.index == 1 %}
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div id="collapse_{{answer.companyanswer_id}}" class="panel-collapse collapse {% if key == 0 %}in{% endif %}" role="tabpanel"
                 aria-labelledby="heading_{{answer.companyanswer_id}}">
                <div class="panel-body">
                    {{answer.ca_text|raw}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>