<div class="col-sm-12">
    <h4 id="company-title" class="panel-content-header">{{title}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">
                <div id="company-content" class="col-sm-12">
                    {% for article in articles %}
                        {% if article.attachment %}
                            <a target="_blank" href="{{article.attachment.getPath()}}">{{article.cc_name}}</a>
                        {% else %}
                            <a target="_blank" href="{{article.cc_url}}">{{article.cc_name}}</a>
                        {% endif %}
                        <br /><br />
                        {{article.cc_text|raw}}
                        <br />
                        {{company.stripTimeFromDate(article.cc_date)}}
                        <br /><br />
                    {% endfor %}
                </div>
                {% if company.isEditable(user) %}
                <div class="col-sm-12 text-center">
                    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>