<div class="col-sm-12">
    <h4 id="company-title" class="panel-content-header">{{title}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">
                <div id="company-content" class="col-sm-12">
                    <h4 class="highlight"><b>Private Client Asset Classes/Specialisations</b></h4>
                    <table>
                        {% for asset in post.assets %}
                        <tr>
                            <td>
                                <div class="assets">
                                    {% if asset.ac_type == 'in' %}
                                        <img src="{{'company/Inhouse.jpg'|media}}" alt=""/>
                                    {% elseif asset.ac_type == 'out' %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{'company/Thirdparty.jpg'|media}}" alt=""/>
                                    {% elseif asset.ac_type == 'Both' %}
                                        <img src="{{'company/Inhouse.jpg'|media}}" alt=""/>&nbsp;&nbsp;&nbsp;<img src="{{'company/Thirdparty.jpg'|media}}" alt=""/>
                                    {% endif %}
                                </div>
                            </td>
                            <td><p class="asset-text">
                            {% if asset.ac_description %}
                                <a class="popup-link" data-text="{{asset.ac_description}}">{{asset.asset.ac_name}}</a>
                            {% else %}
                                {{asset.asset.ac_name}}
                            {% endif %}
                            {% if asset.ac_contactnote != '' %}
                                &nbsp;&nbsp;&nbsp;&nbsp; - {{asset.ac_contactnote}}
                            {% endif %}
                            </p></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <br />
                    <br />
                </div>
                {% if company.isEditable(user) %}
                <div class="col-sm-12 text-center">
                    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>