<li>
    <a href="{{returnButtonURL}}">{{returnButtonTitle}}</a>
</li>
<li>
    <a class="{% if activeSection == 'disclaimeronline' %}active{% endif %}"
       href="{{'company'|page({id:this.param['id'],section:'disclaimeronline'})}}">Disclaimer</a>
</li>
<li>
    <a class="{% if activeSection == 'reviews' %}active{% endif %}"
       href="{{'company'|page({id:this.param['id'],section:'reviews'})}}">Company Reviews</a>
</li>
<li>
    <a class="{% if activeSection == 'corporate' %}active{% endif %}"
       href="{{'company'|page({id:this.param['id'],section:'corporate'})}}">Key Corporate Data</a>
</li>
<li>
    <a class="{% if activeSection == 'personnel' %}active{% endif %}"
       href="{{'company'|page({id:this.param['id'],section:'personnel'})}}">Key Personnel</a>
</li>
<li>
    <a class="{% if activeSection == 'thresholds' %}active{% endif %}"
       href="{{'company'|page({id:this.param['id'],section:'thresholds'})}}">Minimum Thresholds</a>
</li>
<li>
    <a class="{% if activeSection == 'fees' %}active{% endif %}"
       href="{{'company'|page({id:this.param['id'],section:'fees'})}}">Fees and Charges</a>
</li>
<li>
    <a class="{% if activeSection == 'assets' %}active{% endif %}"
       href="{{'company'|page({id:this.param['id'],section:'assets'})}}">Asset Classes</a>
</li>
<li>
    <a class="{% if activeSection == 'investment-platforms' %}active{% endif %}"
       href="{{'company'|page({id:this.param['id'],section:'investment-platforms'})}}">Investment Platforms</a>
</li>
<li>
    <a class="{% if activeSection == 'offices' %}active{% endif %}"
       href="{{'company'|page({id:this.param['id'],section:'offices'})}}">Main Offices</a>
</li>
<li>

    <a class="{% if activeSection == 'investment-commentary' %}active{% endif %}"

       href="{{'company'|page({id:this.param['id'],section:'investment-commentary'})}}">Investment Commentary</a>
</li>
