<div class="col-sm-12">

    <h4 id="company-title" class="panel-content-header">{{title}}</h4>

    <div class="panel panel-default panel-content">

        <div class="panel-body">

            <div class="row">

                <div id="company-content" class="col-sm-12">

                    <p>Figures are for UK &amp; Crown Dependencies, and are as at 31/12/xx, unless otherwise stated.</p>

                    <div class="table-responsive">

                        <table class="table table-bordered">

                            <tbody>

                                <tr>

                                    <th></th>

                                    {% for kcd in company.getSortedKcdData(post.kcd,5) %}

                                    <th class="{{company.IsOddAddClass(loop.index,'col-light-blue')}}">{{kcd.ckcd_year}}</th>

                                    {% endfor %}

                                </tr>

                                <tr>

                                    <td class="highlight"><b>Private Client Assets Under Managment</b></td>

                                    {% for kcd in company.getSortedKcdData(post.kcd,5) %}

                                    <th class="{{company.IsOddAddClass(loop.index,'col-light-blue')}}">

				
                {% if kcd.ckcd_clientassets_prefix == "" %}
				£{{company.modifyKcdNumberData(kcd.ckcd_clientassets,kcd.ckcd_clientassets_prefix)}}m
                {% else %}
                {{company.modifyKcdNumberData(kcd.ckcd_clientassets,kcd.ckcd_clientassets_prefix)}}
                {% endif %}

				<sup>{{kcd.ckcd_clientassets_suffix}}</sup>

				</th>

                                    {% endfor %}

                                </tr>

                                <tr>

                                    <td class="highlight"><b>Private Client Assets Under Advice</b></td>

                                    {% for kcd in company.getSortedKcdData(post.kcd,5) %}

                                    <th class="{{company.IsOddAddClass(loop.index,'col-light-blue')}}">

							
                {% if kcd.ckcd_clientadvice_prefix == "" %}
				£{{company.modifyKcdNumberData(kcd.ckcd_clientadvice,kcd.ckcd_clientadvice_prefix)}}m
                {% else %}
                {{company.modifyKcdNumberData(kcd.ckcd_clientadvice,kcd.ckcd_clientadvice_prefix)}}
                {% endif %}
				<sup>{{kcd.ckcd_clientadvice_suffix}}</sup>

				</th>

                                    {% endfor %}

                                </tr>

                                <tr>

                                    <td class="highlight"><b>Total Staff Employed in Private Client Business</b></td>

                                    {% for kcd in company.getSortedKcdData(post.kcd,5) %}

                                    <th class="{{company.IsOddAddClass(loop.index,'col-light-blue')}}">

				

				{{company.modifyKcdNumberData(kcd.ckcd_staffemployed,kcd.ckcd_staffemployed_prefix)}}

				<sup>{{kcd.ckcd_staffemployed_suffix}}</sup>

				</th>

                                    {% endfor %}

                                </tr>

                                <tr>

                                    <td class="highlight"><b>Number of Client Relationship Staff</b></td>

                                    {% for kcd in company.getSortedKcdData(post.kcd,5) %}

                                    <th class="{{company.IsOddAddClass(loop.index,'col-light-blue')}}">

				{{company.modifyKcdNumberData(kcd.ckcd_numstaff,kcd.ckcd_numstaff_prefix)}}

				<sup>{{kcd.ckcd_numstaff_suffix}}</sup>

				</th>

                                    {% endfor %}

                                </tr>

                                <tr>

                                    <td class="highlight"><b>Total Number of Private Client Accounts</b></td>

                                    {% for kcd in company.getSortedKcdData(post.kcd,5) %}

                                    <th class="{{company.IsOddAddClass(loop.index,'col-light-blue')}}">

				

				{{company.modifyKcdNumberData(kcd.ckcd_numclients,kcd.ckcd_numclients_prefix)}}

				<sup>{{kcd.ckcd_numclients_suffix}}</sup>

				</th>

                                    {% endfor %}

                                </tr>

                                <tr>

                                    <td class="highlight"><b>Discretionary and Advisory Business Split (%)</b></td>

                                    {% for kcd in company.getSortedKcdData(post.kcd,5) %}

                                    <th class="{{company.IsOddAddClass(loop.index,'col-light-blue')}}">


				{{company.modifyKcdDiscAdv(kcd.ckcd_discsplit,kcd.ckcd_discsplit_prefix)}}

				<sup>{{kcd.ckcd_discsplit_suffix}}</sup>

				</th>

                                    {% endfor %}

                                </tr>

                                <tr>

                                    <td class="highlight"><b>Revenue</b></td>

                                    {% for kcd in company.getSortedKcdData(post.kcd,5) %}

                                    <th class="{{company.IsOddAddClass(loop.index,'col-light-blue')}}">

				{{company.modifyKcdNumberData(kcd.ckcd_revenue,kcd.ckcd_revenue_prefix)}}

				<sup>{{kcd.ckcd_revenue_suffix}}</sup>

				</th>

                                    {% endfor %}

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-12">

                    <p><span class="highlight"><b>Regulatory Bodies:</b></span> {{company.getSortedRegulatoryBodies(post.registeredbodies)}}</p>

                    <p><span class="highlight"><b>Financial Year:</b></span> {{post.c_financialyear}}</p>

                    <p><span class="highlight"><b>Auditors:</b></span> {{post.c_auditor}}</p>

                </div>

            </div>

        </div>

    </div>

</div>

{% if post.kcdnotes %}

<div class="br"></div>

<div class="col-sm-12">

    <div class="panel panel-default panel-content">

        <div class="panel-body">

            <div class="row">

                <div class="col-sm-12">

                    <h4 class="highlight"><b>Explanatory Notes:</b></h4>

                    <ul>

                        {% for note in post.kcdnotes %}

                        <li>{{note.ckcdn_explanatorynote}}</li>

                        {% endfor %}

                    </ul>

                </div>

            </div>

        </div>

    </div>

</div>

{% endif %}

{% if company.isEditable(user) %}

<div class="col-sm-12 text-center">

    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>

</div>

{% endif %}