<div class="row">
    <div class="col-md-4">
        <ul class="tab-navigation">
            {% if post.c_typefront == 'p' %}
                {% partial __SELF__~'::premier_navigation.htm'%}
            {% elseif post.c_typefront == 'b' %}
                {% partial __SELF__~'::basic_navigation.htm'%}
            {% elseif post.c_typefront == 'e' %}
                {% partial __SELF__~'::enhanced_navigation.htm'%}
            {% else %}
                {% partial __SELF__~'::basic_navigation.htm'%}
            {% endif %}
        </ul>
    </div>

<script>
    function beforeOpenFollowed(company_id,company_name) {
        $("#cid1").val(company_id);
        $("#cname").val(company_name);
        $("#cname1").html(company_name);
    }
    
    function doFollowCompany() {
        $.get( "/PAM-results2?followCompany="+$("#cid1").val()+"&often="+$("#howOften").val()+"&company_name="+$("#cname").val(), function( data ) {
            var code = '<a class="button whiteblue btn-block" onClick="unfollowCompany('+$("#cid1").val()+',\''+$("#cname").val()+'\')" >Un-Follow</a>';
            $("#favButton").html(code);
        });        
    }
    
    function unfollowCompany(company_id,company_name) {
        $.get( "/PAM-results2?unfollowCompany="+company_id, function( data ) {
            var code = '<a class="button whiteblue btn-block" onClick="beforeOpenFollowed('+company_id+',\''+company_name+'\')" data-toggle="modal" href="#followDlg">Follow</a>';
            $("#favButton").html(code);
        });                
    }
    
</script>


<div class="control-popup modal fade" id="followDlg" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form name="FollowForm" data-request="onFollowCompany">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>You are now following "<span id="cname1">Some company</span>"</h3><BR>
                <h4>How often would you like to receive notifications?</h4>
                <div class="styled-select">
                    <input type="hidden" name="company_id" id="cid1">    
                <select name="howOften" id="howOften">
                    <option value="daily">Every day</option>
                    <option value="weekly">Every week</option>
                    <option value="never">Never</option>
                </select>
                </div>
                <input type="hidden" name="company_name" id="cname">
                </form>
                <div style="float:right">
                <a class="button white follow" data-dismiss="modal" onClick="doFollowCompany()">Follow</a>
                </div>
                <div style="float:left;">
                    <a class="button white" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
    
    
<div class="col-md-8">
	<div class="row">
		<div class="col-sm-12">
			{% if post.c_typefront != 'b' %}
				{% if post.logo.getPath() %}
					<img src="{{post.logo.getPath()}}" alt="{{post.c_companyname}}" class="img-responsive center-block"/>
				{% else %}
					{% if company.isEditable(user) %}
						<a href="{{company.backendUrl('general')}}" target="_blank"><img src="{{'companylogo-placeholder.jpg'|media}}" 
						alt="{{post.c_companyname}}" class="img-responsive center-block"/></a>
					{% else %}
						<img src="{{'companylogo-placeholder.jpg'|media}}" alt="{{post.c_companyname}}" class="img-responsive center-block"/>
					{% endif %}
				{% endif %}
			{% else %}
                        <h3><strong>{{post.c_companyname}}</strong></h3>
			{% endif %}
		</div>
	</div>

        
        <div class="row button-group">

            {% if not hasRole('Private Asset Manager') and not hasRole('Private Asset Manager Admin') %}
            <div class="col-mod col-sm-4">
                <a class="button whiteblue btn-block" href="{{'company-review'|page({id:this.param.id})}}" data-track-company="click" data-track-action="rate" data-track-id="{{this.param.id}}">Rate Company</a>
            </div>
            {% endif %}

            {% if not hasRole('Private Asset Manager') and not hasRole('Private Asset Manager Admin') %}
            <div class="col-mod col-sm-4" id="favButton">
                {% if user %}
                    {% if favCompany %}
                        <a class="button whiteblue btn-block" data-track-company="click" data-track-action="unfollow" data-track-id="{{this.param.id}}" onClick="unfollowCompany({{this.param.id}},'{{post.c_companyname}}')" >Un-Follow</a>
                    {% else %}
                        <a class="button whiteblue btn-block" data-track-company="click" data-track-action="follow" data-track-id="{{this.param.id}}" onClick="beforeOpenFollowed({{this.param.id}},'{{post.c_companyname}}')" data-toggle="modal" href="#followDlg">Follow</a>
                    {% endif %}
                {% else %}
                <a class="button whiteblue btn-block" data-target="#login-modal" data-toggle="modal" data-id="">Follow</a>
                {% endif %}
            </div>
            {% endif %}

            <div class="col-mod col-sm-4">
                {% if post.getEmail() %}
		        <a class="button whiteblue btn-block" data-track-company="click" data-track-action="contact" data-track-id="{{this.param.id}}" href="mailto:{{post.email}}">Contact</a>
                {% endif %}
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    {{company.getSectionPartial()}}
                </div>
            </div>
        </div>
    </div>
</div>