<div class="col-sm-12">
    <h4 id="company-title" class="panel-content-header">{{title}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">
                <div id="company-content" class="col-sm-12">
                    <p>Schedule of Annual Fees and Charges</p>
                    {% for fee in post.fees %}
                        {% if fee.cf_charge == "s" %}
                        <h4 class="highlight"><b>{{fee.feetype.cft_name}}</b></h4>
                        <p>{{fee.cf_text}}
                            {% if fee.attachment %}
                            <a href="{{fee.attachment.getPath()}}" target="_blank">{{fee.cf_filename}}</a>
                            {% endif %}
                        </p>
                        {% endif %}
                    {% endfor %}
                    <br /><br />
                    <p>Transaction and Handling Charges</p>
                    {% for fee in post.fees %}
                    {% if fee.cf_charge == "t" %}
                    <h4 class="highlight"><b>{{fee.feetype.cft_name}}</b></h4>
                    <p>{{fee.cf_text}}
                        {% if fee.attachment %}
                        <a href="{{fee.attachment.getPath()}}" target="_blank">{{fee.cf_filename}}</a>
                        {% endif %}
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
                {% if company.isEditable(user) %}
                <div class="col-sm-12 text-center">
                    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="br"></div>
<div class="col-sm-12">
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                        <h4 class="highlight"><b>Notes:</b></h4>

                        <p>{{post.companytextfeesnotes.ct_text|raw}}</p>

                        <br />
                        <br />
                        {% if company.isEditable(user) %}
                        <div class="col-sm-12 text-center">
                            <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>