<div class="col-sm-12">
    <h4 id="company-title" class="panel-content-header">{{title}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">
                <div id="company-content" class="col-sm-12">
                    {% for office in post.offices %}
                        {% if office.o_otheroffice != 1 %}
                        <span>{{office.o_address1}}</span><br />
		      <span>{{office.o_town}}</span><br />				
                        <span>{{office.country.country_name}}</span><br />
		      <span>{{office.o_postcode}}</span><br /> 
		       <span>{{office.o_contactname}}</span><br />	  
		       <span>{{office.o_contactjobtitle}}</span><br />	  
		      <span>{{office.o_telephone}}</span><br />	  
		       <span>{{office.o_emailaddress}}</span><br />	 			   
                        <hr />
                        {% endif %}
                    {% endfor %}
                </div>
                {% if company.isEditable(user) %}
                <div class="col-sm-12 text-center">
                    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if hasOtherOffices %}
<div class="col-sm-12">
    <h4 class="panel-content-header">{{title2}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    {% for office in post.offices %}
                    {% if office.o_otheroffice == 1 %}
                    <span>{{office.o_town}}</span><br />
                    <span>{{office.country.country_name}}</span><br />
                    <hr />
                    {% endif %}
                    {% endfor %}
                </div>
                {% if company.isEditable(user) %}
                <div class="col-sm-12 text-center">
                    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
