<div class="col-sm-12">
    <h4 id="company-title" class="panel-content-header">{{title}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">
                <div id="company-content" class="col-sm-12">
                    {% for section in post.personnelsections %}
                        <h3>{{section.cps_name}}</h3>
                        {% for per in post.personnel %}
                            {% if per.cpsection_id == section.cpsection_id %}
                                {% if per.avatar.getPath() %}
                                    <img src="{{per.avatar.getPath()}}" class="staffphoto"/>
                                {% endif %}
                                {{per.cp_firstname}} {{per.cp_lastname}}{% if per.cp_jobtitle != '' %},{% endif %} {{per.cp_jobtitle}}
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                {% if company.isEditable(user) %}
                <div class="col-sm-12 text-center">
                    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>