<div class="col-sm-12">
    <h4 id="company-title" class="panel-content-header">{{title}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">
            </div>
        </div>
    </div>
</div>