<div class="col-sm-12">
    <h4 id="company-title" class="panel-content-header">{{title}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row row-with-border-bottom">
                <div class="col-sm-12">
                    <div class="review-wrapper">
                        <p class="highlight pull-left reset-margin-bottom">
                            <b>{{countOfReviews}} review(s)</b>&nbsp;&nbsp;
                        </p>

                        <div class="star-rating pull-left" data-rate="{{generalRating}}">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row row-star-rating">
                {% for key,rate in commonRating %}
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 text-right xs-text-left col-star-rating">
                            <p class="highlight sm-text reset-margin-bottom"><b>{{rate.title}}:</b></p></div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-star-rating">
                            <div class="star-rating pull-left xs-pull-right"
                                 data-rate="{{rate.avg}}">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div id="reviews" class="col-sm-12"></div>
                <div class="col-sm-12 text-center">
                    <a class='button whiteblue' id="load-more-reviews" data-active="Load more" data-disabled="Wait..." style="display: none">Load more</a>
                </div>
            </div>
            <div class="row">
                {% if company.isEditable(user) %}
                <div class="col-sm-12 text-center">
                    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        var alreadyLoadedReviews = 0;
        var sumOftAllReviews = '{{countOfReviews}}';
        sumOftAllReviews = sumOftAllReviews*1;
        initStarRatingSystem();
        ajaxLoadReviews();

        $('#load-more-reviews').click(function(){
            var button = $(this);
            if(button.html() == button.data('disabled'))return;
            button.html(button.data('disabled'));
            ajaxLoadReviews(function(){
                button.html(button.data('active'));
            });
        });

        $(document).on("click", '.openDetailedReview', function(event) {
            var button = $(this);
            var detailedView = button.closest('.review-block').find('.reviewdetails');
            button.data('init-action',1);
            if(detailedView.is(":visible")){
                button.html($(this).data('status-open'));
                detailedView.hide();
            }else{
                button.html($(this).data('status-close'));
                detailedView.show();
            }
        });

        function initStarRatingSystem(){
            $(".star-rating").each(function(){
                var elem = $(this);
                var rate = elem.data("rate");
                var stars = rate/20;
                elem.find('span').each(function(){
                    if(stars >= 1){
                        $(this).addClass('full');
                    }
                    if(stars < 1 && stars > 0){
                        $(this).addClass('half');
                    }
                    stars = stars - 1;
                });
            });
        }

        function ajaxLoadReviews(callback){
            var reviewsContainer = $("#reviews");
            var loadMOreAction = $('#load-more-reviews');
            $.request('company::onRequestReviews', {
                data:{'alreadyLoadedReviews':alreadyLoadedReviews},
                success: function(data) {
                    alreadyLoadedReviews = data.alreadyLoadedReviews;
                    reviewsContainer.append(data.html);
                    initStarRatingSystem();
                    if(sumOftAllReviews <= alreadyLoadedReviews){
                        loadMOreAction.hide();
                    }else{
                        loadMOreAction.show();
                    }
                },
                complete:function(){
                    if(callback)callback();
                }
            })
        }
    });
</script>