<div class="col-sm-12">
    <h4 id="company-title" class="panel-content-header">{{title}}</h4>
    <div class="panel panel-default panel-content">
        <div class="panel-body">
            <div class="row">
                <div id="company-content" class="col-sm-12">
                    <p>Advisory Minimum Portfolio Size :
                        &pound;{{post.c_advmin}}
                    </p>
                    <p>Discretionary Minimum Portfolio Size :
                        &pound;{{post.c_discmin}}
                    </p>
                    <p><strong>Notes:</strong><br />{{post.c_thresholdnotes|raw}}</p>

                    <br />
                    <br />
                </div>
                {% if company.isEditable(user) %}
                <div class="col-sm-12 text-center">
                    <a href="{{company.backendUrl()}}" target="_blank" class='button whiteblue'>Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>