html, body {
	font-size: $fontSize;
}

body {
    font-family: $baseFont;
	font-weight: 400;
	font-size: $fontSize;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text;
	height: 100%;
	width: 100%;
}

@media (min-width: 1560px) {
	.container {
		max-width: 1100px;
	}
}

// Page-title
.page-title {
	h1 {
		font-size: 2.2rem;
		font-weight: bold;
		margin: 0 0 20px 0;
		@media (max-width: 1199px) {
            font-size: 2rem;
        }
        @media (max-width: 991px) {
            font-size: 1.8rem;
        }
        @media (max-width: 767px) {
            font-size: 1.7rem;
        }

        & + h2 {
			font-size: 1.6rem;
			font-weight: bold;
			margin: -15px 0 20px 0;
			@media (max-width: 1199px) {
	            font-size: 1.5rem;
	        }
	        @media (max-width: 991px) {
	            font-size: 1.4rem;
	        }
	        @media (max-width: 767px) {
	            font-size: 1.3rem;
	        }
		}
	}
}

// Layout / Home
.main-content {
	padding-bottom: 50px;
	.container {
		padding-top: 50px;
		@media (max-width: 991px) {
			padding-top: 40px;
		}

		.row {
			& + .row {
				padding-top: 50px;
			}
		}
	}
	p {
		margin-bottom: 15px;
		line-height: 180%;
		a {
			color: $text;
			text-decoration: underline;
			@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
			&:hover {
				color: $primary;
			}
		}

		&.icon {
			padding-left: 40px;
			position: relative;
			margin-bottom: 20px;
			i {
				position: absolute;
				left: 0;
				top: 5px;
				color: $primary;
				font-size: 1.5rem;
			}
		}
	}

	img {
		margin-bottom: 20px;
	}

	h2 {
		font-size: 1.9rem;
		font-weight: bold;
		margin: 0 0 15px 0;
		@media (max-width: 1199px) {
            font-size: 1.7rem;
        }
        @media (max-width: 991px) {
            font-size: 1.6rem;
        }
        @media (max-width: 767px) {
            font-size: 1.4rem;
        }
	}

	h3 {
		font-size: 1.7rem;
		font-weight: bold;
		margin: 30px 0 15px 0;
		@media (max-width: 1199px) {
            font-size: 1.5rem;
        }
        @media (max-width: 991px) {
            font-size: 1.4rem;
        }
        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
	}

	h4 {
		font-size: 1.6rem;
		font-weight: bold;
		margin: 30px 0 15px 0;
		@media (max-width: 1199px) {
            font-size: 1.4rem;
        }
        @media (max-width: 991px) {
            font-size: 1.3rem;
        }
        @media (max-width: 767px) {
            font-size: 1.1rem;
        }
	}

	p + h2 {
		margin-top: 40px;
	}

	.image-col {
		border-right: 1px dashed #DDD;
		padding-right: 30px;
		padding-top: 5px;

		@media (max-width: 767px) {
			order: 1;
			padding-right: 15px;
			border-right: 0;
			text-align: center;
			padding-top: 30px;
		}

		img {
			width: 100%;
			height: auto;
			@media (max-width: 767px) {
				max-width: 400px;
			}
		}
	}

	.text-col {
		padding-left: 30px;
		@media (max-width: 767px) {
			order: 0;
			padding-left: 15px;
		}

		img {
			max-width: 320px;
			width: auto;
			height: auto;
		}
	}

}

// Flash message
.error-container {
	.alert {
		border-radius: 0;
		font-size: 1rem;
		font-family: $specialFont;
		margin-bottom: 5px;
	}
}