// 404 page
.page-404 {
	.wrapper-404 {
		padding: 60px 0;
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
		h1 {
			margin-bottom: 40px;
			font-size: 3.2rem;
		}
		h3 {
			margin-bottom: 40px;
			font-size: 1.75rem;
			@media (max-width: 1199px) {
	            font-size: 1.65rem;
	        }
	        @media (max-width: 991px) {
	            font-size: 1.55rem;
	        }
	        @media (max-width: 767px) {
	            font-size: 1.4rem;
	        }
		}
		p {
			margin-bottom: 0;
			font-family: $specialFont;
			line-height: 160%;
		}
		ul {
			list-style: none;
			margin: 10px 0 0 0;
			padding: 0;
			font-family: $specialFont;
			li {
				line-height: 160%;
				a {
					color: $primary;
				}
			}
		}
	}
}

// Innovation timeline
.innovation-timeline {
	padding-top: 20px !important;

	@media (max-width: 767px) {
		padding-left: 25px;
		padding-right: 25px;
	}

	.row + .row {
		padding-top: 0 !important;
	}

	.circle {
		font-weight: bold;
		padding: 10px 25px;
		border-radius: 3px;
		background: $primary;
		background: -moz-linear-gradient(top, $primaryLight 0%, $primary 100%);
		background: -webkit-linear-gradient(top, $primaryLight 0%, $primary 100%);
		background: linear-gradient(to bottom, $primaryLight 0%, $primary 100%);
		color: white;
		max-height: 50px;
		z-index: 2;
		position: relative;
		font-size: 1.3rem;
		text-align: center;
		min-width: 100px;
		@media (max-width: 767px) {
			padding: 8px 15px;
			font-size: 1.1rem;
		}
		&:after {
			content: '';
			position: absolute;
			right: -6px;
			top: 50%;
			width: 0; 
			height: 0;
			margin-top: -6px; 
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 6px solid $primary;
		}
		&.circle-right {
			&:after {
				left: -6px;
				right: auto;
				top: 50%; 
				border-right: 6px solid $primary;
				border-left: none;
			}
		}
	}

	.timeline {
		div {
			padding: 0;
			height: 40px;
		}

		hr {
			border-top: 3px solid $primaryLight;
			margin: 0;
			top: 17px;
			position: relative;
		}

		.col-2 {
			display: flex;
			overflow: hidden;
		}

		.corner {
			border: 3px solid $primaryLight;
			width: 100%;
			position: relative;
			border-radius: 10px;
		}

		.top-right {
			left: 50%;
			top: -50%;
		}

		.left-bottom {
			left: -50%;
			top: calc(50% - 3px);
		}

		.top-left {
			left: -50%;
			top: -50%;
		}

		.right-bottom {
			left: 50%;
			top: calc(50% - 3px);
		}
	}

	.timeline-event.row {
		display: flex;

		.col-8 {
			@media (max-width: 767px) {
				padding-left: 45px;
				padding-right: 0;
				flex: 0 0 80%;
    			max-width: 80%;
    			&.text-right {
    				padding-left: 0;
					padding-right: 45px;
    			}
			}
			h5 {
				font-size: 1.4rem;
				font-weight: 700;
				padding-top: 30px;
				@media (max-width: 767px) {
					padding-top: 20px;
					font-size: 1.1rem;
				}
			}

			p {
				font-size: 1rem;
				line-height: 150%;
				margin-bottom: 0;
				padding-bottom: 30px;
				@media (max-width: 767px) {
					padding-bottom: 20px;
					font-size: 0.8667rem;
				}
			}

		}

		.col-2 {
			display: inline-flex;
			align-self: stretch;
			align-items: center;
			justify-content: center;
			&.top-item::after {
				height: 50% !important;
				left: calc(50%);
				top: 50%;
			}
			&.full::after {
				height: 100%;
				left: calc(50% - 3px);
			}

			&.full-left::after {
				height: 100%;
				left: 50%;
			}

			&.top::after {
				height: 50%;
				left: 50%;
				top: 0;
			}
		}

		.col-2::after {
			content: "";
			position: absolute;
			border-left: 3px solid $primaryLight;
			z-index: 1;
		}
	}
}

// Clients list
ul.clients-list {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	&:after {
		clear: both;
		display: table;
		content: '';
	}
	li {
		padding: 0 0 5px 0;
		float: left;
		width: 33.32%;
		padding-right: 20px;
		@media (max-width: 991px) {
			width: 50%;
		}
		@media (max-width: 767px) {
			width: 100%;
			float: none;
		}
	}
}





