footer {
	.footer-container {
		background-color: $primary;
		padding: 40px 0;
		@media (max-width: 767px) {
			padding: 30px 0;
		}

		h4.slogan {
			font-weight: 700;
			color: white;
			font-size: 1.7rem;
			line-height: 160%;
			@media (max-width: 767px) {
				font-size: 1.4rem;
				text-align: center;
				margin-bottom: 40px;
			}
		}

		ul {
			margin: 0;
			list-style: none;
			padding: 0;
			@media (max-width: 767px) {
				float: left;
				width: 50%;
			}
			li {
				margin-bottom: 10px;
				line-height: 120%;
				text-align: right;
				@media (max-width: 767px) {
					text-align: left;
				}
				a {
					color: white;
					text-decoration: none;
					font-size: 1.067rem;
					font-family: $specialFont;
					line-height: 100%;
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
					&:hover {
						color: #3fa2f7;
					}
				}
			}
		}

		.copyright {
			text-align: right;
			color: white;
			padding-top: 40px;
			@media (max-width: 767px) {
				padding-top: 28px;
				float: right;
				width: 50%;
			}
		}
	}
	
	.footer-logos {
		padding: 26px 0;
		text-align: center;
		img {
			display: inline-block;
			margin: 0 10px;
			height: 38px;
			width: auto;
			@media (max-width: 1199px) {
				height: 30px;
			}

			@media (max-width: 767px) {
				height: 25px;
			}
			@media (max-width: 649px) {
				margin: 5px 3px;
				height: 20px;
			}
		}
	}
}
