// Header logos
.header-top {
	background-color: $primary;
	padding-top: 4px;
	padding-bottom: 5px;

	@media (max-width: 991px) {
		.col-lg-5 {
			display: none;
		}
	}

	ul.header-logos {
		text-align: right;
		list-style: none;
		margin: 0;
		padding: 0;
		@media (max-width: 991px) {
			text-align: center;
		}
		li {
			display: inline-block;
			margin: 0 0 0 12px;
			padding: 0;
			@media (max-width: 991px) {
				margin: 0 3px;
			}
			a {
				text-decoration: none;
				img {
					height: 18px;
					width: auto;
					margin-right: 2px;
					@media (max-width: 559px) {
						height: 16px;
						margin-right: 0;
					}
				}
				span {
					font-family: $specialFont;
					color: white;
					position: relative;
					top: 2px;
					display: inline-block;
					line-height: 100%;
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
					font-size: 14px;
					@media (max-width: 991px) {
						font-size: 14px;
					}

					@media (max-width: 559px) {
						font-size: 11px;
						top: 0px;
					}

					@media (max-width: 479px) {
						display: none;
					}
				}
				&:hover {
					span {
						color: $selected;
					}
				}
			}
		}
	}
}

// Header
header {
	position: relative;
	color: white;
	z-index: 11;

	.region-selector {
		font-family: $specialFont;
		@media (max-width: 991px) {
			position: static;
			@include transform(translateX(0));
			margin-top: 5px;
			text-align: right;
		}
		span {
			color: white;
			font-size: 0.8667rem;
			a {
				text-decoration: underline;
				color: white;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				&:hover {
					color: $selected;
				}
			}
		}
	}

	nav.navbar {
		background: $primary;
		background: -moz-linear-gradient(top, $secondary 0%, $primary 100%);
		background: -webkit-linear-gradient(top, $secondary 0%, $primary 100%);
		background: linear-gradient(to bottom, $secondary 0%, $primary 100%);
		padding-top: 0;
		padding-bottom: 0;

		@media (max-width: 991px) {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.navbar-brand {
			img {
				width: auto;
				height: 65px;
				@media (max-width: 1199px) {
					
				}
				@media (max-width: 991px) {
					
				}
			}
		}

		.navbar-nav {
			@media (max-width: 1559px) {
				padding-left: 0;
			}
			@media (min-width: 992px) {
				font-size: 1.267rem;
				padding-left: 5%;
				> li {
					padding-bottom: 25px;
					padding-top: 35px;
					height: 90px;
					position: static;
					> a {
						color: white;
						padding-top: 0;
						padding-bottom: 0;
						height: 59px;
						position: relative;
						white-space: nowrap;
						font-size: 1rem;
						&:before {
							content: '';
							position: absolute;
							left: 0.5rem;
							right: 0.5rem;
							bottom: 4px;
							height: 4px;
							background-color: $selected;
							opacity: 0;
							@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
						}
						&:hover {
							&:before {
								opacity: 1;
							}
						}
					}
					&.dropdown {
						> a {
							white-space: nowrap;
						}
						a:after {
							display: none;
						}
						i.fa-caret-down {
							padding-left: 4px;
						}
						&.show,
						&.active {
							i.fa-caret-down:before {
								content: '\f0d8';
							}
							a {
								&:before {
									opacity: 1;
								}
							}
							.dropdown-toggle {
								&:after {
									z-index: 10001;
								}
							}
						}
					}
					&.show,
					&.dropdown.active {
						> a {
							&:after {
								display: inline-block;
								width: 0;
								height: 0;
								margin-left: -5px;
								vertical-align: 0;
								content: '';
								border-top: 5px solid $selected;
								border-right: 5px solid transparent;
								border-bottom: 0;
								border-left: 5px solid transparent;
								position: absolute;
								bottom: -1px;
								left: 50%;
								z-index: 101;
							}
						}
					}
					& + li {
						margin-left: 18px;
						@media (max-width: 1559px) {
							margin-left: 10px;
						}
					}
					&.active {
						> a {
							font-weight: bold;
							&:before {
								opacity: 1;
							}
						}
					}
				}
				.dropdown-menu {
					border-radius: 0;
					border: 0;
					background-color: #E8E8E8;
					margin-top: 0px;
					left: 0;
					right: 0;
					padding-top: 0;
					padding-bottom: 0;
					text-align: center;
					a {
						display: inline-block;
						color: $primary;
						font-weight: 500;
						font-family: $specialFont;
						font-size: 0.9333rem;
						width: auto;
						padding: 14px 0;
						margin: 0 15px;
						position: relative;
						&:after {
							position: absolute;
							content: '';
							height: 3px;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: $primary;
							display: block !important;
							opacity: 0;
							@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
						}
						&:hover {
							background-color: transparent;
							&:after {
								color: $primary;
								opacity: 1;
								background-color: $primary;
							}
						}
					}
				}
			}
			
			// Mobile navigation
			@media (max-width: 991px) {
				font-size: 1.067rem;
				padding-left: 0;
				padding-top: 10px;
				margin-bottom: 10px;
				> li {
					padding-bottom: 4px;
					padding-top: 4px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
					&:first-child {
						border-top: 1px solid rgba(255, 255, 255, 0.2);
					}
					> a {
						color: white;
						padding-top: 0;
						padding-bottom: 0;
						height: auto;
					}
				}
				.dropdown {
					.dropdown-toggle {
						&:after {
							display: none;
						}
						i {
							float: right;
							margin-top: 4px;
							margin-right: 5px;
						}
					}
					.dropdown-menu {
						border-radius: 0;
						border: 0;
						background-color: transparent;
						margin-top: 0px;
						left: 0;
						padding-top: 0;
						padding-bottom: 10px;
						a.dropdown-item {
							color: white;
							padding-left: 0;
							padding-right: 0;
							font-size: 0.9333rem;
							&:hover,
							&:focus {
								background-color: transparent;
							}
						}
					}

					&.show {
						i.fa-caret-down:before {
							content: '\f0d8';
						}
					}
				}
			}
		}
	}
	
	/*
	.user-nav {
		a {
			text-align: center;
			line-height: 110%;
			padding-left: 20px;
			padding-right: 0;
			@media (max-width: 991px) {
				padding-left: 0;
				margin-right: 20px;
			}
			i {
				font-size: 0.7rem;
				color: white;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				@media (max-width: 1199px) {
					font-size: 1.2rem;
				}
			}
			span {
				padding-top: 2px;
				display: block;
				color: white;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				@media (max-width: 1559px) {
					font-size: 0.9333rem;
				}
				@media (max-width: 1199px) {
					display: none;
				}
				@media (max-width: 991px) {
					display: block;
					font-size: 0.8rem;
				}
			}
			
			&:hover {
				i, span {
					color: $selected;
				}
			}
		}
	}

	.search-wrapper {
		padding-top: 5px;
		cursor: pointer;
		@media (max-width: 991px) {
			float: right;
			text-align: center;
			width: auto;
		}
		i {
			font-size: 1.3rem;
			position: relative;
			top: 3px;
			margin-right: 6px;
			@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
			@media (max-width: 991px) {
				margin-right: 0;
			}
		}
		span {
			font-weight: 500;
			@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
			@media (max-width: 1559px) {
				font-size: 0.9333rem;
			}
			@media (max-width: 991px) {
				display: block;
				font-size: 0.8rem;
			}
		}
		&:hover {
			i, span {
				color: $selected;
			}
		}
	}

	.search-popup {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: white;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: $primary;
		margin-top: 1px;
		visibility: hidden;
		opacity: 0;
		@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
		z-index: 100001;
		&.active {
			visibility: visible;
			opacity: 1;
		}
		form {
			position: relative;
			display: block;
			.form-control {
				width: 100%;;
			}
			input[type="text"] {
				display: block;
				width: 100%;
				border: 0;
				border-radius: 0;
				margin-right: 0;
				padding-right: 30px;
				font-size: 0.9333rem;
				color: #444;
				font-family: $specialFont;
				display: block;
				width: 100%;
				padding: 0.375rem 0.75rem;
				line-height: 1.5;
				background-color: #fff;
				background-clip: padding-box;
				outline: none !important;
				&::-webkit-input-placeholder {
					color: #666;
				}
				&::-moz-placeholder {
					color: #666;
				}
				&:-ms-input-placeholder {
					color: #666;
				}
				&:-moz-placeholder {
					color: #666;
				}
			}
			button {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				border: 0;
				color: #666;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				padding: 0 10px;
				margin: 0;
				text-indent: -4000px;
				background: none;
				outline: 0 !important;
				padding: 0;
				width: 35px;
				padding-right: 5px;
				cursor: pointer;
				&:after {
					top: 0;
					right: 0;
					bottom: 0;
					color: #666;
					position: absolute;
					text-indent: 0;
					background-color: transparent;
					text-indent: 0;
					font-family: 'Font Awesome 5 Pro';
					font-size: 1.2rem;
					letter-spacing: 6px;
					line-height: 2rem;
					content: '\f002';
					display: block;
					font-style: normal;
					font-weight: 400;
					speak: none;
					text-align: center;
					padding-left: 10px;
					padding-right: 5px;
				}
				&:hover {
					background: no-repeat;
					color: #3fa2f7;
				}
			}
		}
	}

	*/
}

@media (max-width: 991px) {
	.navbar-toggler {
		color: white;
		outline: none !important;
		padding-right: 0;
		.navbar-toggler-icon {
			color: white;
			i {
				font-size: 2rem;
			}
		}
		&:not(.collapsed) {
			i:before {
				content: '\f00d';
			}
		}
	}
}

// Open dropdowns on selected pages
@media (min-width: 992px) {
	.nav-item.dropdown {
		&.active {
			.dropdown-menu {
				display: block !important;
			}
		}
		&.show {
			.dropdown-menu.show {
				z-index: 1001;
			}
		}
	}
	
	body {
		&.active-dropdown {
			.main-content {
				> .container {
					padding-top: 98px;
				}
			}
		}
	}
}
