<?php
$func = function($html, $args){
    foreach($args as $key => $val) $html = str_replace("%[$key]", $val, $html);
    return $html;
};
$data = [];

if(isset($model->ay_year)){
    $data['curr_year'] = isset($field->config['curr_year'])?$model->ay_year - $field->config['curr_year']:$model->ay_year -1;
    $data['prev_year'] = isset($field->config['prev_year'])?$model->ay_year - $field->config['prev_year']:$model->ay_year - 2;
}

if(isset($model->award)){
    $data['curr_year'] = isset($field->config['curr_year'])?$model->award->year->ay_year - $field->config['curr_year']:$model->award->year->ay_year - 1;
    $data['prev_year'] = isset($field->config['prev_year'])?$model->award->year->ay_year - $field->config['prev_year']:$model->award->year->ay_year - 2;
}

?>
<div class="form-group section-field" style="padding-bottom: 0px; margin-top: 30px;">
    <div class="field-section">
        <h4><?=$func($field->config['text'],$data)?></h4>
    </div>
</div>