{% if record.quest_type == 'slider' %}
<!--        QUESTION 11  -->
{% if record.background == 'gray' %}
<div class="section question backgroundGry">
    {% else %}
    <div class="section question">
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <label class="question">{{record.question}}</label>
                </div>

                <div class="col-xs-12 hidden-md hidden-lg">
                    <div class="styled-select styled-select-lg">
                        <select name="{{record.field_name}}">
                            <!-- <option value="">--- No Particular Preference ---</option> !-->
                            {% for post in posts %}
                            <option value="{{post.value}}">{{html_clean(post.text)}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 hidden-xs hidden-sm">
                    <div class="sliderbar5">
                        <input type="text" class="span2" value="" name="{{record.field_name}}Slider" list="valueOptions" data-slider-min="0" data-slider-max="{{count_records_plus_one}}" data-slider-step="1"
                        data-slider-id="{{elm_id}}dd" id="{{elm_id}}" data-slider-tooltip="hide" data-slider-handle="round" data-slider-value="0" />
                    </div>

                    <div class="clearfix"></div>
                    <datalist id="valueOptions">
                        <!-- <option value="">--- No Particular Preference ---</option> !-->
                        {% for post in posts %}
                        <option value="{{post.value}}">{{html_clean(post.text)}}</option>
                        {% endfor %}
                    </datalist>
                    {% for post in posts %}
                    <p class="col-xs-3 col-md-5ths text-center" style="width:{{pWidth}}% !important;">{{html_clean(post.text)}}</p>
                    {% endfor %}
                </div>


            </div>
            {% if record.hint_title != '' or record.hint_text != '' %}        
            <div class="row iampamHelp">
                <button data-target="#hint{{record.id}}" data-toggle="modal" class="needhelp" type="button">Need help ?</button>
                <!-- Modal -->
                <div class="section section-login-modal">			
                    <div aria-labelledby="usertypelabel" role="dialog" tabindex="-1" id="hint{{record.id}}" class="modal fade">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <h3 class="text-center">{{record.hint_title}}</h3>
                                    <p>{{record.hint_text|raw}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
            {% endif %}    
        </div>
    </div>
    <script>
        $(document).ready(function () {
            if ($("#{{elm_id}}").length > 0) {
                var a = $('#{{elm_id}}').bootstrapSlider().data('slider');
            }
        });
    </script>
    {% endif %}

    {% if record.quest_type == 'options' %}

    {% if record.background == 'half blue-bar' %}

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <label class="question">{{record.question}}</label>
                </div>
            </div>


            <div class="row radiobtns">
                <div class="col-xs-12 hidden-md hidden-lg">
                    <label></label>
                    <div class="styled-select styled-select-lg">
                        <select name="{{record.field_name}}Mob">
                            {% for post in posts %}   
                            {% if only_one_option == '' or only_one_option == post.value %}
                            {% if only_one_option != '' or option_selected == post.value %}
                            <option value="{{post.value}}" selected>{{html_clean(post.text)}}</option>
                            {% else %}
                            <option value="{{post.value}}">{{html_clean(post.text)}}</option>
                            {% endif %}

                            {% endif %}	
                            {% endfor %}
                        </select>
                    </div>
                </div>
                

                <div class="imAPamWrapper col-xs-12 hidden-xs hidden-sm">
                    {% if record.default_option_value != '' %}
                    <input style="display:none;" type="radio" checked selected value="{{record.default_option_value}}" name="{{record.field_name}}">
                    {% endif %}
                    {% for post in posts %}
                    {% if only_one_option == '' or only_one_option == post.value %}
                    <div class="col-xs-6">
                        {% if only_one_option != '' or option_selected == post.value %}
                        <input type="radio" checked id="iampam{{post.id}}" value="{{post.value}}" name="{{record.field_name}}">
                        {% else %}
                        <input type="radio" id="iampam{{post.id}}" value="{{post.value}}" name="{{record.field_name}}">
                        {% endif %}

                        <label for="iampam{{post.id}}" class="box imapam">
                            <p>{{html_clean(post.text)}}</p>
                        </label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <div class="section question blue-bar backgroundimage">
        <div class="container">
            <div class="row iampamHelp">
                <button data-target="#hint{{record.id}}" data-toggle="modal" class="needhelp" type="button">Need help ?</button>
                <!-- Modal -->
                <div class="section section-login-modal">		
                    <div aria-labelledby="usertypelabel" role="dialog" tabindex="-1" id="hint{{record.id}}" class="modal fade">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <h3 class="text-center">{{record.hint_title}}</h3>										
                                    <p>{{record.hint_text|raw}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>        
    {%  else %}
    <div class="section question blue-bar">
        <div class="container">
            <div class="row resize-column-height">
                <div class="col-xs-12">
                    <label class="question">{{record.question}}</label>
                </div>

                {% for post in posts %}

                <div class="col-md-3 col-md-5ths">
                    <input type="radio" id="managed{{post.id}}" value="{{post.value}}" name="{{record.field_name}}">
                    <label for="managed{{post.id}}" class="box resize" style="height: {{record.box_height_px}}px;">
                        <p class="text-center">{{html_clean(post.text)}}</p>
                    </label>
                </div>

                {% endfor %}

            </div>
            {% if record.hint_title != '' or record.hint_text != '' %} 


            <div class="row iampamHelp">
                <button data-target="#hint{{record.id}}" data-toggle="modal" class="needhelp" type="button">Need help ?</button>
                <!-- Modal -->
                <div class="section section-login-modal">			
                    <div aria-labelledby="usertypelabel" role="dialog" tabindex="-1" id="hint{{record.id}}" class="modal fade">
                        <div role="document" class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <h3 class="text-center">{{record.hint_title}}</h3>
                                    <p>{{record.hint_text|raw}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      

            {% endif %} 
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% if record.quest_type == 'switches' %}

    {% if record.background == 'gray' %}
    <div class="section question backgroundGry">
        {% else %}
        <div class="section question">
            {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="color:#14265b;">{{record.question}}</h2>
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                    <div class="col-sm-6" style="width:{{pWidth}}% !important;">
                        <table class="switcher">
                            <tbody><tr>
                                <td>
                                    <div class="onoffswitch">
                                        <input type="checkbox" id="myonoffswitch{{post.id}}" class="onoffswitch-checkbox" value="{{post.value}}" name="{{record.field_name}}[]">
                                        <label for="myonoffswitch{{post.id}}" class="onoffswitch-label">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </td>
                                <td><span class="bool">{{html_clean(post.text)}}</span></td>
                            </tr>
                        </tbody></table>
                    </div>
                    {% endfor %}
                </div>
                {% if record.hint_title != '' or record.hint_text != '' %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row iampamHelp">
                            <button data-target="#hint{{record.id}}" data-toggle="modal" class="needhelp" type="button">
                                Need help ?
                            </button>
                            <!-- Modal -->
                            <div class="section section-login-modal">				
                                <div aria-labelledby="usertypelabel" role="dialog" tabindex="-1" id="hint{{record.id}}" class="modal fade">
                                    <div role="document" class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                                                    <span aria-hidden="true">×</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h3 class="text-center">{{record.hint_title}}</h3>
                                                    <p>{{record.hint_text|raw}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% endif %}
            {% if record.quest_type == 'list' %}
            {% if record.background == 'white' %}
            <div class="section section-question white-bg">
                {% else %}
                <div class="section section-question">
                    {% endif %}

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2>{{record.question}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="styled-select styled-select-lg">
                                    <select name="{{record.field_name}}">
                                        {% for post in posts %}
                                        {% if record.default_option_value == post.value %}
                                        <option selected value="{{post.value}}">{{post.text}}</option>
                                        {% else %}
                                        <option value="{{post.value}}">{{post.text}}</option>
                                        {% endif %}    
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            {% if record.hint_title != '' and record.hint_text != '' %}
                            <div class="col-sm-4">
                                <div class="iampamHelp">
                                    <button data-target="#hint{{record.id}}" data-toggle="modal" class="needhelp pull-right" type="button">Need help ?
                                    </button>
                                    <!-- Modal -->
                                    <div class="section-login-modal">
                                        <div aria-labelledby="usertypelabel" role="dialog" tabindex="-1" id="hint{{record.id}}" class="modal fade">
                                            <div role="document" class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                                                            <span aria-hidden="true">×</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h3 id="myModalLabel" class="text-center">{{record.hint_title}}</h3>
                                                            <p>{{record.hint_text|raw}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if record.quest_type == 'multiple_list' %}

                    {% if record.background == 'white' %}
                    <div class="section section-question white-bg">
                        {% else %}
                        <div class="section section-question">
                            {% endif %}
                            {% if record.field_name == 'REGUSER_Describes' %}
                            <div class="section question blue-bar">
                                <div class="container">
                                    <div class="row resize-column-height">
                                        <div class="col-xs-12">
                                            <label class="question">{{record.question}}</label>
                                        </div>

                                        {% for post in posts %}

                                        <div class="col-md-3 col-md-5ths">
                                        <input type="checkbox" id="managed{{post.id}}" value="{{post.value}}" name="{{record.field_name}}[]">
                                            <label for="managed{{post.id}}" class="box resize" style="height: {{record.box_height_px}}px;">
                                                <p class="text-center">{{html_clean(post.text)}}</p>
                                            </label>
                                        </div>

                                        {% endfor %}

                                    </div>
                                    {% if record.hint_title != '' or record.hint_text != '' %} 


                                    <div class="row iampamHelp">
                                        <button data-target="#hint{{record.id}}" data-toggle="modal" class="needhelp" type="button">Need help ?</button>
                                        <!-- Modal -->
                                        <div class="section section-login-modal">           
                                            <div aria-labelledby="usertypelabel" role="dialog" tabindex="-1" id="hint{{record.id}}" class="modal fade">
                                                <div role="document" class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h3 class="text-center">{{record.hint_title}}</h3>
                                                            <p>{{record.hint_text|raw}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>      

                                    {% endif %} 
                                </div>
                            </div>
                            {% else %}}
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2>{{record.question}}</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="styled-select styled-select-lg multiple">
                                            <select id="assetclasses" multiple="multiple" name="{{record.field_name}}[]" style="display: none;">
                                                {% for post in posts %}
                                                <option value="{{post.value}}">{{post.text}}</option>
                                                {% endfor %}
                                            </select><button type="button" class="ui-multiselect ui-widget ui-state-default ui-corner-all" aria-haspopup="true" style="width: 850px;"><span class="ui-icon ui-icon-triangle-2-n-s"></span><span>Select options</span></button>
                                        </div>
                                    </div>
                                    {% if record.hint_title != '' and record.hint_text != '' %}
                                    <div class="col-sm-4">
                                        <div class="iampamHelp">
                                            <button data-target="#hint{{record.id}}" data-toggle="modal" class="needhelp pull-right" type="button">Need help ?
                                            </button>
                                            <!-- Modal -->
                                            <div class="section-login-modal">
                                                <div aria-labelledby="usertypelabel" role="dialog" tabindex="-1" id="hint{{record.id}}" class="modal fade">
                                                    <div role="document" class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button aria-label="Close" data-dismiss="modal" class="close" type="button">
                                                                    <span aria-hidden="true">×</span></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h3 id="myModalLabel" class="text-center">{{record.hint_title}}</h3>
                                                                    <p>{{record.hint_text|raw}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}

                            {% if record.quest_type == 'company_lookup' %}
                            <div class="col-xs-12 col-md-6">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label class="question resize" style="height: 86px;">{{record.question}}</label>

                                        <input type="text" id="company-findpam-autocomplete" name="{{record.field_name}}" class="form-control validate"
                                        placeholder="Enter company" autocomplete="off">
                                    </div>
                                </div>
                                {% if record.hint_text != '' or record.hint_title != '' %}
                                <div class="row iampamHelp">
                                    <button data-target="#hint{{record.id}}" data-toggle="modal" class="needhelp" type="button">Need help ?</button>
                                    <!-- Modal -->
                                    <div class="section section-login-modal">
                                        <div aria-labelledby="usertypelabel" role="dialog" tabindex="-1" id="hint{{record.id}}" class="modal fade">
                                            <div role="document" class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h3 class="text-center">{{record.hint_title}}</h3>
                                                        <p>{{record.hint_text|raw}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $("#company-findpam-autocomplete").val('');
                                });
                                $("#company-findpam-autocomplete").autocomplete({
                                    autoFocus: false,
                                    source: function (request, response) {
                                        var input = $("#company-findpam-autocomplete");
            //input.prop('readonly',true);
            $.request('account::onCompanySelect', {
                data: {
                    'term': input.val()
                },
                success: function (data) {
                    response(data);
                    //input.prop('readonly',false);
                },
                error: function ($el, context, textStatus, jqXHR) {
                    alert("Error!");
                },
                complete: function () {
                    //input.prop('readonly',false);
                }
            })
        },
        minLength: 3
    });
</script>
{% endif %}

{% if record.quest_type == 'half_size_list' %}
<div class="col-xs-12 col-md-6">
    <div class="row">
        <div class="col-sm-12">
            <label class="question resize" style="height: 86px;">{{record.question}}</label>
            <div class="styled-select styled-select-lg">
                <select name="{{record.field_name}}">
                    {% for post in posts %}
                    <option value="{{post.value}}" {% if record.default_option_value == post.value %} selected {% endif %}>{{post.text}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% if record.hint_text != '' or record.hint_title != '' %}
    <div class="row iampamHelp">
        <button data-target="#hint{{record.id}}" data-toggle="modal" class="needhelp" type="button">Need help ?</button>
        <!-- Modal -->
        <div class="section section-login-modal">
            <div aria-labelledby="usertypelabel" role="dialog" tabindex="-1" id="hint{{record.id}}" class="modal fade">
                <div role="document" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <h3 class="text-center">{{record.hint_title}}</h3>
                            <p>{{record.hint_text|raw}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endif %}

{% if record.quest_type == 'percentage' %}
<div class="section section-question">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{record.question}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 hidden-md hidden-lg">
                <div class="styled-select styled-select-lg">
                    <select name="{{record.field_name}}">
                        <option value="0" selected>Choose one...</option>
                        {% for i in 1..100%}
                        <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            <div class="col-xs-12 hidden-xs hidden-sm">
                <div class="sliderbox-wrapper">
                    <div class="sliderbar">
                        <input type="text" class="span2" value="" name="{{record.field_name}}Slider"
                        data-slider-min="0" data-slider-max="100" data-slider-step="1"
                        data-slider-value="0" data-slider-id="GC" id="slider9" data-slider-tooltip="hide"
                        data-slider-handle="round"/>
                        <!--<input type="range" name="MT_Min" list="valueOptions" max="8"/>-->
                    </div>
                    <div class="clearfix"></div>
                    <datalist id="valueOptions">
                        <option value="0" selected>0%</option>
                        <option value="20">20%</option>
                        <option value="40">40%</option>
                        <option value="60">60%</option>
                        <option value="80">80%</option>
                        <option value="100">100%</option>
                    </datalist>
                    <div class="row">
                        <p class="col-xs-2 text-center">0%</p>

                        <p class="col-xs-2 text-center">20%</p>

                        <p class="col-xs-2 text-center">40%</p>

                        <p class="col-xs-2 text-center">60%</p>

                        <p class="col-xs-2 text-center">80%</p>

                        <p class="col-xs-2 text-center">100%</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-4">
                <div class="iampamHelp">
                    <button type="button" class="needhelp pull-right" data-toggle="modal"
                    data-target="#help{{record.field_name}}">Need help ?
                </button>
                <!-- Modal -->
                <div class="section-login-modal">
                    <div class="modal fade" id="help{{record.field_name}}" tabindex="-1" role="dialog"
                    aria-labelledby="usertypelabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <h3 class="text-center">{{record.hint_title}}</h3>
                                    <p>{{record.hint_text|raw}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>        
{% endif %}