subject = "Welcome back! Your account has been reactivated"
description = "User has reactivated their account"
==
Welcome back {{ name }}

This is a message to inform you that you have successfully signed in and reactivated your account.

If you did not prompt this, we suggest changing your password before deactivating your account again.

==

<p>Welcome back, {{ name }}!</p>

<p>This is a message to inform you that you have successfully signed in and reactivated your account.</p>

<p>If you did not prompt this, we suggest changing your password before deactivating your account again.</p>
