title = 404
url = "/404"
layout = "default"
is_hidden = 0
==

<div class="container wrapper-404">
   <div class="row">
       <div class="col-12">
       		<div class="page-title">
       			<h1>Oops!</h1>
       			<h3>We can't seem to find the page you're looking for.</h3>
       			<p>Here are some helpful links instead:</p>
       			<ul>
       				<li><a href="{{url('/')}}">Home</a></li>
       				<li><a href="#">Sitemap</a></li>
       				<li><a href="#">FAQs</a></li>
       				<li><a href="#">Contact</a></li>
       			</ul>
       		</div>
       	</div>
    </div>
</div>
