title = "About"
url = "/about"
layout = "default"
is_hidden = 0
==
<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>About</h1>
       		</div>

          <p>thewealthnet is designed to meet the information needs of those involved in the creation and preservation of private wealth. On this site you will find the following features:</p>

          <h3>News - tailored to your personal needs</h3>
          <p>thewealthnet is the first with the news in the market. We deliver up-to-the-minute news on the latest changes and developments in the wealth management market, from people moves to new product launches and M&A activity.</p>

          <h3>Features - cutting edge analysis</h3>
          <p>We also provide commentary and analysis of the events shaping the future of the wealth management industry. You will find profiles of the leading players in the market, together with in-depth studies of the key issues facing both clients and their advisers.</p>

          <h3>Archives - fully searchable for easy access</h3>
          <p>Whether you are searching for an individual, a product or service, a company or a generic topic, you will find what you need in our archives.</p>

          <h3>Events Calendar - to help you plan your itinerary</h3>
          <p>Every major wealth management event is featured on our Events calendar. If you are planning to make the most of a business trip, we can help you put key dates in your diary well in advance to make sure you don't miss important industry meetings. Alternatively, if you simply have some time on your hands and want to put it to good use, then you will find the Events calendar an essential tool.</p>

          <p>thewealthnet is for you - we are always looking at ways we can improve the service we deliver - so please let us have your comments at news@thewealthnet.com and help us to make your subscription even better value!</p>
       	
        </div>
    </div>
</div>