title = "Advertise on thewealthnet"
url = "/advertise-on-thewealthnet"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   <div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Advertise with Us</h1>
       		</div>
   			<p><strong>Launched in January 2003 thewealthnet is the world's leading online wealth management newswire that provides senior wealth management professionals with global industry news as it happens. </strong></p>
   			<p>Over 14,500 senior wealth management professionals rely on our daily news.</p>
   			<ul>
				<li>Exclusive CEO interviews</li>
				<li>Mergers & Acquisitions activity</li>
				<li>Regulation changes and implications</li>
				<li>Product launches</li>
				<li>People moves</li>
				<li>Comment & Analysis</li>
				<li>A Friday view from the Diary of a Private Banker</li>
				<li>Largest searchable archive in the industry with over 50,000 articles</li>
				<li>Calendar of events</li>
   			</ul>
   			<h3>Circulation</h3>
   			<p>thewealthnet is the perfect platform for advertisers whose primary target is to deliver their message directly to the key decision makers within the most significant 1,000 European private banking and private wealth management businesses. It provides a solid, respected editorial environment in which advertsisers can position their businesses as trusted providers.</p>

   			<h3>thewealthnet Advertising Rates</h3>
   			<p>thewealthnet provides companies with the opportunity to target the key decision makers within the wealth management industry on a real time basis. With an escalating global audience, thewealthnet offers prime advertising opportunities to organisations wishing to promote industry specific products and services.</p>
   			<p>For further details on advertising with us please contact <a href="mailto:advertising@thewealthnet.com">advertising@thewealthnet.com</a></p>
       	</div>
    </div>
</div>
