title = "Article Print View"
url = "/article/:slug/print"
layout = "print"
is_hidden = 0

[article]
slug = "{{ :slug }}"

==
<!-- www.addthis.com share tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b1e43258b04f238"></script>

<div class="container article-page">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-xl-7">
            {% component 'article' %}
        </div>
        <div class="col-md-4 col-lg-4 col-xl-3">
            
            <div class="headlines-wrapper">
                <h3>{{trans('twnepc.news::lang.related_article')}}</h3>
                {% component 'related' %}
            </div>

            <div class="headlines-wrapper">
                <h3>{{trans('twnepc.news::lang.headlines')}}</h3>
                {% component 'headlines' %}
            </div>
            
        </div>
    </div>
</div>