title = "Benefits of Membership"
url = "/benefits-of-membership"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Benefits of Membership</h1>
       		</div>

          <h3>News – tailored to your personal needs</h3>
          <p>Delivered twice daily to your in-box</p>
          
          <h3>Ranking and Readings</h3>
          <p>You’ll gain access to the results of the 50 Most Influential, PAM Top 40 under 40 and the PAM Global 50</p>

          <div class="cta-wrapper">
            <a href="{{url('/')}}/registration" class="action-button">Subscribe now »</a>
          </div>
       	</div>
    </div>
</div>
