title = "Contribute a story"
url = "/contribute-a-story"
layout = "default"
is_hidden = 0

[renderForm]
formCode = "contribute-a-story-twn"
redirect = "contribute-story"

==
<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Contribute a story</h1>
       		</div>

          <p>If you would like to submit an article for consideration for publication please complete the below:</p>
          <p>If you should have any questions, please contact <a href="mailto:news@thewealthnet.com">news@thewealthnet.com</a></p>
          
          <h3>Article Submission Form</h3>

          <div class="rendered-form default-form">
            {% component 'renderForm' %}
          </div>
       	</div>
    </div>
</div>