title = "Extend your subscription"
url = "/extend-your-subscription"
layout = "default"
is_hidden = 0

[renderForm]
formCode = "subscription-twn"
redirect = "extend-your-subscription"

==
<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Extend your Subscription</h1>
       		</div>
          
          <p>Oops! It looks like your subscription to thewealthnet has expired or not valid for the requested content. If you want to renew your access please submit the form below to extend your subscription.</p>
          	
          <h3>Request Form</h3>
	        <div class="rendered-form default-form extend-form">
	            {% component 'renderForm' %}
	        </div>
       	</div>
    </div>
</div>