title = "News"
url = "/news/:slug?"
layout = "default"
is_hidden = 0

[category]
slug = "{{ :slug }}"
pag = 10

[subcategories]
slug = "{{ :slug }}"

[space mainmiddletop]
space = 3

[space mainmiddlebottom]
space = 5

[popularfavourite]
pnum = 5
fnum = 5
site = 1
==
<div class="container">
    <div class="row">
    	<div class="col-12 col-md-7 col-main">
			<div class="row">
    			<div class="col-12 col-md-12">
    				{% component 'category'%}
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-3 col-secondary">
			{% component 'subcategories' %}
			<div class="col-banners-wrapper">
		        {% component 'mainmiddletop' %}
    	    </div>

    		{% component 'popularfavourite' %}

    		{% component 'mainmiddlebottom' %}

    	</div>
    </div>
</div>