title = "News Subcategory"
url = "/news/:cat/:subcat"
layout = "default"
is_hidden = 0

[category]
slug = "{{ :subcat }}"
pag = 10

[space mainmiddle]
space = 4

[popularfavourite]
pnum = 5
fnum = 5
site = 1

==
<div class="container">
    <div class="row">
    	<div class="col-md-8 col-lg-8 col-xl-7 col-main">
			<div class="row">
    			<div class="col-12 col-md-12">
    				{% component 'category'%}
    			</div>
    		</div>
    	</div>
    	<div class="col-md-4 col-lg-4 col-xl-3 col-secondary">

    		{% component 'popularfavourite' %}

    		{% component 'mainmiddle' %}

    	</div>
    </div>
</div>