title = "resetpassword"
url = "/resetpassword"
layout = "no-top-banner"
is_hidden = 0

[resetPassword resetpassword]
paramCode = "code"
==
<div class="container">
    <div class="row">
        <div class="col forgot-wrapper">

        	<div class="page-title">
                <h1>Reset your password</h1>
            </div>

        	{% component 'resetpassword' %}
        </div>
    </div>
</div>