
title = "results"
url = "/results"
layout = "default"
is_hidden = 0

[searchResults]
resultsPerPage = 15
showProviderBadge = 0
noResultsMessage = "Your search returned no results."
visitPageMessage = "Read article"

[popularfavourite]
pnum = 5
fnum = 5

[space mainmiddletop]
space = 3

[space mainmiddlebottom]
space = 5

==

function onEnd() 
{
    $resultsCollection = $this->page->components['searchResults']->resultCollection;

    $sorted = $resultsCollection->sortByDesc(function($item,$key){

        return $item->meta['published_date'];

    });

    $this->page->components['searchResults']->resultCollection = $sorted;
}

==
<div class="container search-results">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-xl-7 col-main">
            <div class="page-title">
                <h1>Search results</h1>
            </div>
            {%component 'searchResults' %}
        </div>
        <div class="col-md-4 col-lg-4 col-xl-3 col-secondary">
    		
            <div class="col-banners-wrapper">
		        {% component 'mainmiddletop' %}
    	    </div>

    		{% component 'popularfavourite' %}

    		{% component 'mainmiddlebottom' %}

        </div>
    </div>
    
</div>