title = "Sitemap"
url = "/sitemap"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Sitemap</h1>
       		</div>

          <div class="sitemap-wrapper">
            
            <div class="col">
              <h3>thewealthnet</h3>
              <ul>
                <li><a href="{{url('/')}}/about">About</a></li>
                <li><a href="{{url('/')}}">Home</a></li>
                <li><a href="{{url('/')}}/subscriptions">Subscriptions</a></li>
                <li><a href="{{url('/')}}/contact">Contact</a></li>
                <li><a href="{{url('/')}}/faqs" title="">FAQs</a></li>
                <li><a href="{{url('/')}}/benefits-of-membership" title="">Benefits of Membership</a></li>
              </ul>
            </div>
            
            <div class="col">
              <h3>News</h3>
              <ul>
                <li><a href="{{url('/')}}/news/analysis-&-commentary">Analysis & Commentary</a></li>
                <li><a href="{{url('/')}}/news/people">People</a></li>
                <li><a href="{{url('/')}}/news/companies">Companies</a></li>
                <li><a href="{{url('/')}}/news/products-&-services">Products & services</a></li>
                <li><a href="{{url('/')}}/news/technology">Technology</a></li>
                <li><a href="{{url('/')}}/news/regulation">Regulation</a></li>
              </ul>
            </div>
            
            <div class="col">
              <h3>User</h3>
              <ul>
                <li><a href="{{url('/')}}/login">Login</a></li>
                <li><a href="{{url('/')}}/account">My Account</a></li>
              </ul>
            </div>

            <div class="col">
              <h3>Join us</h3>
              <ul>
                <li><a href="{{url('/')}}/registration">Sign up for free trial</a></li>
                <li><a href="{{url('/')}}/registration">Subscribe to thewealthnet</a></li>
              </ul>
            </div>
              
            <div class="col">
              <h3>Useful links</h3>
              <ul>
                <li><a href="{{url('/')}}/thewealthnet-events" title="">thewealthnet Events</a></li>
                <li><a href="{{url('/')}}/advertise-on-thewealthnet" title="">Advertise on thewealthnet</a></li>
                <li><a href="{{url('/')}}/submit-press-release" title="">Submit Press Release</a></li>
                <li><a href="{{url('/')}}/contribute-a-story" title="">Contribute a story</a></li>
                <li><a href="{{url('/')}}/sitemap" title="">Sitemap</a></li>
              </ul>
            </div>

            <div class="col">
              <h3>Privacy</h3>
              <ul>
                <li><a href="{{url('/')}}/terms-and-conditions" title="">Terms & conditions</a></li>
                <li><a href="{{url('/')}}/privacy-policy" title="">Privacy policy</a></li>
              </ul>
            </div>

          </div>

       	</div>
    </div>
</div>