title = "Submit Press Release"
url = "/submit-press-release"
layout = "default"
is_hidden = 0

[renderForm]
formCode = "submit-press-release-twn"
redirect = "submit-press-release"

==
<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Submit Press Release</h1>
       		</div>

           <p>If you would like to submit a press release for consideration for publication as a news story please complete the below:</p>

           <p>If you should have any questions, please contact <a href="mailto:news@thewealthnet.com">news@thewealthnet.com</a></p>

          <h3>Press Release Submission Form</h3>

          <div class="rendered-form default-form">
            {% component 'renderForm' %}
          </div>
       	</div>
    </div>
</div>