title = "Subscribe to Free Trial"
url = "/subscribe-free-trial"
layout = "default"
is_hidden = 0

[renderForm]
formCode = "subscription-twn"
redirect = "subscribe-free-trial"

==
<div class="container cms-wrapper">
 	<div class="row">
    <div class="col-md-12 col-lg-10 col-xl-10">
     	<div class="page-title">
     		<h1>Request a Free Trial</h1>
     	</div>
      <p>Thank you for your interest in a free trial. Please give us a few basic details and we’ll set you up with free access straight away.</p>

      <h3>Request Form</h3>
      <div class="rendered-form default-form free-trial-form">
          {% component 'renderForm' %}
      </div>
     	
    </div>
  </div>
</div>