title = "Subscriptions"
url = "/subscriptions"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Subscriptions</h1>
       		</div>
			
			<p><strong>thewealthnet</strong> is designed to meet the information needs of those involved in the creation and preservation of private wealth – and is typically the first with the latest news. We deliver daily up-to-the-minute bulletins on the latest changes and developments in the wealth management market, from people moves to new product launches and M&A activity.</p>

			<p>We also provide commentary and analysis of the events shaping the future of the sector, as well as profiles of the leading participants in the market, together with in-depth studies of the key issues facing both clients and their advisers.</p>

			<p>For anyone searching for an individual, a product or service, a company or a generic topic, our fully searchable archives provide a ready and reliable source, currently with over 6,000 stories dating back to 1997.</p>

			<p>Whether you are searching for an individual, a product or service, a company or a generic topic, you will find what you need in our archives.</p>

			<p>Every major wealth management event is featured on our Events calendar, providing a quick and easy way to make the most of a business trip, or to diarise key dates.</p>
			<div class="cta-wrapper">
				<a href="{{url('/')}}/registration" class="action-button">Sign up for a free trial</a>
			</div>

			<h3>Annual subscription rates</h3>
			<p>Primary subscription: £895 <br>
			Additional individual subscription: £495</p>

			<div class="cta-wrapper">
				<a href="{{url('/')}}/request-a-subscription" class="action-button">Subscribe now »</a>
			</div>

			<p><a href="{{url('/')}}/benefits-of-membership">Read more</a> about Benefits of Membership</p>

       	</div>
    </div>
</div>