title = "Terms & conditions"
url = "/terms-and-conditions"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Terms & conditions</h1>
       		</div>
       		<p><strong>PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS SITE.</strong></p>
       		<h3>Use of this site</h3>
       		<p>1. Your use of this site, which is provided by PAM Insight Limited ("PAM Insight"), is expressly conditional upon your acceptance of the following terms and conditions. By using this site you signify your consent to be bound by these terms and conditions. If you do not agree with any part of the following terms and conditions you must not use this site. Some areas of the site require registration. By completing the initial registration form and by entering your email address and password, you will be deemed to have accepted these terms and conditions. Also, by subscribing to any of our email services, you are deemed to have accepted these terms and conditions. If you register with this site, you should read our <a href="{{url('/')}}/privacy-policy">privacy policy</a>.</p>
       		
       		<h3>Registration</h3>
       		<p>2. Access to the registration areas of the site is permitted on the basis that:</p>
			<p>a) your email address and password are personal to you and may not be used by anyone else to access this site;</p>
			<p>b) you will not do anything which would assist anyone who is not a registered user to gain access to any registration area of this site;</p>
			<p>c) you do not create additional registration accounts for the purpose of abusing the functionality of the site, or other users; nor do you seek to pass yourself off as another user.</p>
			<p>3. It is your responsibility to maintain the confidentiality of your password and you are responsible for all activity that occurs under your user name and password. We will not be liable where your password is used by someone else. We reserve the right to cancel your account and to ban you from registering a new account if the security of your account is compromised in any way and for any reason.</p>

			<h3>User Submissions</h3>
			<p>4. For the purposes of these terms and conditions "User Content" means material including, without limitation, text, video, photographs, graphics, audio, and competition entries whether published on this site or not and whether copyright of PAM Insight or a third party.</p>
			<p>5. Users of this site may submit User Content including but not limited to text including comments and blogs, videos, photographs, graphics and/or audio for publication in various areas of the site, including our forums and blogs. We accept no liability in respect of any User Content submitted by users and published by us and we are not responsible for its content and accuracy. When you submit a video, photograph or other User Content to us you do so in accordance with these terms and conditions. We do not guarantee any confidentiality with respect to such User Content whether published or not. Submission of any User Content is subject to the following terms:</p>
			<p>(i) you warrant to us that any User Content you submit to us is your own original work and that you own the copyright and any other relevant rights;</p>
			<p>(ii) you must obtain the permission of all of the people featured or referred to in the User Content (and, if they are under 16, their parents or guardians as well) to our use of the User Content;</p>
			<p>(iii) publication of any User Content you submit to us will be at our sole discretion. We reserve the right to make additions or deletions to the User Content prior to publication, or to refuse publication;</p>
			<p>(iv) you grant us a non-exclusive, perpetual, royalty-free, worldwide, transferable licence to use, edit, reproduce, record, modify, translate, distribute, play, perform, make available to other users of this website, prepare derivative works of and to display any User Content you submit to us in any format, including without limitation print and electronic format and you agree to waive your moral rights in the User Content;</p>
			<p>(v) you agree not to post User Content which is deliberately intended to upset other users or contrary to our Guidelines or contrary to our prevailing guidelines or contrary to applicable local, national, and international laws and regulations. You warrant that the User Content you submit does not infringe any individual's right to privacy and is not harmful, offensive, defamatory, obscene, harassing, threatening, hateful or otherwise degrading or intimidating of any individual or group of individuals on the basis of religion, gender, race, sexual orientation, ethnicity, age, or disability, or otherwise illegal;</p>
			<p>(vi) you must not endanger yourself or others, take any unnecessary risks in order to produce or make any User Content;</p>
			<p>(vii) you acknowledge that any breach of these warranties may cause us damage or loss and you agree to indemnify us in full and permanently against any third party liabilities, claims, costs, loss or damage we incur as a result of publishing User Content you submit to us, including consequential losses.</p>
			<p>6. You or the owner of the User Content retain ownership of the copyright in all User Content sent to us and are free to republish it wherever you or the owner wish and in whatever medium you or the owner want. </p>
			<p>7. We do not keep any 'comments' that are not accepted for publication but may retain other User Content even if this is not published. We have no obligation to you to keep any User Content or to return it to you or remove it from this website or anywhere else we may have published it at any time.</p>
			<p>8. You must not send materials that contain viruses, worms, or any other destructive elements. Insults, threats, defamatory comment, dissemination of confidential material, pyramid or other soliciting schemes, or actions meant to disrupt or abuse other users are also prohibited. Users must not use the PAM Insight website to advocate illegal conduct or to participate in illegal or fraudulent activities and must not post or distribute unauthorized copies of copyright material including photographic images, artwork, text, sound files or computer programs. If you have a product or service to advertise, you may not use the website for this purpose.</p>
			<p>9. We do not endorse any User Content or any opinion, recommendation, or advice expressed herein, and we expressly disclaim any and all liability in connection with such material. PAM Insight does not permit copyright infringing activities and infringement of intellectual property rights on this website, and we will remove any User Content if properly notified that such material infringes another's intellectual property rights. We reserve the right to remove User Content without prior notice.</p>
			
			<h3>Safety, Complaints, and Reporting Abuse</h3>
			10. You are advised not to reveal any personal information about yourself or anyone else (for example: telephone number, email address or home address). You are entirely responsible for maintaining the confidentiality of your details when using this website.
			<p>11. Any questions about these terms and conditions or reports of anyone abusing the website or otherwise not complying with these terms and conditions should be addressed to info@paminsight.com.
			<p>12. If you become aware of any misuse of the site or wish to complain about any User Content or material on the site or believe any of your rights have been violated e.g. your copyright infringed, you have been defamed etc., you can notify us using any of the "Report This" links on the Site (you will need to be a Registered User to do this). This is the quickest way to contact us. Alternatively you can contact us at info@paminsight.com. We will need to know the following:</p>
			<p>(i) Nature of your complaint and location within the site of the particular content or user;</p>
			<p>(ii) For copyright disputes, identification of the copyright work you claim has been infringed and identification of the User Content that you claim is infringing the copyright work - usually the URL of the User Content</p>
			<p>(iii) A statement that you have a good-faith belief the disputed use is not authorised by the copyright owner, its agent, or the law and that you are the owner of the copyright interest involved or are authorised to act on behalf of the owner.</p>
			<p>(iv) Your name, address, telephone number and email address and such other information as we may reasonably request.</p>
			<p>13. We reserve the right to immediately terminate or suspend access to the website in response to conduct that we believe interferes with other people's enjoyment.</p>

			<h3>Copyright</h3>
			<p>14. All copyright and other intellectual property rights in this website (including without limitation the text, graphics and other content) are owned or controlled by PAM Insight or its licensors.</p>
			<p>15. You may download and print extracts from the site and make copies of these for your own personal and non-commercial use only. You are not allowed to download or print the material, or extracts from it, in a systematic or regular manner or otherwise so as to create a database in electronic or paper form comprising all or part of the material appearing on this website.</p>
			<p>16. You must not reproduce any part of this website or the material or transmit it to or store it in any other website or disseminate any part of the material in any other form, unless we have indicated in writing that you may do so. The design, arrangement and look and feel of this website are also the copyright of PAM Insight and/or its licensors and may not be copied or otherwise reproduced.</p>

			<h3>Trademark Notice</h3>
			<p>17. The trademarks, trade names and logos displayed on this website are the property of PAM Insight and/or its licensors or other third parties. Users should not use these without the prior written permission of PAM Insight or the relevant third party.</p>

			<h3>General Disclaimer</h3>
			<p>18. We are providing this website and its contents on an 'as is' basis and, to the maximum extent permitted by law, excludes all representations or warranties of any kind including, without limitation, warranties implied by statute. In addition, we do not represent or warrant that the information accessible via this website is accurate, complete or current.</p>
			<p>19. We will not be liable for any loss which may result from the use of this website including, without limitation, loss due to any computer virus or viruses which may infect your computer equipment as a result of your access to or use of this website or your downloading of any materials, data, text, images, video or audio from this website (except for death or personal injury attributable to our negligence and to the extent permitted at law).</p>
			<p>20. If, for any reason, we believe that you have not complied with any of these terms and conditions of use, we may, at our discretion, cancel your access to the registration areas of the site immediately and without giving you any advance notice or reason. If we wish to bring the agreement to an end, we will do so by emailing you at the address you have registered stating that the agreement has terminated. The agreement will terminate and your email address and password will become invalid on this website immediately.</p>

			<h3>Other websites and services</h3>
			<p>21. You can access other sites via links or URL re-directions from this site. These sites are not under our control and we are not responsible in any way for any of their contents. You agree that we will not be party to any transaction or contract with any third party that you may enter into and we will not be liable to you for any loss or damage which you may suffer by using those third party websites and services. You agree you will not involve us in any dispute you may have with any such third party website or service.</p>

			<h3>Privacy and Data Protection</h3>
			<p>22. Any personal information collected from this website will be used by us in accordance with our Privacy Statement, the Data Protection Act 1998 and any other relevant legislation.</p>

			<h3>Force majeure</h3>
			<p>23. Although we will do our best to provide constant, uninterrupted access to this site we do not guarantee this. We accept no responsibility or liability for any interruption or delay.</p>

			<h3>Severance, Governing Law & Jurisdiction</h3>
			<p>24. If any provision of these terms and conditions is found by any court or administrative body of competent jurisdiction to be invalid or unenforceable such invalidity shall not affect the other provisions of these terms and conditions which shall remain in full force and effect.</p>
			<p>25. These terms and conditions are governed by English law and the parties agree to submit to the exclusive jurisdiction of the courts of England and Wales.</p>
			<p>26. References to 'PAM Insight', 'us', 'our', and 'we' are to PAM Insight Limited, 2nd Floor Devonshire House, 1 Devonshire St, London, W1W 5DS.</p>

			<h3>Updates</h3>
			<p>27. These terms were last updated on 14 February 2017 and may be varied from time to time. Please ensure that you review these terms and conditions regularly as you will be deemed to have accepted a variation if you continue to use the site after it has been posted.</p>
       	</div>
    </div>
</div>