title = "Thank you for your registration"
url = "/thank-you"
layout = "default"
is_hidden = 0

==
<div class="container cms-wrapper">
    <div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
          <div class="page-title">
            <h1>Thank you for your registration</h1>
          </div>

          <p>An <strong>activation</strong> email was sent to your email address.<br>Please <strong>click on the link</strong> in the email to activate your account and log in!</p><br>

          <p>Thank you</p>        
        </div>
    </div>
</div>