title = "thewealthnet Events"
url = "/thewealthnet-events"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>thewealthnet Events</h1>
       		</div>


          <h3>Compeer: Outsourcing Conference 2018, Perception versus Reality</h3>
          <p>
            <strong>Start Date:</strong> 03/10/2018<br>
            <strong>End Date:</strong> 03/10/2018<br>
            <strong>Time:</strong> 15:00 - 20:00<br>
            <strong>Venue:</strong> TBC, London<br>
            <strong>Country:</strong> UK<br>
            <strong>Price:</strong> £ Free for wealth managers & private banks
          </p>

          <p>The research for this conference will be analysing the differences between how outsourcing providers are perceived by wealth managers and which services they can provide.  It will be based on interviews with the wealth management firms and the service providers. </p>

          <p>
            <strong>Event Website:</strong> <a href="http://compeer.co.uk/event/outsourcing-conference-2018-perception-versus-reality/" target="_blank">http://compeer.co.uk/event/outsourcing-conference-2018-perception-versus-reality/</a><br>
            <strong>Contact Email:</strong> events@compeer.co.uk <br>
            <strong>Contact Phone:</strong> 0207-648-4830
          </p>


          <h3>PIMFA Women in Wealth Forum</h3>
          <p>
            <strong>Start Date:</strong> 04/10/2018<br>
            <strong>End Date:</strong> 04/10/2018<br>
            <strong>Time:</strong> 8:30 am - 1:00 pm<br>
            <strong>Venue:</strong> RBS offices, Bishopsgate<br>
            <strong>Country:</strong> UK<br>
            <strong>Price:</strong> £ Free 
          </p>

          <p>Our final PIMFA ‘Women in Wealth’ event for 2017 brings together colleagues from across the industry for peer-to-peer debate, networking and inspiration.</p>

          <p>Speakers will include top female professionals from our industry and its key stakeholders to share insights and experience, as well as a practical element of takeaways suitable for men and women on personal brand.</p>

          <p>* Please note: Due to an update from the RBS Security team, bookings made after 27/09/17 will not be accepted and you will not be granted entry. We regret that name changes or substitutes can no longer be made to existing bookings after this date.</p>

          <p>
            <strong>Event Website:</strong> <a href="https://www.pimfa.co.uk/event/pimfa-women-in-wealth-forum/" target="_blank">https://www.pimfa.co.uk/event/pimfa-women-in-wealth-forum/</a><br>
            <strong>Contact Email:</strong> JazzmineQ@pimfa.co.uk<br>
            <strong>Contact Phone:</strong> 020 7-448- 7100
          </p>


          <h3>PIMFA Annual Summit 2018</h3>
          <p>
            <strong>Start Date:</strong> 31/10/2018<br>
            <strong>End Date:</strong> 31/10/2018<br>
            <strong>Time:</strong> 9:00 am - 6:00 pm<br>
            <strong>Venue:</strong> ETC. Venues Bishopsgate, London, EC2M 3YD<br>
            <strong>Country:</strong> UK<br>
            <strong>Price:</strong> £ 349 - £699 
          </p>

          <p>The PIMFA Summit 2018 will be a unique opportunity to investigate and gain a comprehensive understanding of the issues that impact upon the investment management and financial advice sector, providing an exceptional opportunity to debate on key topics facing our industry.</p>

          <p>KEYNOTE SPEAKER ANNOUNCED:  Sir Trevor McDonald OBE, Veteran ITN Presenter</p>

          <p>Widely acknowledged as one of Britain’s most popular news presenters, Sir Trevor McDonald anchors ITV’s News at Ten and the flagship current affairs show Tonight. In a departure from his regular role he has also presented Have I Got News For You and the rival topical comedy show, News Knight.</p>

          <p>Trevor began his career in Trinidad as a newsreader and interviewer. After joining ITN, he was first assigned to cover the Troubles in Northern Ireland before becoming Sports Correspondent, reporting on Kerry Packer’s Cricket World Series in Australia. His next role was Diplomatic Correspondent and Editor at Channel 4 News.</p>

          <p>Trevor has interviewed many of the world’s leading figures. He spoke to Mandela on his release from prison, and in a very different vein he secured the only British TV interview with Saddam Hussein.</p>

          <p>Trevor has written biographies of the West Indian cricketers Viv Richards and Clive Lloyd, and published his autobiography Fortunate Circumstances. He won a BAFTA and a Dimbleby award for Outstanding Contribution to Television, and was voted ‘Most Trusted TV Celebrity’ in a Radio Times poll.</p>

          <p>
            <strong>Event Website:</strong> <a href="https://www.pimfa.co.uk/event/annual-summit-2018/" target="_blank">https://www.pimfa.co.uk/event/annual-summit-2018/</a><br>
            <strong>Contact Email:</strong> JazzmineQ@pimfa.co.uk<br>
            <strong>Contact Phone:</strong> 0207-448-7100
          </p>


          <h3>MoneyLIVE: Private Banking & Wealth Management 2018</h3>
          <p>
            <strong>Start Date:</strong> 12/11/2018<br>
            <strong>End Date:</strong> 12/11/2018<br>
            <strong>Time:</strong> All Day<br>
            <strong>Venue:</strong> One Whitehill Place, London<br>
            <strong>Country:</strong> UK<br>
            <strong>Price:</strong> £ 895
          </p>

          <p>Blaze the innovation trail at Europe's leading private banking & wealth management conference.</p>

          <p>At MoneyLIVE: Private Banking & Wealth Management you can join senior executive from Europe's premier private banks and wealth managers as they discuss the evolution of the private banking client, changing business models, and the opportunities presented by both digital innovation and regulatory adjustments.</p>

          <p>
            <strong>Event Website:</strong><a href="https://new.marketforce.eu.com/money-live/event/private-banking-wealth-management/" target="_blank">https://new.marketforce.eu.com/money-live/event/</a>private-banking-wealth-management/<br>
            <strong>Contact Email:</strong> enquiries@marketforce.eu.uk<br>
            <strong>Contact Phone:</strong>0207-608-3222<br>
          </p>


          <h3>Wealth 2.0</h3>
          <p>
            <strong>Start Date:</strong> 28/11/2018<br>
            <strong>End Date:</strong> 29/11/2018<br>
            <strong>Time:</strong> All day<br>
            <strong>Venue:</strong> Jumeirah Carlton Tower, London<br>
            <strong>Country:</strong> UK<br>
            <strong>Price:</strong> £ 715 
          </p>

          <p>Wealth 2.0 is back on the 28-29th November 2018. Now recognised as Europe’s most senior wealth and asset management gathering, the event will feature over 120 speakers, multiple streams and over 400 senior delegates. This provides a unique opportunity for the industry’s C-level’s from both the wealth and asset management communities to gather, share ideas and debate strategies in an open forum. There is no other event quite like it.</p>
 
          <p><strong>NEW FOR 2018!</strong><br>
          Wealth 2.0 2018 will continue the examination of digital transformations within the investment world, reflecting the evolution of changes to the industry from a multitude of experiences, backgrounds, individuals and organisations. Considerations of changing landscapes such as sustainable investment offerings, the changing global financial order, diversity and recruitment, and client on-boarding, as well as considerations for implementing change through deeper automation and machine-learning, cyber security implications and innovation strategies will be discussed.</p>

          <p>The agenda has been remodelled and refreshed to include more in-depth discussions from the industry’s biggest game changers. The 120 speakers from around the world will share their knowledge across 4 different streams dedicated to CX, digital implementation strategies and the business ecosystem, automation and AI, and institutional investment challenges. As such the meeting will truly reflect both the emerging and predicted trends within the Wealth and Asset Management industry, providing the ultimate forum for conversation, networking and debate.</p>
          
          <p>
            <strong>Event Website:</strong> <a href="https://www.terrapinn.com/conference/wealth2/index.stm" target="_blank">https://www.terrapinn.com/conference/wealth2/index.stm</a><br>
            <strong>Contact Email:</strong> enquiry.uk@terrapinn.com<br>
            <strong>Contact Phone:</strong> 0207-092-1210
          </p>
        
       	</div>
    </div>
</div>