$baseFont: 'Montserrat', sans-serif;
$specialFont: 'Roboto', sans-serif;
$text: #000000;
$fontSize: 15px;

$primary: #67387c; // Purple
$secondary: #452684; // Light purple
$selected: #f59815;  // Orange
$grayBg: #EEEEEE;
$gray: #555555;
$placeholderBg: #f8e2c3;
$blue: #f59815;
$error: #721c24;

$articleTitle: #000000;
$articleTitleHover: #f59815;
$sectionTitle: #f59815;

$moreLink: #555555;
$trending: #f59815;

$footer: #f59815;
$menuSelected: #f59815;
$secMenu: #777777;
$pupularBox: #67387c;
