ul.nav-tabs::before {
    border-bottom: none !important;
    content: " ";
    height: 1px;
    position: absolute;
    top: 26px;
    width: 100%;
}
ul.nav-tabs {
    overflow: hidden;
    white-space: normal !important;
}

.field-fileupload.style-image-single .upload-object .icon-container.image img {
    min-height: 0 !important;
}

.disabledFieldClickableDiv {
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: not-allowed;
}

.disabledWidget {
    cursor: not-allowed;
}





/* Print view */
.company-summary-print {
    
}

.company-summary-print * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    color: #333 !important;
    font-weight: normal;
}

.company-summary-print label {
    font-weight: bold;
}

.company-summary-print .tab-pane {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 50px !important;
    padding-top: 50px !important;
}

.company-summary-print .tab-pane:first-child {
    padding-top: 0 !important;
}

.company-summary-print .tab-pane:nth-child(2n+1) {
    background: #FFFFFF;
}

.company-summary-print .tab-pane:nth-child(2n) {
    background-color: #F7F7F7 !important;
    -webkit-print-color-adjust: exact; 
}  

.company-summary-print .tab-pane + .tab-pane {
    border-top: 1px solid #F4F4F4;
}

.company-summary-print .tab-pane .field-section {
    padding: 0;
    margin: 0;
    border: 0;
}

.company-summary-print .tab-pane h3 {
    font-size: 19px !important;
    margin-top: 40px;
}

.company-summary-print .tab-pane table {
    margin-top: 40px;
}

.company-summary-print .tab-pane .field-section h4 {
    text-transform: capitalize;
    font-size: 23px !important;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.company-summary-print .custom-switch > span span {
    font-size: 12px !important;
    padding-top: 2px;
}

.company-summary-print .tab-pane h3 + table {
    margin-top: 20px;
}

.company-summary-print input,
.company-summary-print textarea {
    background-color: white !important;
}

.company-summary-print table tr th {
    padding: 5px !important;
    text-align: left !important;
}

.company-summary-print table tr th a,
.company-summary-print table tr th span {
    font-size: 13px !important;
    text-transform: none !important;
    padding: 0 !important;
    font-weight: 700;
}

.company-summary-print table tr th * {
    font-weight: 700;
    font-size: 13px !important;
    text-align: left !important;
}

.company-summary-print table tr td {
    font-size: 13px !important;
    padding: 7px !important;
    min-width: 95px;
}

.company-summary-print table tr td span {
    font-size: 13px !important;
    padding: 7px !important;
}


.company-summary-print .form-group-preview .form-control {
    background-color: #FFFFFF !important;
}

.company-summary-print .form-group-preview #reorderRecordsProgress table {
    display: block;
}

.company-summary-print .form-group-preview #reorderRecordsProgress table tr {
    display: block;
}

.company-summary-print .form-group-preview #reorderRecordsProgress table tr + tr {
    margin-top: 40px;
}

.company-summary-print .form-group-preview #reorderRecordsProgress table tr:after {
    clear: both;
    display: table;
    content: '';
}

.company-summary-print .form-group-preview #reorderRecordsProgress table tr td {
    display: block;
    float: left;
    width: 50%;
    border-bottom: 1px solid #DDD;
}

.company-summary-print .form-group-preview #reorderRecordsProgress table tr th {
    display: none !important;
}

.company-summary-print .form-group-preview #reorderRecordsProgress table tr td:before {
    display: block;
    width: 70%;
    float: left;
    content: attr(data-cell);
    font-weight: bold;
}

.company-summary-print .form-group-preview #reorderRecordsProgress table#sortProducts tr td:first-child,
.company-summary-print .form-group-preview #reorderRecordsProgress table#sortProducts tr td:first-child + td {
    background: #DDD !important;
    -webkit-print-color-adjust: exact;
    font-weight: bold;
}

.layout-cell .form-group-preview.checkbox-field{
    display: none !important;
}

.tab-pane.print-invisible{
    display: none !important;
    visibility: hidden !important;
}

@media print {
    @page {
        margin: 2cm 0.5cm;
    }
}

.company-summary-print .custom-checkbox input[type=checkbox]:checked + label:before, .custom-radio input[type=checkbox]:checked + label:before{
        content: "-";
        border-width: 0px;
        font-size: 14px;
        font-weight: bold;
}

.company-summary-print label{
        font-size: 29px !important;
        font-weight: bold !important;
    }

.company-summary-print .custom-checkbox label{
    font-size: 14px !important;
}

.company-summary-print .field-switch label{
    font-size: 14px !important;
}
.company-summary-print sup{
    font-size: 75% !important;
    line-height: 0;
    position: relative;
    vertical-align: super;
}
