    <div class="form-group">
    <label class="custom-label" for="siteselect">Select a site:</label>
    <select id="siteselect" class="select-2 custom-select" name="sitefilter" data-request="onChangeSite">
            <option value="1,2,3,4">All Site</option>
        <?php foreach($defaultSites as $key=>$value):;?>
            <option value="<?php echo $key; ?>"><?php echo $value; ?></option>

        <?php endforeach;?>
    </select>
    </div>
<?= Form::open(['class'=>'layout-relative dashboard-container']) ?>
    <div id="reportReportContainer" class="report-container loading">

        <!-- Loading -->
        <div class="loading-indicator-container">
            <div class="loading-indicator indicator-center">
                <span></span>
                <div><?= e(trans('backend::lang.list.loading')) ?></div>
            </div>
        </div>

    </div>
<?= Form::close() ?>

<script>
    $(document).ready(function() {
        $.request('onInitReportContainer').done(function() {
            $('#reportReportContainer').removeClass('loading')
        })
    })
</script>
