<?php
$className = substr(strrchr(get_class($model), "\\"), 1);

use Twnepc\Awards\Models\Award;
$activeAward = Award::getActiveAward();

$prevYear = $activeAward->year->ay_year - 1;
$aemp1_to1 = $model?$model->aemp1_to1:"";
$aemp1_to2 = $model?$model->aemp1_to2:"";
?>
<div id="Form-field-AwardPersonnel-section3-group" data-field-name="section3" class="form-group section-field">
    <div class="field-section">
        <h4>What was the average percentage (%) staff turnover in the 12 months to31 December <?=$prevYear?> and <?=$activeAward->year->ay_year?>?</h4>
    </div>
</div>
<div id="Form-field-AwardPersonnel-aemp1_to1-group" data-field-name="aemp1_to1" class="form-group text-field span-left">
    <label for="Form-field-AwardPersonnel-aemp1_to1">
    31 December <?=$prevYear;?>
    </label>
    <p class="help-block before-field">%</p>
    <input type="text" maxlength="255" autocomplete="off" class="form-control" placeholder="" value="<?=$aemp1_to1?>" id="Form-field-AwardPersonnel-aemp1_to1" name="<?=$className?>[aemp1_to1]">
</div>
<div id="Form-field-AwardPersonnel-aemp1_to2-group" data-field-name="aemp1_to2" class="form-group text-field span-left">
    <label for="Form-field-AwardPersonnel-aemp1_to2">
        31 December <?=$activeAward->year->ay_year;?>
    </label>
    <p class="help-block before-field">%</p>
    <input type="text" maxlength="255" autocomplete="off" class="form-control" placeholder="" value="<?=$aemp1_to2?>" id="Form-field-AwardPersonnel-aemp1_to2" name="<?=$className?>[aemp1_to2]">
</div>