<div class="form-group span-left">
    <a class="btn btn-primary" target="_blank" href="<?php echo url('backend/twnepc/awards/dates/update/'.$model->awardyear_id)?>">Award year <?=$model->year->ay_year?></a>
</div>