<div class="col-xs-12"><h2>{{menu.name}}</h2></div>
<!--Accordions-->
<div class="col-xs-12 col-md-12">
    <div class="panel-group" id="accordion{{menu.id}}">

        {% for linkObj in posts %}
        <div class="panel panel-default">
            <div class="panel-heading-wrap">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{menu.id}}"
                           href="#collapse{{linkObj.id}}" aria-expanded="false">
                            <span class="text">{{linkObj.label}}
                                <!--   <i class="fa fa-plus pull-right"></i> -->
                                <span class="glyphicon glyphicon-plus pull-right"></span>
                        </a>
                        <a href="{{linkObj.url}}" target="blank" class="view-website-btn">View
                            website</a>
                    </h4>
                </div>
            </div>                          
            <div id="collapse{{linkObj.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    {{linkObj.title_attrib}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>