<style>
html,body{
    background: #ffffff !important;
}
.control-toolbar,.layout-sidenav,.nav-tabs,.btn{
    display: none !important;
}
.width-120{
    width: 0px;
    display: none !important;
}

.tab-pane{
    display: block !important;
}

.list-checkbox,.ui-sortable-handle tr th:first-child{
    display: none !important;
}

.prefix-pound span.form-control{
    margin-left: 30px;
    width: 100%;
}
</style>
<div class="layout-row company-summary-print">
    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>
</div>
<script>
    window.print();
</script>