<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->makePartial('top') ?>
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <?php if(!isset($submitted)):?>
                <button
                        type="submit"
                        data-request="onSave"
                        data-request-data="redirect:0"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                        class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button data-control="popup" data-handler="onLoadSubmitToAwards" type="button" class="btn btn-primary">Submit To PAM Awards</button>
                <?php else:?>
                <button disabled
                        type="button"
                        class="btn btn-primary">
                    Submitted
                </button>
                <?php endif;?>
                <?php if(!$this->user->frontenduser->isValidPIN()):?>
                <button
                        data-control="popup"
                        data-handler="onLoadEnterPIN"
                        data-request-success="$el.closest('.modal').modal('hide');"
                        data-popup-load-indicator
                        class="btn btn-warning">Enter PIN</button>
                <?php endif;?>

                <span class="btn-text">
                    <a target="_blank" href="<?= Backend::url('twnepc/awards/pamsinvestments/preview/'.$this->params[0]) ?>">Print&nbsp;</a>
                </span>
            </div>
        </div>
    <?= Form::close() ?>
<?= $this->makePartial('modal') ?>
<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('twnepc/awards/pamsinvestments') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>