<div data-control="toolbar">
    <a
        href="javascript:;"
        data-control="popup"
        data-size="large"
        data-handler="onCreateForm"
        class="btn btn-primary oc-icon-plus">
        New Alert
    </a>
    <button
        class="btn btn-default oc-icon-archive"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onArchive"
        data-request-confirm="Are you sure you want to archive these campaigns?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        Archive selected
    </button>
</div>
