<?php
    $isCancelled = $formModel->status && $formModel->status == 'cancelled';
    $isArchived = $formModel->status && $formModel->status == 'archived';
?>
<?php if (!$isLaunched): ?>
    <a
        href="<?= Backend::url('responsiv/campaign/messages/update/'.$formModel->id.'/send') ?>"
        class="btn btn-success oc-icon-paper-plane">
        Launch campaign
    </a>
    <a
        href="<?= Backend::url('responsiv/campaign/messages/update/'.$formModel->id) ?>"
        class="btn btn-primary oc-icon-pencil">
        Edit content
    </a>

    <button
        type="button"
        data-request="onRefreshTemplate"
        data-load-indicator="Refreshing..."
        data-request-confirm="Are you sure?"
        class="btn btn-default oc-icon-refresh">
        Refresh template
    </button>
<?php else: ?>
    <a
        href="javascript:;"
        data-toggle="tooltip"
        data-delay="500"
        title="Create a new campaign based on this one"
        data-control="popup"
        data-size="large"
        data-handler="onDuplicateForm"
        data-request-data="id: '<?= $formModel->id ?>'"
        class="btn btn-info oc-icon-files-o">
        Duplicate campaign
    </a>
<?php endif ?>

<button
    type="button"
    data-request="onTest"
    data-load-indicator="Sending test message..."
    data-request-confirm="A test message will be sent to <?= e(BackendAuth::getUser()->email) ?>. Continue?"
    class="btn btn-default oc-icon-paper-plane-o">
    Send test message
</button>

<?php if ($isLaunched && !$isCancelled && !$isArchived): ?>
    <?php if ($isSent): ?>
        <a
            href="javascript:;"
            data-request="onArchive"
            data-load-indicator="Archiving Campaign..."
            data-request-confirm="Do you really want to archive this campaign? It will remove all the subscriber statistics."
            class="btn btn-default oc-icon-archive">
            Archive campaign
        </a>
    <?php else: ?>
        <a
            href="javascript:;"
            data-request="onCancel"
            data-load-indicator="Cancelling Campaign..."
            data-request-confirm="Do you really want to cancel this campaign?"
            class="btn btn-default oc-icon-ban">
            Cancel campaign
        </a>
    <?php endif ?>
<?php endif ?>

<a
    href="javascript:;"
    data-request="onDelete"
    data-load-indicator="Deleting Campaign..."
    data-request-confirm="Do you really want to delete this campaign?"
    class="btn btn-danger oc-icon-times">
    Delete campaign
</a>
