<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('responsiv/campaign/messages') ?>">Campaigns</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?php
        $isLaunched = $formModel->status && $formModel->status != 'draft';
        $isPending = $formModel->status && in_array($formModel->status, ['pending', 'processing']);
        $isSent = $formModel->status && $formModel->status == 'sent';
        $isEmpty = $isLaunched && !$isPending && !$formModel->count_subscriber;
    ?>

    <div class="scoreboard">
        <div data-control="toolbar">
            <?= $this->makePartial('preview_scoreboard', [
                'isLaunched' => $isLaunched,
                'isSent' => $isSent
            ]) ?>
        </div>
    </div>

    <?php if ($isEmpty): ?>
        <!-- Empty campaign -->
        <?= $this->makeHintPartial('hint_empty_campaign_'.$formModel->id, [
            'partial' => 'hint_empty_campaign',
            'title' => 'Campaign has no subscribers',
            'icon' => 'icon-user-times',
            'type' => 'danger',
            'cssClass' => 'padded-container loading-indicator-container indicator-inset'
        ]) ?>
    <?php endif ?>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <?= $this->makePartial('preview_toolbar', [
                'isLaunched' => $isLaunched,
                'isSent' => $isSent
            ]) ?>
        </div>
    </div>

    <div class="control-tabs content-tabs tabs-offset" data-control="tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#messageTemplate">Preview</a></li>
            <?php if ($isLaunched): ?>
                <li><a href="#messageDetails">Details</a></li>
                <?php if ($formModel->status != 'archived'): ?>
                    <li><a href="#messageSubscribers">Subscribers</a></li>
                <?php endif ?>
            <?php endif ?>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="padded-container">
                    <?= $this->makeHintPartial(null, 'hint_subject', ['model' => $formModel]) ?>
                </div>
                <?= $this->makePartial('message_iframe') ?>
            </div>
            <?php if ($isLaunched): ?>
                <div class="tab-pane">
                    <div class="padded-container">
                        <form>
                            <?= $this->formRenderPreview() ?>
                        </form>
                    </div>
                </div>
                <?php if ($formModel->status != 'archived'): ?>
                    <div class="tab-pane">
                        <div class="relation-flush">
                            <?= $this->relationRender('subscribers') ?>
                        </div>
                    </div>
                <?php endif ?>
            <?php endif ?>
        </div>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('responsiv/campaign/messages') ?>" class="btn btn-default">Return to messages list</a></p>

<?php endif ?>
