<div class="control-list list-unresponsive">
    <table id="" class="table data" data-control="">
        <tbody>
        <thead>
        <tr>
            <th></th>
            <th><a>Year</a></th>
            <th><a>Private Client Assets Under Management</a></th>
            <th><a>Private Client Assets Under Advice</a></th>
            <th><a>Total Staff Employed in Private Client Business</a></th>
            <th><a>Number of Client Relationship Staff</a></th>
            <th><a>Total Number Of Private Client Accounts</a></th>
            <th><a>Discretionary and Advisory Business Split (%)</a></th>
            <th><a>Revenue</a></th>
            <th><a>Profit</a></th>
            <th></th>
        </tr>
        </thead>
        <?php foreach ($records as $record): ?>
        <tr>
            <td class="list-checkbox nolink">
                <div class="checkbox nolabel">
                    <?php if(!$this->isPAMUser()):?>
                    <input type="checkbox" name="ids[]" value="<?= $record->companykcd_id ?>">
                    <?php endif;?>
                </div>
            </td>
            <td><?=$record->ckcd_year?></td>
            <td>
            <?php if($record->ckcd_clientassets_prefix == ""):;?>
                &pound;<?=number_format($record->ckcd_clientassets)?>m<sup><?=$record->ckcd_clientassets_suffix;?></sup>
            <?php else:?>
                <?=$record->ckcd_clientassets_prefix; ?><sup><?=$record->ckcd_clientassets_suffix;?></sup>
            <?php endif;?>
            </td>
            <td>
            <?php if($record->ckcd_clientadvice_prefix == ""):;?>
                &pound;<?=number_format($record->ckcd_clientadvice)?>m<sup><?=$record->ckcd_clientadvice_suffix;?></sup>
            <?php else:?>
                <?=$record->ckcd_clientadvice_prefix; ?><sup><?=$record->ckcd_clientadvice_suffix;?></sup>
            <?php endif;?>
            </td>
            <td>
            <?php if($record->ckcd_staffemployed_prefix == ""):;?>
                <?=number_format($record->ckcd_staffemployed)?><sup><?=$record->ckcd_staffemployed_suffix;?></sup>
            <?php else: ?>
                <?=$record->ckcd_staffemployed_prefix; ?><sup><?=$record->ckcd_staffemployed_suffix;?></sup>
            <?php endif;?>
            </td>
            <td>
            <?php if($record->ckcd_numstaff_prefix == ""):;?>
                <?=number_format($record->ckcd_numstaff)?><sup><?=$record->ckcd_numstaff_suffix;?></sup>
            <?php else: ?>
                <?=$record->ckcd_numstaff_prefix; ?><sup><?=$record->ckcd_numstaff_suffix;?></sup>
            <?php endif;?>   
            </td>
            <td>
            <?php if($record->ckcd_numclients_prefix == ""):;?>
                <?=number_format($record->ckcd_numclients)?><sup><?=$record->ckcd_numclients_suffix;?></sup>
            <?php else: ?>
                <?=$record->ckcd_numclients_prefix; ?><sup><?=$record->ckcd_numclients_suffix;?></sup>
            <?php endif;?>
            </td>
            <!--td><?= number_format($record->ckcd_discsplit,1)?></td-->
            <td>
            <?php if($record->ckcd_discsplit_prefix == ""):;?>
                <?php echo $record->ckcd_discsplit.'/'.round((floatval(100)-$record->ckcd_discsplit),1); ?><sup><?=$record->ckcd_discsplit_suffix;?></sup>
            <?php else: ?>
                <?=$record->ckcd_discsplit_prefix; ?><sup><?=$record->ckcd_discsplit_suffix;?></sup>
            <?php endif;?>
                
            </td>
            <td>
            <?php if($record->ckcd_revenue_prefix == ""):;?>
                 <?= number_format($record->ckcd_revenue);?><sup><?=$record->ckcd_revenue_suffix;?></sup>
            <?php else: ?>
                <?=$record->ckcd_revenue_prefix; ?><sup><?=$record->ckcd_revenue_suffix;?></sup>
            <?php endif;?>
               
            </td>
            <td>
            <?php if($record->ckcd_profit_prefix == ""):;?>
                <?=number_format($record->ckcd_profit);?><sup><?=$record->ckcd_profit_suffix;?></sup>
            <?php else: ?>
                <?=$record->ckcd_profit_prefix; ?><sup><?=$record->ckcd_profit_suffix;?></sup>
            <?php endif;?>
                
            </td>
            <td class="column-button nolink">
                <?php if($this->canEdit($record->ckcd_year)):?>
                <a class="btn btn-default btn-sm" data-control="popup" data-request-data="company_id:'<?= $company_id ?>',kcd_id:'<?=$record->companykcd_id?>'"
                    data-handler="<?= $this->getEventHandler('onLoadUpdateKcd') ?>" href="#">Edit</a>
                <?php endif;?>
            </td>
        </tr>
        <?php endforeach ?>
        </tbody>
    </table>
</div>