<div >
	<a href="#"
        data-control="popup"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-handler="<?= $this->getEventHandler('onLoadAddKcd') ?>"
        class="btn btn-primary btn-sm oc-icon-plus">Add Corporate Data</a>
        &nbsp;&nbsp;&nbsp;
    <?php if(!$this->isPAMUser()):?>
    <a href="#"
        data-request-confirm="Are you sure you wish to delete selected corporate data?"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-request="<?= $this->getEventHandler('onRemoveKcd') ?>"
        class="btn btn-primary btn-sm oc-icon-minus">Remove selected</a>
    <?php endif;?>
</div>