<p class="lead"><strong>Lost your password?</strong> No problem! Enter your email address to verify your account.</p>
<form
    data-request="{{ __SELF__ }}::onRestorePassword"
    data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'"
    class="default-form">
    <div class="form-group">
        <label for="userRestoreEmail">Email</label>
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="Enter your email">
    </div>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Email Reset Link</button>
    </div>
</form>
