description = "Default layout"

[webpackAssets]
assetsFolder = "themes/epc/assets"

[session]
security = "all"
redirect = "home"

[searchInput]
useAutoComplete = 0
autoCompleteResultCount = 5
showProviderBadge = 0
searchPage = "results.htm"

[campaignSignup]
list = "epc-subscribers"
confirm = 0
templatePage = "campaign/default-template"

[regionselect]

[twoFactorProtector]
redirect = "2fa-login"
except[] = "resetpassword"
except[] = "registration"
except[] = "login"
except[] = "home"
except[] = "2fa-login"

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "More info"
link = "https://www.paminsight.com/epc/cookie-consent"
theme = "light-bottom"

[uservisits]
==
<?php
use ShahiemSeymor\Online\Models\Online;

function onInit()
{
    Online::updateCurrent();
}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EPrivateClient - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="PAM Insight">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
        <meta name="generator" content="PAM Insight">
        <link rel="icon" type="image/png" href="{{url('/')}}/storage/app/media/header_epcclient_logo.jpg" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1229218-9"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-1229218-9');
        </script>


        <script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ 'assets/css/main.css' | theme }}" rel="stylesheet" type="text/css" />
        <!-- loqate code (temporary) -->
        <script>
        (function(n,t,i,r){var u,f;n[i]=n[i]||{},n[i].initial={
            accountCode:"PAMIN11111",
            host:"PAMIN11111.pcapredict.com"},
            n[i].on=n[i].on||function(){(n[i].onq=n[i].onq||[]).push(arguments)},u=t.createElement("script"),u.async=!0,
            u.src=r,f=t.getElementsByTagName("script")[0],f.parentNode.insertBefore(u,f)})(window,document,"pca","//PAMIN11111.pcapredict.com/js/sensor.js")
        </script>
        {{ webpackAssets.css | raw }}
        {% styles %}
    </head>
    <body class="page-{{ this.page.baseFileName }}">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'header' %}
        </header>
        <!-- Content -->
        <section id="layout-content" class="main-content">
            <div class="container banner-container">
                <div class="banners-wrapper">
                    <div class="large-banner-new">
                        <!-- AdSpeed.com Tag 8.0.2 for [Zone] EPC Billboard 970x250 - New Site [Any Dimension] -->
                        <script type="text/javascript" src="https://g.adspeed.net/ad.php?do=js&zid=94036&oid=6229&wd=-1&ht=-1&target=_blank"></script>
                        <!-- AdSpeed.com End -->
                    </div>
                </div>
            </div>
            <div class="container error-container">
                <div class="row">   
                    <div class="col-md-12">
                            {% flash %}
                            <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            </div>
                        {% endflash %}
                    </div>
                </div>
            </div>
            {% page %}

        </section>

        <!-- Footer -->
        <footer class="footer">
            {% partial 'footer' %}
        </footer>
        
        {% component 'cookieConsent' %}

        <!-- Scripts -->
        {{ webpackAssets.js | raw }}
        {% framework extras %}
        {% scripts %}
    </body>
</html>