<table class="footer-wrapper" cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
    <tr>
      <td valign="middle" bgcolor="#2c2b79">
        <table class="footer" width="100%" border="0" cellspacing="0" cellpadding="12">
            <tr>
                <td class="footer-contact" width="40%" align="left" valign="top" style="padding-left: 20px;">
                    <h4 style="font-size: 17px;color:#FFF;font-family: Palatino, sans-serif; margin: 0; padding: 10px 0;">Contact</h4>
                    <p style="color: #FFFFFF; font-weight: normal; font-size: 13px; line-height: 13px; font-family: Helvetica, Arial, sans-serif; padding-bottom: 5px; margin: 0;">
                        <strong style="font-size: 12px;">Subscriptions</strong><br>
                        <a style="text-decoration: none; color: #FFF;" href="mailto:subs@thewealthnet.com">subs@thewealthnet.com</a><br><br>
                        <strong style="font-size: 12px;">Editorial</strong><br>
                        <a style="text-decoration: none; color: #FFF;" href="mailto:news@thewealthnet.com">news@thewealthnet.com</a><br><br>
                        <strong style="font-size: 12px;">Advertising</strong><br>
                        <a style="text-decoration: none; color: #FFF;" href="mailto:advertising@thewealthnet.com">advertising@thewealthnet.com</a>
                    </p>
                </td>
                <td class="footer-address" width="35%" align="left" valign="top">
                    <h4 style="font-size: 17px;color:#FFF;font-family: Palatino, sans-serif; margin: 0; padding: 10px 0;">Address</h4>
                    <p style="color: #FFFFFF; font-weight: normal; font-size: 13px; line-height: 17px; font-family: Helvetica, Arial, sans-serif; padding-bottom: 5px; margin: 0;">
                        PAM Insight Ltd<br>
                        107 Cheapside<br>
                        London<br>
                        EC2V 6DN<br>
                        United Kingdom<br><br>
                        Tel: <a style="text-decoration: none; color: #FFF;" href="+44(0) 207 967 1601">+44(0) 207 967 1601</a>
                    </p>
                </td>
                <td class="footer-social" width="25%" align="left" valign="top">
                    <h4 style="font-size: 17px;color:#FFF;font-family: Palatino, sans-serif; margin: 0; padding: 10px 0;">Follow us</h4>
                    <p style="color: #FFFFFF; font-weight: normal; font-size: 14px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; padding-bottom: 5px; margin: 0;">
                        <a style="text-decoration: none;" href="https://twitter.com/thewealthnet" title="" target="_blank">
                            <img
                                src="{{'assets/images/email_twitter_twn.png' | theme}}"
                                alt="Twitter"
                                width="30"
                                height="30" style="margin-right: 5px;" />
                        </a>
                        <a style="text-decoration: none;" href="https://www.linkedin.com/company/thewealthet" title="" target="_blank">
                            <img
                                src="{{'assets/images/email_linkedin_twn.png' | theme}}"
                                alt="LinkedIn"
                                width="30"
                                height="30" />
                        </a>
                    </p>
                </td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td bgcolor="#5756b1" style="padding: 12px 0;">
                    <div style="color: #FFFFFF; font-weight: normal; font-size: 14px; font-family: Helvetica, Arial, sans-serif; padding-bottom: 3px; text-align: center;">
                        &copy; the<strong>wealth</strong>net &nbsp; &bull; &nbsp; All Rights Reserved
                    </div>
                </td>
              </tr>
          </table>
        </td>
    </tr>
</table>