<style>
html,body{
    background: #ffffff !important;
}
.control-toolbar,.layout-sidenav,.nav-tabs,.btn{
    display: none !important;
}
.width-120{
    width: 0px;
    display: none !important;
}

.tab-pane{
    display: block !important;
}

.list-checkbox,.ui-sortable-handle tr th:first-child{
    display: none !important;
}

.prefix-pound span.form-control{
    margin-left: 30px;
    width: 100%;
}

input,textarea, .form-control{
    border: 0px solid white !important;
    padding-left: 0px !important;
}



</style>
<div class="layout-row company-summary-print">
     <?= $this->formRenderPreview() ?>
</div>
<script>
    window.print();
</script>