<?php Block::put('breadcrumb') ?>
    <ul>
        <li>Edit company</li>
    </ul>
<?php Block::endPut() ?>



<?php if (!$this->fatalError): ?>
    <?php if(!$this->user->frontenduser->isValidPIN()):?>
      <div class="form-buttons">
                <button
                    data-popup-load-indicator
                    data-control="popup"
                    data-handler="onLoadEnterPIN"
                    data-request-success="$el.closest('.modal').modal('hide');"
                    class="btn btn-warning">Enter PIN</button>
      </div>
                <?php endif;?>

    <?= Form::open(['class' => 'layout pin-form']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    Update
                </button>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a target="_blank" href="<?= Backend::url('twnepc/pamcompanies/company/preview/'.$this->params[0]) ?>">Print Preview &nbsp;</a>
                </span>
            </div>
        </div>
    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
<?php endif ?>
<script>
//    $(function(){
//        $(document).ready(function(){
//            $(".pin-form").find('button').click(function(event){
//                event.preventDefault();
//                event.stopPropagation();
//                $(".pin-form").popup({ handler: 'onLoadPinCheck' });
//            });
//        });
//    })
//
//    function update_onSave()
//    {
//        $(".pin-form").submit();
//    }
</script>