[viewBag]
==
<div class="footer-container">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 footer-nav">
				<div class="logo">
					<img src="{{ 'logo_fundeye.png' | media }}" alt="">
				</div>
				<div class="row">
					<ul class="col-12 col-md-6">
						<li><a href="{{url('/')}}/about" title="">About us</a></li>
						<li><a href="{{url('/')}}/terms-of-use" title="">Terms of use</a></li>
						<li><a href="{{url('/')}}/privacy" title="">Privacy</a></li>
						<li><a href="{{url('/')}}/faqs" title="">FAQs</a></li>
					</ul>
					<ul class="col-12 col-md-6">
						<li><a href="{{url('/')}}/contact" title="">Contact</a></li>
						<li><a href="{{url('/')}}/useful-links" title="">Useful links</a></li>
						<li><a href="{{url('/')}}/advanced-search" title="">Advanced search</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-2 footer-contact">
				<h4>Contact</h4>
				<p>Editorial</p>
				<a href='mailto:DStevenson@paminsight.com'>DStevenson@paminsight.com</a>
				<p>Article Reprints </p>
				<a href='m&#97;il&#116;o&#58;%61m%6&#57;%64&#37;64%&#54;&#67;eto%6E%2D&#112;%69%&#54;E%6B&#64;&#112;am&#105;nsig%68t&#46;&#99;om'>ami&#100;&#100;le&#116;on-pink&#64;p&#97;m&#105;n&#115;ight&#46;c&#111;m</a>
				<p>Reader Support </p>
				<a href='mail&#116;o&#58;%73&#117;&#112;port&#64;&#112;%&#54;1m%6&#57;%6E%73%69g%6&#56;t&#46;com'>suppor&#116;&#64;paminsigh&#116;&#46;c&#111;&#109;</a>
				<p>Advertising </p>
				<a href='mail&#116;o&#58;adver&#116;i%&#55;&#51;i&#37;6Eg%40p%&#54;1m&#105;&#110;%&#55;3%69g&#104;t&#46;%6&#51;%6Fm'>adver&#116;is&#105;ng&#64;p&#97;&#109;insight&#46;&#99;om</a>
			</div>
			<div class="col-12 col-md-3 footer-address">
				<h4>Address</h4>
				<address>
					PAM Insight Ltd<br />
					107 Cheapside<br />
					London<br />
					EC2V 6DN<br />
					United Kingdom 
				</address>
				<p class="tel">Tel: +44 (0) 20 7 967 1601</p>
			</div>
			<div class="col-12 col-md-3 footer-subscription">
				<h4>Free fundeye Subscriptions</h4>
				<p><a href="{{url('/')}}/registration" title="Sign up for free trial">Register here</a></p>
				<p><a href="{{url('/')}}/login" title="Subscribe to fundeye">Login here</a></p>

				<h4>Follow us</h4>
				<ul>
					<li><a href="https://twitter.com/" title="" target="_blank"><i class="fab fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/showcase/" title="" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="footer-logos">
	<div class="container">
		<a href="https://www.pamonline.com/" title="PAM"><img src="{{ 'footer_pam_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/epc" title="eprivateclient"><img src="{{ 'footer_epcclient_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/twn" title="thewealthnet"><img src="{{ 'footer_wn_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/fundeye" title="fundeye"><img src="{{ 'footer_fundeye_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/pam" title="PAM Insight"><img src="{{ 'footer_pam_insight.png' | media }}" alt=""></a>
	</div>
</div>