[viewBag]
==
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="region-selector">
                    <div class="active-lang">fundeye</div>
                    {% component 'regionselect' %}
                </div>
            </div>
            <div class="col-md-12 col-lg-7">
                <ul class="header-logos">
                    <li>
                        <a href="{{url}}/pam" title="">
                            <img src="{{ 'header_pam_logo.jpg' | media }}" alt="">
                            <span>PAM</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/epc" title="">
                            <img src="{{ 'header_epcclient_logo.jpg' | media }}" alt="">
                            <span>eprivateclient</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/twn" title="">
                            <img src="{{ 'header_wn_logo.jpg' | media }}" alt="">
                            <span>thewealthnet</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/fundeye" title="">
                            <img src="{{ 'header_fundeye_logo.jpg' | media }}" alt="">
                            <span>fundeye</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/company" title="">
                            <img src="{{ 'header_pam_insight.jpg' | media }}" alt="">
                            <span>PAM Insight</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{{url('/')}}">
            <!--img src="{{'assets/images/logo_fundeye.png' | theme}}" width="301" alt=""-->
            <img src="{{ 'logo_fundeye.png' | media }}" alt="" width="301">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fal fa-bars"></i></span>
        </button>
        
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if this.page.id == 'home' %} active {% endif %}">
                    <a class="nav-link" href="{{url('/')}}">Home</a>
                </li>
                <li class="nav-item news-dropdown dropdown {% if this.page.id == 'news' %} active {% endif %}">
                    <a class="nav-link dropdown-toggle" href="{{url('/')}}/news" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">News<i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url('/')}}/news/funds">Funds</a>
                        <a class="dropdown-item" href="{{url('/')}}/news/people">People</a>
                        <a class="dropdown-item" href="{{url('/')}}/news/companies">Companies</a>
                        <a class="dropdown-item" href="{{url('/')}}/news/regulation-and-tax">Regulation & Tax</a>
                        <a class="dropdown-item" href="{{url('/')}}/news/technology">Technology</a>
                        <a class="dropdown-item" href="{{url('/')}}/news/other-news">Other News</a>
                    </div>
                </li>
                <li class="nav-item {% if this.page.id == 'about' %} active {% endif %}">
                    <a class="nav-link" href="{{url('/')}}/about">About</a>
                </li>
                <li class="nav-item {% if this.page.id == 'fundeye-profile' %} active {% endif %}">
                    <a class="nav-link" href="{{url('/')}}/fundeye-profile">Fund Profiles</a>
                </li>
                <!--li class="nav-item {% if this.page.id == 'subscriptions' %} active {% endif %}">
                        <a class="nav-link" href="{{url('/')}}/subscriptions">Subscriptions</a>
                    </li-->
                <li class="nav-item {% if this.page.id == 'contact' %} active {% endif %}">
                    <a class="nav-link" href="{{url('/')}}/contact">Contact</a>
                </li>
            </ul>
            <div class="search-wrapper mr-auto">
                <i class="far fa-search"></i>
                <span>Search</span>
            </div>
            {%if user%}
            <div class="nav user-nav">
                <a class="nav-link" href="{{url('/')}}/account#account-fav">
                    <i class="fa fa-heart"></i>
                    <span>Favourites</span>
                </a>
                <a class="nav-link" href="{{url('/')}}/account">
                    <i class="fa fa-user"></i>
                    <span>My Account</span>
                </a>        
            </div>
            {% else %}
            <div class="nav user-nav">
                <a class="nav-link" href="{{url('/')}}/login">
                    <i class="fa fa-sign-in"></i>
                    <span>Login</span>
                </a>
                <a class="nav-link" href="{{url('/')}}/registration">
                    <i class="fa fa-user-plus"></i>
                    <span>Register</span>
                </a>
            </div>
            {% endif %}
            <div class="search-popup">
                <div class="container">
                    <form class="form-inline" action="{{ 'results' | page }}" method="get">
                        {% component 'searchInput' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
