[editable]
==
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Order of merit</h1>
            <p>The PAM Awards feature three classes of the leading organisations in each Award category:
                commended, finalist and winner. There is no limit to the number of firms which can be commended
                or be finalists, as the decision is based solely on merit, and sometimes there can be more than
                one winner. Equally, if the Panel decides that no firms have made a significant impact, a
                category may have no finalists and/or winner(s). </p>
        </div>
        <div class="col-sm-6">
            <h1>The Entry Process</h1>
            <p>Private asset management firms enter themselves for individual award categories via the
                completion of a category specific submission addressing the criteria highlighted by the Panel
                and an in-depth questionnaire, including approximately 40 questions across several subject
                areas, encapsulating: group structure & personnel; investment management process; pooled
                funds/unlisted securities; regulation and investor protection and fees, charges and interest.
                The entry process begins in the early autumn the year before the Awards.
            </p>
        </div>
    </div>
</div>