[editable]
==
<div class="col-mod col-md-4 col-sm-6">
    <div class="boxlink-post">
        <div class="wrapper">
            <a href="awards-categories">
                <img class="" src="/storage/app/media/awards/main-categories.jpg" />
                <img class="hover-state-image" src="/storage/app/media/awards/main-categories-hover.jpg" />
                <div class="hub-link-text"><p>Categories</p></div>
            </a>
        </div>
    </div>
</div>
<div class="col-mod col-md-4 col-sm-6">
    <div class="boxlink-post">
        <div class="wrapper">
            <a href="awards-methodology">
                <img class="" src="/storage/app/media/awards/main-methodology.jpg" />
                <img class="hover-state-image" src="/storage/app/media/awards/main-methodology-hover.jpg" />
                <div class="hub-link-text"><p>Methodology</p></div>
            </a>
        </div>
    </div>
</div>
<div class="col-mod col-md-4 col-sm-6">
    <div class="boxlink-post">
        <div class="wrapper">
            <a href="judges">
                <img class="" src="/storage/app/media/awards/main-judges.jpg" />
                <img class="hover-state-image" src="/storage/app/media/awards/main-judges-hover.jpg" />
                <div class="hub-link-text"><p>The Judges</p></div>
            </a>
        </div>
    </div>
</div>