[editable]
==
<div class="section section-awards-interest">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Submit your interest</h1>
                <p>Once you have submitted your interest for an award we will send you the
                    information to complete your entry</p>
                <a href="#" onclick="sendEmailTo('wmarston','PAM Awards Entry');return false;" class="button bluewhite">Enter now</a>
            </div>
        </div>
    </div>
</div>