[   components]
==
<h1 style="margin-left: 20px;">The PAM Awards</h1>
<p style="margin-left: 40px;">The aim of the PAM Awards is to gather market data on the relative performance of the leading private asset management firms, including - inter alia - private banks, fund managers and stockbrokers. We ask the Judges to name the top organisations which they believe to be the best in each of the categories below on the basis of specific criteria:</p>
<p>
</p>
<ul>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Investment Performance: Cautious Portfolios</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Investment Performance: Defensive Portfolios</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Investment Performance: Growth Portfolios</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Investment Performance: High Growth Portfolios</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Emerging Manager</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Innovation</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Digital Wealth Solution</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Sustainable Investment Solution </p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Client Service Quality - HNW (£1m-£50m)</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Client Service Quality - UHNW (£50m+)</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Positive Impact </p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Total Wealth Planning – HNW (£1m +)</p></li>
    <li><p style="margin-left: 40px;"><strong>&bull;</strong>&nbsp;&nbsp; Total Wealth Solutions Provider - UHNW (£50m+)</p></li>
    <!--li><p style="margin-left: 40px;">Lifetime Achievement (occasional award)</p></li-->
</ul>
<p style="margin-left: 40px;"><br></p>
<p style="margin-left: 40px;"><span class="highlight">For the full criteria of the above categories, please contact <span class="highlight"><strong><a href="mailto:kstokes@paminsight.com">Kathryn Stokes</a></strong></span> +44 (0)207 967 1609.</span>
</p>
<!--p class="col-md-6 col-sm-12">
    <img class="img-responsive fr-dib fr-fin" src="/storage/app/media/awards/Awards_Methodology_Main.jpg">
</p-->