[editable]
==
<div class="col-mod col-md-4 col-sm-6">
    <div class="boxlink-post">
        <div class="wrapper">
            <a href="awards-enter">
                <img class="" src="/storage/app/media/awards/main-how-to-enter.jpg" />
                <img class="hover-state-image" src="/storage/app/media/awards/main-how-to-enter-hover.jpg" />
                <div class="hub-link-text"><p>How to enter</p></div>
            </a>
        </div>
    </div>
</div>