[editable]
==
<div class="section section-awards first-section white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

                <!--div class="embed-responsive embed-responsive-16by9" style=""><span class="f-video-editor fr-fvn active" contenteditable="false">
                <iframe height="315" src="https://www.youtube.com/embed/u2BDzWLIBw8" width="560"></iframe></span></div-->

                <p>The 2021 PAM Awards are kindly sponsored by</p>

            </div>
        </div>
    </div>
</div>


<div class="section section-awards white-bg">
    <div class="container">
        
        
        <div class="row">
            <div class="col-sm-4"> </div>

            <!-- Pershing -->
            <div class="col-sm-4">
                <div class="company-post">
                    <a href="https://www.pershing.com/uk/en/" target="_blank"><img class="img-responsive" alt="Sponsor" src="/storage/app/media/awards/bnym-pershing-logo-oct-20.jpg" /></a>
                </div>
            </div>
            
        </div>


        <div class="row">
            <!-- ARC, Louis Roederer, TWN -->
            <div class="col-sm-4">
                <div class="company-post">
                    <a href="http://www.platformsecurities.com/" target="_blank"><img class="img-responsive" alt="Sponsor" src="/storage/app/media/awards/arc-logo-oct-20.jpg" /></a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="company-post">
                    <a href="http://www.platformsecurities.com/" target="_blank"><img class="img-responsive" alt="Sponsor" src="/storage/app/media/awards/louis-roederer-logo-oct-20.jpg" /></a>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="company-post">
                    <a href="http://www.platformsecurities.com/" target="_blank"><img class="img-responsive" alt="Sponsor" src="/storage/app/media/awards/thewealthnet-logo-oct-20.jpg" /></a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <!-- EPC and Fundeye -->
            <div class="col-sm-4">
                <div class="company-post">
                    <a href="http://www.platformsecurities.com/" target="_blank"><img class="img-responsive" alt="Sponsor" src="/storage/app/media/awards/eprivateclient-logo-oct-20.jpg" /></a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="company-post">
                    <a href="http://www.platformsecurities.com/" target="_blank"><img class="img-responsive" alt="Sponsor" src="/storage/app/media/awards/fundeye-logo-oct-20.jpg" /></a>
                </div>
            </div>

            
        </div>
    </div>
</div>




<div class="section section-awards first-section white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

                <p>The PAM Awards Ceremony is recognised as one of the outstanding dates in the senior private client professional's calendar. This prestigious gala event celebrates the outstanding achievements of private asset managers and represents a unique opportunity for industry leaders to see – and be seen – by members of the UK private client advisory market’s élite.</p>

                <p>As a sponsor, you can leverage the brand power of the PAM Awards to cement your organisation’s position at the very heart of the private wealth management market.</p>

                <p>If you are interested in sponsoring the 2021 PAM Awards, then please contact <a href="mailto:%20ehicks@paminsight.com" target="_blank">Ed Hicks</a>.</p>

                <!-- p class="text-center">The PAM Awards are sponsored by the following (click on logo for further information on the sponsor): </p-->

            </div>
        </div>
    </div>
</div>



<!--
    <div class="section section-awards leadsponsor">

        <div class="container">

            <div class="row">

		<div class="col-sm-4"></div>

		<div class="col-sm-4">	

		  <h2 class="text-center"><b>Lead Sponsor</b></h2>

                    <div class="company-post">

                        <a href="http://www.pershing.co.uk/index.html" target="_blank"><img class="img-responsive" alt="Lead Sponsor" src="/storage/app/media/awards/bnym_logo.png" /></a>

                    </div>

                </div>

		<div class="col-sm-4"></div>

	   </div>

	</div>

    </div>


    <div class="section section-awards">

        <div class="container">

            <div class="row">

                <div class="col-sm-12">

                    <h2 class="text-center">Sponsors</h2>

                </div>

            </div>

            <div class="row">
            
                
				<div class="col-sm-2"> </div>

                <div class="col-sm-4">

                    <div class="company-post">

                        <a href="https://www.pershing.com/uk/en/" target="_blank"><img class="img-responsive" alt="Sponsor" src="/storage/app/media/awards/BNY_logo_jan20.png" /></a>

                    </div>

                </div>
                
                

                <div class="col-sm-4">

                    <div class="company-post">

                        <a href="http://www.platformsecurities.com/" target="_blank"><img class="img-responsive" alt="Sponsor" src="/storage/app/media/awards/4CPS_logo_jan20.png" /></a>

                    </div>

                </div>
                
               

            </div>

           


            

        </div>

    </div>
 

    <div class="section section-awards white-bg">

        <div class="container">

            <!-- div class="row">

                <div class="col-sm-12">

                    <h2 class="text-center">In association with</h2>

                </div>

            </div>

            <div class="row">
				

                <div class="col-sm-4">

                    <div class="company-post">

                        <a href="https://www.assetrisk.com/" target="_blank"><img class="img-responsive" alt="In association with" src="/storage/app/media/awards/arc_logo18.png" /></a>

                    </div>

                </div>
                
                <div class="col-sm-4">

                    <div class="company-post">

                        <a href="http://www.louis-roederer.com/en" target="_blank"><img class="img-responsive" alt="In association with" src="/storage/app/media/awards/LR_logo18.png" /></a>

                    </div>

                </div>
                
				<div class="col-sm-4">

                    <div class="company-post">

                        <a href="http://eprivateclient.com/" target="_blank"><img class="img-responsive" alt="In association with" src="/storage/app/media/awards/company-logo-eprivateclient.png" /></a>

                    </div>

                </div>
                
                
			</div>
			<div class="row">
				<div class="col-sm-2"></div>
                
				<div class="col-sm-4">

                    <div class="company-post">

                        <a href="http://thewealthnet.com/page_magazine.php" target="_blank"><img class="img-responsive" alt="In association with" src="/storage/app/media/awards/company-logo-wealth.png" /></a>

                    </div>

                </div>

                <div class="col-sm-4">

                    <div class="company-post">

                        <a href="https://www.gallerydifferent.co.uk/home" target="_blank"><img class="img-responsive" alt="In association with" src="/storage/app/media/awards/feb19_different.png" /></a>

                    </div>

                </div>		

				<div class="col-sm-2"></div>
				
            </div>

        </div>

    </div>
    
-->
    
