[components]
editable[file] = "about-us.htm"
==
<p class="row">
    <span contenteditable="false" class="f-video-editor fr-fvl">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/P6kMPSTcArs" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </span>
</p>
<p><br>
</p>
<p>The PAM Awards are the most sought after awards in the UK  wealth management sector, covering the consistency of both investment  performance and client service levels. The combination of independence, rigour  and transparency in the PAM Awards programme is unique, in a world where other  awards are determined by commercial and vested interests. Neither sponsors, nor  PAM Awards judges can enter the PAM Awards. Each year, only the most  competitive Private Asset Managers enter the PAM Awards and subject themselves  to an exhaustive, often intrusive syndicated due diligence exercise carried out  by an expert panel of leading independent professionals.
</p>
<p>The 2020 PAM Awards took place as a live virtual event on Thursday 9th July 2020 – a first for the wealth management sector. The 2021 PAM Awards are scheduled to take place on Wednesday, 9th June 2021. If you would like to enter the 2021 PAM Awards please email <span class="highlight"><strong><a href="mailto:kstokes@paminsight.com">Kathryn Stokes</a></strong></span> for more information. Alternatively if you would like to book a ticket or a table for the 2021 Awards ceremony please click <a href="http://www.cvent.com/d/9yq1dm/2A" rel="nofollow" target="_blank" style="background-color: rgb(255, 255, 255);">here</a>.
</p>