[editable]
==
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="/storage/app/media/entry/process.jpg" class="img-responsive"/>
            <div class="br"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Judging Process</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>All entries delivered by the deadline are presented to members of the Panel. Each entry is
                considered by a category sub-committee which presents their recommendations to the Panel. Firms
                will be invited to present if:<br/>
                1) the entry does not represent the firm to the standard experienced by the Judging Panel and
                the Panel agrees to give them the opportunity to redress the issues in a presentation; or<br/>
                2) the entry has raised or left some questions that the Panel would like the entrant to address
                in a presentation.<br/>
                NB. Investment Performance and Reporting categories are not asked to presentations.</p>
        </div>
        <div class="col-sm-6">
            <p>The Panel members review the entries and rank their individual preferences in ascending order,
                with 1 as the highest rank. The entrants are placed in order, starting with the lowest average
                score (the highest ranked firm).</p>
            <p>This list is then presented to the Panel in a closed plenary session. The Panel debates the
                respective merits of the nominated firms and determines the (unlimited) number of finalists for
                each Award category.</p>
            <p>The Panel then discusses and evaluates the list of finalists, from which it chooses a winner in
                each Award category.</p>
        </div>
    </div>
    <div class="br"></div>
    <div class="row">
        <div class="col-sm-6">
            <h1>The Judging Panel</h1>
            <p>Given the greater sophistication and demands of high net worth investors, entry evaluation is
                carried out via a Panel of leading experts who combine their market expertise to deliver a
                combination of quantitative performance attribution analysis with their experience of live
                client portfolios held with organisations in the market. </p>
          <a class="button greyblue margbot" style="{disable_meet_judges_button}" href="judges">Meet the judges</a>
        </div>
        <div class="col-sm-6">
            <h1>Important notes</h1>

            <p>The Judging Panel reserves the right to withdraw any Award given if any regulatory issues arise
                within the succeeding 12 months.
            </p>
            <p>The criteria for the investment performance categories of the PAM Awards do not currently include
                any information on the consistency with which different firms match investment mandates to
                individual investor risk profiles. This information is not provided by entrants to the Judging
                Panel, due to confidentiality constraints. Investors should always seek professional advice as
                to the suitability of any investment mandate before entering into any agreement.</p>
        </div>
    </div>
</div>