[components]
==
<p class="reset-margin-top" style="margin-left: 20px;"> The PAM Awards dinner and ceremony is recognised as one of the outstanding dates in the senior private client professional's calendar. This prestigious gala evening, held on Thursday 19<sup>th</sup> March at the Royal Lancaster London, celebrates the exceptional achievements of private asset managers and represents a unique opportunity for industry leaders to see - and be seen - by members of the UK private client market's elite.
</p>
<!--p style="margin-left: 20px;">The evening starts at 6:15pm with a champagne reception. Dinner is served in the main Ballroom at 7:15pm, with the awards presentation following sometime after 10:00pm. Carriages are typically at 2:00am.
</p>
<p style="margin-left: 20px;">The dress code is black tie.
</p-->
<p style="margin-left: 20px;">Tickets for the PAM Awards are usually oversubscribed and sold out well in advance of the event each year, so it is advisable to make your bookings early. For information on the next PAM Awards Ceremony, please contact <span class="highlight"><strong><a href="mailto:kstokes@paminsight.com">Kathryn Stokes</a></strong></span> +44 (0)207 967 1609.
</p>
<!--p style="margin-left: 20px;" rel="margin-left: 20px;"><a href="http://www.cvent.com/d/9yq1dm/2A" rel="nofollow" target="_blank">Book a table or seat at the PAM Awards</a>
</p-->