[    components]
==
<h1 style="margin-left: 20px;"><br></h1>
<h1 style="margin-left: 20px;">Categories</h1>
<p>
    <br>
</p>
<p style="margin-left: 20px;">The PAM Awards entry process begins each year in September and culminates in the PAM Awards dinner, which take place annually in March. Details of the categories you can enter, together with the various dates you need to know, are shown below.
</p>
<br />
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Investment Performance - Cautious Portfolios</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Investment Performance - Defensive Portfolios</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Investment Performance - Growth Portfolios</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Investment Performance - High Growth Portfolios</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Emerging Manager</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Innovation</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Digital Wealth Solution</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Sustainable Investment Solution</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Client Service Quality - HNW (£1m-£50m)</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Client Service Quality - UHNW (£50m+)</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Positive Impact</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Total Wealth Planning - HNW  (£1m-£10m)</p>
<p style="margin-left: 60px;"><strong>&bull;</strong>&nbsp;&nbsp; Total Wealth Solutions Provider - UHNW (£50m+)</p>
<br />
<p style="margin-left: 20px;">More  information regarding the criteria for these categories is available on  request.</p>
<p style="margin-left: 20px;"><br></p>

<p class="row" style="margin-left: 5px;">
    <br>
</p>

<h1 style="margin-left: 20px;">Deadlines for the 2021 PAM Awards</h1>
<p class="col-md-5 col-md-offset-1 col-sm-12" style="margin-left: 140px;">
    <br>
    <br>
    <span class="f-video-editor fr-fvn" contenteditable="false">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7ux8j-jWJjk"></iframe>
    </span>
</p>
<p style="margin-left: 20px;"><span class="highlight"></span></p>
<h1 style="margin-left: 20px;"><br></h1>
<p style="margin-left: 20px;"><br></p>
<p style="margin-left: 20px;">Friday, 6th November 2020 - Notification of intent to enter (investment performance categories)
</p>
<p style="margin-left: 20px;">Friday 5th February 2021 – Entry submission deadline for ALL categories (ARC to receive all manager performance data and validation documents for Investment Performance categories)
</p>
<p style="margin-left: 20px;">Late April – early May 2021 – Entrant presentations (by invitation)
</p>
<p class="row" style="margin-left: 5px;">
    <br>
</p>
<p style="margin-left: 20px;"><strong>Investment Performance</strong>
</p>
<p style="margin-left: 20px;"><br>If you intend on entering the Investment Performance categories, <strong>please notify us by Friday  6 November 2020</strong>, including details of the categories you wish to enter and the name of the product/portfolio/model you will be submitting for each category. You may later withdraw from a category by contacting us, but <strong>you may be restricted from entering a category if notification is received late</strong>. Asset Risk Consultants will provide further information on how to submit performance data only to those managers who have notified us by this date. 
</p>
<p style="margin-left: 20px;">If you have any technical queries regarding the data requirements for the Investment Performance categories, please contact David Aristu on <a href="mailto:research.data@suggestus.com">research.data@suggestus.com</a> or 01481 817761.</p>
<p style="margin-left: 20px;">
    <br>
</p>

<p style="margin-left: 20px;"><span class="highlight"></span></p>
<p style="margin-left: 20px;"><strong>Qualitative Categories</strong></p>
<p style="margin-left: 20px;">To enter any of the non-performance categories, you may do so up until the final entry deadline on Friday 5 February 2021. However you should notify us of your intention to enter so that we can send you full entry instructions and access to PAMonline for the submission process.
</p>

<p style="margin-left: 20px;">If you have any queries on the PAM Awards, particularly if they relate to the criteria, submission process or non-performance awards please contact Kathryn Stokes on <a href="mailto:kstokes@paminsight.com">kstokes@paminsight.com</a> or 07894 488014.
</p>
<p style="margin-left: 20px;">
    <br>
</p>


<h1 style="margin-left: 20px;">
    <br>
</h1>


<h1 style="margin-left: 20px;">Entry submission</h1>
<p>
    <br>
</p>
<p style="margin-left: 20px;"><strong>Investment Performance categories only</strong> - If you are entering only the Investment Performance categories, you will be sent access details to PAMonline. You are asked to ensure your public company profile is updated. You will also be contacted by Asset Risk Consultants, who will supply you with an additional spreadsheet to complete.
</p>

<p style="margin-left: 20px;"><strong>Qualitative categories</strong> - If you are entering any of the qualitative categories, you will be sent access details to PAMonline. You are asked to ensure your public company profile is updated and to complete the confidential Extended Manager Profile*, which is used solely for the purposes of the PAM Awards. Omissions from the Extended Manager Profile may be penalised by the Judging Panel and we encourage you to complete it as fully as possible.
</p>

<p style="margin-left: 20px;"><strong>*If you are entering the Emerging Manager category only</strong>, you do not need to complete the Extended Manager Profile, but will be sent a confidential Short Manager Profile as a spreadsheet, which you need to complete fully and submit with your written submission.
</p>
<p style="margin-left: 20px;">In addition, you are required to complete a category-specific entry, according to the guidelines found in the Categories, Criteria & Guidelines document. These are available on request, and will also be sent out to managers who have registered their intention to enter. Category entries need to be submitted via PAMonline in the PAM Awards section.
</p>

<p style="margin-left: 20px;"><strong>All entries, including data to ARC, are due Friday 5 February 2021</strong></p>

<p style="margin-left: 20px;"><span class="highlight"></span></p>
<p class="section section-awards">
    <br>
    <img class="img-responsive fr-dib fr-fin" src="/storage/app/media/entry/presentation.jpg">
</p>

<p style="margin-left: 20px;">
    <br>
</p>

<h1 style="margin-left: 20px;">
    <br>
</h1>

<h1 style="margin-left: 20px;">Presentations</h1>
<p>
    <br>
</p>

<p style="margin-left: 20px;">Presentations will be held in late January and early February in central London. Dates to be confirmed.
    <br />
    <br />
</p>
<p style="margin-left: 20px;">If you are asked to present you will be allocated a time slot on one of these days. You are requested to ensure that relevant senior members of the private client team be available on these days, in case you are invited to present. Invitations will be issued in early January.
    <br />
    <br />
</p>
<p style="margin-left: 20px;"><strong>Not all firms will be invited to present. This does not indicate that a firm has been chosen or excluded, and a firm will not be penalised if it is not invited to present.</strong> Firms will be invited to present if:
    <br>
    <br />  
    1) the entry does not represent the firm to the standard experienced by the Judging Panel and the Panel agrees to give them the opportunity to redress the issues in a presentation; or
    <br>  
    2) the entry has raised or left some questions that the Panel would like the manager to address in a presentation.
    <br>  
    NB. Investment Performance categories are not presented on.
    <br />
    <br />
</p>

<p style="margin-left: 20px;">A firm with an entry that stands on its own and raises no further queries will not necessarily be invited to present. Again, this does not indicate that this firm has been chosen or excluded, nor will the firm be penalised by not being invited to present.
    <br />
    <br />
</p>

<p style="margin-left: 20px;">Presenters will be informed what category they are being asked to present, including clear guidance on any issues that need to be addressed.
    <br />
    <br />
</p>

<p style="margin-left: 20px;">
    <br>
</p>

<p style="margin-left: 20px;">
    <br>
</p>


<h1 style="margin-left: 20px;">Finalists &amp; Winners</h1>
<p>
    <br>
</p>
<p style="margin-left: 20px;">Finalists will be announced in late May 2020 on <strong><a href="http:///www.paminsight.com/twn/" rel="nofollow" target="_blank">thewealthnet</a></strong>. Winners will be announced at the PAM Awards ceremony, on Wednesday 9 June 2021, and the following day on <strong><a href="https://www.paminsight.com/twn/" rel="nofollow" target="_blank">thewealthnet</a></strong>.
</p>

<p style="margin-left: 20px;">For further information on booking tables at the PAM Awards Gala Dinner, please contact <strong><a href="mailto:kstokes@paminsight.com">Kathryn Stokes</a>.</strong>
</p>

<p style="margin-left: 20px;">
    <br>
</p>

<p style="margin-left: 20px;">
    <br>
    <br>
</p>