[editable]
==
<h1>Judging Panel</h1><p>The Judging Panel, which was established in 2000, delivers both quantitative and qualitative evaluation of leading firms across all PAM Awards categories. The Panel is comprised of a group acknowledged as leading independent experts from various private client advisory and related professions, many of whom are regularly involved in advising clients on selection of investment managers, as well as monitoring portfolio performance and levels of client service.</p>