[editable]
[siteSearchInclude]
==
<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12" id="awards-disclaimer">
                <br />
                <br />
                <br />
                <h3>PAM Awards Judging Panel Statement of Principles</h3>
                <p>PAM Insight and the members of the PAM Awards Judging Panel make great efforts to maintain the integrity and transparency of the PAM Awards process. As such we would like to make the following statement of principles in regards to the conduct of the members of the PAM Awards Judging Panel, including the Chair, and any other individual employed by PAM Insight with access to the Judging Process.</p>
                <h3>Confidentiality</h3>
                <p>All members of the Panel, and those employed by PAM Insight who have access to the data submitted, are required to sign a Confidentiality Agreement. The nature of the Agreement is to safeguard the confidential information required of entrants for the in-depth interrogation made by the Panel. The Agreement compels those entered into it to keep permanently confidential the information provided, except for information already in the public domain, or in their possession ,  and  not to copy, reproduce or distribute to others any of the information without the prior written consent of PAM Insight, both during and after their tenure as a member of the Panel.</p>
                <h3>Register of interests</h3>
                <p>A register of all potential conflicts of interest, through employment, personal or familial contact, is maintained by PAM Insight and made available to the whole of the Panel. Members of the Panel with conflicts of interest are asked to refrain from voting for or otherwise supporting entrants wherein those conflicts exist, unless specifically asked for observations on their own experience by the Chair, or the sub-committee chairs, or the Panel.</p>
                <h3>Review of Panel members</h3>
                <p>The Judging Panel is central to the strength of the PAM Awards. PAM Insight undertakes to regularly review membership of the Panel to ensure members are relevant, knowledgeable and influential figures within the wealth management industry, that no overiding conflict of interest exists and that each member is making a valuable contribution to the review of all entries and the selection of finalists and winners, and to the development of the PAM Awards. With the exception of core members,  including the Chair (James Anderson), representatives from Asset Risk Consultants (Graham Harrison and Stephen McMahon), and a single voting representative of PAM Insight (Ian Orton), Panel membership is reviewed on a regular basis as follows:</p>
                <ul>
                    <li>On an annual basis if a member's employment has changed; or</li>
                    <li>Every 4 years.</li>
                </ul>
                <p>In addition, sub-committees and sub-committee chairs are reviewed on a regular basis.</p>
                <h3>Independence and integrity of the Panel</h3>
                <p>The make-up of the Judging Panel is designed to enhance its independence and integrity. The following elements have been specifically put in place to promote a fair and transparent judging process:</p>
                <ul>
                    <li>Size - The Panel stands at 16 active members and each sub-committee has no less than 5 members. As such,  no single member can, knowingly or unknowingly, alter  the outcome.</li>
                    <li>Experience - The Panel is made up of a wide range of experts, from private client advisory professions, through investment consultants, to experts in client experience and marketing. Each Judge brings their own speciality and focus, and their knowledge and experience is used to inform the review of entries.</li>
                    <li>Separation from the commercial element of PAM Insight - The Panel remains wholly separated from the commercial activities of PAM Insight and is not advised in any form of any agreement undertaken between entrants and PAM Insight, whether this is seats/tables at the PAM Awards dinner,  paid entry for PAMonline/PAM UK, or any other commercial arrangement, except where such information can be ascertained through obvious and publicly available means.</li>
                    <li>Separation from judges’ commercial interests – The judges do not use their positions on the Panel to promote their commercial interests.  While their individual membership is a matter of public record and may be disclosed to third parties, they may not use their Panel membership as a lever to acquire business.</li>
                </ul>
                <h3>Feedback & Contact between entrants and the Judging Panel</h3>
                <p>The PAM Awards are the only awards of this nature that give individualised feedback on entries. Substantial feedback is presented to managers who have a paid entry in PAM UK, and brief feedback is available to all other entrants on request.</p>
                <p>PAM Insight encourages interaction and dialogue between the PAM Awards Judging Panel and entrants as a means for managers to gauge their competitive position and to inform their preparation of entries. However, both Judges and Managers are requested to adhere to the following guidelines:</p>
                <ul>
                    <li>Contact between managers and Judges should be within the normal working relationship</li>
                </ul>
                <p>Or</p>
                <ul>
                    <li>Contact specifically in reference to the PAM Awards should be made before the submissions deadline or in between invitations to present and the presentations to the Panel</li>
                    <li>Queries should be to help inform the entry preparation, or to address any specific queries about what to cover at presentations</li>
                    <li>Contact should not include group presentations to multiple members of the Panel specifically to discuss the PAM Awards outside of the official presentations</li>
                </ul>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>