[components]
==
<h1>Wassyl Abdessemed<br></h1>
<p class="job-title">Research Analyst
</p><img src="/storage/app/media/divider.png" class="staff-divider fr-dii fr-fin" alt="divider">
<p class="telephone"><span class="blue-font">Telephone: </span>+44 (0)7525 832730
</p>
<p class="email"><span class="blue-font">E: </span><a href="mailto:wabdessemed@paminsight.com">wabdessemed@paminsight.com</a>
</p>
<p class="extras-wrap"><br>
</p>
<p class="shadow hidden-sm hidden-xs"><img alt="" class="fr-dii fr-fin" src="/storage/app/media/drop-shadows.png" width="362" height="87" style="width: 362px; height: 87px;">
</p>
<!-- Staff Item -->
<!-- Staff Item -->
<p><br>
</p>
<h1>Kathryn Stokes</h1>
<p class="job-title">Events Manager
</p><img src="/storage/app/media/divider.png" class="staff-divider fr-dii fr-fin" alt="divider">
<p class="telephone">Landline: +44 (0)20 7967 1609 | Mobile: +44 (0)7894 488014 <br>
</p>
<p class="email"><span class="blue-font">E: </span><a href="mailto:kstokes@paminsight.com">kstokes@paminsight.com</a>
</p>
<p class="extras-wrap"><br>
</p>
<p class="shadow hidden-sm hidden-xs"><img alt="" class="fr-dii fr-fin" src="/storage/app/media/drop-shadows.png">
</p>
<!-- Staff Item -->
<!-- Staff Item -->