[editable]
[siteSearchInclude]
==
<section id="about-header-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>The Cost of Investing</h2>
		<p>One of the main reasons for appointing a professional to manage your investment portfolio is the 
		expectation of the higher investment return they ought to be able to generate than you would be 
		able to if you tried to invest your money yourself. For this end result, most clients would be willing to 
		pay a fee. However, this is not as simple an equation as it may appear at first.</p>
		<p>There will be an upfront annual management fee from the private asset manager. This is usually on a 
		sliding scale, based on the volume of investible assets you are placing with the manager. The more 
		you invest through a firm, typically the smaller the fee you pay. Also, while most firms have a 
		standard fee schedule, many will say that this is open to negotiation – especially for larger value 
		clients investing bigger sums.</p>
		<p>Some clients may assume that this represents all of the costs they will incur. However, there are a 
		number of “hidden” costs of investment, which can diminish the return, of which many clients are 
		not immediately aware.</p>
		<p>According to the UK’s True & Fair Campaign, which works to make the sector more transparent in 
		declaring fees and charges, 45 percent of UK clients do not know how their investments are 
		performing and nearly a third, 29 percent, don’t know what they are being charged.</p>
            </div>
            <div class="col-md-6">
		<h2>&nbsp;&nbsp;</h2>
		<p>These charges can include custody costs, dealing commissions, administration costs and fund charges, as well as platform costs and exit charges.</p>
		<p>Dealing commissions, incurred when a manager buys or sells a stock, are also often hidden. These 
		can mount up, especially if a manager is frequently making changes to the portfolio. True & Fair 
		suggests that dealing costs amount to £2.7 billion per annum in UK retail funds alone. On this basis, 
		these costs represent around £18.5 billion per annum across the entire UK savings and investment 
		industry.</p>
		<p>These hidden costs can eat into the additional returns that an investor should be able generate. It is 
		important for you to be clear on what you are paying for from the outset and carefully monitor 
		ongoing and additional costs, to ensure you are receiving good value and the maximum possible 
		returns.</p>
		<p>The picture should become clearer for clients once MiFID II, a piece of pan-European regulation, is 
		implemented. This directive will mean all firms will need to present “unbundled” fees – so an 
		investor is able to assess all the fees they are paying at all levels. This is due to come into effect in 
		January 2018.</p>
            </div>
        </div>
    </div>
</section>
<section id="pam-team" style="font-size: 16px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Active versus passive fees</h2>
		<p>One way in which clients sometimes try to reduce their fees is investing through passive vehicles 
			such as <strong><a href='guide-wealthmanagement/different-ways-of-investing-your-money/'>Exchange Traded Funds or ETFs (see Chapter Six).</a></strong></p>
		<p>These types of vehicles continue to grow in popularity and the cost advantages is one clear reason for this.</p>
		<p>These funds do not make tactical asset allocation calls, but instead track an index. This means that 
		many of the hidden costs, or any manager performance fees, are not applicable. In most cases the 
		fees for an ETF are much lower than for other funds.</p>
            </div>
            <div class="col-md-6">
		<h2>&nbsp;&nbsp;</h2>
		<p>There are also concerns that many actively managed funds are in fact “closet index trackers.” These 
		are funds that claim to be actively managed and charge accordingly, when in fact they closely mirror 
		the performance of an index. </p>
		<p>The European Securities and Markets Authority (ESMA) claim that between five and 15 percent of 
		UCITS equity funds in Europe could fall into this category. The real number could be even higher. If 
		this is the case, then many investors are paying for the opportunity to gain outperformance, which 
		they will not receive and where they could obtain the same returns at a lower costs, by using passive 
		investment vehicles.</p>
            </div>			
        </div>
    </div>
</section>