[editable]

[siteSearchInclude]

==

<div class="section section1  visible-md-block visible-lg-block visible-sm-block">

    <div class="container">

        <div class="row">

            <div class="mainText col-xs-12">

                <h1 class="text-center visible-xs-block visible-sm-block maintitle">Select the best <span>Private Asset Manager</span> for you!</h1>

                <h1 class="text-center visible-md-block visible-lg-block maintitle">Select the best <span>Private Asset Manager</span> for you!</h1>

                <p class="text-center">

                    PAM is the best independent resource available for finding and selecting Private Asset Managers in the UK and Crown Dependencies.  

                    Tell us a little about yourself so we can help you find the most relevant information.</p>

            </div>

        </div>

    </div>



</div>

<div class="section section2">

    <div class="container iamBoxWrapper visible-md-block visible-lg-block visible-sm-block">

        <div class="row">

            <div class="box col-xs-12 col-sm-12 col-md-4 homeiam">

                <a href="im-a-investor"><p>I am a <br /> <strong>Private Investor</strong></p></a>

            </div>

            <div class="box middle col-xs-12 col-sm-12 col-md-4 homeiam">

                <a href="im-a-professional"><p>I am a <br /> <strong>Professional Adviser </strong></p></a>

            </div>

            <div class="box col-xs-12 col-sm-12 col-md-4 homeiam">

                <a href="im-a-pam"><p>I am a <br /> <strong>Private Asset Manager  </strong></p></a>

            </div>

        </div>

    </div>



    <div class="clearfix"></div>



    <div class="container dataPercentages  visible-xs-block">

        <div class="row statsWrapper">	

<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->

  <ol class="carousel-indicators">

    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    <li data-target="#myCarousel" data-slide-to="1"></li>

    <li data-target="#myCarousel" data-slide-to="2"></li>

    <li data-target="#myCarousel" data-slide-to="3"></li>

  </ol>



  <!-- Wrapper for slides -->

  <div class="carousel-inner" role="listbox">

    <div class="item active">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="row">

                    <div class="col-padd-mod col-xs-12 col-sm-2">

                        <img src="/storage/app/media/homesearch.png" class="img-responsive" alt="search icon">

                    </div>

                    <div class="col-padd-mod col-xs-12 col-sm-10"> 

                       <!-- <p class="larget" data-number="<?php // echo $pamhelpers->getNoOfSearches($db); ?>" data-type="big"><strong>0</strong></p> -->

		     <p class="larget" data-number="{searches_count}" data-type="big"><strong><span class="countNum">0</span></strong></p>

		                              <p><strong>Number of</strong><br/>

                            Private Asset Manager searches</p>	 

                    </div>

<!--                    <div class="col-padd-mod col-xs-12 col-sm-12">

                        <p><strong>Number of</strong><br/>

                            Private Asset Manager searches</p>

                    </div> -->

                </div>

            </div>

    </div>



    <div class="item">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="row">

                    <div class="col-padd-mod col-xs-12 col-sm-2">

                        <img src="/storage/app/media/homegraph.png" class="img-responsive" alt="graph icon">

                    </div>

                    <div class="col-padd-mod col-xs-12 col-sm-10">

                        <p class="larget" data-number="{billions_count}" data-type="dec"><strong>£<span class="countNum">0</span></strong></p>

                        <p><strong>Billion pounds sterling that have used</strong><br/>

                            PAM Online to select a Private Asset Manager</p>

                    </div>

           <!--         <div class="col-padd-mod col-xs-12 col-sm-12">

                        <p><strong>Billions of pounds sterling that have used</strong><br/>

                            PAM Online to select a Private Asset Manager</p>

                    </div> -->

                </div>

            </div>

    </div>



  </div>



  <!-- Left and right controls -->

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

    <span class="sr-only">Previous</span>

  </a>

  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

    <span class="sr-only">Next</span>

  </a>

</div>	

		</div>

	</div>

	

 <div class="clearfix"></div>	

	

    <div class="container dataPercentages  visible-md-block visible-lg-block visible-sm-block">

        <div class="row statsWrapper">

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="row">

                    <div class="col-padd-mod col-xs-12 col-sm-2">

                        <img src="/storage/app/media/homesearch.png" class="img-responsive" alt="search icon">

                    </div>

                    <div class="col-padd-mod col-xs-12 col-sm-10"> 

                       <!-- <p class="larget" data-number="<?php // echo $pamhelpers->getNoOfSearches($db); ?>" data-type="big"><strong>0</strong></p> -->

		     <p class="larget" data-number="{searches_count}" data-type="big"><strong><span class="countNum">0</span></strong></p>

		                              <p><strong>Number of</strong><br/>

                            Private Asset Manager searches</p>	 

                    </div>

<!--                    <div class="col-padd-mod col-xs-12 col-sm-12">

                        <p><strong>Number of</strong><br/>

                            Private Asset Manager searches</p>

                    </div> -->

                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">

                <div class="row">

                    <div class="col-padd-mod col-xs-12 col-sm-2">

                        <img src="/storage/app/media/homegraph.png" class="img-responsive" alt="graph icon">

                    </div>

                    <div class="col-padd-mod col-xs-12 col-sm-10">

                        <p class="larget" data-number="{billions_count}" data-type="dec"><strong>£<span class="countNum">0</span></strong></p>

                        <p><strong>Billion pounds sterling that have used</strong><br/>

                            PAM Online to select a Private Asset Manager</p>

                    </div>

           <!--         <div class="col-padd-mod col-xs-12 col-sm-12">

                        <p><strong>Billions of pounds sterling that have used</strong><br/>

                            PAM Online to select a Private Asset Manager</p>

                    </div> -->

                </div>

            </div>

        </div>

      </div>



 <div class="section section1 visible-xs-block">

     <div class="container">

        <div class="row">

            <div class="mainText col-xs-12">

                <h1 class="text-center visible-xs-block visible-sm-block maintitle">Select the best <span>Private Asset Managers</span> for you!</h1>

                <h1 class="text-center visible-md-block visible-lg-block maintitle">Select the best <span>Private Asset Managers</span> for you!</h1>

                <p class="text-center">

                    PAM is the best independent resource available for finding and selecting Private Asset Managers in the UK and UK Offshore.  

                    Tell us a little about yourself so we can help you find the most relevant information.</p>

            </div>

        </div>

    </div>

 </div>

	<div class="container iamBoxWrapper visible-xs-block">

        <div class="row">

            <div class="box col-xs-12 col-sm-12 col-md-4 homeiam">

                <a href="im-a-investor"><p>I am a <br /> <strong>Private Investor</strong></p></a>

            </div>

            <div class="box middle col-xs-12 col-sm-12 col-md-4 homeiam">

                <a href="im-a-professional"><p>I am a <br /> <strong>Professional Adviser </strong></p></a>

            </div>

            <div class="box col-xs-12 col-sm-12 col-md-4 homeiam">

                <a href="im-a-pam"><p>I am a <br /> <strong>Private Asset Manager  </strong></p></a>

            </div>

        </div>

    </div>



    <div class="clearfix"></div>

	

    <div class="clearfix"></div>

</div>



<div class="section section3" style="overflow: hidden;">

    <div class="container">

        <div class="row">

            <div class="awardscopy col-xs-12 col-md-5">

                <h2>The PAM Awards</h2>

                <p>The PAM Awards are the highest regarded of the UK wealth management awards. Each year dozens

                    of managers enter the Awards in an in-depth evaluation process and are reviewed by a panel

                    of leading independent industry professionals.</p>

	       <div class="btnwrapper col-md-3 hidden-sm hidden-xs">

			<img src="/storage/app/media/PAM-AWA-2020.png" class="img-responsive" alt="PAM logo">

		   </div>