[editable]
[siteSearchInclude]
==
          </div>
            <div class="awardimage col-xs-12 col-md-7">
                <img src="/storage/app/media/pamAwards.png" alt="The PAM Awards">
            </div>
        </div>
    </div>
</div>
<div class="section section4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-7">
                <img class="hidden-sm hidden-xs" src="/storage/app/media/investbooks.png" alt="PAM Books">
                <img class="center-block hidden-md hidden-lg" src="/storage/app/media/investbooks.png" alt="PAM Books">
            </div>
            <div class="investcopy col-xs-12 col-md-5">
                <h2>Invest in the PAM Directory</h2>
                <div class="quotewrapper">
                    <p class="quote">&quot;The best guide available to the leading firms in private client fund management&quot;</p>
                    <p class="quotesrc">- Financial Times</p>
                </div>
                <div class="quotewrapper">
                    <p class="quote">&quot;The UK&acute;s leading Private Asset Management research tool&quot;</p>
                    <p class="quotesrc">- The Times</p>
                </div>
                <div class="quotewrapper">
                    <p class="quote">&quot;The leading directory of  Private Asset Managers&quot;</p>
                    <p class="quotesrc">- Financial Adviser</p>
                </div>
		<div class="quotewrapper">
                   <a href="PAM-directory" class="button col-xs-12 col-sm-6 col-md-8 btn-block">Buy the PAM Directory</a>
		</div>
            </div>

        </div>
    </div>
</div>
