[editable]
[siteSearchInclude]
==
<section class="professional-header-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>How we can help</h2>

                <p><b>We offer a level playing field:</b> We are completely independent, so unlike other sites that say
                    they can help investors find a wealth manager for free and without any manager bias, we don't
                    take any introductory fees of any kind from any of the organisations included on this website.
                    Other sites only give investors access to those firms that have agreed to pay introductory fees
                    when clients appoint them. PAM is the only wholly independent online tool designed to help
                    private investors select those private asset managers best suited to their individual
                    requirements. You can have complete confidence that with PAM you will get equal billing,
                    irrespective of the size of your business. All you have to do is provide us with some
                    information about your business.</p>

                <p><b>We raise your profile amongst professionals:</b> First published in 1999, the PAM (Private Asset
                    Managers) Directory remains the most authoritative independent source of reference on the UK/UK
                    offshore private asset management sector. Both on this site and in the Directory, PAM includes
                    an exhaustive list of different private asset management businesses operating in the UK and the
                    British Crown Dependencies, from some of the smallest to the very largest. Acknowledged as the
                    "Bible" of the industry, PAM is the result of rigorous research and detailed data collection and
                    analysis. Each year, PAM provides a comprehensive overview of the industry, as well as a vast
                    pool of quantitative data. PAM is an essential tool for anyone that has dealings with the
                    private asset management sector, including amongst others: prospective clients; professional
                    advisers; legal advisers; trust and corporate service providers; corporate advisory firms;
                    industry analysts; IT companies; and, of course, private asset managers themselves.</p>

            </div>
            <div class="col-md-6">
                <h2>&nbsp;&nbsp;</h2>

                <p><b>We validate your business credentials:</b> Since their launch in 1999, the PAM Awards have
                    established a solid reputation as the only independent mark of consistent excellence in private
                    asset management, both in terms of performance and service. As a result, many professionals and
                    clients nowadays use the PAM Awards as a kite mark when selecting suitable firms for their
                    clients. The PAM Awards judging panel is made up almost exclusively of some of the most
                    significant introducers of private client business to the private asset management community.
                    Collectively, the panel advise on many billions in client investible assets. As such the PAM
                    Awards offer you a unique opportunity to put your firm's credentials in front of some of the
                    sector's most important private client professionals and the broader professional advisory
                    community at large.</p>

                <p><b>We tell you how you compare with your peers:</b> The PAM Awards programme is a rigorous syndicated
                    annual due diligence exercise. Established in 1999, the PAM Awards isolate those firms that most
                    consistently deliver performance and service to their clients over rolling three and five year
                    periods. The programme is led by a panel of market-leading independent experts, almost all of
                    whom have long-standing, direct and regular experience of dealing with the private asset
                    management sector on behalf of their clients. If you want wholly impartial feedback on where
                    your firm sits in its peer group, you can enter the PAM Awards here.</p>
                <p class="pull-right"><a href="#" onclick="sendEmailTo('wmarston','');return false;" class="button whiteblue select-now-btn">Get in Touch</a></p>
            </div>
        </div>
    </div>
</section>