[editable]
==
<section class="pam-awards-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pam-award-content">
                    <h2>PAM Awards</h2>

                    <p>The PAM Awards are the highest regarded of the UK wealth management awards. Each year dozens of managers enter the Awards in 
                        an in-depth evaluation process and are reviewed by a panel of leading independent industry professionals.</p>
                    <a href="awards-main" class="button awards-btn">View the awards</a>
                </div>
            </div>
        </div>
    </div>
</section>