[editable]
==
<section class="pam-account">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/storage/app/media/laptop.png" alt="Laptop">
            </div>
            <div class="col-md-6">
                <div class="pam-account-content">
                    <h2>Do you have a PAM account?</h2>

                    <p>To see full information of the Private Asset Managers, plus the opportunity to rate and follow, 
                        <a class="loginclick" data-toggle="modal" data-target="#login-modal" data-id="u">login</a> or <a data-toggle="modal" data-target="#register-modal">register</a></p>
                    <a class="button whiteblue select-now-btn col-xs-3 loginclick" data-toggle="modal" data-target="#login-modal" data-id="p" style="margin: 0 10px 0 0;">Login</a><a data-toggle="modal" data-target="#register-modal" class="button whiteblue select-now-btn col-xs-3" style="margin: 0 10px;">Register</a>
                </div>
            </div>
        </div>
    </div>
</section>