[editable]
[siteSearchInclude]
==
<section class="professional-header-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>How we can help</h2>

                <p><b>We are completely independent:</b> Unlike other sites that say they can help you find a wealth
                    manager for your clients for free and without any manager bias, we don't take any introductory
                    fees of any kind from any of the organisations included on this website. Other consumer sites
                    only give you access to those firms that have agreed to pay them an introductory fee when you
                    appoint them. PAM is the only openly available, wholly independent online tool designed to help
                    you select those private asset managers best suited to your clients' individual
                    requirements.</p>

                <p><b>All the information you need is right here:</b> If at any time you are unsure about what type of
                    private asset manager you want to introduce to your clients, or how to go about making your
                    selection, you can take advantage of our Knowledge Hub. We don't give advice, but you will find
                    all the information you need to help your clients ask the right questions and make their own
                    well-informed decisions. You can also follow and rate private asset managers, based on your
                    experience of dealing with them on behalf of your clients. Whether you want to receive regular
                    investment commentaries from different firms, or if you just want to give an institution a
                    rating (good or bad), you can do it here.</p>

                <p><b>Our panel of independent experts have done the due-diligence for you:</b> We carry out a rigorous
                    syndicated due diligence exercise each year via the PAM Awards programme. Established in 1999,
                    the PAM Awards isolate those firms that most consistently deliver performance and service to
                    their clients over rolling three and five year periods. The programme is led by a panel of
                    market-leading independent experts, almost all of whom have long-standing, direct and regular
                    experience of dealing with the private asset management sector on behalf of their clients. In
                    other words, any firms that have been nominated for PAM Awards are leaders in their field - you
                    can find them all here.</p>
            </div>
            <div class="col-md-6">
                <h2>Select a Private Asset Manager</h2>

                <p>Finding and selecting an organisation to manage your client's investible assets on your own can
                    be a daunting task, not least as it may not be your core professional discipline. We have
                    designed this site specifically to help you through the process - at every stage. If you are
                    unsure about any aspect of selecting and getting the best out of private asset managers for your
                    clients, our Knowledge Hub is on hand to give you relevant information that will help you and
                    your clients ask the right questions and make the right decisions.</p>
                <a href="findPam?REGUSER_TypeMob=pro&REGUSER_Type=pro" class="button whiteblue select-now-btn">Select now</a>
            </div>
        </div>
    </div>
</section>