[editable]
==
<section class="pam-account">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/storage/app/media/laptop.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="pam-account-content">
                    <h2>Do you have a PAM account?</h2>

                    <p>To see full information of the Private Asset Managers,  
                        <a class="loginclick" data-toggle="modal" data-target="#login-modal" data-id="u">login</a> or <a data-toggle="modal" data-target="#register-modal">register</a></p>
                    <a class="button whiteblue select-now-btn col-xs-3 loginclick" data-toggle="modal" data-target="#login-modal" data-id="m" style="margin: 0 10px 0 0; font-size:14px;">Login</a><a data-toggle="modal" data-target="#register-modal" class="button whiteblue select-now-btn col-xs-3" style="margin: 0 10px; font-size:14px;">Register</a>

                </div>
            </div>
        </div>
    </div>
</section>