[editable]
==
<a data-toggle="modal" data-target="#login-modal" class="button bluewhite col-xs-12 col-md-5 loginclick">Rate Private Asset Managers</a>
<a data-toggle="modal" data-target="#login-modal" class="button bluewhite col-xs-12 col-md-6 loginclick">Follow Private Asset Managers</a>
