[editable]
[siteSearchInclude]
==
<div class="section section-hub-links">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-content__wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="intro text-center">Our Knowledge Hub provides insight into the world of wealth management and offers all the information 
                                        you need to select the right Private Asset Manager for you.</p>
                                </div>
                            </div>
                            <div class="row row-mod">
                                <div class="col-md-4 col-sm-6 col-mod">
                                    <div class="well">
                                        <a href="guide-wealthmanagement/">
                                            <img class="" src="/storage/app/media/main/Wealthguide.jpg" alt="PAM Guide to Wealth Management" />
                                            <img class="hover-state-image" src="/storage/app/media/main/Wealthguide-hover.jpg" alt="PAM Guide to Wealth Management" />
                                            <div class="hub-link-text"><p>PAM Guide to Wealth Management</p></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-mod">
                                    <div class="well">
                                        <a href="cost-of-investing">
                                            <img class="" src="/storage/app/media/main/Cost-of-investing.jpg" alt="The Cost of Investing" />
                                            <img class="hover-state-image" src="/storage/app/media/main/Cost-of-investing-hover.jpg" alt="The Cost of Investing" />
                                            <div class="hub-link-text"><p>The Cost of Investing</p></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-mod">
                                    <div class="well">
                                        <a href="PAM-directory">
                                            <img class="" src="/storage/app/media/main/PAM-Directory.jpg" alt="PAM Directory" />
                                            <img class="hover-state-image" alt="PAM Directory" src="/storage/app/media/main/PAM-Directory-hover.jpg" />
                                            <div class="hub-link-text"><p>PAM Directory</p></div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-mod">
                                    <div class="well">
                                        <a href="ARC-Private-Client-Indices">
                                            <img class="" alt="ARC Indices" src="/storage/app/media/main/ArcIndicies.jpg" />
                                            <img class="hover-state-image" alt="ARC Indices" src="/storage/app/media/main/ArcIndicies-hover.jpg" />
                                            <div class="hub-link-text"><p>ARC Indices</p></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-mod">
                                    <div class="well">
                                        <a href="faq">
                                            <img class="" src="/storage/app/media/main/FAQs.jpg" alt="FAQs" />
                                            <img class="hover-state-image" src="/storage/app/media/main/FAQs-hover.jpg" alt="FAQs" />
                                            <div class="hub-link-text"><p>FAQs</p></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-mod">
                                    <div class="well">
                                        <a href="useful-links">
                                            <img class="" src="/storage/app/media/main/Usefulinks.jpg" alt="Useful Links" />
                                            <img class="hover-state-image" src="/storage/app/media/main/Usefulinks-hover.jpg" alt="Useful Links" />
                                            <div class="hub-link-text"><p>Useful Links</p></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                           <div class="col-sm-3">
                            <div class="well">
                                <img src="/phase1/img/main/wdx-banner.jpg" />
                            </div>
                            <div class="well">
                                <img src="/phase1/img/main/securities-banner.jpg" />
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>Who are the Wealth Managers and what do they do?
                            </h2>
                            <p>Wealth managers come in many different forms. It is even difficult to generalise about one category of wealth manager. Some private banks or 
                                financial advisers, for example, will offer a more personal and comprehensive service than their competitors.
                                <br /><br />
                                In choosing a wealth manager, what is important is the chemistry between you and the wealth manager, whether you trust the wealth manager, 
                                whether he or she is best placed to help you meet your financial goals and his or her relationship with other wealth managers you may need to use.
                                Some wealth managers attempt to be generalists in that they offer to advise you on all your financial planning requirements. Others are 
                                specialists in particular parts of the wealth management process, such as discretionary asset managers and trust companies.</p>
                            <a href="guide-wealthmanagement" class="button whiteblue col-xs-12 col-sm-6 col-md-5">Learn more about Wealth Management</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-recent hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Recent articles</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/storage/app/media/main/recent-media-img-1.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus tellus id ligula ullamcorper,  constrore skdwhd lorem
                        <a>read more..</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/storage/app/media/main/recent-media-img-2.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus tellus id ligula ullamcorper,  constrore skdwhd lorem
                        <a>read more..</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/storage/app/media/main/recent-media-img-3.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus tellus id ligula ullamcorper,  constrore skdwhd lorem
                        <a>read more..</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/storage/app/media/main/recent-media-img-4.jpg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus tellus id ligula ullamcorper,  constrore skdwhd lorem
                        <a>read more..</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>