[editable]
[siteSearchInclude]
==
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p>The protection of your personal data is a matter that we take extremely seriously. PAM Insight
                Limited ("PAM Insight") has developed this Privacy Policy for the benefit of the Users (also
                referred to herein as "you") of its web site pamonline.com (the "Site"), to demonstrate our serious
                commitment to protecting your privacy on this Site. The following information summarises PAM
                Insight's personal data gathering and distribution practices for this Site.</p>

            <h3>PLEASE READ THE FOLLOWING TO UNDERSTAND PAM Insight'S VIEWS AND PRACTICES REGARDING PRIVACY AND HOW
                THEY MAY APPLY TO USERS OF THIS SITE.</h3>

            <p>PAM Insight is committed to maintaining a secure platform for your information to protect your
                personal data. We continuously monitor and review our security policies, so as to provide our Users
                only the most secure and trustworthy environment available.</p>

            <h3>Your Security on this Site</h3>

            <p>Security of your personal information is of paramount importance to PAM Insight. We recognise the
                sensitivity of the information being passed through our Site and we realise the need for stringent
                controls with regards to privacy and security. Therefore, we have implemented a number of measures
                to ensure the integrity of our Users' identity and information.</p>

            <p>First and foremost, access to information contained in the Site is controlled by User registration.
                Next, we employ system level data password protection. This protects customer sensitive data that is
                stored on our servers. Finally, PAM Insight is committed to maintaining a secure platform for
                holding your information at all times. We continuously monitor and review our security policies, so
                as to keep up-to-date with the latest cyber threats and to provide you with only the most secure and
                trustworthy environment available.</p>

            <h3>Searches and other transactions that you perform through the Site</h3>

            <p>PAM Insight recognises the highly sensitive and proprietary nature of information that is gathered
                for transaction purposes on this Site. Personal information that you provide is never provided to
                prospective private asset managers, or advisers ("Managers") unless you have specified that you wish
                the particular Manager to make contact via telephone, email, post or PAMsearch. Access to
                documentation and information stored as a result of an ongoing or completed transaction is
                restricted to you as the User who initiated that transaction. By virtue of our multi-layer
                encryption standards, PAM Insight provides you with a secure environment, where transaction
                information is protected from unauthorised access. In addition, access to this information by PAM
                Insight personnel is limited to only those individuals whose access is required for operational
                purposes and who have signed up to our strict non-disclosure and data protection provisions.</p>

            <h3>Why does PAM Insight need my personal information?</h3>

            <p>The Select a Private Asset Manager section of the Site is specifically designed to provide you with a
                personalised selection of Managers that potentially match your personal circumstances and
                requirements. This section can only work with the collection of this relevant information. </p>

            <p>Equally, in order to provide our Users with a more personalised and relevant service, PAM Insight
                regularly makes improvements to this Site. The collection of anonymised data assists PAM Insight in
                this improvement process, by identifying the interests and needs of the many Users of this Site
                without identifying individual Users. Data collection also assists PAM Insight by allowing it to
                show products and/or services in a more efficient manner. PAM Insight may use the technical and
                reference information it collects, in aggregate or individual form, for the following purposes:</p>

            <ul>
                <li>Content Improvement</li>
                <li>Product Development</li>
                <li>Promotion</li>
                <li>Technical Support</li>
                <li>Order Processing</li>
                <li>Customer Support</li>
                <li>Site Customisation</li>
                <li>Marketing</li>
                <li>Statistical Analysis</li>
            </ul>

            <p>Although PAM Insight's primary goal in collecting personal information is to deliver a customised and
                personalised service to
                Registered Subscribers, Registered Users, and Users and to provide them with an efficient means to
                reach relevant Managers,
                PAM Insight also uses the personal information it collects to send Users E-mail notification of new
                features or information available
                through the Site, and other information that PAM Insight feels might be of interest to Users of this
                Site, based on their historic use of the Site.
                PAM Insight also collects IP addresses, or the location of your computer on the Internet, to protect
                against unauthorised access, for systems
                administration and troubleshooting purposes and to provide aggregate data to Managers and
                advertisers.</p>

            <h3>How and what information does PAM Insight gather or track?</h3>

            <p>Through the use of "cookies" (as described below) and on-line data entry, survey, and registration
                forms, PAM Insight may collect
                and/or monitor, in aggregate and individual form, personal identifying facts or data on, among other
                things, the following information.</p>

            <ul>
                <li><strong>Technical Information</strong></li>
                <li>Home Server</li>
                <li>Domain Address</li>
                <li>E-Mail Address</li>
            </ul>

            <ul>
                <li><strong>Reference Information</strong></li>
                <li>Name</li>
                <li>Mailing Address</li>
                <li>Telephone Numbers</li>
                <li>Login &amp; Password</li>
            </ul>

            <p>PAM Insight gathers most of the personal information it collects on its Users during the initial
                registration process. Although most of the personal
                identifying information is necessary for PAM Insight to deliver its services, as indicated on the
                on-line registration form, some of the information
                collected is optional with respect to use of this Site. Accordingly, Users generally determine for
                themselves what information they wish to submit
                on a voluntary basis to PAM Insight. </p>

            <p>In addition to the initial registration process, PAM Insight occasionally asks Users for personal
                information at other times, including when
                they complete optional survey forms, or fill out optional contact forms for additional information
                on particular products and services.</p>

            <h3>Cookies</h3>

            <p>A cookie is a small amount of data that is sent from a web site and stored on your computer's hard
                drive, or temporarily in your computer's memory.
                PAM Insight may place and store Internet cookies on your hard drive. Cookies can save any of the
                types of information noted above. When you
                revisit this Site, PAM Insight can recognise you by this Internet cookie and customise your
                experience of this Site accordingly. Thus, PAM Insight
                uses cookies to recognise your access privileges to the Site, customise and personalise your
                experience on this Site, track aggregate Site usage
                and traffic patterns and estimate this Site's audience size. PAM Insight also uses cookies to store
                the User name and password that you supply at
                registration. If PAM Insight utilises cookies in connection with the collection of information for
                third-parties, i.e., advertisers, the relevant advertiser(s)
                may only receive electronic notification of when a User views the advertisement.</p>

            <p>The use of cookies is now an industry standard, and you will find them used on most major web sites.
                Although most web browsers are initially set up
                to accept cookies, you can decline the placement of a cookie on your hard drive by using the
                appropriate feature(s) of your web browser software
                (if available) to delete the cookie. <strong>Users should understand, however, that most features of
                    this Site cannot be accessed if the web browser
                    will not accept cookies.</strong></p>

            <h3>Does PAM Insight disclose personal information to third-parties?</h3>

            <p>PAM Insight does not disclose your personal information to any third parties, except with your
                specific consent as referred to above.
                PAM Insight will not sell, rent or give away any personal data related to your individual or
                transactional information. However, PAM
                Insight does disclose to third-parties publicly available, or volunteered technical, demographic, or
                reference information, but only
                in aggregate statistical form. Personal demographic information assists managers on this Site in
                providing relevant information about
                their products or services to Users who have requested contact. PAM Insight deals only with Managers
                offering products or services
                which, in PAM Insight's sole judgment, may be of interest to Users of this Site. Again, only
                aggregate information will be provided to these
                parties other than in the specific instances referred to above. Only at your request, PAM Insight
                may transfer your information to Managers
                where your information is processed outside of the European Economic Area ("EEA") if, for example, a
                Manager you select has an operating
                or head office situated outside of the EEA. </p>

            <h3>Your opt-out right</h3>

            <p>To the extent possible, PAM Insight offers you the ability to avoid the collection of your personal
                data by "opting-out." In particular, this
                Site permits you determine for what purposes you wish to have personal data collected and/or
                distributed to third-parties. By not answering
                optional questions, checking the appropriate box when notified, or by contacting PAM Insight
                directly, a User, for instance, can opt out of
                having their personal information used by PAM Insight to send you relevant marketing communications.
                You have the right to request a c
                opy of the personal information that PAM Insight holds about you. If you would like a copy of some
                or all of your personal information,
                please send an email to
                <a href="#" onclick="sendEmailTo('info','');return false;">info@paminsight.com</a>. PAM Insight may make a small administrative
                charge for this service.
            </p>

            <h3>Correcting, updating and removing your personal information</h3>

            <p>At any time, you may contact PAM Insight to correct and/or update personal information. You may edit
                your account information at any time
                through your logon preferences. Upon request, PAM Insight will also remove your personal information
                from its database, thereby cancelling
                your registration with PAM Insight. In the event that PAM Insight receives such a request, PAM
                Insight may require you to confirm, or verify
                any change to your personal account, for security purposes.</p>

            <h3>Collection of personal information from children</h3>

            <p>This Site is not primarily intended for individuals under the age of eighteen ("children").
                Accordingly, PAM Insight will not knowingly
                collect or post information from children without parental or guardian consent. </p>

            <p>Moreover, PAM Insight will not knowingly use any personal data collected from children for any
                purpose whatsoever, including disclosure
                to any third-party, except as required by law. In the event PAM Insight discovers the submission of
                personal data from children to this Site,
                PAM Insight will make a reasonable effort to notify the parent or guardian of the child's submission
                and provide instructions on how the
                parent can delete the submitted data.</p>

            <h3>What else should I know about my privacy?</h3>

            <p>While PAM Insight has made every endeavour to create a secure and reliable Site for your use, PAM
                Insight.com cannot ensure or
                warrant the security or confidentiality of any information you transmit to/from this Site. When
                disclosing any personal information,
                all Users should remain mindful of the fact that it is potentially accessible to the public, and
                consequently, can be collected and used
                by others without User consent.</p>

            <p>All Users must remember that they use the Internet and this Site solely at their own risk and are
                ultimately responsible for maintaining
                the security of their own personal information. PAM Insight has no responsibility or liability for
                the security of personal information
                transmitted via the Internet. </p>

            <p>Moreover, to the extent hyperlinks are utilised to access third-party sites, Users should be aware
                that these third-party web sites are
                not controlled by PAM Insight and therefore, are not subject to this Privacy Policy. Users should
                check the privacy policies of these
                individual sites to see how their personal information will be utilised, as PAM Insight is not
                responsible for the separate policies or practices
                of third-party Internet web sites. </p>

            <p>PAM Insight urges all of its Users to be careful and responsible whenever they are on-line.</p>

            <p><strong>PAM Insight reserves the right to change this Privacy Policy at any time. Your continued use
                    of this Site following notice of
                    any such modifications will be conclusively deemed acceptance of any changes to this Privacy
                    Policy. </strong></p>

            <h3>Contact Us</h3>

            <p>For more private communication or if you have further questions or comments regarding this Privacy
                Policy or the use of your personal data, please
                email us at <a href="#" onclick="sendEmailTo('info','');return false;">info@paminsight.com</a>, or write to us at PAM
                Insight at 107 Cheapside, London EC2V 6DN, United Kingdom. </p>

        </div>
    </div>
</div>