[editable]
==
<div class="col-md-4">
    <ul class="awards">
        <p>Awards</p>
        <li><a href="awards-main">PAM Awards</a></li>
        <li><a href="awards-categories">Categories</a></li>
	<li><a href="awards-methodology">Methodology</a></li>
        <li><a href="judges">The Judges</a></li>
    </ul>
    <ul class="information">
        <p>Information</p>
        <li><a href="privacy">Privacy Policy</a></li>
        <li><a href="terms">Terms & Conditions</a></li>
        <li><a href="disclaimer">Disclaimer</a></li>
        <li><a href="contact-us">Feedback</a></li>
    </ul>
</div>