[editable]
[siteSearchInclude]
==
<div class="col-md-4">
    <ul class="users">
        <p>Users</p>
        <li><a class="loginclick" data-toggle="modal" data-target="#login-modal">Login</a></li>
        <li><a data-toggle="modal" data-target="#register-modal">Register</a></li>
    </ul>
</div>