[editable]
==
<div class="col-md-4">
    <ul class="main">
        <p>Main</p>
        <li><a href="">Home</a></li>
        <li><a href="about-us">About Us</a></li>
        <li><a href="im-a-professional">I am a Professional Adviser</a></li>
        <li><a href="im-a-pam">I am a Private Asset Manager</a></li>
        <li><a href="im-a-investor">I am a Private Investor</a></li>
        <li><a href="findPam">Select a Private Asset Manager</a></li>
        <li><a href="PAM-results2?israte=Y">Rate</a></li>
        <li><a href="PAM-results2?isfollow=Y">Follow</a></li>
    </ul>
    <ul class="knowledge">
        <p>Knowledge</p>
        <li><a href="knowledge-hub">Knowledge Hub</a></li>
        <li><a href="guide-wealthmanagement/">PAM Guide to Wealth Management</a></li>
        <li><a href="cost-of-investing">The Cost of Investing</a></li>
        <li><a href="PAM-directory">PAM Directory</a></li>
        <li><a href="ARC-Private-Client-Indices">ARC Indices</a></li>
        <li><a href="faq">FAQs</a></li>
        <li><a href="useful-links">Useful Links</a></li>
    </ul>
</div>