[editable]
==
<div class="col-xs-12 col-md-12">
    <h3>Parties:</h3>
    <p>(1) PAM Insight Limited whose registered office is at Devonshire House, 1 Devonshire Street, London W1W 5DS ("PAM Insight"); and <br/>
        (2) You the authorised private, commercial or professional user of PAMonline (the "User").</p>

    <h3>1. Definitions</h3>
    <p>In these terms, unless the context requires otherwise, the following words and expressions have the following meanings:</p>
    <p>"Data": means all or any part of the information on financial products, services and providers and any other content made available on
        PAMonline, including its design and 'look and feel'; and "PAMonline": means the on-line database currently known as PAMonline and
        any part of it including all or any part of any documentation supplied by PAM Insight in connection with it.</p>

    <h3>2. Provision Of PAMonline</h3>
    <p>2.1 PAM Insight agrees to provide PAMonline in accordance with the terms of these Terms and Conditions. PAMonline is accessed
        via the Internet. These Terms and Conditions do not include the provision of, or payment for, the necessary Internet access connection.
        The User shall provide and maintain at its own expense all hardware and other equipment necessary to use PAMonline</p>.

    <p>2.2 In order to access and use PAMonline, the User will provide to PAM Insight a unique user name and password. These are non-transferable
        and are provided to the User for the User's sole use. The User is responsible for maintaining the confidentiality of each user name and
        password issued to the User and for ensuring that no unauthorised access is obtained to PAMonline.</p>

    <p>2.3 We may modify these Terms and Conditions at any time, such modifications becoming effective immediately upon either posting of the
        amended Terms and Conditions on PAMonline or notification to the User. By continuing to use PAMonline following any such modification
        the User shall be deemed to accept such modification.</p>

    <h3>3. Permitted Uses Of Data</h3>
    <p>3.1 PAM Insight grants to the User a world-wide non-exclusive and non-transferable licence to access PAMonline and to use the Data subject
        to the terms of these Terms and Conditions. The User may not grant a sub-licence of this right.</p>

    <h3>3.2 Subject to Clause 3.3, the User undertakes to PAM Insight that the User shall:</h3>
    <p>(a) only use PAMonline in the course of its normal research and other activities;<br />
        (b) not reproduce PAMonline other than when downloading and viewing on PCs or hard copies printed out [at the Licensed Site(s)] for the User's
        internal use only and not for any commercial exploitation;<br />
        (c) systematically extract and/or re-use any part of PAMonline;<br />
        (d) not use any part of PAMonline to create and/or publish a database in any form;<br />
        (e) not modify copies of any materials printed or downloaded from PAMonline, nor use any images, video, or audio sequences separately from any
        accompanying text as included on PAMonline.<br />
        (f) not permit PAMonline to be made available on a network or otherwise transmitted, broadcast or displayed without the prior written permission of PAM Insight;<br />
        (g) where the User is business, restrict access to PAMonline to the User's employees or agents and ensure that any employees or agents who
        have access to PAMonline are aware of the User's obligations regarding use and disclosure of PAMonline and the Data and at PAM Insight's
        request at any time procure that any such employees or agents execute an undertaking in favour of PAM Insight regarding use of PAMonline in such
        form as PAM Insight may reasonably require; and<br />
        (h) use its best endeavours at all times to protect the user names, passwords, the Data and PAMonline from and against theft or unauthorised disclosure.</p>

    <h3>3.3 Notwithstanding Clause 3.2</h3>
    <p>PAM Insight acknowledges that the User may use its own confidential information and data ("the User's Information") in connection with PAMonline
        and incorporate Data from PAMonline into information issued by the User in connection with the sales or marketing of the User's products or
        services provided that:</p>
    <p>(a) any Data incorporated into the User's Information must be fairly and accurately presented in the context in which it was used;<br />
        (b) any Data must be taken from the most recent version of such Data supplied by PAM Insight via PAMonline; and<br />
        (c) any Data must be reproduced in hard copy format and not communicated via electronic means other than on the User's internal LAN or
        intranet (unless otherwise agreed in writing in advance by PAM Insight).</p>

    <h3>4. Copyright And Ownership</h3>
    <p>4.1 The User acknowledges that PAMonline and the Data are protected by copyright, database rights, trademark and other intellectual
        property rights including goodwill ("IPR") and that, as between the User and PAM Insight, these rights belong to PAM Insight or its licensors.
        Other than the licence granted under these Terms and Conditions, the User shall not acquire any right, title or interest of whatsoever nature
        in PAMonline or the Data as a result of these Terms and Conditions.</p>

    <p>4.2 PAM Insight acknowledges that ownership of all IPR in an individual User's Data is reserved to the User or its licensors. PAM Insight shall
        not acquire any right, title or interest of whatsoever nature in the User's Information as a result of these Terms and Conditions.</p>

    <p>4.3 The User shall ensure that any copies of the Data made by the User as permitted by the Agreement including under Clause
        3 shall bear the date the Data was copied from PAMonline and a credit as follows: "Source: PAMonline". The User also agrees
        not to delete the copyright notice "&copy; PAM Insight Ltd" from any such copies.</p>

    <p>4.4 In the event that any of PAMonline is copied, used or disclosed otherwise than as permitted by these Terms and Conditions then
        (without prejudice to any rights or remedies PAM Insight may have) the User shall promptly notify PAM Insight and take such steps
        as PAM Insight may request (including the institution of legal proceeding to remedy the default (if capable of remedy) and/or to prevent
        any other unauthorised copying, disclosure or use.</p>

    <h3>4. Assignment</h3>
    <p>PAM Insight may assign these Terms and Conditions or any benefits or interest arising under these Terms and Conditions, but the
        User may not do so without PAM Insight's prior written consent.</p>

    <h3>5. Confidentiality</h3>
    <p>Each party agrees to keep confidential at all times all information concerning the business or affairs of the other. This obligation shall
        not apply in the case of any disclosure required by law, trivial information or information which is already publicly available or in the
        possession of a party at the time of disclosure by another (other than as a result of a breach of any confidentiality obligation).</p>

    <h3>6. User Indemnities</h3>
    <p>6.1 The User shall indemnify PAM Insight (or its licensors) for and against all costs, claims, demands, proceedings or expenses incurred or
        suffered by PAM Insight (or its licensors) in respect of any material despatched or representation made verbally or in writing by the User
        (or on its behalf) including (without limitation) the User's Information and a claim that any such material or representation is defamatory or
        infringes the IPR or other rights of any person or is inaccurate or untrue.</p>

    <p>6.2 The User shall indemnify PAM Insight (or its licensors) for and against all costs, claims, demands, proceedings or expenses incurred
        or suffered by PAM Insight (or its licensors) as a result of any failure by the User to comply with the terms of Clause 3 (Permitted Uses of Data)
        or as a result of any unauthorised use or disclosure of the user names, passwords, or PAMonline by the User or its employees or agents.</p>

    <h3>7. Liability Of PAM Insight</h3>
    <p>7.1 The User acknowledges that:<br />
        (a) PAM Insight shall use all reasonable skill and care in producing PAMonline and making it available for access but the User acknowledges
        that both its contents and access to it may not be interrupted or error free and could be subject to inaccuracies and delays, in particular,
        but not only, as a result of PAMonline being provided by the public Internet; and <br />
        (b) a small percentage of dummy information shall be included in the Data to enable PAM Insight to monitor compliance.</p>

    <p>7.2 While PAM Insight shall use all reasonable endeavours to ensure that PAMonline is made available by any date indicated or specified
        all times given are estimates only.</p>

    <p>7.3 Except as expressly provided in Clause 7.5, all conditions, warranties, terms, representations and undertakings express or implied,
        statutory or otherwise in respect of PAMonline are expressly excluded.</p>

    <p>7.4 Except as expressly provided in Clause 7.5, PAM Insight shall have no liability to the User for any form of direct loss or for loss of profits,
        revenue or goodwill or any type of special, indirect or consequential loss (including loss or damages suffered by the User as a result of an
        action brought by a third party) whether such loss is caused by PAM Insight's breach of its contractual obligations or any tortious act or omission,
        including negligence.</p>

    <p>7.5 Nothing in this Licence shall limit or exclude PAM Insight's liability to the User for death or personal injury resulting from PAM Insight's
        own negligence or that of its employees agents or sub-contractors or any other liability not capable of exclusion or limitation by reason of statute.</p>

    <h3>8. Suspension of Service</h3>
    <p>8.1 PAM Insight reserves the right to suspend access to PAMonline at any time without notice;</p>
    <p>8.2 PAM Insight may suspend access to PAMonline without warning if PAMonline needs maintenance or breaks down.</p>
    <p>8.3 PAM Insight may suspend access to PAMonline if legitimately required to do so by a court or another relevant authority.</p>

    <h3>9. Expiry And Termination</h3>
    <p>9.1 PAM Insight may terminate these Terms and Conditions and access to PAMonline immediately without notice if the User:</p>
    <p>(a) commits any material or persistent breach of its obligations under these Terms;<br />
        (b) holds any meeting with or proposes to enter into or has proposed to it any arrangement or composition with its creditors excluding any
        voluntary arrangement (as described in the Insolvency Act 1986);<br />
        (c) has a receiver, administrator or other encumbrancer take possession of or appointed over or has any distress, execution or other
        process levied or enforced (and not discharged within 7 days) upon the whole or substantially all of its assets; or<br />
        (d) ceases, threatens to cease to carry on its business or becomes unable to pay debts within the meaning of Section 123 of the Insolvency Act 1986.</p>

    <p>9.2 PAM Insight may terminate these Terms and Conditions at any time upon written notice if it intends to withdraw or materially amend the format and
        content of PAMonline.</p>

    <p>9.3 On termination of the Agreement, the User shall cease use of PAMonline and promptly return to PAM Insight (or, if PAM Insight so requests, destroy)
        any and all copies of PAMonline, the Data or any part in its possession or control and shall certify in writing that no such copies have been retained or
        that all such copies have been destroyed.</p>

    <h3>10. Data Protection Act 1984 ("The Act")</h3>
    <p>Each party undertakes to comply with all relevant provisions of the Act (any statutory re-enactment or modification of the same or regulations made thereunder)
        and to effect and maintain all necessary registrations under the Act.</p>

    <h3>11. Governing Law</h3>
    <p>These Terms and Conditions are governed by and construed in accordance with English law and the parties agree to submit to the non-exclusive
        jurisdiction of the English courts in respect of any dispute arising in relation to these Terms and Conditions.</p>

</div>