<div data-control="toolbar">
        <a href="<?= Backend::url('twnepc/pamcontent/gallery/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:$('#f1').submit()" data-request-confirm="Are you sure you wish to delete selected galleries?"                      data-request="onDelete"
                    data-request-data="delete:checked" class="btn btn-primary oc-icon-minus"><?= e(trans('backend::lang.form.delete')) ?></a>
    </div>
