<form data-request="onVerifyPass" class="text-center">
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Code</label>
        <input class="form-control form-control-solid placeholder-no-fix" placeholder="Enter the code" name="otp" required />
        <p class="help-block hint">Enter the code from the two-factor app on your mobile device. If you've lost your device, you may enter one of your recovery codes. Please contact the office if you need two-factor authentication reset or disabled.</p>
    </div>
    <div class="form-actions">
        <button class="btn red btn-block uppercase">Login</button>
    </div>
</form>