description = "No top Banners"

[webpackAssets]
assetsFolder = "themes/fundeye/assets"

[session]
security = "all"
redirect = "home"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "results.htm"

[uservisits]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>fundeye - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="PAM Insight">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
        <meta name="generator" content="PAM Insight">
        <script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        {{ webpackAssets.css | raw }}
        {% styles %}
    </head>
    <body class="page-{{ this.page.baseFileName }}">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'header' %}
        </header>
        <!-- Content -->
        <section id="layout-content" class="main-content">

            <div class="container error-container">
                <div class="row">   
                    <div class="col-md-12">
                            {% flash %}
                            <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            </div>
                        {% endflash %}
                    </div>
                </div>
            </div>
            
            {% page %}

        </section>

        <!-- Footer -->
        <footer class="footer">
            {% partial 'footer' %}
        </footer>

        <!-- Scripts -->
        {{ webpackAssets.js | raw }}
        {% framework extras %}
        {% scripts %}
    </body>
</html>