$baseFont: 'Montserrat', sans-serif;
$specialFont: 'Roboto', sans-serif;
$text: #000000;
$fontSize: 15px;

$primary: #2c2b79; // Blue
$secondary: #5756b1; //Light blue
$selected: #98ff98;  // Green
$grayBg: #EEE;
$gray: #555;
$placeholderBg: #467DB0;
$blue: #297fca;
$error: #cc0000;

$articleTitle: #000000;
$articleTitleHover: #5756b1;
$sectionTitle: #297fca;

$moreLink: #297fca;
$trending: #54c9e8;

$footer: #3fa2f7;
$menuSelected: #98ff98;
$secMenu: #2c2b79;
$pupularBox: #98ff98;
