<div id="Lists" class="control-list">
    <?php if(isset($data['filter'])):?>
    <h3 style="padding: 15px;">Date from <?=$minDate?> to <?=$maxDate?> for <?=$data['filter']?></h3>
    <?php endif;?>
    <table class="table data">
        <thead>
        <tr>
            <th><span></span></th>
            <th><span>less than &pound;100,000</span></th>
            <th><span>&pound;100,001 - &pound;500,00</span></th>
            <th><span>&pound;500,001 - &pound;1,000,0000</span></th>
            <th><span>&pound;1,000,001 - &pound;2,500,000</span></th>
            <th><span>&pound;2,500,001 - &pound;5,000,000</span></th>
            <th><span>&pound;5,000,001 - &pound;10,000,000</span></th>
            <th><span>&pound;10,000,001 - &pound;25,000,000</span></th>
            <th><span>more than &pound;25,000,001</span></th>
            <th><span>Total</span></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($data['portfolio'] as $option => $val):?>
        <tr>
            <td><?=$option?></td>
            <?php foreach($val as $count):?>
            <td><?=$count?></td>
            <?php endforeach;?>
        </tr>
        <?php endforeach;?>
        </tbody>
    </table>
</div>