<p class="lead">Please check your email for the activation code.</p>
<form
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-validate
    data-request-flash
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'"
    class="default-form">
    <div class="form-group">
        <label for="resetCode">Activation Code</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="Enter the activation code" value="{{ __SELF__.code }}">
        <div data-validate-for="code" class="alert alert-danger"></div>
    </div>

    <div class="form-group">
        <label for="resetPassword">New Password</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="Enter a new password">
        <div data-validate-for="password" style="visibility: hidden;" class="alert alert-danger">Password must contain at least uppercase letter, digit and a minimum of 8 characters.</div>
    </div>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Reset password</button>
    </div>
</form>