{% set records = __SELF__.articles %}
{% if records.count %}

<div class="headlines-wrapper">
    <h3>{{trans('twnepc.news::lang.related_article')}}</h3>
    {% for record in records %}
        <div class="headline">
            <div class="time">{{ record.published_date | date('d/m/Y')}}</div>
            <p><a href="{{url('/')}}/article/{{record.slug}}" title="">{{record.title}}</a></p>
        </div>
    {% endfor %}
</div>
{% endif %}