<style type="text/css">
    .select2-container {
        width: 100% !important;
        display: block;
    }

    .select-article .select2-container--default .select2-selection--multiple .select2-selection__choice {
        float: none !important;
    }
</style>
<div class="select-article">
<select class="s2" name="<?php echo $name;?>" multiple class="form-control">
    <?php foreach($selected as $k=>$v):; ?>
        <option selected value="<?php echo $k ?>"><?php echo $v; ?></option>
    <?php endforeach;?>
</select>
</div>

<ul>
</ul>


<script type="text/javascript">

    $(document).on('render', function(){
        $('.s2').select2({

            placeholder: 'Select Article for Breaking News',
            tags: false,
            minimumInputLength: 3,
            maximumSelectionLength: 1,
            allowClear: false,
            ajax: {
                url: '<?= Backend::url("twnepc/news/articles/onFilter"); ?>',
                dataType: 'json',
                method: 'post',
                delay: 250,
                data: function (params) {
                    var query = {
                        search: params.term,
                        reason: 'breaking',
                        site_id: $('#Form-field-Message-site_id-group').val()
                    }

                    // Query parameters will be ?search=[term]&type=public
                    return query;
                }
            }

        });
    })

</script>