<tr>
    <th style="width: 20%" class="list-cell-name-username list-cell-type-text">
            <span>Name</span>
    </th>
    <th style="width: auto" class="list-cell-name-email list-cell-type-text">
        <span>Email</span>
    </th>
    <th style="width: auto" class="list-cell-name-email list-cell-type-text">
        <span>Branch</span>
    </th>
</tr>
