<tr class="">
        <td class="">
            <a href="<?= Backend::url('rainlab/user/users/update/'.$record->id); ?>" target="_blank"><?= $record->name;?> <?= $record->surname;?></a>
        </td>
        <td class="">
            <?= $record->email;?>
        </td>
        <td class="">
            <?= $record->thebranch['name']; ?>
        </td>
</tr>
