<div class="toolbar-widget list-header" id="Toolbar-listToolbar">
    <div class="control-toolbar">

        <!-- Control Panel -->
        <div class="toolbar-item toolbar-primary">
            <div data-control="toolbar" data-disposable="">
                <a
                        data-toggle="modal" href="#contentBasic"
                        class="btn btn-primary oc-icon-plus">
                    Add
                </a>
                <button class="btn btn-default oc-icon-trash-o control-disabled"
                        disabled=""
                        onclick="$(this).data('request-data', {checked: $('.control-list').listWidget('getChecked')})"
                        data-request="onDeleteUsers"
                        data-request-confirm="Delete the selected records?"
                        data-trigger-action="enable"
                        data-trigger=".control-list input[type=checkbox]"
                        data-trigger-condition="checked"
                        data-request-success="$(this).prop('disabled', true)"
                        data-stripe-load-indicator="">Delete selected
                </button>
            </div>
        </div>
        
    </div>
</div>
<div class="control-list list-scrollable" data-control="listwidget">
    <table class="table data" data-control="rowlink">
        <thead>
        <?= $this->makePartial('list_head_row') ?>
        </thead>
        <tbody>
        <div id="datarows">
            <?php if (count($records)): ?>
            <?= $this->makePartial('list_body_rows') ?>
            <?php else: ?>
            <tr class="no-data">
                <td colspan="<?= $columnTotal ?>" class="nolink">
                    <p class="no-data"><?= $noRecordsMessage ?></p>
                </td>
            </tr>
            <?php endif ?>
        </div>
        </tbody>
    </table>

</div>

<div class="control-popup modal fade" id="contentBasic">
    <div class="modal-dialog">
        <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Add user to company</h4>
                </div>
                <div class="modal-body" style="clear:both">
                    <div class="form-group">
                        <label>User</label>
                        <select class="form-control" id="userid" name="user">
                            <option value="">--Select a user to attach--</option>
                            <?php foreach($users as $user):; ?>
                            <option value="<?= $user->id ?>"><?= $user->name.' '.$user->surname.' - '.$user->email;?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Branch</label>
                        <select class="form-control" id="branch" name="branch">
                            <option value="">--Select a branch for user--</option>
                            <option value="no">No branch</option>
                            <?php foreach($branches as $branch):; ?>
                            <option value="<?= $branch->id ?>"><?= $branch->name ?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" onclick="window.saveUserCompanyRelation()">
                        OK        </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancel        </button>
                </div>
            
        </div>
    </div>
</div>

<script>
    window.saveUserCompanyRelation = function(){
        $.request('onSaveUser', {data: {
                userid: $('#userid').val(),
                company: '<?php echo $this->model->id ?>',
                branch: $('#branch').val()
            },
            success: function(){
                $('.close').trigger('click');
            },
            update: {list_body_rows:'#datarows'}
        });
    };
</script>