<div data-control="toolbar">
    <a href="<?= Backend::url('twnepc/pamcontent/faq/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
    <a onclick="$('#f1').submit()" class="btn btn-primary oc-icon-minus"><?= e(trans('backend::lang.form.delete')) ?></a>
    <a href="<?= Backend::url('twnepc/pamcontent/faqsection') ?>" class="btn btn-default oc-icon-group">Sections</a>
</div>
