{% if __SELF__.categories %}
<div id="navgoco" class="wpb_category_n_menu_accordion">
    <ul class="wpb_accordion_menu">
        {% for category in categories %}
        <li {% if category.slug == currentCategorySlug %}class="current-menu-item wpb-submenu-indicator-minus"{% endif %}>
            <a href="{{this.page.id|page(false)}}/{{category.slug}}">{{ category.name }}</a>
            {% if postCount %}
            <span class="badge">{{ postCount }}</span>
            {% endif %}
            {% if category.hidePosts == false %}
            <ul class="sub-menu" {% if category.slug == currentCategorySlug %}style="display:block"{% endif %}>
            {% for post in category.posts %}
                {% if post.hide == false %}
                <li><a href="{{this.page.id|page(false)}}/{{category.slug}}/{{post.slug}}">{{post.title}}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    jQuery(function($){
        navgocoAccordion = $('#navgoco > ul').navgoco({
            caretHtml: '+',
            accordion: true,
            openClass: 'wpb-submenu-indicator-minus',
            save: true,
            cookie: {
                name: 'navgoco',
                expires: false,
                path: '/'
            },
            slide: {
                duration: 400,
                easing: 'swing'
            }
        });
    });
</script>
{% endif %}
