<?php foreach ($records as $record): ?>
<div style="float:left;border:1px dotted gray;margin-left:15px;margin-bottom:15px;">
    <input type="checkbox" name="ids[]" value="<?= $record->id ?>"> <img style="max-width:200px;max-height:200px;" src="/storage/app/media/<?= $record->picture_url?>" width="250">
</div>        
<?php endforeach ?>