<?= $this->makePartial('toolbar') ?>
<BR><BR>
<div id="reorderRecords">
<?= $this->makePartial('item_records')?>
</div>
<!--
<div style="float:left;border:1px dotted gray;margin-left:15px;margin-bottom:15px;">
    <input type="checkbox" value="1"> <img style="max-width:200px;max-height:200px;" src="https://assets.onestore.ms/cdnfiles/onestorerolling-1603-16000/shell/v3/images/logo/microsoft.png" width="250">
</div>
<div style="float:left;border:1px dotted gray;margin-left:15px;margin-bottom:15px;">
    <input type="checkbox" value="1"> <img style="max-width:200px;max-height:200px;" src="https://assets.onestore.ms/cdnfiles/onestorerolling-1603-16000/shell/v3/images/logo/microsoft.png" width="250">
</div>
!-->