<div >
	<a href="#" data-control="popup"  data-request-data="gallery_id: '<?= $gallery_id ?>'" data-handler="<?= $this->getEventHandler('onLoadCreatePicture') ?>" class="btn btn-primary btn-sm oc-icon-plus">Add Picture</a>
        &nbsp;&nbsp;&nbsp;<a href="#" data-request-confirm="Are you sure you wish to delete selected pictures?"  data-request-data="gallery_id: '<?= $gallery_id ?>'" data-request="<?= $this->getEventHandler('onRemovePictures') ?>"  class="btn btn-primary btn-sm oc-icon-minus">Remove selected</a>    
</div>