<div class="trending-sidebar">
    <div class="trending">
        <div class="title">
            <i class="fas fa-caret-left"></i>
            <span>Trending</span>
        </div>
        <div class="content">
            {% content 'trending.htm' %}
        </div>
    </div>
</div>