<div class="form-group text-field span-left">
    <a class="btn btn-primary" target="_blank" href="<?=url('backend/twnepc/awards/applications/update/'.$formModel->awardapplication_id)?>">View Award Entry</a>
</div>