<style>
    /*.loading-indicator{*/
        /*display:none;*/
    /*}*/
</style>
<?php if($isPams):?>
    <div id="pamsBackendAccess">
        <div class="loading-indicator-container">
            <?php if($hasBackendAccess):?>
            <a  data-load-indicator="Wait..."
                data-request="<?= $this->getEventHandler('onDisableBackendUser') ?>"
                class="btn btn-danger" href="#">Deactivate</a> <p>Backend area for this user is activated.</p>
            <?php else: ?>
            <a  data-load-indicator="Wait..."
                data-request="<?= $this->getEventHandler('onActivateBackendUser') ?>"
                class="btn btn-success" href="#">Activate</a> <p>Backend area for this user is not activated.</p>
            <?php endif;?>
        </div>
    </div>
<?php endif;?>