// Home news box with tab
.stories-wrapper {
	margin-top: 0;
	border: 1px solid #DDDDDD;
	background-color: #FFFFFF;
	background: #FFFFFF;
	@include box-shadow(0px 2px 40px 0px rgba(0,0,0,0.15));
	padding: 0;
	ul.nav-tabs {
		li.nav-item {
			a {
				color: #666666;
				font-family: $specialFont;
				background-color: #F1F1F1;
				text-transform: uppercase;
				font-size: 0.9rem;
				font-weight: 400;
				@include transition(color 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				&:after {
					@include transition(none);
					opacity: 1;
					background-color: #DDDDDD;
					height: 1px;
				}
				&.active {
					color: #000000;
					background-color: white;
					&:after {
						background-color: #FFFFFF;
					}
					&:hover {
						&:after {
							background-color: #FFFFFF;
						}
					}
				}
				&:hover {
					color: #000000;
					&:after {
						background-color: #DDDDDD;
					}
				}
			}
			&:first-child {
				border-right: 1px solid #DDDDDD;
			}
		}
	}
	ul.storylist {
		margin-bottom: 0;
		li.item {
			padding-left: 20px;
			padding-right: 20px;
			border-bottom: 1px solid #DDDDDD;
			margin-top: 12px;
			padding-bottom: 12px;
			&:before {
				display: none;
			}
			a {
				color: $secondary;
				font-weight: 400;
				font-family: $specialFont;
				line-height: 130%;
			}
		}
	}

	.more-stories {
		background: none;
		margin-left: 0;
		margin-right: 0;
		margin-top: -8px;
		border-top: 1px solid #DDDDDD;
		i {
			color: $pupularBox;
		}
		span {
			font-family: $specialFont;
			color: $secondary;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 0.9rem;
		}
	}
}

// Home subscribe box
.subscriber-box {
	padding: 0;
	background-color: transparent;
	@include box-shadow(none);
	h2 {
		color: #000;
		text-transform: none;
		font-family: $specialFont;
		text-align: center;
		font-weight: 600;
	}
	.content {
		border-top: 5px solid $secondary;
		background-color: #E8E8E8;
		padding: 15px;
	}
	p {
		font-family: $specialFont;
		font-size: 0.8667rem;
		line-height: 140%;
		margin-bottom: 5px;
	}
	a {
		color: $secondary;
		font-family: $specialFont;
		font-size: 0.8667rem;
		text-trannsform: uppercase;
	}
}

// Main navigation
.header-top,
header .region-selector .select-region select.regionselect ~ ul.select-options {
	background: darken($primary, 3%);
}

header {
	nav.navbar {
		background: $primary;
		background: -moz-linear-gradient(top, $primary 0%, $secondary 100%);
		background: -webkit-linear-gradient(top, $primary 0%, $secondary 100%);
		background: linear-gradient(to bottom, $primary 0%, $secondary 100%);
		.navbar-nav {
			padding-left: 0;
			margin: 0;
			> li {
				padding-top: 15px;
				padding-bottom: 5px;
				height: 50px;
				@media (max-width: 991px) {
					padding-top: 4px;
					padding-bottom: 4px;
					height: auto;
				}
				& + li {
					@media (max-width: 1199px) {
						margin-left: 4px;
					}
					@media (max-width: 991px) {
						margin-left: 0;
					}
				}
				> a {
					height: 39px;
					@media (max-width: 1199px) {
						font-size: 0.9333rem;
						letter-spacing: -0.5px;
					}
					@media (max-width: 991px) {
						font-size: 1.067rem;
						letter-spacing: 0;
						height: auto;
					}
				}
			}
			.dropdown-menu {
				a {
					@media (max-width: 1199px) {
						margin: 0 10px;
					}
					@media (max-width: 991px) {
						margin: 0;
					}
				}
			}
		}
		.navbar-brand {
			padding: 10px 0;
			@media (max-width: 991px) {
				padding: 0;
			}
			img {
				@media (min-width: 1200px) {
					max-width: 280px;
				}
			}
		}

		& + .navbar {
			background: darken($secondary, 5%);
		}
	}

	.search-wrapper {
		padding-top: 15px;
		padding-right: 30px;
	}

	.search-popup {
		top: 130px;
		@media (max-width: 1199px) {
			top: 129px;
		}
		@media (max-width: 991px) {
			top: 100%;
			> .container {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.user-nav {
		@media (max-width: 991px) {
			display: block;
			padding-top: 10px;
		}
		a {
			@media (max-width: 991px) {
				display: block;
				float: left;
			}
			span {
				display: block;
			}
			i {
				font-size: 0.7rem;
				@media (max-width: 991px) {
					font-size: 1.2rem;
				}
			}
		}
		@media (max-width: 991px) {
			.search-wrapper {
				float: right;
				padding-top: 5px;
				padding-right: 0;
				display: block;
			}
		}
	}
}

.news-list-row {
	margin-top: 30px;
}


// News box
.news-box {
	&.color-orange {
		border-color: #5756B7;
	}

	 .img {
	 	span {
	 		background-color: rgba(194, 26, 36, 0.65);
	 	}
	}
}


// Home update
@media (max-width: 991px) {
	.main-content {
		.col-main {
			.news-box-row {
				.col-12.col-secondary {
					margin-top: 20px;
				}
			}
		}
	}

	.news-box {
		h3 {
			margin-top: 10px;
			padding-bottom: 5px;
		}
	}

	.news-list-row {
		.col-md-6 {
			flex: 0 0 58.33333%;
    		max-width: 58.33333%;
    		padding-right: 1%;
    		padding-left: 15px;
    		& + .col-md-6 {
				flex: 0 0 41.66667%;
				max-width: 41.66667%;
				padding-right: 15px;
				padding-left: 1%;
    		}
		}
	}
}






