{% set interests = __SELF__.interests %}
{% set catids = __SELF__.catids %}
{% set site = __SELF__.site %}
{% set sitesallsubject = __SELF__.sitesallsubject %}
{% set newsletter_title = __SELF__.newsletter_title %}

<div class="newsletter-wrapper">
    <div class="newsletter-label">I wish to receive email updates from {{ newsletter_title }}</div>
    <div class="row">
        {%component 'newslettersignup' %}
    </div>
</div>
<div class="row interests-wrapper">
    <div class="col">
        <div class="interest-title-wrapper">
            <div style="clear: both;"></div>
        </div>
        {{ form_ajax('onUpdateMyInterests', { model: user, class: 'default-form', 'data-request-validate': true, 'data-request-flash': true }) }}

            {%for as in sitesallsubject %}
                {% if as.id == site.id %}
                    <div class="interest custom-control custom-checkbox all-subjects site-{{site.id}}" data-site="{{site.id}}">
                        <input type="checkbox" checked class="custom-control-input" value="{{as.categoryid}}" name="category[]" id="interests{{as.categoryid}}">
                        <label class="custom-control-label" for="interests{{as.categoryid}}">{{as.name}}</label>
                    </div>
                {% endif %}
            {% endfor %}

            {{ interests | raw }}

            <div class="action">
                <div class="actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        {{form_close()}}
    </div>
</div>
<style>
    .validator {
        display: none;
    }
</style>