<div class="tab-content">
    {% for section in faq.sections() %}
    <div role="tabpanel" class="tab-pane {% if loop.index == 1 %} active {% endif %}" id="tab_{{section.id}}">

        <div class="panel-group accordion" id="panel_{{section.id}}" role="tablist" aria-multiselectable="true">
            {% for post in faq.getPostsBySection(section.id) %}
            <div class="panel panel-default{% if loop.index == 1 %} active {% endif %}">
                <div class="panel-heading" role="tab" id="heading_{{post.id}}">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#panel_{{section.id}}"
                           href="#collapse_{{post.id}}" aria-expanded="{% if loop.index == 1 %} true {% endif %}" aria-controls="collapse_{{post.id}}">
                            <span>Q.</span>{{post.title}}
                        </a>
                    </h4>
                    <div class="collapse-status">
                        <a href="#collapse_{{post.id}}" role="button" data-toggle="collapse"
                           data-parent="#panel_{{section.id}}">
                            {% if loop.index == 1 %}
                            <span class="glyphicon glyphicon-remove pull-right"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-plus pull-right"></span>
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div id="collapse_{{post.id}}" class="panel-collapse collapse{% if loop.index == 1 %} in {% endif %}" role="tabpanel"
                     aria-labelledby="heading_{{post.id}}">
                    <div class="panel-body">
                        <h5>A.</h5>
                        <p>{{post.text|raw}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    {% endfor %}
</div>