<div class="section section-tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wrapper">
                    <ul class="nav nav-tabs" role="tablist">
                        {% for section in faq.sections() %}
                        <li role="presentation" class="{% if loop.index == 1 %}active{% endif %}">
                            <a href="#tab_{{section.id}}" aria-controls="tab_{{section.id}}" role="tab" data-toggle="tab">{{section.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>