title = "EPC News alert template"
url = "/campaign/news/:code"
is_hidden = 0

[campaignTemplate]
==
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% partial 'emails/head' %}
</head>

<body style="padding:0px;margin:0px;background-color: #f7f7f7">
    <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">Latest News from EPrivateClient</span>
    <!-- Bg -->
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td bgcolor="#f7f7f7">
                <!-- Container -->
                <table class="main-container" cellspacing="0" cellpadding="0" border="0" align="center" width="700">
                    <tr>
                        <td class="top-container" width="700" bgcolor="#ffffff" style="padding: 20px 0 0 0; font-size: 0;">&nbsp;</td>
                    </tr>

                    {banner}

                    </tr>
                        <td class="inner-container" width="700" bgcolor="#FFFFFF" style="padding: 0 20px 20px 20px;">
                            <!-- Header -->
                            {% partial 'emails/epc/header' %}

                            <br />

                            <!-- Content -->
                            <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                                <tr>
                                    <td class="content" width="700" bgcolor="#FFFFFF" style="padding: 0 20px;">
                                        <div style="font-size: 12px;color:#333333;font-family: Palatino, sans-serif;">

                                            <div>

                                                <!-- News list -->
                                                <h3 style="font-size: 20px; color: #000; padding: 30px 0 20px 0; margin: 0;">News Stories</h3>
                                                {latest_news}
                                                
                                                
                                            </div>

                                            <p style="font-size: 16px; line-height: 150%; font-family: Helvetica, Arial, sans-serif;">{textarea name="intro_content" label="Opening statement" size="small"}{/textarea}</p>

                                            {repeater name="content_sections" prompt="Add another content section"}
                                                <div style="padding-top: 15px">
                                                    <h3 style="font-size: 20px;font-weight: normal; color: #ce4240; padding:0;margin:0">
                                                        {text name="content_header" label="Content section" placeholder="Type in a heading and enter some content for it below"}{/text}
                                                    </h3>
                                                    <div style="line-height: 150%; font-size: 14px; font-family: Helvetica, Arial, sans-serif;">
                                                        {richeditor name="content_body" size="large"}{/richeditor}
                                                    </div>
                                                </div>
                                            {/repeater}

                                            <br />
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <!-- Footer -->
                            {% partial 'emails/epc/footer' %}
                        </td>
                    </tr>
                    <tr>
                        <td class="bottom-container" width="700" bgcolor="#ffffff" style="padding: 0 20px 20px 20px;">
                            <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                                <tr>
                                    <td align="center">
                                        <div style="font-family:Helvetica, Arial, sans-serif;font-size:12px;color:#7a7a7a;text-align:center">
                                            Not interested anymore?
                                            <a href="%unsubscribeurl%" style="color: #C21A24;">Unsubscribe here</a>.
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    %trackingpixel%
</body>
</html>