<?php $branch = $model->thebranch; ?>
<br/>
<?php if($branch): ?>
    <div class="form-group  span-left">
        <a href="<?= Backend::url('twnepc/company/branches/update/'.$branch->id) ?>">Edit Branch Address</a>
    </div>
    <div class="form-group  span-left">
        <label>Industry</label>
        <input class="form-control" name="company_industry" type="text" disabled="disabled" value="<?php echo $branch->company->industry ? $branch->company->industry->industry_name : '' ?>" />
    </div>
    <div class="form-group  span-right">
        <label>Address</label>
        <input class="form-control" name="branch_address1" type="text" disabled="disabled" value="<?php echo $branch->branch_address1 ?>" />
    </div>
    <div class="form-group  span-left">
        <label>Address2</label>
        <input class="form-control" name="branch_address2" type="text" disabled="disabled" value="<?php echo $branch->branch_address2 ?>" />
    </div>
    <div class="form-group  span-right">
        <label>Address3</label>
        <input class="form-control" name="branch_address3" type="text" disabled="disabled" value="<?php echo $branch->branch_address3 ?>" />
    </div>
    <div class="form-group  span-left">
        <label>City</label>
        <input class="form-control" name="branch_city" type="text" disabled="disabled" value="<?php echo $branch->branch_city ?>" />
    </div>
    <div class="form-group  span-right">
        <label>Country</label>
        <input class="form-control" name="country" type="text" disabled="disabled" value="<?php echo $branch->country_id ?>" />
    </div>
    <div class="form-group  span-left">
        <label>Region</label>
        <input class="form-control" name="branch_region" type="text" disabled="disabled" value="<?php echo $branch->branch_region ?>" />
    </div>
    <div class="form-group  span-right">
        <label>Zip</label>
        <input class="form-control" name="branch_zip" type="text" disabled="disabled" value="<?php echo $branch->branch_zip ?>" />
    </div>
    <div class="form-group  span-left">
        <label>Tel</label>
        <input class="form-control" name="branch_tel" type="text" disabled="disabled" value="<?php echo $branch->branch_tel ?>" />
    </div>
    <div class="form-group  span-right">
        <label>Fax</label>
        <input class="form-control" name="branch_fax" type="text" disabled="disabled" value="<?php echo $branch->branch_fax ?>" />
    </div>
<?php else: ?>
    <p>User has no company or branch attached</p>
<?php endif; ?>






