<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial scale=1.0"/>
<meta name="format-detection" content="telephone=no">
<title>Newsalert</title>

<style>

    /* Reset CSS for common problems */
    .ReadMsgBody { width: 100%; background-color: #FFFFFF; }
    .ExternalClass {width: 100%; background-color: #FFFFFF; }
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
    body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none;}
    body { margin:0; padding: 0;}
    table { border-spacing: 0; }
    table td { border-collapse:collapse; }
    .yshortcuts a { border-bottom: none !important; }
    p, h1, h2 { margin: 0px !important; }

    @media screen and (max-width: 599px) {
        
        img { width: 100%; height: auto; }
        img[class="logo"] { width: 220px !important; height: auto !important; }
        
        table[class="main-container"] { width: 100% !important; }
        td[class="top-container"] { width: 100% !important; padding: 10px 15px 10px 15px !important; }
        td[class="container"] { width: 100% !important; padding: 0 !important; }
        td[class="banner-container"] { width: 100% !important; padding: 0 !important; }
        td[class="banner-container"] div { padding: 0 0 10px 0 !important; }
        td[class="banner-container"] .mobile-banner { display: block !important; }
        td[class="banner-container"] .desktop-banner { display: none !important; }
        td[class="inner-container"] { width: 100% !important; padding: 0 !important; }
        td[class="content"] { padding: 0 15px !important; }

        tr[class="navigation"] span { font-size: 13px !important; }

        table[class="footer-wrapper"],
        table[class="footer-wrapper"] tr { width: 100% !important; }
        table[class="footer-wrapper"] tr,
        table[class="footer-wrapper"] tr td { display: block !important; float: none !important; height: auto !important; }
        td[class="footer-contact"] { width: auto !important; padding: 15px !important; }
        td[class="footer-address"] { width: auto !important; padding: 15px !important; }
        td[class="footer-social"] { width: auto !important; padding: 15px !important; }
        td[class="footer-social"] img { width: 30px !important; height: 30px !important; }
        td[class="bottom-container"] { width: 100% !important; padding: 10px 15px 10px 15px !important; }
    }
    
</style>