==
function onStart()
{
    
    $this['menuItems'] = [['text' => 'PAM Awards', 'link' => 'awards-main'],
                          ['text' => 'Categories', 'link' => 'awards-categories'],
                          ['text' => 'Methodology', 'link' => 'awards-methodology'],
                          ['text' => 'The Judges', 'link' => 'judges']
                          ];
                          
                          
    $this['menuItemsFull'] =   [
		['text' => 'PAM Awards', 'link' =>'awards-main'],
		['text' => 'Categories', 'link' => 'awards-categories'],
		['text' => 'Methodology', 'link' => 'awards-methodology'],
		['text' => 'The Judges', 'link' => 'judges'],
		['text' => 'Sponsors', 'link' => 'awards-sponsors'],
		['text' => 'The Winners', 'link' => 'awards-winners'],
		['text' => 'Gala Dinner', 'link' => 'awards-dinner'],
		['text' => 'How to enter', 'link' => 'awards-enter']];           
                
}
==


<div class="section section-awards-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper">
                    <ul class="hidden-sm hidden-xs">
                        {% if ((user) and (hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin'))) %}                        
                        {% for menuItem in menuItemsFull %}
                        <li><a href="{{menuItem.link}}"
                               {% if active_page == menuItem.link %}
                               class="active" 
                               {% endif %}
                               >{{menuItem.text}}</a>
                        </li>
                        {% endfor %}
                        {% else %}
                        {% for menuItem in menuItems %}
                        <li><a href="{{menuItem.link}}"
                               {% if active_page == menuItem.link %}
                               class="active" 
                               {% endif %}
                               >{{menuItem.text}}</a>
                        </li>
                        {% endfor %}
                        {% endif %}                        
                    </ul>
                    <form>
                        <div class="styled-select styled-select-lg hidden-md hidden-lg">
                            <select name="awardsdropdown" id="awardsdropdown">
                                {% if ((user) and (hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin'))) %}                                 
                                {% for menuItem in menuItemsFull %}
                                <option value="{{menuItem.link}}"
                                        {% if active_page == menuItem.link %}
                                        selected 
                                        {% endif %}
                                        >{{menuItem.text}}</option>
                                {% endfor %}
                                {% else %}
                                {% for menuItem in menuItems %}
                                <option value="{{menuItem.link}}"
                                        {% if active_page == menuItem.link %}
                                        selected 
                                        {% endif %}
                                        >{{menuItem.text}}</option>
                                {% endfor %}
                                {% endif %}    
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>    