<div class="form-group row">
    <label class="col-lg-3 col-md-12 col-sm-12 control-label"><span>Categories:</span></label>
    <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="styled-select ">
            <select name="awardcat" id="awardcat">
                <option value="0" selected>Show all</option>
                {% for id,award in awards %}
                <option value="{{ id}}">{{ award }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
