<?php

class companysubnav {
	private $basicmenu = array(
		'Introduction to Firm' => 'company-intro',
		'Company Reviews' => 'company-review',
		'Key Corporate Data' => 'company-corporate',
		'Key Personnel' => 'company-personnel',
		'Minimum Thresholds' => 'company-thresholds',
		'Fees and Charges' => 'company-fees-charges',
		'Asset Classes' => 'company-assets',
		'Investment Platforms' => 'company-platforms',
		'Main Offices' => 'company-offices',
		'Disclaimer' => 'company-disclaimer'
	);	
	
	private $premiermenu = array(
		'Introduction to Firm' => 'company-intro',
		'Company Reviews' => 'company-review',
		'Key Corporate Data' => 'company-corporate',
		'CEO Question and Answers' => 'company-questionsceo',
		'Main Shareholders' => 'company-shareholders',
		'Key Personnel' => 'company-personnel',
		'Investment Philosophy' => 'company-philosophy',
		'CIO Question and Answers' => 'company-questionscio',
		'Minimum Thresholds' => 'company-thresholds',
		'History' => 'company-history',
		'Products and Services' => 'company-products',
		'Fees and Charges' => 'company-fees-charges',
		'Asset Classes' => 'company-assets',
		'Investment Platforms' => 'company-platforms',
		'Main Offices' => 'company-offices',
		'Articles and Press Cuttings' => 'company-articles',
		'Publications' => 'company-publications',
		'News and Announcements' => 'company-announcements',
		'Link to Website' => 'company-link',
		'Disclaimer' => 'company-disclaimer'
	);	
	
	private $enhancedmenu = array(
		'Introduction to Firm' => 'company-intro',
		'Company Reviews' => 'company-review',
		'Key Corporate Data' => 'company-corporate',
		'Main Shareholders' => 'company-shareholders',
		'Key Personnel' => 'company-personnel',
		'Investment Philosophy' => 'company-philosophy',
		'Minimum Thresholds' => 'company-thresholds',
		'Products and Services' => 'company-products',
		'Fees and Charges' => 'company-fees-charges',
		'Asset Classes' => 'company-assets',
		'Investment Platforms' => 'company-platforms',
		'Main Offices' => 'company-offices',
		'Disclaimer' => 'company-disclaimer'
	);		
	
	function getNavigationHtml($activePage,$compid,$userlevel,$compurl = '') {
		
		$themenutouse = $this->basicmenu;
		
		if (isset($_SESSION['userlevel'])) {
			if ($userlevel) {
				$userlevel = $userlevel[0]['TU_Type'];
				$userlevel = $userlevel[0]['TU_TypeFront'];				
			}	

			if ($userlevel == "p") {
				$themenutouse = $this->premiermenu;
			}
			elseif ($userlevel == "e") {
				$themenutouse = $this->enhancedmenu;
			}
		}
		
		$html = '<ul class="tab-navigation hidden-sm hidden-xs">';
		
		foreach ($themenutouse as $name => $link) {
			if ($name == 'Return to search results') {
				if (isset($_SESSION["s_FindPAM_query"])) {
					$html .= '<li><a href="' . $link."?".$_SESSION["s_FindPAM_query"]. '">' . $name . '</a></li>';
				}else{
					$html .= '<li><a href="' . $link. '">' . $name . '</a></li>';
				}
			}
			else if ($name == 'Link to Website') {
				if ($compurl != "") {
					$html .= '<li><a href="' . $compurl . '"';

					$html .= ' target="blank">' . $name . '</a></li>';
				}
			}
			else {
				$html .= '<li><a href="' . $link . '?id=' . $compid .'"';

				if ($activePage == $link) {
					$html .= ' class="active" ';
				}

				$html .= '>' . $name . '</a></li>';
			}
		}
		
		$html .= '</ul>';

		$html .= '<form>
			<div class="styled-select styled-select-lg hidden-md hidden-lg">
			<select name="companydropdown" id="companydropdown">';
		
			foreach ($themenutouse as $name => $link) {
				if ($name == 'Return to search results') {
				}
				else if ($name == 'Link to Website') {
				}
				else {
					$html .= '<option value="' . $link . '"';
					if ($activePage == $link) {
						$html .= ' selected ';
					}
					$html .= '>' . $name . '</option>';
				}
			}		
		
			$html .= '</select></div>
						</form>';		
		
		return $html;
	}

}
?>