[viewBag]
==
<div class="footer">

    <div class="container">

        <div class="row">

            <div class="footercol col-xs-12 col-sm-6 col-md-3 col-lg-4">

		{% if user %}

		&nbsp;&nbsp;

		{% else %}

                <h3>Sign In</h3>

                <ul>

                    <li><a class="loginclick" data-toggle="modal" data-target="#login-modal" data-id="u">Sign In</a> or 

						<a class="registerclick" data-toggle="modal" data-id="ind" data-target="#register-modal">Register</a></li>

                </ul>

		{% endif %}

            </div>



            <div class="footercol col-xs-12 col-sm-6 col-md-2 col-lg-2">

                <h3>Information</h3>

                <ul>

                    <li><a href="{{url('/')}}/sitemap">Sitemap</a></li>

                    <li><a href="{{url('/')}}/privacy">Privacy Policy</a></li>

                    <li><a href="{{url('/')}}/terms">Terms & Conditions</a></li>

                    <li><a href="{{url('/')}}/disclaimer">Disclaimer</a></li>

                    <li><a href="{{url('/')}}/contact-us">Feedback</a></li>

                </ul>

            </div>



            <div class="footercol col-xs-12 col-sm-6 col-md-3 col-lg-3">

                <h3>Contact</h3>

                <ul>

                    <li>PAM Insight Limited <br/> 107 Cheapside, <br/>London, EC2V 6DN <br/>United Kingdom</li>

                    <li>Phone: <a href="tel:+44 (0)20 7967 1608 ">+44 (0)20 7967 1608 </a></li>

                    <li>Email: click <a href="#" onclick="sendEmailTo('info','');return false;" >here</a></li>

                </ul>

            </div>



            <div class="footercol col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <h3>Social</h3>

                <ul>

                    <li class='sbut'><a href="https://twitter.com/thewealthnet" class="button blue twitter" target='blank'><strong>Follow</strong> @thewealthnet</a></li>

                    <li class='sbut'><a href="https://www.linkedin.com/company/thewealthet" class="button blue linkedin" target='blank'><strong>Link to </strong>thewealthnet</a></a></li>

                    <li class='sbut'><a href="https://twitter.com/eprivateclient" class="button blue twitter" target='blank'><strong>Follow</strong> @eprivateclient</a></a></li>

                    <li class='sbut'><a href="https://www.linkedin.com/company/eprivateclient" class="button blue linkedin" target='blank'><strong>Link to </strong>eprivateclient</a></a></li>

                    <li class='sbut'><a href="https://twitter.com/pameventsuk" class="button blue twitter" target='blank'><strong>Follow</strong> @PAMInsight</a></a></li>

                    <li class='sbut'><a href="https://www.linkedin.com/company/pam-insight-international-ltd" class="button blue linkedin" target='blank'><strong>Link to </strong>PAM Insight</a></a></li>

                </ul>

            </div>

        </div>

    </div>

    <div class="footerlogos">

        <div class="container">

            <div class="row">



                <div class="images col-xs-12 col-sm-12 col-md-12">

                    <a href="{{url('/')}}"><img src="{{ 'footerImages_PAMLogo.png' | media }}" alt="PAM logo"></a>

                    <a href="http://www.paminsight.com/company" target='blank'><img src="{{ 'footerImages_PAMInsight.png' | media }}" alt="PAM Insight logo"></a>

                    <a href="http://www.eprivateclient.com" target='blank'><img src="{{ 'footerImages_PrivateClient.png' | media }}" alt="PAM private client logo"></a>

                    <a href="http://www.thewealthnet.com" target='blank'><img src="{{ 'footerImages_TheWeathNet.png' | media }}" alt="The Wealth Net logo"></a>



                </div>



            </div>

        </div>

    </div>

    <div class="footerstmt">

        <div class="container">

            <div class="row">

                <p>Site Content Copyright PAM Insight Ltd 2016</p>

            </div>

        </div>

    </div>

</div>
