<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.13/bootstrap-slider.js"></script>

<script src="{{ [
"assets/js/multiselect.min.js",
"assets/js/multiple-select.js",
"assets/js/isotope.js",
"assets/js/packery.js",
"assets/bootstrap/js/bootstrap.min.js",
"assets/js/progressBar.js",
"assets/js/jquery.placeholder.min.js",
"assets/js/jquery.animateNumber.js",
"assets/js/jquery.matchHeight-min.js",
"assets/js/lobibox.js",
"assets/js/tracker.js",
"assets/js/jquery.navgoco.min.js"]|theme }}"></script>
<script>
$(document).ready(function () {
	if(window.location.hash) {
		var hash = window.location.hash;
		$(hash).modal('toggle');
	}

	$('.searchHeight').matchHeight();
	
	$('.grid').isotope({
		// options
		itemSelector: '.grid-item',
		layoutMode: 'packery',
		packery: {
			gutter: 30
		}
		});

	$('.grid-results').isotope({
		// options
		itemSelector: '.grid-item',
		layoutMode: 'packery',
		packery: {
			gutter: 60
		}
	});

	$('.larget').each(function(){
		var elem = $(this);
		var number = elem.data('number');

		if(elem.data('type') === 'dec'){
			var decimal_places = 1;
			var decimal_factor = decimal_places === 0 ? 1 : Math.pow(10, decimal_places);
			elem.find('.countNum').animateNumber(
				{
					number: number * decimal_factor,
					numberStep: function(now, tween) {
						var floored_number = Math.floor(now) / decimal_factor,
							target = $(tween.elem);
						if (decimal_places > 0) {
							floored_number = floored_number.toFixed(decimal_places);
						}

						target.text(floored_number);
					}
				},1000
			)
		}else{
			var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
			elem.find('.countNum').animateNumber({ number: number,numberStep: comma_separator_number_step },1000);
		}
	});

	$('.main-nav-mobile').find('li.with-dropdown').each(function(){
		var elem = $(this);
		elem.find('.toggle-dropdown').click(function(){
			if(elem.find('ul').hasClass('active')){
				$(this).find('span').removeClass('glyphicon-minus');
				$(this).find('span').addClass('glyphicon-plus')
				elem.find('ul').removeClass('active');
				elem.find('ul').css({display:'none'});
			}else{
				elem.find('ul').addClass('active');
				elem.find('ul').css({display:'block'});
				$(this).find('span').removeClass('glyphicon-plus');
				$(this).find('span').addClass('glyphicon-minus')
			}

		});
	});

	$('.menu-item').each(function() {
		if ($(this).hasClass('current_page_item')) {
			$(this).find('.wpb-submenu-indicator').click();
		}
	});

	$('#awardsdropdown').on('change', function() {
		window.location.href =$(this).val();
	});
	
	$('#companydropdown').on('change', function() {
		window.location.href =$(this).val();
	});

	$( ".more-information" ).click(function() {
		$( ".grid-item" ).removeClass("show-contact-roll");
		$(".contact-text").css("display", "none");
		$( this ).parents('.grid-item').find(".contact-text").css("display", "block");
		
		$( this ).parents('.grid-item').toggleClass("show-contact-roll");
	});

	$( ".contact-button" ).click(function() {
		$(".contact-text").css("display", "none");
		$( this ).parents('.grid-item').removeClass("show-contact-roll");
	});

	$( ".loginclick" ).click(function() {
		var userLevel = $(this).data('id');
		$("#userlevel").val( userLevel );
	});
	$( ".registerclick" ).click(function() {
		var regusertype = $(this).data('id');
		$("#regusertype").val( regusertype );
	});
	$(".chaptersMenu").hide();
	$( ".wealthmobile").click(function () {
		console.log('TEST');
		$(".chaptersMenu").slideToggle();
	});




$('.panel-heading a').click(function() {
    $('.panel-heading').removeClass('actives');
    $(this).parents('.panel-heading').addClass('actives');
    
    $('.panel-title').removeClass('actives'); //just to make a visual sense
    $(this).parent().addClass('actives'); //just to make a visual sense


 });

$('.collapse').on('shown.bs.collapse', function(){
$(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-remove");
}).on('hidden.bs.collapse', function(){
$(this).parent().find(".glyphicon-remove").removeClass("glyphicon-remove").addClass("glyphicon-plus");
});



//	$('.searchMobile').click(function () {
//		$('.userlogin').slideUp();
//		$('.search').slideToggle();
//	});
//
//	$('.userMobile').click(function () {
//		$('.search').slideUp();
//		$('.userlogin').slideToggle();
//	});

	$('.menuMobile').click(function () {
		$('.main-nav').slideDown('slow', function () {});
	});

	$('.menuclose').click(function () {
		$('.main-nav').slideUp('slow', function () {});
	});
	if($("#circleAnimation70").length > 0){
		var circle1 = new ProgressBar.Circle('#circleAnimation70', {
			color: '#14265B',
			strokeWidth: 10,
			trailWidth: 0,
			duration: 1200,
			text: {
				value: '0'
			},
			step: function(state, bar) {
				bar.setText((bar.value() * 250).toFixed(0) + ",000");
			}
		});

		circle1.animate(0, function() {
			circle1.animate(0.799);
		});
	}
	
	if($("#circleAnimation55").length > 0) {
		var circle2 = new ProgressBar.Circle('#circleAnimation55', {
			color: '#14265B',
			strokeWidth: 10,
			trailWidth: 0,
			duration: 1200,
			text: {
				value: '0'
			},
			step: function (state, bar) {
				bar.setText(((bar.value() * 10) / 2.17391304).toFixed(1));
			}
		});
		circle2.animate(0, function () {
			circle2.animate(0.5);
		});
	};
	//Set the Line height of the percentage sign so that it appears in the middle of the circle
	$('.circleanimation p').each(function(){
		var div_height = $(this).parent('div').height();
		$(this).css('lineHeight', (div_height * 0.82) + "px");
	});
	//### FAQ page ###
	$('.accordion').on('show.bs.collapse', function(e) {
		$(e.target).prev('.panel-heading').parent().addClass('active');
	}).on('hide.bs.collapse', function(e) {
		$(e.target).prev('.panel-heading').parent().removeClass('active');
	});
	$('.accordion').on('hidden.bs.collapse', toggleChevron);
	$('.accordion').on('shown.bs.collapse', toggleChevron);

	$('input, textarea').placeholder();
	$('#accordion').on('hidden.bs.collapse', toggleChevron);
	$('#accordion').on('shown.bs.collapse', toggleChevron);

	$('#awards-video-overlay').click(function(){
		console.info("Click on image");
		$(this).hide();
		$("#awards-video").css({visibility:'visible'});
		$("#awards-video")[0].src += "?autoplay=1";

	});

	$('#MT_Area1').on('change', function() {
		$('#MT_Area2').attr('checked', false);
		$('#MT_Area3').attr('checked', false);
	  });	
		
	$('#MT_Area2').on('change', function() {
		$('#MT_Area1').attr('checked', false);
		$('#MT_Area3').attr('checked', false);
	  });
	  
	$('#MT_Area3').on('change', function() {
		$('#MT_Area1').attr('checked', false);
		$('#MT_Area2').attr('checked', false);
	  });

	//Switch between modals
	$('a.modal-change').each(function(){
		var elem = $(this);
		elem.click(function(){
			$(elem.data('hide')).removeClass("fade").modal("hide");
			$(elem.data('show')).modal("show").addClass("fade");
		});
	});

	$('.onoffswitch').each(function(){
		var elem = $(this);
		var input = $(this).find('input');
		elem.find('.onoffswitch-label').on('click',function(){
			if(input.is(':checked')){
				input.prop('ckecked',false);
			}else{
				input.prop('ckecked',true);
			}
		});
	});

	$('.form-with-validation').submit(function(){
		var form = $(this);
		var valid = true;
		if(valid){
			form.find("input.validate").each(function(){
				var input = $(this);
				input.removeClass('invalid');
				input.parent().find('.form-control-invalid-text').css({display:'none'});
			});
			$.ajax({
				type: "POST",
				url: window.location.href,
				data: form.serialize(),
				success: function(data)
				{
					if(!data.success){
						var errors = data.errors;

						$.each( errors, function( key, value ) {
							var input = form.find('input[name="'+value.field+'"]');
							input.addClass('invalid');
							input.parent().find('.form-control-invalid-text').html(value.text).css({display:'block'});
						});

					}else{
						$('#register-modal').removeClass("fade").modal("hide");
						$('#alert-modal').modal("show").addClass("fade");
					}
				}
			});
			return false;
		}
		return false;
	});

	$('.ajax-form').submit(function(){
		var form = $(this);
		
		form.find('button').attr('disabled',true);
		form.find("input.validate,textarea.validate").each(function(){
			var input = $(this);
			input.removeClass('invalid');
			input.parent().find('.form-control-invalid-text').css({display:'none'});
		});
		form.find(".styled-select").each(function(){
			var input = $(this);
			input.removeClass('invalid');
			input.parent().find('.form-control-invalid-text').css({display:'none'});
		});
		$.ajax({
			type: "POST",
			url: form.attr('action'),
			data: form.serialize(),
			success: function(data)
			{
				if(!data.success){
					var errors = data.errors;
					$.each( errors, function( key, value ) {
						var input = form.find('input[name="'+value.field+'"],textarea[name="'+value.field+'"]');
						input.addClass('invalid');
						input.parent().find('.form-control-invalid-text').html(value.text).css({display:'block'});
					});
					$.each( errors, function( key, value ) {
						var input = form.find('select[name="'+value.field+'"]');
						input.parent().addClass('invalid');
						input.parent().parent().find('.form-control-invalid-text').html(value.text).css({display:'block'});
					});
				}else{
					if(form.data('modal-close')){
						$(form.data('modal-close')).removeClass("fade").modal("hide");
					}
					if(form.data('noreset') == undefined){
						form.find("input[type='text'],textarea").each(function(){$(this).val('')});
						form.find("input[type='email']").each(function(){$(this).val('')});
						form.find("input[type='checkbox']").each(function(){$(this).attr('checked',false)});
						form.find("select").each(function(){$(this).val('')});
					}
					$('#alert-modal').find("h1").html(form.data('success-title'));
					$('#alert-modal').find("p").html(form.data('success-text'));
					$('#alert-modal').modal("show").addClass("fade");
				}
			},
			complete:function(){
				form.find('button').attr('disabled',false);
			}
		});
		return false;
	});
	//Set placeholder color for select
	$('select.placeholder-color').each(function(){
		var elem = $(this);
		if(elem.val() === ''){
			elem.css({color:'#808AA6'});
		}else{
			elem.css({color:'#14265b'});
		}
	});

	$( "select.placeholder-color" ).change(function() {
		var elem = $(this);
		if(elem.val() === ''){
			elem.css({color:'#808AA6'});
		}else{
			elem.css({color:'#14265b'});
		}
	});

	//Stars rating initialize
	$(".star-rating").each(function(){
		var elem = $(this);
		var rate = elem.data("rate");
		var stars = rate/20;
		elem.find('span').each(function(){
			if(stars >= 1){
				$(this).addClass('full');
			}
			if(stars < 1 && stars > 0){
				$(this).addClass('half');
			}
			stars = stars - 1;
		});
	});

//	$('.review-form').submit(function(){
//		try {
//			var form = $(this);
//			form.find('button').attr('disabled',true);
//			form.find("input.validate,textarea.validate").each(function(){
//				var input = $(this);
//				input.removeClass('invalid');
//				input.parent().find('.form-control-invalid-text').css({display:'none'});
//			});
//
//			if(!checkIfStarRatingIsSet(form)) {
//				form.find('button').attr('disabled',false);
//				return false;
//			}
//
//			$.ajax({
//				type: "POST",
//				url: form.attr('action'),
//				data: form.serialize(),
//				success: function(data)
//				{
//					if(!data.success){
//						var errors = data.errors;
//						$.each( errors, function( key, value ) {
//							var input = form.find('input[name="review['+value.field+']"],textarea[name="review['+value.field+']"]');
//							input.addClass('invalid');
//							input.parent().find('.form-control-invalid-text').html(value.text).css({display:'block'});
//						});
//					}else{
//						$('#alert-modal').find("h1").html(form.data('success-title'));
//						$('#alert-modal').find("p").html(form.data('success-text'));
//						$('#alert-modal').modal("show").addClass("fade");
//						$('#alert-modal').on('hidden.bs.modal', function () {
//							var compID = form.find('input[name="review[company_id]"]').val();
//							window.location.replace("company-review?id="+compID);
//						})
//					}
//				},
//				complete:function(){
//					form.find('button').attr('disabled',false);
//				}
//			});
//
//			return false;
//		}
//		catch(err) {
//			console.info(err.message);
//			return false;
//		}
//
//		function checkIfStarRatingIsSet(elem){
//			var valid = true;
//			elem.find('.star-rating-input').each(function(){
//				var input = $(this);
//				if(input.find('input').val() < 1){
//					valid = false;
//					$('html, body').animate({
//							scrollTop: input.offset().top},
//						{
//							complete: function() {
//								input.popover('show');
//								input.hover(function(){
//									input.popover('destroy');
//								});
//							}
//						}, 500);
//					return false;
//				}
//			});
//			return valid;
//		}
//
//		return false;
//	});

//	FIND pam Multi select Jquery ui elements
	$('select#smallnormal').multiselect();
	$('select#assetclasses').multiselect();

	if($("#slider9").length > 0){
		var g = $('#slider9').bootstrapSlider().data('slider');
	}
	if($("#slider4").length > 0){
		var a = $('#slider4').bootstrapSlider().data('slider');
	}
	if($("#slider10").length > 0){
		var a = $('#slider10').bootstrapSlider().data('slider');
	}
	$( window ).resize(function() {
		initBoxHeightResiser();
	});
	initBoxHeightResiser();

	$('.popup-link').click(function(){
		$('#text-modal').find("p").html($(this).data('text'));
		$('#text-modal').modal("show").addClass("fade");
	});

});
	function initBoxHeightResiser(){
		$(".resize-column-height").each(function(){
			var row = $(this);
			var maxHeight = 0;
			row.find('.resize').each(function(){
				var col = $(this);
				col.css({'height':'auto'});
				if(col.height() > maxHeight){
					maxHeight = col.height();
				}
			});
			row.find('.resize').each(function(){
				var col = $(this);
				col.height(maxHeight);
			});
		});
	}

	function changeCarouselActiveImg(key){
		$("#galaDinnerCarousel").carousel(key);
		$('html, body').animate({
			scrollTop: $("#galaDinnerCarousel").offset().top
		}, 500);
		return false;
	}
	function toggleChevron(e) {
		$(e.target)
		.prev('.panel-heading')
		.find("i.indicator")
		.toggleClass('glyphicon-plus glyphicon-remove');
		}

function sendEmailTo(emailname,emailsubject) {
	window.location.href = "mailto:" + emailname + "@paminsight.com?" + emailsubject;
}
function sendEmailToTwo(emailname1, emailname2, emailsubject) {
	window.location.href = "mailto:" + emailname1 + "@paminsight.com," + emailname2 + "@paminsight.com?" + emailsubject;
}


</script>

<!-- Modal Windows -->
<!-- Follow

<div class="section section-login-modal">
	<div class="modal fade" id="follow-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							<?php if (isset($_GET['favname'])) {
								echo '<p>Congratulations, you are now following ' . $_GET['favname'] . '</p>';
							}
							else if (isset($thepam[0]['MT_CompanyName'])) {
								echo '<p>Congratulations, you are now following ' . $thepam[0]['MT_CompanyName'] . '</p>';
							}
							else
							{
							   echo '<p>Congratulations, you are now following your chosen Private Asset Manager</p>';
							}

	if (isset($_GET['save_favourite'])) {	
		if (!isset($companyinfo)) {
			include_once $_SERVER["DOCUMENT_ROOT"] . '/phase1/includes/company';

			$companyinfo = new companydets();	
		}
		
		$thefavs = $companyinfo->list_favourites($db);
		
		echo '<div class="col-md-12"><hr></div><div class="col-md-12"><p>You are also following:</div><div class="col-md-12"><hr></div>';
		
		foreach ($thefavs as $thefav) {					
?>
							<div class="col-md-4"><p class="thecompname"><?php echo $thefav['name']; ?></p></div>
							<div class="col-md-4"><a href="company-intro?id=<?php echo $thefav['PamID']; ?>">View Profile</a></div>
							<div class="col-md-4">
							<a href='<?php echo htmlentities($_SERVER['PHP_SELF']);?>?favid=<?php echo $thefav['PamID']; ?>&remove_favourite=1'>Remove Favorite</a>
							</div>
							<div class="col-md-12"><hr></div>		
<?php } } ?>
						</div>
					</div>				
				</div>
			</div>
		</div>
	</div>
</div>	 -->			
<!-- Login -->

<div class="section section-login-modal">
	<div class="modal fade" id="pam-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p class="text-center" id='logininfo'>This option is not available when logged in as a Private Asset Manager.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section section-login-modal">
	<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">
							<h1 class="text-center">Thank you</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p class="text-center" id='logininfo'>For registering with PAMonline.  You should now receive an email asking you to verify your email address.  If you do not receive this email, please call +44 (0)207 967 1601 for assistance.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% component 'judgeNotes' %}
{% partial 'reset_modal.htm' %}
{% partial 'restore_modal.htm' %}
{% partial 'login_modal.htm' %}
{% partial 'notification_modal' %}
{% partial 'text_modal' %}
{% partial 'register_modal.htm' %}
{% partial 'activation_modal.htm' %}
{% partial 'resend_modal.htm' %}
{% component 'account::notifications' %}


</body>
</html>
