<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>{{ this.page.title }}</title>
		<meta name="title" content="{{ this.page.meta_title }}">
		<meta name="description" content="{{ this.page.meta_description }}" />	
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme }}" type="image/x-icon">
		<link rel="icon" href="{{ 'assets/img/favicon.ico'|theme }}" type="image/x-icon">

		<!-- OPEN GRAPH TAGS -->
		<meta property="og:title" content="{{ this.page.title }}'" />
		<meta property="og:url" content="" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="{{ this.page.meta_description }}" />
		<meta property="og:site_name" content="" />
		<meta property="og:image" content="" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.13/css/bootstrap-slider.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">		
		
		{% styles %}
		<link href="{{ [
		"assets/css/style.min.css","assets/css/wpb_wmca_style.css","assets/css/lobibox.css","assets/css/custom.css"
		]|theme }}" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
		<script src="https://www.google.com/recaptcha/api.js"></script>
                <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-74605224-1', 'auto');
                ga('send', 'pageview');
                </script>
		<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
                <script type="text/javascript">
                    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"<i class=\"fa fa-check\"></i> I agree to allow cookies on this website","learnMore":"More info","link":null,"theme":"light-bottom"};
                </script>

                <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
                <!-- End Cookie Consent plugin -->

        </head>
	<body>
