[viewBag]



[menu]

start = "id-3"

activeNode = "id-3"

listItemClasses = "item"

primaryClasses = "nav nav-pills"

secondaryClasses = "dropdown-menu"

numberOfLevels = 2

==



<div class="header">



    <div class="container">

        <div class="nav upper-nav pull-right col-xs-12 col-md-9">

            <ul class="nav">

                <li class="menu"><a href="{{url}}/pam" target="blank">PAM Insight</a></li>

                <li class="menu separator">|</li>

                <li class="menu"><a href="/" class='active'>PAM</a></li>

                <li class="menu separator">|</li>

                <li class="menu"><a href="{{url}}/twn" target="blank">thewealthnet</a></li>

                <li class="menu separator">|</li>

                <li class="menu"><a href="{{url}}/epc" target="blank">eprivateclient</a></li>

                <li class="hidden-xs hidden-sm">

                {% if user %}

                    <a class="button" href="{{'my-account'|page}}"><span class="glyphicon glyphicon-user"></span> My Account</a></li>

                    <li class="hidden-xs hidden-sm">
                        <!-- ?php echo htmlentities($_SERVER['REQUEST_URI']);? -->
                        <form action="#" method="post" name="logoutform">
                            <input type="hidden" name="formname" value="logoutform">
                        </form>
                        
                        <a class="button" data-request="onLogout" onclick="document.forms['logoutform'].submit();"><span class="glyphicon glyphicon-remove"></span> Log Out</a>
                        
                    </li>

                {% else %}

                    <a class="button loginclick" data-toggle="modal" data-target="#login-modal" data-id=""><span class="glyphicon glyphicon-user"></span> Login/Register</a></li>

                {% endif %}

		   <li class="hidden-sm hidden-xs">

			<form action="{{ '/sitesearch' | app }}" method="get">

				<input name="q" type="text" placeholder="Search ..." autocomplete="off" class="searchfield">

				<a class="button searchbtn" onclick="$(this).closest('form').submit()"><span class="glyphicon glyphicon-search"></span></a> 

				<!-- <button type="submit"><span class="glyphicon glyphicon-search"></span</button> -->

			</form>			   

		   </li>		

            </ul>

        </div>





        <div class="logo">

		<a href="{{url('/')}}"><img src="{{ 'logo.gif' | media }}" title="logo" alt="PAM logo"></a>

        </div>



        <div class="nav main-nav main-nav-mobile pull-right hidden-md hidden-lg">



            <ul class="nav">

                <li class="title menuclose">

					<span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp;  <span class="title-text">Menu</span>  <div class="menuclose"><span class="glyphicon glyphicon-remove"></span></div></li>

				<li><a href="{{url('/')}}">Home</a></li>

                <li><a href="{{url('/')}}/about-us">About Us</a></li>

                <li class="with-dropdown"><a href="{{url('/')}}/knowledge-hub">Knowledge Hub</a>

                    <div class="toggle-dropdown">

                        <span class="glyphicon glyphicon-plus"></span>

                    </div>

                    <ul>

                        <li><a href="{{url('/')}}/guide-wealthmanagement" title="PAM Guide to Wealth Management">PAM Guide to Wealth Management</a></li>

		      <li><a href="{{url('/')}}/cost-of-investing" title="The cost of investing">The Cost of Investing</a></li>

	               <li><a href="{{url('/')}}/PAM-directory" title="PAM Directory">PAM Directory</a></li>

                        <li><a href="{{url('/')}}/ARC-Private-Client-Indices" title="ARC Indices">ARC Indices</a></li>

                        <li><a href="{{url('/')}}/faq" title="Faq">FAQs</a></li>

		      <li><a href="{{url('/')}}/useful-links" title="Useful Links">Useful Links</a></li>				

                    </ul>

                </li>

                <li><a href="{{url('/')}}/findPam">Select a Private Asset Manager</a></li>

                <li class="with-dropdown"><a href="{{url('/')}}/awards-main">PAM Awards</a>

                    <div class="toggle-dropdown">

                        <span class="glyphicon glyphicon-plus"></span>

                    </div>

                    <ul>

		      {% if ((user) and (hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin'))) %}   				

                        <li><a href="{{url('/')}}/awards-enter" title="How to enter">How to enter</a></li>	

		      {% endif %}				

		      <li><a href="{{url('/')}}/awards-categories" title="Categories">Categories</a></li>

                        <li><a href="{{url('/')}}/awards-methodology" title="Methodology">Methodology</a></li>

                        <li><a href="{{url('/')}}/judges" title="The Judges">The Judges</a></li>

		     {% if ((user) and (hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin'))) %}   				

                        <li><a href="{{url('/')}}/awards-sponsors" title="Sponsors">Sponsors</a></li>

                        <li><a href="{{url('/')}}/awards-winners" title="The Winners">The Winners</a></li>

                        <li><a href="{{url('/')}}/awards-dinner" title="Gala Dinner">Gala Dinner</a></li>							

		      {% endif %}				

                    </ul>

                </li>

                <!-- <li><a href="#">Select a Professional Adviser</a></li> -->

                <li><a href="{{url('/')}}/contact-us">Contact us</a></li>

            </ul>

        </div>

        <div class="nav main-nav main-nav-desktop pull-right col-md-12 col-lg-9 hidden-xs hidden-sm">

            <ul class="nav pull-right">

                <li><a href="{{url('/')}}">Home</a></li>

                <li><a href="{{url('/')}}/about-us">About Us</a></li>

                <li class="with-dropdown"><a href="{{url('/')}}/knowledge-hub">Knowledge Hub</a>

                    <div class="section-dropdown">

                        <div class="container">

                            <div class="row">

                                <div class="col-lg-12">

                                    <ul class="knowledge-hub">

                                        <li><a href="{{url('/')}}/guide-wealthmanagement" title="PAM Guide to Wealth Management">PAM Guide to Wealth Management</a></li>

				    <li><a href="{{url('/')}}/cost-of-investing" title="The cost of Investing">The Cost of Investing</a></li>						

				    <li><a href="{{url('/')}}/PAM-directory" title="PAM Directory">PAM Directory</a></li>	

                                        <li><a href="{{url('/')}}/ARC-Private-Client-Indices" title="ARC Indices">ARC Indices</a></li>

                                        <li><a href="{{url('/')}}/faq" title="Faq">FAQs</a></li>                                        

                                        <li><a href="{{url('/')}}/useful-links" title="Useful Links">Useful Links</a></li>                                     

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </li>

                <li><a href="{{url('/')}}/findPam">Select a Private Asset Manager</a></li>

                <li class="with-dropdown"><a href="{{url('/')}}/awards-main">PAM Awards</a>

                    <div class="section-dropdown">

                        <div class="container">

                            <div class="row">

                                <div class="col-lg-12">

                                    <ul class="pam-awards">

				    {% if ((user) and (hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin'))) %}

                                        <li><a href="{{url('/')}}/awards-enter" title="How to enter">How to enter</a></li>	

				     {% endif %}							

				    <li><a href="{{url('/')}}/awards-categories" title="Categories">Categories</a></li>

                                        <li><a href="{{url('/')}}/awards-methodology" title="Methodology">Methodology</a></li>

                                        <li><a href="{{url('/')}}/judges" title="The Judges">The Judges</a></li>

				    {% if ((user) and (hasRole('Professional Advisors') or hasRole('Judge')  or hasRole('Private Asset Manager')  or hasRole('Private Asset Manager Admin'))) %}  

                                        <li><a href="{{url('/')}}/awards-sponsors" title="Sponsors">Sponsors</a></li>

                                        <li><a href="{{url('/')}}/awards-winners" title="The Winners">The Winners</a></li>

                                        <li><a href="{{url('/')}}/awards-dinner" title="Gala Dinner">Gala Dinner</a></li>

				     {% endif %}							

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </li>

                </li>

                <!-- <li><a href="#">Select a Professional Adviser</a></li> -->

                <li><a href="{{url('/')}}/contact-us">Contact us</a></li>

            </ul>



        </div>

        <div class="mobile mobileIcons hidden-md hidden-lg">

            <!-- <div><a class="button searchMobile"><span class="glyphicon glyphicon-search"></span></a></div>  -->

			
                <!-- ?php echo htmlentities($_SERVER['REQUEST_URI']);? -->
                <form action="#" method="post" name="logoutform">
                    <input type="hidden" name="formname" value="logoutform">
                </form>

<!--

			<div><a class="button userMobile" href="{{url('/')}}/company-intro?id=<?php echo $_SESSION['s_PAM_ID']; ?>"><span class="glyphicon glyphicon-user"></span></a></div>

			<div><a class="button userMobile" href="{{url('/')}}/my-account"><span class="glyphicon glyphicon-user"></span></a></div>		

			

                <div><a class="button" href="#" onclick="document.forms['logoutform'].submit(); return false;"><span class="glyphicon glyphicon-remove"></span></a></div> -->



                {% if user %}

		<div class="col-xs-3">		

                    <a class="button btn-block" href="{{'my-account'|page}}"><span class="glyphicon glyphicon-user"></span></a></li>

		</div>

		<div class="col-xs-3">		
                        <!-- ?php echo htmlentities($_SERVER['REQUEST_URI']);? -->
                        <form action="#" method="post" name="logoutform">
                            <input type="hidden" name="formname" value="logoutform">
                        </form>

                        <a class="button btn-block" data-request="onLogout" onclick="document.forms['logoutform'].submit();" ><span class="glyphicon glyphicon-remove"></span></a>

		</div>

                {% else %}



		<div class="col-xs-6"><a class="button userMobile btn-block" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-user"></span></a></div>

		

		{% endif %}

		<div class="col-xs-6"><a class="button menuMobile btn-block"><span class="glyphicon glyphicon-menu-hamburger"></span></a></div>

		<div  class="col-xs-6 form-group">

			<form action="{{ '/sitesearch' | app }}" method="get">

			<input name="q" type="text" placeholder="Search ..." autocomplete="off" class="searchfield form-control">

		</div>

		<div  class="col-xs-6 form-group">

			<a class="button searchbtn btn-block" onclick="$(this).closest('form').submit()"><span class="glyphicon glyphicon-search"></span></a> 

				<!-- <button type="submit"><span class="glyphicon glyphicon-search"></span</button> -->

			</form>

		</div>

        </div>



        <div class="clearfix"></div>



   <!--      <div class="mobile mobileHidden userlogin">

            <a class="button" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-user"></span>Login/Register</a>

        </div> 

       <div class="mobile mobileHidden search">

            <form>

                <input type="text" name="search"><button type="submit"><span class="glyphicon glyphicon-search"></span></button>

            </form>

        </div> -->



        <div class="clearfix"></div>



    </div>

</div>
