<div class="section section-login-modal">
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center">Login to gain access</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-center" id='logininfo'>To see full information of the Private Asset Managers,
                                plus the opportunity to rate and follow, login or register</p>
                        </div>
                    </div>
                    {% component 'account::signin' %}
                </div>
                <div class="modal-footer">
                    <a class="modal-change" data-show="#register-modal" data-hide="#login-modal">Register if you are not
                        already a PAM user</a>
                </div>
            </div>
        </div>
    </div>
</div>