<div class="section section-login-modal">
    <div class="modal fade" id="notification-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center">Thank you</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-center" id='logininfo'>For registering with PAMonline. <br />
                                You should now receive an email asking you to verify your email address.<br />
                                If you do not receive this email, please call +44 (0)207 967 1601 for assistance.<br />
                                To return to the Home page, click <a href="{{url('/')}}">here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>