<div class="section section-register-modal">
    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center">Create your account</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-center">To see full information of the Private Asset Managers,
                                plus the opportunity to rate and follow, login or register.<br/><br/>Please fill in all the fields.</p>
                        </div>

                    </div>
                    
                    {% component 'account::register'%}
                    
                </div>
            </div>
        </div>
    </div>
</div>