<div class="section section-login-modal">
    <div class="modal fade" id="reset-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="text-center">Reset your password</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-center" id='logininfo'>To reset your password please enter code
                                below.</p>
                        </div>
                    </div>
                    {% component 'resetPassword::reset' %}
                </div>
                <div class="modal-footer">
                    <a class="modal-change" data-show="#register-modal" data-hide="#reset-modal">Register if
                        you are not
                        already a PAM user</a>
                </div>
            </div>
        </div>
    </div>
</div>