<div class="section section-login-modal">

    <div class="modal fade" id="resend-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span

                            aria-hidden="true">&times;</span></button>

                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-xs-12">

                            <h1 class="text-center">Resend activation email</h1>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-xs-12">

                            <p class="text-center" id='logininfo'>To resend activation email type in your registered email address

                                below. Or contact the PAM office on +44 (0)20 7967 1608 to get instructions to activate your account.</p>

                        </div>

                    </div>

                    {% component 'account::resend' %}

                </div>

                <div class="modal-footer">

                    <a class="modal-change" data-show="#register-modal" data-hide="#resend-modal">Register if

                        you are not

                        already a PAM user</a>

                </div>

            </div>

        </div>

    </div>

</div>