description = "Tall banner"
==
<div class="section-page-banner" style="background-image: url({{ image | media }})">
	<div class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1><span>{{title}}</span><div class="grad-left"></div><div class="grad-right"></div></h1>
				</div>
			</div>
		</div>
	</div>
</div>