.article-page {
    .headlines-wrapper {
        margin-bottom: 55px;
    }

    .col-banners-wrapper {
        & + .headlines-wrapper {
            margin-top: 30px;
        }
        @media (max-width: 991px) {
            display: none;
        }
    }
    
    @media (max-width: 991px) {
        .col-secondary {
           margin-top: 30px;
        }
        .col-main {
            margin-top: 15px;
        }
    }

    .col-md-3 {
        @media (min-width: 768px) and (max-width: 1199px) {
            flex: 0 0 35%;
            max-width: 35%;
        }
    }

    .col-md-6 {
        @media (min-width: 768px) and (max-width: 1199px) {
            flex: 0 0 65%;
            max-width: 65%;
        }
    }

    @media (max-width: 1199px) {
        .col-banner {
            display: none;
        }
    }
}

article {
    h3 {
        font-size: 1.6rem;
        span {
            color: $secondary;
            text-transform: uppercase;
        }
    }
    .article-head {
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 0;
        &:after {
            clear: both;
            display: table;
            content: '';
        }
        .author {
            padding: 0 0 25px 0;
            float: left;
            display: block;
            width: 60%;
            &:after {
                clear: both;
                display: table;
                content: '';
            }
            img {
                float: left;
                width: 41px;
                height: auto;
                margin-right: 10px;
            }
            span {
                font-size: 0.8rem;
                font-family: $specialFont;
                padding-top: 8px;
                font-weight: 300;
                float: left;
                text-transform: uppercase;
            }
        }
    }

    .fav-summary {
        .fav {
            display: inline-block;
        }
        .mailto {
            padding-left: 20px;
            display: inline-block;
            a {
                text-decoration: none;
                color: $text;
            }
        }
    }

    .article-body {
        margin-top: 20px;
        
        p {
            font-family: $specialFont;
            font-size: 1.2rem;
            clear: both;
            overflow: hidden;
            display: block;
            & + p {
                margin-top: 10px;
            }
        }
        img {
            display: block;
            float: none;
        }

        .fr-fic {
            margin: 5px auto;
        }

        .fr-fil {
            margin: 5px 0px;
            float: none;
        }

        .fr-fir {
            float: right;
        }
    }

    .lead-image {
        img {
            max-width: 100%;
        }
        margin-bottom: 10px;
    }

    .article-footer {
        background: #E8E8E8;
        padding: 8px 20px;
        margin: 25px 0 20px 0;
        &:after {
            clear: both;
            display: table;
            content: '';
        }
        .sponsored {
            float: left;
            width: 60%;
            font-size: 0.8rem;
            font-family: $specialFont;
            padding-top: 9px;
            font-weight: 700;
            line-height: 120%;
            a {
                text-decoration: none;
            }
        }
    }
}

// Share inline toolbar
.share {
    float: right;
    width: 40%;
    text-align: right;
    > span {
        font-size: 0.8rem;
        font-family: $specialFont;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: 0px;
    }

    .addthis_inline_share_toolbox {
        display: inline-block;
        vertical-align: middle;
        .at-share-btn {
            background-color: transparent !important;
            margin: 0 0 0px 6px !important;
            padding: 0 !important;
            @include transform(translateY(0) !important);
            .at-icon-wrapper {
                @include box-shadow(none !important); 
                @include transform(translateY(0) !important);
                svg {
                    fill: #3FA2F7 !important;
                }
                &:hover {
                    svg {
                        fill: $primary !important;
                    }
                }
            }
        }
    }
}

// Review form
.rating-wrapper {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    &:before {
        color: #979797;
        font-family: 'Font Awesome 5 Pro';
        font-size: 1.2rem;
        height: 1.2rem;
        letter-spacing: 6px;
        line-height: 1.2rem;
        font-style: normal;
        font-weight: normal;
        speak: none;
        vertical-align: top;
        content: '\f005' '\f005' '\f005' '\f005' '\f005';
        display: block;
        position: absolute;
        z-index: 1;
    }
    input[type="radio"] {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        &:focus + label:before,
        &:checked + label:before {
            opacity: 1;
        }
    }
    label {
        cursor: pointer;
        display: block;
        position: absolute;
        margin: 0 !important;
        span {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        &:before {
            color: $secondary;
            font-family: 'Font Awesome 5 Pro';
            font-size: 1.2rem;
            height: 1.2rem;
            letter-spacing: 6px;
            line-height: 1.2rem;
            font-style: normal;
            font-weight: normal;
            speak: none;
            vertical-align: top;
            -webkit-font-smoothing: antialiased;
            opacity: 0;
            font-size: 1.2rem;
            font-weight: 900;
        }
        &:hover {
            &:before {
                opacity: 1;
                font-weight: 900;
            }
            ~ label:before {
                opacity: 0;
            }
        }
    }

    .rating-5 {
        z-index: 2;
        &:before {
            content: '\f005' '\f005' '\f005' '\f005' '\f005';
        }
    }
    .rating-4 {
        z-index: 3;
        &:before {
            content: '\f005' '\f005' '\f005' '\f005';
        }
    }
    .rating-3 {
        z-index: 4;
        &:before {
            content: '\f005' '\f005' '\f005';
        }
    }
    .rating-2 {
        z-index: 5;
        &:before {
            content: '\f005' '\f005';
        }
    }
    .rating-1 {
        z-index: 6;
        &:before {
            content: '\f005';
        }
    }
    &:before {
        color: #979797;
        content: '\f005' '\f005' '\f005' '\f005' '\f005';
    }
}

.articles-rate {
    margin-top: 30px;
    margin-bottom: 30px;
    form {
        > label {
            text-transform: uppercase;
            color: $secondary;
            margin: 0 !important;
            display: inline-block;
            vertical-align: middle;
            padding-right: 10px;
            font-weight: 500;
        }
    }
}

// Rating summary
.rating-summary {
    overflow: hidden;
    white-space: nowrap;
    .label {
        text-transform: uppercase;
        color: $secondary;
        margin: 0 !important;
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
        font-weight: 500;
    }
    .rating-result {
        width: 124px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        &:before {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            color: #979797;
            font-family: 'Font Awesome 5 Pro';
            font-size: 1.2rem;
            height: 1.2rem;
            letter-spacing: 6px;
            line-height: 1.2rem;
            content: '\f005' '\f005' '\f005' '\f005' '\f005';
            display: block;
            font-style: normal;
            font-weight: normal;
            speak: none;
        }
        > span {
            display: block;
            overflow: hidden;
            &:before {
                position: relative;
                z-index: 2;
                color: $secondary;
                font-family: 'Font Awesome 5 Pro';
                font-size: 1.2rem;
                height: 1.2rem;
                letter-spacing: 6px;
                line-height: 1.2rem;
                content: '\f005' '\f005' '\f005' '\f005' '\f005';
                display: block;
                font-style: normal;
                font-weight: bold;
                speak: none;
            }
        }
    }
}

// News page - layout
.page-news,
.page-news-subcat {
    @media (max-width: 991px) {
        .col-secondary {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            order: -1;
            > * {
                display: none;
                &.subcategories {
                    margin-top: 0px;
                    margin-bottom: 20px;
                    display: block;
                }
            }
        }
    }
    @media (max-width: 1199px) {
        .col-banner {
            display: none;
        }
    }
}

// News page - news list
.news-list {
    margin: 0;
    padding: 0;
    .list-item {
        margin-top: 34px;
        padding-bottom: 30px;
        list-style: none;
        border-bottom: 1px solid #E8E8E8;
        @media (max-width: 767px) {
            margin-top: 24px;
            padding-bottom: 20px;
        }
        &:after {
            clear: both;
            content: '';
            display: table;
        }
        img {
            width: 48%;
            height: auto;
            max-width: 300px;
            float: left;
            margin-right: 15px;
            margin-bottom: 5px;
        }
        .item-title {
            a {
                text-decoration: none;
                color: $primary;
                font-size: 1.6rem;
                font-family: $specialFont;
                font-weight: 400;
                line-height: 120%;
                text-decoration: none;
                @include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
                @media (max-width: 1199px) {
                    font-size: 1.45rem;
                }
                @media (max-width: 991px) {
                    font-size: 1.3rem;
                }
                @media (max-width: 767px) {
                    font-size: 1.2rem;
                }
                &:hover {
                    color: $secondary;
                }
            }
        }
        .item-time {
            margin-top: 10px;
            font-size: 0.8rem;
            font-family: $specialFont;
            font-weight: 300;
            span {
                text-transform: uppercase;
                font-weight: 600;
            }
        }
        .item-desc {
            font-weight: 400;
            line-height: 140%;
            padding-top: 10px;
            margin: 0;
            font-size: 1.067rem;
            @media (max-width: 1199px) {
                font-size: 1rem;
            }
            @media (max-width: 991px) {
                font-size: 0.95rem;
            }
        }
    }
}

// Pagination
.control-pagination {
    font-family: $specialFont;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: right;
    .page-iteration {
        float: left;
        color: #979797;
    }
    .page-back,
    .page-next {
        display: inline-block;
        text-decoration: none;
        &:before {
            color: #979797;
            font-family: 'Font Awesome 5 Pro';
            font-size: 1.6rem;
            height: 1.6rem;
            letter-spacing: 0px;
            line-height: 1.6rem;
            font-style: normal;
            font-weight: 300;
            speak: none;
            vertical-align: top;
            display: block;
            z-index: 1;
            @include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
        }
        &:hover:before {
            color: $secondary;
        }
    }
    .page-next {
        margin-left: 30px;
        &:before {
            content: '\f105';
        }
    }

    .page-back {
        &:before {
            content: '\f104';
        }
    }
}

// Subcategories
.subcategories {
    margin-bottom: 20px;
    padding: 15px;
    background: $primary;
    background: -moz-linear-gradient(top, $secondary 0%, $primary 100%);
    background: -webkit-linear-gradient(top, $secondary 0%,$primary 100%);
    background: linear-gradient(to bottom, $secondary 0%,$primary 100%);
    @include box-shadow(0 2px 40px 0 rgba(0, 0, 0, 0.08));
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            a {
                color: white;
                padding-left: 10px;
                font-family: $specialFont;
                font-size: 1rem;
                text-decoration: none;
                @include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
                position: relative;
                display: block;
                &:before {
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    height: 5px;
                    width: 5px;
                    background-color: white;
                    border-radius: 50%;
                    @include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
                    content: '';
                }
                &:hover {
                    color: $pupularBox;
                    &:before {
                        background-color: $pupularBox;
                    }
                }
            }
        }
    }
    h4 {
        font-weight: bold;
        text-align: left;
        font-family: $specialFont;
        font-size: 1.1rem;
        color: white;
        padding-bottom: 5px;
        border-bottom: 1px solid $pupularBox; 
    }
}

// Gift box
.article-page {
    .gift-wrapper {
        border: 1px solid #DDDDDD;
        background: #F9F9F9;
        @include box-shadow(0px 2px 40px 0px rgba(0,0,0,0.15));
        padding: 15px;
        margin-bottom: 30px;
        h2 {
            font-size: 0.9333rem;
            font-weight: 600;
            color: $secondary;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        .form-control {
            font-size: 0.9333rem;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        .form-group {
            margin-bottom: 10px;
            &.actions {
                margin-bottom: 0;
            }
        }
        .giftresult {
            margin-top: 5px;
            > div {
                padding-top: 5px;
                font-size: 1rem;
                font-weight: 600;
                font-size: 0.9333rem;
                color: white;
            }
        }
    }
}


.continue-reading-subscribe {
    width:100%; 
    height:400px; 
    padding: 30px 0px 50px 0px; 
    background:#FFFFFF;
}

.continue-reading-subscribe-heading {
    margin:auto 0; 
    text-align: center; 
    font-size: 1.7em;
}

.continue-reading-subscribe-subheading {
    margin:auto 0; 
    text-align: center; 
    font-size: 1.2em;
}

.continue-reading-subscribe-option-block {
    float:left; 
    width:50%; 
    margin:auto 0; 
    text-align: center;
    margin-bottom: 0px;
}

#free-trial-subscribe-btn {
    margin-left: 0px;
}

.continue-reading-subscribe-btn-summary {
    font-size:1.2em; 
    text-align: center;
}

@media (min-width:507px) and (max-width:566px){
    
    .continue-reading-subscribe {
        width:100%; 
        height:620px; 
        margin:0 auto; 
        text-align: center;
        padding: 30px 0px 50px 0px; 
        background:#FFFFFF;
    }
    
    .continue-reading-subscribe-option-block {
        float:none; 
        width:50%; 
        margin:0 auto;
        text-align: center;
        clear: both;
        margin-bottom: 40px;
    }
    
    #free-trial-subscribe-btn {
        margin-left: -40px;
    }
}

@media (min-width:0px) and (max-width:507px){
    
    .continue-reading-subscribe {
        width:100%; 
        height:830px; 
        margin:0 auto; 
        text-align: center;
        padding: 30px 0px 50px 0px; 
        background:#FFFFFF;
    }
    
    #free-trial-subscribe-btn {
        margin-left: -40px;
    }
    
    .continue-reading-subscribe-option-block {
        float:none; 
        width:50%; 
        margin:0 auto;
        text-align: center;
        clear: both;
        margin-bottom: 40px;
    }
    
    #free-trial-subscribe-btn {
        margin-left: -40px;
    }
}


.article-preview-fade-content-end {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
    z-index: 10;
    margin-top: -120px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,1.0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.4) 40%, rgba(255,255,255,1.0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0 ); /* IE6-9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0 )"; /* IE6-9 */
}
