<style>
	.ui-autocomplete {
		z-index: 9999;
	}
</style>
<?php if (!isset($fatalError)): ?>
	<form data-request="<?= $this->getEventHandler('onAddOffice') ?>" data-request-success="$el.closest('.modal').modal('hide');" data-popup-load-indicator>
		<input type="hidden" name="company_id" value="<?=$company_id?>" />
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="chooseTypeLabel">New</h4>
		</div>
		<div class="modal-body">
			<?= $form->render() ?>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button type="submit" class="btn btn-primary oc-icon-plus" onclick2="$(this).setCreateFormSessionKey();">Add Office</button>
		</div>
	</form>
<?php else: ?>
	<div class="modal-body">
		<div class="callout callout-danger">
			<div class="header">
				<i class="icon-warning"></i>
				<h3>Error</h3>
				<p><?= $fatalError ?></p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button
			type="button"
			class="btn btn-default"
			data-dismiss="popup">
			Close
		</button>
	</div>
<?php endif ?>
<script>
	$( document ).ready(function() {

		var params = {};
		var url = "/address/find";
		var id = "#Form-field-o_address1";
		var highlights = false;

		$(id).autocomplete({
			minLength: 3,
			select: function( event, ui ) {
				params.id = ui.item.id;
				setTimeout(function(){
					if(highlights == false)
						url = '/address/retrieve';
					$(id).autocomplete("search");
				},100);
			},
			source: function(request, response){
				params.query = $(id).val();
				params.country = $.trim($("#Form-field-country option:selected").text());
				$.ajax({
					type: "get",
					data: params,
					url: url,
					success:function(data){
						var data = $.parseJSON(data);
						if(data.highlights && data.highlights.length > 0){
							highlights = true;
						}else{
							highlights = false;
						}
						if(data.details){
							$("#Form-field-o_town").val(data.details['City']);
							$("#Form-field-o_postcode").val(data.details['PostalCode']);
						}else{
							if(data.suggestions.length > 0){
								response(data.suggestions);
							}else{
								if(params.id){
									setTimeout(function(){
										url = '/address/retrieve';
										$(id).autocomplete("search");
									},100);
								}
							}
						}
					},
					error:function(){

					}
				});
			}
		});
		$(id).keypress(function(){
			if(params.id){
				delete params.id;
				url = "/address/find";
				highlights = false;
			}
		});

//    $('#Form-field-o_address2').autocomplete(options);
//    $('#Form-field-o_address3').autocomplete(options);
		//$('#Form-field-o_telephone').mask("+99 (9)999 999 9999");
		//$('#Form-field-o_fax').mask("+99 (9)999 999 9999");
	});
</script>