<?php
    use Twnepc\PamCompanies\Models\Settings as Settings;
?>
<div >
	<a href="#"
        data-control="popup"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-handler="<?= $this->getEventHandler('onLoadAddOffice') ?>"
        class="btn btn-primary btn-sm oc-icon-plus">Add Office</a>
        &nbsp;&nbsp;&nbsp;

    <a href="#"
        data-request-confirm="Are you sure you wish to delete selected offices?"
        data-request-data="company_id:'<?= $company_id ?>'"
        data-request="<?= $this->getEventHandler('onRemoveOffice') ?>"
        class="btn btn-primary btn-sm oc-icon-minus">Remove selected</a>
</div>
<div style="margin-top: 20px;" class="comment small">
    <p>
        <?php echo Settings::get('offices_confirm_text'); ?>
    </p>
</div>