<?php if (!isset($fatalError)): ?>
<form data-request="<?= $this->getEventHandler('onUpdateOffice') ?>" data-request-success="$el.closest('.modal').modal('hide');" data-popup-load-indicator>

    <input type="hidden" name="master_object_class" value="<?= $type ?>" />
    <input type="hidden" name="id" value="<?= $id ?>" />
    <input type="hidden" name="company_id" value="<?= $company_id?>">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="chooseTypeLabel">Edit</h4>
    </div>
    <style>
 .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }       
        
    </style> 
<script>    
var options = {
    serviceUrl: '/capture-plus', // Страница для обработки запросов автозаполнения
    minChars: 2, // Минимальная длина запроса для срабатывания автозаполнения
    delimiter: /(,|;)\s*/, // Разделитель для нескольких запросов, символ или регулярное выражение
    maxHeight: 400, // Максимальная высота списка подсказок, в пикселях
    width: 300, // Ширина списка
    zIndex: 9999, // z-index списка
    deferRequestBy: 100, // Задержка запроса (мсек), на случай, если мы не хотим слать миллион запросов, пока пользователь печатает. Я обычно ставлю 300.
    params: { country: 'London'}, // Дополнительные параметры
    onSelect: function(data, value){options.params.lastId=data.data} // Callback функция, срабатывающая на выбор одного из предложенных вариантов,
};
$( document ).ready(function() {
    options.params.country = $.trim($("#Form-field-country option:selected").text());
//    $('#Form-field-o_address1').autocomplete(options);
//    $('#Form-field-o_address2').autocomplete(options);
//    $('#Form-field-o_address3').autocomplete(options);
    $('#Form-field-country').change(function() {options.params.country=$.trim($("#Form-field-country option:selected").text())});
    //$('#Form-field-o_telephone').mask("+99 (9)999 999 9999");
    //$('#Form-field-o_fax').mask("+99 (9)999 999 9999");    
});
</script>
    <div class="modal-body">
        <?= $form->render() ?>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary oc-icon-tick" onclick2="$(this).setCreateFormSessionKey();">Save Changes</button>
    </div>

</form>

<?php else: ?>
<div class="modal-body">
    <div class="callout callout-danger">
        <div class="header">
            <i class="icon-warning"></i>
            <h3>Error</h3>
            <p><?= $fatalError ?></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
        <?= e(trans('backend::lang.form.close')) ?>
    </button>
</div>
<?php endif ?>