[viewBag]
==
<div class="footer-container">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4 footer-nav">
				<div class="logo">
					<img src="{{ 'logo_epc.png' | media }}" alt="">
				</div>
				<div class="row">
					<ul class="col-12 col-md-6">
						<li><a href="{{url('/')}}/about" title="">About us</a></li>
						<li><a href="{{url('/')}}/terms-of-use" title="">Terms of use</a></li>
						<li><a href="{{url('/')}}/privacy" title="">Privacy</a></li>
						<li><a href="{{url('/')}}/submit-press-release" title="">Submit press release</a></li>
						<li><a href="{{url('/')}}/benefits-of-membership" title="">Benefits of membership</a></li>
					</ul>
					<ul class="col-12 col-md-6">
						<li><a href="{{url('/')}}/advertise-with-us" title="">Advertise with us</a></li>
						<li><a href="{{url('/')}}/faqs" title="">FAQs</a></li>
						<li><a href="{{url('/')}}/events" title="">Events</a></li>
						<li><a href="{{url('/')}}/advanced-search" title="">Advanced search</a></li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-md-2 footer-contact">
				<h4>Contact</h4>
				<p>Editorial</p>
				<a href='mailt&#111;&#58;%&#54;Ee%77&#37;73&#64;&#101;pri&#118;at&#101;cl%69e%6E&#116;&#46;c%&#54;F%6&#68;'>ne&#119;&#115;&#64;e&#112;riva&#116;ec&#108;i&#101;nt&#46;com</a>
				<p>Article Reprints </p>
				<span><a href='mai&#108;to&#58;a%6Di&#37;64%64leto&#110;%2&#68;pi&#110;k&#64;%&#55;0%61&#109;i%6Esi%6&#55;ht&#46;%6&#51;o%6D'>a&#109;i&#100;&#100;l&#101;ton-p&#105;nk&#64;p&#97;minsight&#46;c&#111;m</a></span>
				<p>Subscription Sales </p>
				<span><a href='mai&#108;t&#111;&#58;subs&#64;ep%&#55;2%69vat%65cl&#105;en&#116;&#37;2Ec&#111;&#109;'>su&#98;&#115;&#64;epr&#105;vateclient&#46;com</a></span>
				<p>Technical Support </p>
				<span><a href='ma&#105;l&#116;o&#58;support%40e%&#55;0r&#105;va&#116;e&#99;l%&#54;9en&#116;&#46;%6&#51;om'>&#115;uppo&#114;t&#64;e&#112;rivatecli&#101;nt&#46;com</a></span>
				<p>Advertising </p>
				<span><a href='mailto&#58;&#97;dver%&#55;4%&#54;9&#115;%69ng&#64;&#101;pri&#37;76at%&#54;5&#99;&#108;&#37;69e%6E%&#55;&#52;&#46;com'>a&#100;ve&#114;tisi&#110;g&#64;epriv&#97;&#116;eclient&#46;&#99;o&#109;</a></span>
			</div>
			<div class="col-12 col-md-3 footer-address">
				<h4>Address</h4>
				<!--p class="email">hello@eprivateclient.com</p-->
				<address>
					PAM Insight Ltd<br />
					107 Cheapside<br />
					London<br />
					EC2V 6DN<br />
					United Kingdom 
				</address>
				<p class="tel">Tel: +44(0) 207 967 1601</p>
			</div>
			<div class="col-12 col-md-3 footer-subscription">
				<h4>eprivateclient Subscriptions</h4>
				<p><a href="{{url('/')}}/registration" title="Sign up for free trial">Sign up for free trial</a></p>
				<p><a href="{{url('/')}}/registration" title="Subscribe to eprivateclient">Subscribe to eprivateclient</a></p>

				<h4>Follow us</h4>
				<ul>
					<li><a href="https://twitter.com/eprivateclient" title="" target="_blank"><i class="fab fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/showcase/eprivateclient/" title="" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>

				
				
			</div>
		</div>
	</div>
</div>
<div class="footer-logos">
	<div class="container">
		<a href="https://www.pamonline.com/" title="PAM"><img src="{{ 'footer_pam_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/epc" title="eprivateclient"><img src="{{ 'footer_epcclient_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/twn" title="thewealthnet"><img src="{{ 'footer_wn_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/fundeye" title="fundeye"><img src="{{ 'footer_fundeye_logo.png' | media }}" alt=""></a>
		<a href="https://www.paminsight.com/pam" title="PAM Insight"><img src="{{ 'footer_pam_insight.png' | media }}" alt=""></a>
	</div>
</div>