[viewBag]
==
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="region-selector">
                    <div class="active-lang">eprivateclient</div>
                    {% component 'regionselect' %}
                </div>
            </div>
            <div class="col-md-12 col-lg-7">
                <ul class="header-logos">
                    <li>
                        <a href="{{url}}/pam" title="">
                            <img src="{{ 'header_pam_logo.jpg' | media }}" alt="">
                            <span>PAM</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/epc" title="">
                            <img src="{{ 'header_epcclient_logo.jpg' | media }}" alt="">
                            <span>eprivateclient</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/twn" title="">
                            <img src="{{ 'header_wn_logo.jpg' | media }}" alt="">
                            <span>thewealthnet</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/fundeye" title="">
                            <img src="{{ 'header_fundeye_logo.jpg' | media }}" alt="">
                            <span>fundeye</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url}}/company" title="">
                            <img src="{{ 'header_pam_insight.jpg' | media }}" alt="">
                            <span>PAM Insight</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="header-center">
    <nav class="navbar navbar-expand-lg navbar-mobile">
        <div class="container">
            <a class="navbar-brand" href="{{url('/')}}">
                <img src="{{'assets/images/logo.png' | theme}}" width="301" alt="">
            </a>
            
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fal fa-bars"></i></span>
            </button>

            <div class="nav user-nav">
                <div class="search-wrapper">
                    <i class="far fa-search"></i>
                    <span>Search</span>
                </div>

                {%if user%}
           
                    <a class="nav-link" href="{{url('/')}}/account#account-fav">
                        <i class="fa fa-heart"></i>
                        <span>Favourites</span>
                    </a>
                    <a class="nav-link" href="{{url('/')}}/account">
                        <i class="fa fa-user"></i>
                        <span>My Account</span>
                    </a>        
                {% else %}

                    <a class="nav-link" href="{{url('/')}}/login">
                        <i class="fa fa-sign-in"></i>
                        <span>Login</span>
                    </a>
                    <a class="nav-link" href="{{url('/')}}/registration">
                        <i class="fa fa-user-plus"></i>
                        <span>Register</span>
                    </a>
                {% endif %}
            </div>
            <div class="search-popup">
                <div class="container">
                    <form class="form-inline" action="{{ 'results' | page }}" method="get">
                        {% component 'searchInput' %}
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-main-menu">
        <div class="container">
            
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav">

                    <li class="home-link nav-item {% if this.page.id == 'home' %} active {% endif %}">
                        <a class="nav-link" href="{{url('/')}}">Home</a>
                    </li>

                    <li class="nav-item people-dropdown dropdown {% if this.param.cat == 'people' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{url('/')}}/news/people" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">People<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url('/')}}/news/people">People</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/people/top-rated-individuals">Top Rated Individuals</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/people/industry-profiles">Industry Profiles</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/people/people-moves">People Moves</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/people/hr-&-talent-management">HR &amp; Talent Management</a>
                        </div>
                    </li>

                    <li class="nav-item companies-dropdown dropdown {% if this.param.cat == 'companies' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{url('/')}}/news/companies" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Companies<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url('/')}}/news/companies">Companies</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/companies/corporate-m-&-a-activity">Corporate M & A Activity</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/companies/corporate-strategy">Corporate Strategy</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/companies/corporate-results">Corporate Results</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/companies/top-rated-firms">Top Rated Firms</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/companies/industry-profiles">Industry Profiles</a>
                        </div>
                    </li>

                    <li class="nav-item structures-dropdown dropdown {% if this.param.cat == 'structures-&-services' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{url('/')}}/news/structures-&-services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Structures & Services<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url('/')}}/news/structures-&-services">Structures & Services</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/structures-&-services/charity-&-philanthropy">Charity &amp; Philanthropy</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/structures-&-services/family-office">Family Office</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/structures-&-services/foundations">Foundations</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/structures-&-services/spvs-&-other-structures">SPVs &amp; Other Structures</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/structures-&-services/family-law">Family Law</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/structures-&-services/corporate-&-fiduciary">Corporate &amp; Fiduciary</a>
                        </div>
                    </li>

                    <li class="nav-item tax-dropdown dropdown {% if this.param.cat == 'regulation-&-tax' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{url('/')}}/news/regulation-&-tax" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Regulation & Tax<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax">Regulation & Tax</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax/case-law-developments">Case Law Developments</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax/legislative-developments">Legislative Developments</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax/money-laundering-aml">Money Laundering/AML</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax/offshore-&-ifcs">Offshore & IFCs</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax/regulation">Regulation</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax/tax">Tax</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax/trusts-&-succession">Trusts & Succession</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax/accountancy">Accountancy</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/regulation-&-tax/legal">Legal</a>
                        </div>
                    </li>

                    <li class="nav-item management-dropdown dropdown {% if this.param.cat == 'management' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{url('/')}}/news/management" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Management<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url('/')}}/news/management/management">Management</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/management/cpd-&-training">CPD & Training</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/management/social-media">Social Media</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/management/wealth-tech">Wealth Tech</a>
                        </div>
                    </li>

                    <li class="nav-item other-dropdown dropdown {% if this.param.cat == 'other-news' %} active {% endif %}">
                        <a class="nav-link dropdown-toggle" href="{{url('/')}}/news/other-news" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other News<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url('/')}}/news/other-news">Other News</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/other-news/commodities">Commodities</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/other-news/insurance">Insurance</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/other-news/pensions">Pensions</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/other-news/private-clients">Private Clients</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/other-news/property">Property</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/other-news/surveys-&-research">Surveys & Research</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/other-news/luxury-assets">Luxury Assets</a>
                            <a class="dropdown-item" href="{{url('/')}}/news/other-news/product-&-service-providers">Product & Service providers</a>
                        </div>
                    </li>
                    
                    <li class="nav-item {% if this.page.id == 'subscriptions' %} active {% endif %}">
                        <a class="nav-link" href="{{url('/')}}/subscriptions">Subscriptions</a>
                    </li>

                    <li class="nav-item {% if this.page.id == 'contact' %} active {% endif %}">
                        <a class="nav-link" href="{{url('/')}}/contact">Contact Us</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>