<!--div class="control-list list-unresponsive">
    <table id="" class="table data" data-control="">
        <tbody>
        <thead>
        <tr>
            <th><a>Year</a></th>
            <th><a>Private Client Assets Under Management</a></th>
            <th><a>Private Client Assets Under Advice</a></th>
            <th><a>Total Staff Employed in Private Client Business</a></th>
            <th><a>Number of Client Relationship Staff</a></th>
            <th><a>Total Number Of Private Client Accounts</a></th>
            <th><a>Discretionary and Advisory Business Split (%)</a></th>
            <th><a>Revenue</a></th>
            <th><a>Profit</a></th>
        </tr>
        </thead>
        <?php foreach ($records as $record): ?>
        <tr>
            
            <td><?=$record->ckcd_year?></td>
            <td>&pound;<?=number_format($record->ckcd_clientassets)?>m</td>
            <td>&pound;<?=number_format($record->ckcd_clientadvice)?>m</td>
            <td><?=number_format($record->ckcd_staffemployed)?></td>
            <td><?=number_format($record->ckcd_numstaff)?></td>
            <td><?=number_format($record->ckcd_numclients)?></td>
            <td><?php echo $record->ckcd_discsplit.'/'.(100-$record->ckcd_discsplit); ?></td>
            <td><?=$record->ckcd_revenue?></td>
            <td><?=$record->ckcd_profit?></td>
        </tr>
        <?php endforeach ?>
        </tbody>
    </table>
</div-->

<div class="control-list list-unresponsive">
    <table id="" class="table data" data-control="">
        <tbody>
        <thead>
            <tr>
                <th></th>
                <?php foreach ($records as $record): ?>
                    <th><?=$record->ckcd_year?></th>
                <?php endforeach;?>
            </tr>
        </thead>
        <tr>
            <td><strong>Private Client Assets Under Management</strong></td>
            <?php foreach ($records as $record): ?>
                <?php if($record->ckcd_clientassets  != ""):;?>
                    <td><span>&pound;<?=number_format($record->ckcd_clientassets)?>m <sup ><?= $record->ckcd_clientassets_suffix; ?></sup></span></td>
                <?php else: ?>
                    <td><span><?= $record->ckcd_clientassets_prefix; ?><sup ><?= $record->ckcd_clientassets_suffix; ?></sup></span></td>
                <?php endif;?>
            <?php endforeach;?> 
        </tr>
        <tr>
            <td><strong>PrivatePrivate Client Assets Under Advice</strong></td>
            <?php foreach ($records as $record): ?>
                <?php if($record->ckcd_clientadvice  != ""):;?>
                    <td><span>&pound;<?=number_format($record->ckcd_clientadvice)?>m <sup ><?= $record->ckcd_clientadvice_suffix; ?></sup></span></td>
                <?php else: ?>
                    <td><span><?= $record->ckcd_clientadvice_prefix; ?><sup ><?= $record->ckcd_clientadvice_suffix; ?></sup></span></td>
                <?php endif;?>
            <?php endforeach;?> 
        </tr>
        <tr>
            <td><strong>Total Staff Employed in Private Client Business</strong></td>
            <?php foreach ($records as $record): ?>
                 <?php if($record->ckcd_staffemplyed  != ""):;?>
                    <td><span><?=number_format($record->ckcd_staffemployed)?><sup><?= $record->ckcd_staffemployed_suffix; ?></sup></span></td>
                <?php else: ?>
                    <td><span><?= $record->ckcd_staffemployed_prefix; ?><sup ><?= $record->ckcd_staffemployed_suffix; ?></sup></span></td>
                <?php endif; ?>
            <?php endforeach;?> 
        </tr>
        <tr>
            <td><strong>Number of Client Relationship Staff</strong></td>
            <?php foreach ($records as $record): ?>
                <?php if($record->ckcd_numstaff  != ""):;?>
                    <td><span><?=number_format($record->ckcd_numstaff)?><sup><?= $record->ckcd_numstaff_suffix; ?></sup></span></td>
                <?php else: ?>
                     <td><span><?= $record->ckcd_numstaff_prefix; ?><sup ><?= $record->ckcd_numstaff_suffix; ?></sup></span></td>
                <?php endif; ?>
            <?php endforeach;?> 
        </tr>
         <tr>
            <td><strong>Discretionary and Advisory Business Split (%)</strong></td>
            <?php foreach ($records as $record): ?>
                
                    <td><?php echo $record->ckcd_discsplit.'/'.(100-$record->ckcd_discsplit); ?></td>
               
            <?php endforeach;?> 
        </tr>
        <tr>
            <td>
                <strong>Regulatory Bodies: </strong>
            </td>
            <td colspan="<?= count($records); ?>">
                
                <?php
                $numItems = count($bodies);
                $i = 0;
                foreach($bodies as $b):;
                    if(++$i === $numItems) {
                        echo $b->rb_name;
                    }
                    else{
                        echo $b->rb_name.", ";
                    }
                    
                endforeach;
                ?>
            </td>
        </tr>
         <tr>
            <td><strong>Auditor:</strong></td>
            <td colspan="<?= count($records); ?>">
                
                <?= $auditor; ?>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<style>
    strong{
        font-weight: bolder !important;
    }
</style>