{% set regions = __SELF__.regions %}
{% set domain = __SELF__.domain %}
{% set selected = __SELF__.selected %}
<div class="select-region">
	<select class="regionselect" style="display: none;">
	    <option {{ selected == 'all' ? 'selected': '' }} value="{{ ''| page }}?region=all">All Regions</option>
	    {% for region in regions %}
	        <option {{ selected == region.id ? 'selected': '' }} value="{{ ''| page }}?region={{region.identifier}}">{{region.name}}</option>
	    {% endfor %}
	</select>
</div>
