<div class="report-widget">
    <h3 style="margin-bottom:5px;">Reviews to approve</h3>

<?php if (!isset($error)): ?>
    <?php if ($this->property('total')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4>Total</h4>
        <p class="text-center"><?= $total ?></p>
    </div>
    <?php endif ?>
    <div style="clear:both;"></div>
    <br /><br />
    <div class="control-list list-unresponsive">
        <table class="table data">
            <thead>
            <tr>
                <th style="width: 150px"><span>Status</span></th>
                <th><a>Review Title</a></th>
                <th><a>Company</a></th>
                <th><span>Date</span></th>
                <th><span>Author Full name</span></th>
                <th><span>Author profile</span></th>
                <th><span>Review</span></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($reviews as $review):?>
            <?php
                $company = $review->getCompanyDetails();
                $user = $review->getAuthor();
            ?>
            <tr>
                <td><span class="oc-icon-circle text-info">Pending</span></td>
                <td><?=$review->title?></td>
                <td><?=$company->c_companyname?></td>
                <td><?=$review->date?></td>
                <td>
                    <?php if($user):?>
                    <?=$user->name?> <?=$user->surname?>
                    <?php endif;?>
                </td>
                <td class="column-button nolink">
                    <?php if($user):?>
                    <a
                            href="<?= Backend::url('twnepc/user/users/update/'.$user->id)?>"
                            target="_blank"
                            class="btn btn-default btn-sm">
                        view
                    </a>
                    <?php endif;?>
                </td>
                <td class="column-button nolink">
                    <a
                            href="<?= Backend::url('twnepc/pamcompanies/reviews/update/'.$review->id)?>"
                            target="_blank"
                            class="btn btn-default btn-sm">
                        View
                    </a>
                </td>
            </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    </div>
<?php else: ?>
    <p class="flash-message static warning"><?= e($error) ?></p>
<?php endif ?>
</div>
