<div data-control="toolbar">
    <a
        href="<?= Backend::url('twnepc/user/users/create') ?>"
        class="btn btn-primary oc-icon-plus">
        <?= e(trans('twnepc.user::lang.users.new_user')) ?>
    </a>

    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('twnepc.user::lang.users.delete_selected_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>

    <!--<a href="<?= Backend::url('twnepc/user/usergroups') ?>" class="btn btn-default oc-icon-group">-->
        <!--<?= e(trans('twnepc.user::lang.groups.all_groups')) ?>-->
    <!--</a>-->
</div>
