<div class="row">
    <div class="col-lg-5 col-md-5">
        <div class="img-wrapper">
            <img src="{{company.logo.getPath()}}" alt="{{company.c_companyname}}" class="img-responsive center-block"/>
        </div>
    </div>
    <div class="col-lg-7 col-md-7">
        <h3 class="reset-margin-top">{{company.c_companyname}}</h3>
        <p>{{company.companytextintro.ct_text|raw}}</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Write your review</h3>
        <hr/>
    </div>
</div>
{{ form_open({ 'data-success-title': 'Thankyou for submitting your review.','data-success-text':'It will be published on the website shortly.','id':'review-form' }) }}
    <div class="row">
        {% for question in questions %}
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <p class="small highlight rating-label-text">{{question.title}}:</p>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="star-rating-input" data-placement="bottom" title=""
                         data-content="Please, set rating?">
                        <input type="hidden" name="{{question.name}}_rate" value="0"/>
                        <span data-value="20"></span>
                        <span data-value="40"></span>
                        <span data-value="60"></span>
                        <span data-value="80"></span>
                        <span data-value="100"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <p class="form-control-invalid-text"></p>
                                <textarea class="form-control validate" name="{{question.name}}_description"
                                          rows="5" cols="20" placeholder="Your review..."></textarea>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="br"></div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Give us your overall thoughts</h3>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <p class="form-control-invalid-text"></p>
            <input type="text" class="form-control validate" id="" name="title"
                   placeholder="Title of review...">
        </div>
        <div class="col-lg-12">
            <p class="form-control-invalid-text"></p>
                        <textarea class="form-control validate" name="description" rows="5" cols="20"
                                  placeholder="Your review..."></textarea>
        </div>
    </div>

    <div class="br"></div>
    <div class="row">
        <div class="col-lg-2 col-md-3">
            <button class="button whiteblue btn-block" type="submit">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="/terms.php" class="highlight"><b>View terms & conditions</b></a>
        </div>
    </div>
{{ form_close() }}
<script>
    $(function() {
        initStarRateSystem();
        $('#review-form').submit(function(e){
            try {
                var form = $(this);
                var submit = form.find('button[type="submit"]');

                if(!checkIfStarRatingIsSet(form)) {
                    return false;
                }

                var submit = form.find('button[type="submit"]');
                if (submit.text() != "Please Wait...") {
                    resetFormValidation(form);
                    form.request('review::onCompanyReviewAdd', {
                        success: function (data) {
                            resetFormFields(form);
                            resetStarRatingSystem();
                            showNotification(form,data.X_OCTOBER_REDIRECT);
                        },
                        update: {},
                        error: function ($el, context, textStatus, jqXHR) {
                            var resp = $el.responseJSON;
                            validateForm(form,resp.X_OCTOBER_ERROR_FIELDS);
                        },
                        complete: function () {
                            submit.text("Submit");
                        }
                    });
                }
                submit.text("Please Wait...");
                e.preventDefault();
            }
            catch(err) {
                console.info(err.message);
                return false;
            }
        });

        //Stars rating input
        $(".star-rating-input").each(function(){
            var elem = $(this);
            var input = elem.find('input');
            elem.find('span').on('mouseover',function(){
                resetRating(elem);
                setRatingBySpan(elem,$(this));
            });
            elem.find('span').on('mouseleave',function(){
                resetRating(elem);
                setRatingByRate(elem,input.val());
            });
            elem.find('span').on('click',function(){
                resetRating(elem);
                setRatingBySpan(elem,$(this));
                input.val($(this).data('value'));
            });
            function setRatingBySpan(elem,span){
                elem.find('span').each(function(){
                    if($(this).data('value') <= span.data('value')){
                        $(this).addClass('full');
                    }
                });
            }
            function setRatingByRate(elem,rate){
                elem.find('span').each(function(){
                    if($(this).data('value') <= rate){
                        $(this).addClass('full');
                    }
                });
            }
            function resetRating(elem){
                elem.find('span').each(function(){
                    $(this).removeClass('full');
                });
            }
        });

        function initStarRateSystem(){
            $(".star-rating").each(function(){
                var elem = $(this);
                var rate = elem.data("rate");
                var stars = rate/20;
                elem.find('span').each(function(){
                    if(stars >= 1){
                        $(this).addClass('full');
                    }
                    if(stars < 1 && stars > 0){
                        $(this).addClass('half');
                    }
                    stars = stars - 1;
                });
            });
        }

        function resetStarRatingSystem(){
            $(".star-rating-input").each(function(){
                var elem = $(this);
                var input = elem.find('input');
                input.val(0);
                elem.find('span').each(function(){
                    $(this).removeClass('full');
                });
            });
        }

        function checkIfStarRatingIsSet(elem){
            var valid = true;
            elem.find('.star-rating-input').each(function(){
                var input = $(this);
                if(input.find('input').val() < 1){
                    valid = false;
                    $('html, body').animate({
                                scrollTop: input.offset().top},
                            {
                                complete: function() {
                                    input.popover('show');
                                    input.hover(function(){
                                        input.popover('destroy');
                                    });
                                }
                            }, 500);
                    return false;
                }
            });
            return valid;
        }

        function resetFormValidation(form){
            form.find("input.validate,textarea.validate").each(function(){
                var input = $(this);
                input.removeClass('invalid');
                input.parent().find('.form-control-invalid-text').css({display:'none'});
            });
        }

        function validateForm(form,response){
            $.each( response, function( key, value ) {
                var input = form.find('input[name="'+key+'"],textarea[name="'+key+'"]');
                input.addClass('invalid');
                input.parent().find('.form-control-invalid-text').html(value).css({display:'block'});
            });
        }

        function resetFormFields(form){
            form.find("input[type='text'],textarea").each(function(){$(this).val('')});
        }

        function showNotification(form,redirect){
            $('#notification-modal').find("h1").html(form.data('success-title'));
            $('#notification-modal').find("p").html(form.data('success-text'));
            $('#notification-modal').modal("show").addClass("fade");
            $('#notification-modal').on('hidden.bs.modal', function () {
                window.location.replace(redirect);
            })
        }
    });
</script>