{% if currentPage == 0 %}
	<strong>{{ guestsOnline|length + usersOnline|length }} user{{ guestsOnline|length + usersOnline|length == 1 ? '' : 's' }} {{ guestsOnline|length + usersOnline|length == 1 ? 'is' : 'are' }} online</strong><br />
	{{ usersOnline|length }} member{{ usersOnline|length == 1 ? '' : 's' }}, {{ guestsOnline|length }} guest{{ guestsOnline|length == 1 ? '' : 's' }}<br /><br />
{% else %}
	<strong>{{ usersOnlineCurrentPage|length }} user{{ usersOnlineCurrentPage|length == 1 ? '' : 's' }} {{ usersOnlineCurrentPage|length == 1 ? 'is' : 'are' }}  currently watching this page</strong><br />
{% endif %}

{% for onlineUser in onlineUsers %}
	{{ userInfo.find(onlineUser.user_id).username }} {{ (loop.index == onlineUsers|length) - 1 ? ',' : '' }}
{% endfor %}
