.ss-result {
    h4 {
        a {
            text-decoration: none;
            color: $primary;
            font-size: 1.3rem;
            font-family: $specialFont;
            font-weight: 400;
            line-height: 120%;
            text-decoration: none;
            @include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
            @media (max-width: 1199px) {
                font-size: 1.45rem;
            }
            @media (max-width: 991px) {
                font-size: 1.3rem;
            }
            @media (max-width: 767px) {
                font-size: 1.2rem;
            }
            &:hover {
                color: $secondary;
            } 
        }
    }
    .ss-result__aside {
        display: none;
    }
    .ss-result__date {
        color: $gray;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .ss-result__url {
        a {
            color: $secondary;
        }
    }
}

.search-results {
    .pagination {
        li {
            margin-left: 4px;
            margin-right: 4px;
            a {
                color: $secondary;
            }
        }
    }
}

@media (max-width: 991px) {
    .page-results {
        .col-secondary {
            display: none;
        }
    }
}

.advanced-search-wrapper {
    .page-title {
        margin: 0 auto;
        max-width: 960px;
    }
    .search-area {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 0;
        margin-right: 0;
        background-color: #F5F5F5;
        form {
            display: block;
            width: 100%;
            margin: 0 auto;
            max-width: 960px;
        }

        .date-group {
            span {
                display: block;
                margin-bottom: 5px;
                font-weight: 500;
                white-space: nowrap;
            }

            .custom-control {
                margin-bottom: 5px;
                margin-top: 5px;
            }
        }
        label {
            > span {
                margin-bottom: 5px;
                font-weight: 500;
                display: block;
            }
        }

        .actions {
            margin-top: 20px;
            padding-top: 25px;
            padding-right: 0;
            padding-left: 0;
            margin-left: 15px;
            width: 100%;
            margin-right: 15px;
            border-top: 1px solid #E5E5E5;
            button.btn-primary {
                float: right;
                width: auto;
            }
             button.btn-secondary {
                float: right;
                width: auto;
                margin-right: 20px;
            }
        }
    }
}

.result-area {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    max-width: 960px;
    #results {
        margin-top: 30px;
    }
}

body .gj-picker-bootstrap table tr td.today div {
    color: $primary;
}


