<div class="modal-content">

    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title">&nbsp;</h4>

    </div>

    <div class="modal-body">

        <p>Sorry that email address is already in use, please contact PAM Insight on +44 (0)20 7968 1608</p>

    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>

    </div>

</div>