<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('twnepc/pamcompanies/members') ?>">Authorised PAMs</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary"
                    data-request-error="showMessage(jqXHR)"
                        >
                    Add PAM
                </button>
                <?php if(!$this->user->frontenduser->isValidPIN()):?>
                <button
                        data-popup-load-indicator
                        data-control="popup"
                        data-handler="onLoadEnterPIN"
                        data-request-success="$el.closest('.modal').modal('hide');"
                        class="btn btn-warning">Enter PIN</button>
                <?php endif;?>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('twnepc/pamcompanies/members') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('twnepc/pamcompanies/members') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>
<script>
    function showMessage(jqXHR){
        var errorFields = jqXHR.responseJSON.X_OCTOBER_ERROR_FIELDS;
        for(var i in errorFields){
            if(i == 'email'){
                if(errorFields[i][0] === 'The email address is already in use.'){
                    $.popup({
                        handler:'onLoadContactUs'
                    });
                }
            }
        }
    }
</script>