<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('twnepc/pamcompanies/members') ?>">Authorised PAMs</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                        data-control="popup" data-request-data=""
                        data-handler="onLoadInvitationEmail"
                        type="button" class="btn btn-warning">Send invitation email</button>
                <?php if(!$this->user->frontenduser->isValidPIN()):?>
                <button
                        data-popup-load-indicator
                        data-control="popup"
                        data-handler="onLoadEnterPIN"
                        data-request-success="$el.closest('.modal').modal('hide');"
                        class="btn btn-warning">Enter PIN</button>
                <?php endif;?>
                <button
                        type="button"
                        class="oc-icon-trash-o btn-icon danger pull-right"
                        data-request="onDelete"
                        data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                        data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>">
                </button>
            </div>
        </div>
    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('twnepc/pamcompanies/companies') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>