<div class="control-list list-unresponsive products">
    <?php foreach($assets as $a):;?>
        <div>
            <strong><?= $a->asset->ac_name ?> </strong>
            <span><?=$a->getType();?></span>
        </div>
    <?php endforeach;?>
</div>
<style>
    strong{
        font-weight: bolder !important;
    }
   
</style>