<div>
        <?php foreach($siteswithinterests as $s):; ?>
            
            <div style="float:left;margin-right: 30px;">
            <h3 style="text-transform:uppercase;"><?php echo $s->theme; ?></h3>
            <?php foreach($interests as $i):; ?>
                <?php if($i->site_id == $s->siteid):; ?>
                <?php if (count($i->children) > 0):;?>
                <br>
                <strong><?php echo $i->name; ?></strong>
                <?php foreach($i->children as $c):; ?>
                <div class="custom-control custom-checkbox">
                    <?php $checked = (in_array($c->id,$catids)) ? true : false; ?>
                    <?php if($checked):;?>
                    <input class="custom-control-input" id="User_category_field_id<?php echo $c->id?>" checked  type="checkbox" name="User[category][]" value="<?php echo $c->id;?>"><label for="User_category_field_id<?php echo $c->id?>"><?php echo $c->name; ?></label>
                    <?php else: ?>
                    <input class="custom-control-input" id="User_category_field_id<?php echo $c->id?>"  type="checkbox" name="User[category][]" value="<?php echo $c->id;?>"><label for="User_category_field_id<?php echo $c->id?>"><?php echo $c->name; ?></label>
                    <?php endif;?>
                </div>
                <?php endforeach; ?>
                <?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>
            </div>
            
        <?php endforeach; ?></div>



