
<div>
        <?php foreach($siteswithinterests as $s):; ?>
            
            <div style="float:left;margin-right: 30px;">
            <h3 style="text-transform:uppercase;"><?php echo $s->theme; ?></h3>
                <?php echo $this->getAllInterests($s,$catids);?>
            </div>
            
        <?php endforeach; ?></div>