<div class="search-area">
    <div class="container">
        <div class="col-12">
            <form data-request="onAdvancedSearch" data-request-update="'advancedsearch::result':'#results'">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Keywords</label>
                        <input name="search" class="search-input form-control"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Condition</label>
                        <select name="condition" class="form-control">
                            <option value="all-words">All words</option>
                            <option value="exact-phrase">Exact phrase</option>
                            <option value="one-of-the-words">At least one of the words</option>
                            <option value="title">Title only</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Author</label>
                        <select name="author" class="form-control">
                            <option value="">Select an author</option>
                            {% for author in authors%}
                                <option value="{{author.id}}">{{author.author_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group date-group col-md-12">
                        <span>Date range</span>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="all" id="date-alltime" name="date" class="custom-control-input">
                            <label class="custom-control-label" for="date-alltime">All time</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="lastdays" id="date-lastdays" name="date" class="custom-control-input">
                            <label class="custom-control-label" for="date-lastdays">Last 30 days</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="lastyear" id="date-lastyear" name="date" class="custom-control-input">
                            <label class="custom-control-label" for="date-lastyear">Last year</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="between" id="date-between" name="date" class="custom-control-input">
                            <label class="custom-control-label" for="date-between">Dates between</label>
                        </div>
                    </div>
                </div>
                
                <div class="row date-between-wrapper" style="display: none;">
                    <div class="form-group col-md-12">
                        <div class="row">
                        <label class="col-md-6">
                            <span>Date from</span>
                            <input type="input" id="from-date" name="from-date" class="datepicker" />
                        </label>
                        <label class="col-md-6">
                            <span>Date to</span>
                            <input type="input" id="to-date" name="to-date" class="datepicker" />
                        </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="row">
                            <label class="col-md-6">
                                <span>Max results</span>
                                <select name="maxresults" class="form-control">
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="200">200</option>
                                </select>
                            </label>
                            <label class="col-md-6">
                                <span>Sort results by</span>
                                <select name="sort" class="form-control">
                                    <option value="published_date">Date</option>
                                    <option value="title">Title</option>
                                </select>
                            </label>
                            <div class="search actions">
                                <button class="btn btn-primary" type="submit">Search</button>
                                <button class="btn btn-secondary" type="reset">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="result-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="results-wrapper">
                    <h2>Search results</h2>
                    <div id="results">
                        <span>Search for articles from our extensive industry archive dating from 1997.</span>
                        {% partial __SELF__ ~ '::result'%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery( document ).ready(function() {
        jQuery('.datepicker').each(function(){
            jQuery(this).datepicker({
                uiLibrary: 'bootstrap4',
                format: 'dd-mm-yyyy'
            });
        });

        $('.date-group input[type="radio"]').change(function() {
            if ($('input#date-between').is(':checked')) {
                jQuery('.date-between-wrapper').show();
            } else {
                jQuery('.date-between-wrapper').hide();
            }
        });
    });
</script>