<div class="result-articles">
    
    {% if result.count %}

        {% for r in result %}
            <div class="ss-result">
                <div class="ss-result__content">
                    <p class="ss-result__date">{{r.published_date|date("d M Y")}}</p>

                    <h4 class="ss-result__title">
                        <a href="{{url('/')}}/article/{{r.slug}}">{{r.title}}</a>
                    </h4>
            
                    <p class="ss-result__text">
                        {{r.summary | raw}}
                    </p>
            
                    <p class="ss-result__url">
                        <a href="{{url('/')}}/article/{{r.slug}}" class="ss-result__link">Read article →</a>
                    </p>
                </div>
                <hr>
            </div>
        {% endfor %}

    {% elseif result %}

        <p>No results found, please refine your search.</p>

    {% endif %}
</div>