html, body {
	font-size: $fontSize;
}

body {
    font-family: $baseFont;
	font-weight: 400;
	font-size: $fontSize;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text;
	height: 100%;
	width: 100%;
}

@media (min-width: 1560px) {
	.container {
		max-width: 1320px;
	}
}

a {
	color: $primary;
}

// Page-title
.page-title {
	h1 {
		font-size: 2.2rem;
		font-weight: bold;
		margin: 0 0 20px 0;
		@media (max-width: 1199px) {
            font-size: 2rem;
        }
        @media (max-width: 991px) {
            font-size: 1.8rem;
        }
        @media (max-width: 767px) {
            font-size: 1.7rem;
        }
	}
}

// Layout / Home
.main-content {
	padding-bottom: 40px;
	.container {
		padding-top: 10px;
		@media (max-width: 991px) {
			padding-top: 1%;
		}
	}
}

// Flash message
.error-container {
	.alert {
		border-radius: 0;
		font-size: 1rem;
		font-family: $specialFont;
		margin-bottom: 5px;
	}
}

//Buttons, links
.more-link {
	font-size: 0.8667rem;
	font-weight: 500;
	color: $moreLink;
	text-transform: uppercase;
	float: right;
	margin-top: 8px;
	font-family: $specialFont;
	@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
	text-decoration: none;
	&:hover {
		color: $secondary;
		text-decoration: none;
	}
}

// Right banner
.banner-unit {
	width: 100%;
	background-color: $placeholderBg;
	position: relative;
	text-align: center;
	margin-bottom: 0;
	span {
		color: white;
		display: block;
		font-weight: 600;
		font-size: 1.067rem;
	}
	img {
		max-width: 100%;
	}
	& + .banner-unit {
		margin-top: 20px;
	}

	&.banner-square {
		margin-bottom: 20px;
		min-height: 320px;
	}
}

// Trending sidebar
.main-content {
	position: relative;
	overflow: hidden;
	.trending-sidebar {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background: #FFF;
		width: 350px;
		padding: 30px 20px 20px 50px;
		@include transform(translateX(320px));
		@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
		@media (max-width: 767px) {
			display: none;
		}
		.title {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			background: #eeeeee;
			background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
			background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
			background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
	  		@include box-shadow(0 2px 40px 0 rgba(0, 0, 0, 0.08));
			width: 30px;
			text-align: center;
			cursor: pointer;
			i {
				padding-top: 10px;
				color: $trending;
				font-size: 1.2rem;
			}
			span {
				font-family: $specialFont;
				font-size: 1rem;
				color: #777;
				text-transform: uppercase;
				@include transform(rotate(-270deg));
				display: block;
				white-space: nowrap;
				padding-left: 5px;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
			}
			&:hover {
				span {
					color: $trending;
				}
			}
		}
		&.active {
			@include transform(translateX(0));
			.title {
				i:before {
					content: '\f0da';
				}
			}
		}
		.content {
			text-align: left;
			h4 {
				font-size: 1rem;
				font-weight: 400;
				font-family: $specialFont;
				text-transform: uppercase;
				color: #333;
				margin-bottom: 20px;
			}
			p {
				font-family: $specialFont;
				font-size: 0.9333rem;
				font-weight: 400;
				line-height: 140%;
				color: #666;
			}
		}
	}
}
