// 404 page
.page-404 {
	.wrapper-404 {
		padding: 60px 0;
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
		h1 {
			margin-bottom: 40px;
			font-size: 3.2rem;
		}
		h3 {
			margin-bottom: 40px;
			font-size: 1.75rem;
			@media (max-width: 1199px) {
	            font-size: 1.65rem;
	        }
	        @media (max-width: 991px) {
	            font-size: 1.55rem;
	        }
	        @media (max-width: 767px) {
	            font-size: 1.4rem;
	        }
		}
		p {
			margin-bottom: 0;
			font-family: $specialFont;
			line-height: 160%;
		}
		ul {
			list-style: none;
			margin: 10px 0 0 0;
			padding: 0;
			font-family: $specialFont;
			li {
				line-height: 160%;
				a {
					color: $primary;
				}
			}
		}
	}
}


// Conatct
.page-contact {
	p {
		&.icon {
			padding-left: 40px;
			position: relative;
			margin-bottom: 20px;
			i {
				position: absolute;
				left: 0;
				top: 5px;
				color: $primary;
				font-size: 1.5rem;
			}
		}
	}
	.key-contacts {
		p {
			color: $primary;
			margin-bottom: 0;
			strong {
				font-size: 1.1rem;
				color: $text;
			}
		}
	}
}


.cms-wrapper {
	font-family: $specialFont;
	h3 {
		margin-bottom: 15px;
		margin-top: 30px;
		font-size: 1.75rem;
		@media (max-width: 1199px) {
            font-size: 1.65rem;
        }
        @media (max-width: 991px) {
            font-size: 1.55rem;
        }
        @media (max-width: 767px) {
            font-size: 1.4rem;
        }
	}

	h4 {
		margin-bottom: 10px;
		font-size: 1.5rem;
		@media (max-width: 1199px) {
            font-size: 1.4rem;
        }
        @media (max-width: 991px) {
            font-size: 1.3rem;
        }
        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
	}
	p {
		margin-bottom: 10px;
		font-family: $specialFont;
		strong {
			font-weight: 600;
		}
	}
	
	a {
		color: $primary;
		@include transition(color 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
		&:hover {
			color: $secondary;
		}
	}

	ul {
		list-style: none;
		margin: 15px 0 0 0;
		padding: 0;
		font-family: $specialFont;
		li {
			line-height: 180%;
			position: relative;
			padding-left: 10px;
			&:before {
				position: absolute;
				top: 9px;
				content: '';
				width: 0;
				height: 0;
				left: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid #999;
			}
			a {
				color: $primary;
			}
		}
	}

	table {
		tr {
			td {
				padding: 10px;
				line-height: 110%;
			}
		}
	}

	.sidebar {

		.sidebar-content {
			padding: 20px;
			background-color: #F8F8F8;

			h4 {
				margin-top: 0;
				margin-bottom: 20px;
			}
			table {
				width: 100%;
				tr {
					td {
						color: $primary;
						background-color: #EEEEEE;
						border: 1px solid #F8F8F8;
					}
				}
			}
			.banners {
				margin-bottom: 20px;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.col-banner-cms {
		display: block;
		@media (max-width: 991px) {
			display: none;
		}
	}
	form {
		font-family: $baseFont;
	}
}

table.cms-table {
	width: 100%;
	margin: 20px 0;
	tr {
		td {
			border: 1px solid #E8E8E8;
			padding: 15px 20px;
			vertical-align: top;
		}
	}
}

// Sitemap
.sitemap-wrapper {
	.col {
		display: block;
		float: left;
		width: 50%;
		padding: 0;
		margin-bottom: 50px;
		@media screen and (max-width: 479px) {
			float: none;
			width: 100%;
			margin-botton: 25px;
		}
		&:nth-child(2n+1) {
			clear: left;
		}
	}
}

// CTA button
.cta-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
	.action-button {
		padding: 10px 30px;
		font-weight: bold;
		display: inline-block;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		user-select: none;
		border: 1px solid transparent;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0.25rem;
		@include transition(color 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
		background-color: $primary;
    	border-color: $primary;
    	color: white;
    	text-decoration: none;
    	&:hover {
    		background-color: $secondary;
    		border-color: $secondary;
    		color: white;
    	}
    	&:focus,
    	&.focus {
    		@include box-shadow(none);
    		color: white;
    	}
	}
}



