footer {
	.footer-container {
		background-color: $primary;
		padding: 40px 0;
	}
	h4 {
		font-weight: 900;
		color: white;
		font-size: 1.067rem;
		margin-bottom: 15px;

		& ~ h4 {
			margin-top: 30px;
		}
	}

	.footer-nav {
		@media (max-width: 991px) {
			flex: 24%;
    		max-width: 24%;
		}
		@media (max-width: 767px) {
			flex: 50%;
    		max-width: 50%;
		}
		.logo {
			img {
				max-width: 200px;
				width: 54%;
				height: auto;
				@media (max-width: 991px) {
					width: 100%;
				}
			}
		}
		ul {
			margin: 20px 0 0 0;
			list-style: none;
			@media (max-width: 991px) {
				flex: 0 0 100%;
    			max-width: 100%;
    			margin-top: 10px;
    			& + ul {
    				margin-top: 0;
    			}
			}
			li {
				margin-top: 18px;
				line-height: 120%;
				@media (max-width: 991px) {
					margin-top: 8px;
				}
				a {
					color: white;
					text-decoration: none;
					font-size: 1.067rem;
					font-family: $specialFont;
					line-height: 100%;
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
					@media (max-width: 991px) {
						font-size: 0.9333rem;
					}
					&:hover {
						color: $footer;
					}
				}
			}
		}
	}

	.footer-contact {
		@media (max-width: 1199px) {
			flex: 0 0 22.66667%;
    		max-width: 22.66667%;
		}
		@media (max-width: 991px) {
			flex: 25%;
    		max-width: 25%;
		}
		@media (max-width: 767px) {
			flex: 50%;
    		max-width: 50%;
		}
		p {
			color: white;
			font-size: 0.8667rem;
			font-family: $specialFont;
			margin-bottom: 0;
			line-height: 120%;
			font-weight: 700;
			& ~ p {
				margin-top: 15px;
			}
		}
		a {
			color: white;
			font-size: 0.7333rem;
			font-family: $specialFont;
			margin-bottom: 0;
			line-height: 120%;
			font-weight: 400;
			margin-top: 0;
			display: block;
		}
	}

	.footer-address {
		@media (max-width: 1199px) {
			flex: 0 0 22%;
    		max-width: 22%;
		}
		@media (max-width: 991px) {
			flex: 24%;
    		max-width: 24%;
		}
		@media (max-width: 767px) {
			flex: 50%;
    		max-width: 50%;
    		margin-top: 30px;
		}
		p, address {
			color: white;
			font-size: 1.067rem;
			font-family: $specialFont;
			margin-bottom: 10px;
			@media (max-width: 991px) {
				font-size: 0.9333rem;
			}
		}
	}

	.footer-subscription {
		@media (max-width: 1199px) {
			flex: 0 0 22%;
    		max-width: 22%;
		}
		@media (max-width: 991px) {
			flex: 27%;
    		max-width: 27%;
		}
		@media (max-width: 767px) {
			flex: 50%;
    		max-width: 50%;
    		margin-top: 30px;
		}
		p {
			color: white;
			font-size: 1.067rem;
			font-family: $specialFont;
			margin-bottom: 5px;
			@media (max-width: 991px) {
				font-size: 0.9333rem;
			}
			a {
				color: white;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				text-decoration: none;
				&:hover {
					color: $footer;
				}
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: inline-block;
				font-size: 1.5rem;
				margin-right: 15px;
				a {
					color: $footer;
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
					&:hover {
						color: white;
					}
				}
			}
		}
		form {
			display: block;
			input {
				width: 64%;
				float: left;
				border: 0;
				padding: 8px 10px;
				border-radius: 4px 0 0 4px;
				font-size: 0.9333rem;
				font-family: $specialFont;
				height: 36px;
				color: $footer;
				@media (max-width: 991px) {
					width: 60%;
				}
				&::-webkit-input-placeholder {
					color: $footer;
				}
				&::-moz-placeholder {
					color: $footer;
				}
				&:-ms-input-placeholder {
					color: $footer;
				}
				&:-moz-placeholder {
					color: $footer;
				}
			}
			button.btn {
				width: 36%;
				float: right;
				border-radius: 0 4px 4px 0;
				height: 36px;
				background-color: $footer;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				@media (max-width: 991px) {
					width: 40%;
					padding-left: 0;
					padding-right: 0;
				}
				span {
					font-family: $specialFont;
					font-size: 0.9333rem;
					color: white;
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				}
				&:hover {
					background-color: white;
					span {
						color: $footer;
					}
				}
			}

			#result {
				clear: both;
				> div {
					background: none;
					color: $green;
					font-size: 0.933rem;
					border: 0;
					padding: 5px 10px;
					button {
						span {
							display: none;
						}
					}
				}
			}
		}
	}

	.footer-logos {
		padding: 26px 0;
		text-align: center;
		img {
			display: inline-block;
			margin: 0 10px;
			height: 38px;
			width: auto;
			@media (max-width: 1199px) {
				height: 30px;
			}

			@media (max-width: 767px) {
				height: 25px;
			}
			@media (max-width: 649px) {
				margin: 5px 3px;
				height: 20px;
			}
		}
	}
}
