// Layout
.main-content {
	.col-main {
		@media (max-width: 1199px) {
		    flex: 0 0 70%;
    		max-width: 70%;
    	}
    	@media (max-width: 991px) {
		    flex: 0 0 100%;
    		max-width: 100%;
    		.col-md-7 {
    			padding-right: 1%;
    		}
    		.col-md-5 {
    			padding-left: 1%;
    		}
    		.news-box-row {
    			.col-12 {
    				flex: 0 0 58.33333%;
    				max-width: 58.33333%;
    				padding-right: 1%;
    				&.col-secondary {
    					flex: 0 0 41.66667%;
    					max-width: 41.66667%;
    					padding-right: 15px;
    					padding-left: 1%;
    				}
    			}
    		}
    	}
    	@media (max-width: 767px) {
    		.col-md-7 {
    			padding-right: 15px;
    		}
    		.col-md-5 {
    			padding-left: 15px;
    		}
    		.news-box-row {
    			.col-12 {
    				flex: 0 0 100%;
    				max-width: 100%;
    				padding-right: 15px;
    				&.col-secondary {
    					flex: 0 0 100%;
    					max-width: 100%;
    					padding-left: 15px;
    				}
    			}
    		}
    	}
	}
	.col-secondary {
		@media (max-width: 1199px) {
		    flex: 0 0 30%;
    		max-width: 30%;
    	}
    	@media (max-width: 991px) {
		    flex: 0 0 30%;
    		max-width: 30%;
    	}
	}
	.col-banner {
		@media (max-width: 1199px) {
			display: none;
		}
	}
	@media (max-width: 767px) {
		.news-list-row {
			display: none;
		}
	}
}

// Featured news
.featured-news {
	background-color: $grayBg;
	.item {
		img {
			width: 100%;
			height: auto;
		}
	}
	.author {
		padding: 10px 20px 0 20px;
		display: block;
		&:after {
			clear: both;
			display: table;
			content: '';
		}
		img {
			float: left;
			width: 41px;
			height: auto;
			margin-right: 10px;
		}
		span {
			font-size: 0.8rem;
			font-family: $specialFont;
			padding-top: 10px;
			font-weight: 300;
			float: left;
		}
	}
	.description {
		padding: 10px 20px 20px 20px;
		display: block;
		font-size: 1.6rem;
		line-height: 120%;
		color: $text;
		@media (max-width: 1559px) {
			font-size: 1.4rem;
		}
		a {
			color: $articleTitle;
			text-decoration: none;
			&:hover {
				color: $articleTitleHover;
			}
		}
		strong {
			color: $secondary;
			font-weight: normal;
		}
	}
	.content {
		font-size: 1.2rem;
		color: black;
		font-weight: normal;
		line-height: 120%;
	}
}

.headlines-wrapper {
	border-top: 10px solid $secondary;
	padding-top: 15px;
	h3 {
		font-size: 0.9333rem;
		color: $secondary;
		font-weight: 600;
		text-transform: uppercase;
	}
	.headline {
		margin-top: 13px;
		padding-bottom: 13px;
		border-bottom: 1px solid $secondary;
		&:after {
			clear: both;
			content: '';
			display: table;
		}
		img {
			width: 40%;
			height: auto;
			max-width: 110px;
			float: left;
			margin-right: 15px;
			@media (max-width: 1559px) {
				max-width: 90px;
			}
		}
		.time {
			font-size: 0.8rem;
			font-family: $specialFont;
			font-weight: 300;
		}
		p {
			font-weight: 600;
			line-height: 120%;
			padding-top: 4px;
			margin: 0;
			@media (max-width: 1559px) {
				font-size: 0.9333rem;
			}
			a {
				color: $text;
				text-decoration: none;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				&:hover {
					color: $secondary;
				}
			}
		}
	}
}

.page-home {
	.headlines-wrapper {
		h3 + .headline {
			display: none !important;
		}
	}
}

// Home banners
.small-banner {
	margin-bottom: 20px;
	&:after {
		clear: both;
		display: table;
		content: '';
	}
	&.diary-banner {
		background: $primary;
		background: -moz-linear-gradient(top, $secondary 0%, $primary 100%);
		background: -webkit-linear-gradient(top, $secondary 0%, $primary 100%);
		background: linear-gradient(to bottom, $secondary 0%, $primary 100%);
		@include box-shadow(0 2px 40px 0 rgba(0, 0, 0, 0.08));
		padding: 20px 15px 0 15px;
		.circle {
			width: 105px;
			height: 105px;
			border-radius: 50%;
			background-color: white;
			text-align: left;
			float: left;
			margin-right: 20px;
			font-family: $specialFont;
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: 900;
			padding: 22px;
			line-height: 100%;
			margin-bottom: 10px;
			@media (max-width: 1559px) {
				width: 95px;
				height: 95px;
				padding: 18px;
				margin-right: 15px;
			}
			@media (max-width: 991px) {
				width: 82px;
				height: 82px;
				padding: 15px;
				margin-right: 10px;
				font-size: 0.9rem;
			}
			span {
				display: block;
				color: #fd3065;

			}
		}
		.banner-content {
			padding-left: 125px;
			min-height: 90px;
			@media (max-width: 1559px) {
				padding-left: 110px;
			}
			@media (max-width: 991px) {
				padding-left: 90px;
			}
			p {
				color: white;
				line-height: 140%;
				margin-bottom: 5px;
				font-size: 1.067rem;
				font-family: $specialFont;
				@media (max-width: 1559px) {
					font-size: 1rem;
					line-height: 120%;
				}
				@media (max-width: 991px) {
					font-size: 0.8667rem;
					line-height: 130%;
				}	
			}
			a {
				font-weight: 700;
				font-size: 1.067rem;
				color: white;
				text-decoration: none;
				position: relative;
				@media (max-width: 1559px) {
					font-size: 1rem;
					line-height: 120%;
				}
				&:after {
					position: absolute;
					bottom: -2px;
					height: 1px;
					left: 0;
					right: 0;
					content: '';
					background-color: white;
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
					opacity: 0;
				}
				&:hover:after {
					opacity: 1;
				}
			}
		}
		.diary-banner-bottom {
			height: 7px;
			background: #4530ba;
			background: -moz-linear-gradient(246deg, #4530ba, #f83067 98%, #f83067 98%, #fd3065);
			background: -webkit-linear-gradient(246deg, #4530ba, #f83067 98%, #f83067 98%, #fd3065);
			background: linear-gradient(246deg, #4530ba, #f83067 98%, #f83067 98%, #fd3065);
			margin-left: -15px;
			margin-right: -15px;
			margin-top: 15px;
		}
	}

	&.funds-banner {
		background-color: #eeeeee;
		padding: 15px 15px 15px 15px;
		img {
			width: 50%;
			max-width: 135px;
			float: left;
			margin-right: 5%;
			margin-bottom: 10px;
		}
		.banner-content {
			margin-left: 55%;
			p {
				color: #666666;
				font-size: 0.8667rem;
				font-family: $specialFont;
				line-height: 140%;
				margin-bottom: 5px;
				@media (max-width: 991px) {
					line-height: 130%;
				}
			}
			a {
				font-size: 0.8667rem;
				font-family: $specialFont;
				font-weight: 900;
				color: #333;
				text-decoration: none;
				position: relative;
				&:after {
					position: absolute;
					bottom: -2px;
					height: 1px;
					left: 0;
					right: 0;
					content: '';
					background-color: #333;
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
					opacity: 0;
				}
				&:hover:after {
					opacity: 1;
				}
			}
		}
	}

	&.fly-banner {
		background: #171644;
		background: -moz-linear-gradient(150deg, #171644, #2c2b79);
		background: -webkit-linear-gradient(150deg, #171644, #2c2b79);
		background: linear-gradient(150deg, #171644, #2c2b79);
  		@include box-shadow(0 2px 40px 0 rgba(0, 0, 0, 0.08));
  		padding: 0 15px 0 15px;
		img {
			width: 50%;
			max-width: 135px;
			float: left;
			margin-right: 5%;
			margin-left: 0;
		}
		.banner-content {
			margin-left: 55%;
			padding-bottom: 10px;
			p {
				color: white;
				font-size: 0.8667rem;
				font-family: $specialFont;
				line-height: 140%;
				padding-top: 15px;
				margin-bottom: 5px;
				@media (max-width: 991px) {
					line-height: 130%;
				}	
			}
			a {
				font-size: 0.8667rem;
				font-family: $specialFont;
				font-weight: 900;
				color: white;
				text-decoration: none;
				position: relative;
				&:after {
					position: absolute;
					bottom: -2px;
					height: 1px;
					left: 0;
					right: 0;
					content: '';
					background-color: white;
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
					opacity: 0;
				}
				&:hover:after {
					opacity: 1;
				}
			}
		}
	}

	& + .small-banner {
		margin-top: 20px;
		@media (max-width: 991px) {
			margin-top: 0;
		}
	}
}

.about-box {
	background: #081040;
	background: -moz-linear-gradient(top, #081040 0%, #0b5199 100%);
	background: -webkit-linear-gradient(top, #081040 0%, #0b5199 100%);
	background: linear-gradient(to bottom, #081040 0%, #0b5199 100%);
	@include box-shadow(0 2px 40px 0 rgba(0, 0, 0, 0.08));
}

// Story lists
.stories-wrapper {
	margin-bottom: 20px;
	padding: 15px 30px 0 30px;
	background: $primary;
	background: -moz-linear-gradient(top, $secondary 0%, $primary 100%);
	background: -webkit-linear-gradient(top, $secondary 0%,$primary 100%);
	background: linear-gradient(to bottom, $secondary 0%,$primary 100%);
	@include box-shadow(0 2px 40px 0 rgba(0, 0, 0, 0.08));
	@media (max-width: 1559px) {
		padding-left: 20px;
		padding-right: 20px;
	}
	ul.nav-tabs {
		margin-bottom: 10px;
		li.nav-item {
			margin: 0;
			display: block;
			width: 50%;
			float: left;
			background-color: transparent;
			font-family: $specialFont;
			color: white;
			a {
				background-color: transparent;
				font-family: $specialFont;
				color: white;
				border: 0;
				text-align: center;
				position: relative;
				padding-left: 5px;
				padding-right: 5px;
				&:after {
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
					position: absolute;
					content: '';
					bottom: -1px;
					left: 0;
					right: 0;
					height: 1px;
					background-color: $pupularBox;
					opacity: 0;
				}
				&:hover:after {
					opacity: 1;
				}
				&.active {
					border: 0;
					font-weight: bold;
					&:after {
						position: absolute;
						content: '';
						bottom: -1px;
						left: 0;
						right: 0;
						height: 2px;
						background-color: $pupularBox;
						opacity: 1;
					}
				}
			}
		}
	}
	ul.storylist {
		list-style: none;
		padding: 0;
		li.item {
			counter-increment: questionNumber;
			padding-left: 40px;
			position: relative;
			line-height: 140%;
			font-weight: 600;
			font-size: 0.8667rem;
			margin-top: 8px;
			padding-bottom: 8px;
			margin-bottom: 8px;
			border-bottom: 1px solid $secondary;
			a {
				display: block;
				color: white;
				text-decoration: none;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				&:hover {
					color: $pupularBox;
				}
			}
			&:before {
				content: counters(questionNumber, ".", decimal-leading-zero)'.';
				color: $pupularBox;
				font-weight: 300;
				font-size: 1.333rem;
				position: absolute;
				top: 4px;
				left: 0;
			}
			&:last-child {
				border: 0;
			}
		}
	}
	.more-stories {
		display: block;
		text-align: center;
		color: white;
		padding: 10px 20px;
		background-color: rgba(0, 0, 0, 0.2);
		margin-left: -30px;
		margin-right: -30px;
		text-decoration: none;
		@media (max-width: 1559px) {
			margin-left: -20px;
			margin-right: -20px;
		}
		i {
			padding-right: 3px;
			@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
		}
		span {
			font-size: 1.067rem;
			color: white;
			font-weight: 600;
			@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
		}
		&:hover {
			i, span {
				color: $pupularBox;
			}
		}
	}
}

// About PAM box
.about-pam-box {
	margin-top: 0;
	padding-top: 15px;
	background: #081040;
	background: -moz-linear-gradient(to bottom, #081040, #0b5199);
	background: -webkit-linear-gradient(to bottom, #081040, #0b5199);
	background: linear-gradient(to bottom, #081040, #0b5199);
	@include box-shadow(0 2px 40px 0 rgba(0, 0, 0, 0.08));
	margin-bottom: 40px;
	.pam-logo {
		padding-top: 0;
		width: 100%;
		height: 35px;
	}
	.pam-info {
		margin: 0 3%;
		width: 94%;
		padding: 20px 20px 0 20px;
		background-color: white;
		@include box-shadow(0 2px 55px 0 rgba(0, 0, 0, 0.25));
		position: relative;
		&:after {
			content: '';
			left: 0;
			right: 0;
			bottom: -20px;
			height: 20px;
			background-color: white;
			position: absolute;
		}
		h4 {
			font-family: $specialFont;
			font-size: 1.2rem;
			color: #555;
			text-transform: uppercase;
			span {
				font-weight: bold;
			}
		}
		p {
			font-family: $specialFont;
			line-height: 140%;
			font-size: 1.067rem;
			margin-bottom: 10px;
		}
		a {
			color: #081040;
			font-weight: 700;
			text-decoration: none;
			position: relative;
			font-family: $specialFont;
			font-size: 1.067rem;
			&:after {
				position: absolute;
				bottom: -2px;
				height: 1px;
				left: 0;
				right: 0;
				content: '';
				background-color: #081040;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				opacity: 0;
			}
			&:hover:after {
				opacity: 1;
			}
		}
	}
}

// Subscriber box
.subscriber-box {
	background-color: #FFF;
	@include box-shadow(0 2px 40px 0 rgba(0, 0, 0, 0.08));
	margin-bottom: 20px;
	padding: 20px 25px;
	h2 {
		font-size: 1.6rem;
		color: $secondary;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 100%;
	}
	a {
		text-decoration: none;
	}
	p {
		font-size: 0.9333rem;
		color: $text;
	}
	img {
		max-width: 180px;
		width: 70%;
		height: auto;
		margin: 20px auto 10px;
		display: block;
	}
}

// News box
.news-box {
	margin-top: 20px;
	border-top: 10px solid $blue;
	padding-top: 20px;
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 70px, #ffffff 100%);
	background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 70px, #ffffff 100%);
	background: linear-gradient(to bottom, #eeeeee 0%,#ffffff 70px, #ffffff 100%);
	clear: both;
	@media (max-width: 991px) {
		background: none;
		padding-top: 10px;
	}
	h3 {
		font-weight: 600;
		font-size: 1.2rem;
		text-transform: uppercase;
		color: $sectionTitle;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-top: 14px;
			padding-bottom: 16px;
			border-bottom: 1px solid $secondary;
			overflow: hidden;
			@media (max-width: 991px) {
				display: none;
				&:first-child {
					display: block;
					border-bottom: 0;
				}
			}
			span {
				font-size: 0.8rem;
				font-family: $specialFont;
				font-weight: 300;
			}
			p {
				font-weight: 600;
				line-height: 120%;
				padding-top: 4px;
				margin: 0;
				a {
					color: $articleTitle;
					text-decoration: none;
					@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
					&:hover {
						color: $articleTitleHover;
					}
				}
			}
		}
		&.categorylist {
			li {
				.img {
					float: left;
					width: 25%;
					margin-left: 0;
					margin-right: 3%;
					margin-bottom: 6px;
					margin-top: 8px;
					@media (max-width: 991px) {
						width: 35%;
					}
					img {
						margin-bottom: 0;
					}
				}
				> span {
					padding-top: 4px;
					display: block;
				}
			}
		}
	}
	.img {
		float: right;
		width: 56%;
		position: relative;
		margin-left: 3%;
		z-index: 10;
		margin-bottom: 20px;
		@media (max-width: 991px) {
			float: none;
			width: 100%;
			margin-left: 0;
		}
		img {
			width: 100%;
			height: auto;
		}
		span {
			background-color: rgba(36, 35, 78, 0.7);
			padding: 15px 50px 15px 15px;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			line-height: 140%;
			color: white;
			font-size: 1.067rem;
			@media (max-width: 649px) {
				font-size: 0.9333rem;
			}
		}
		& + ul {
			margin-right: 59%;
			@media (max-width: 991px) {
				margin-right: 0;
			}
		}
	}
	.more-link {
		float: right;
		margin-top: 5px;
	}

	& + .news-box {
		margin-top: 50px;
	}

	&.color-base {
		border-color: $blue;
	}

	&.color-orange {
		border-color: #fb8b24;
	}

	&.color-red {
		border-color: #9a031e;
	}

	&.color-turquoise {
		border-color: #3aafb9;
	}

	&.color-purple {
		border-color: #b64bae;
	}

	&.color-yellow {
		border-color: #fedc07;
	}

	&.color-gray {
		border-color: #999999;
	}
}

// Editorials team
.team-wrapper {
	background-color: #EEE;
	margin-top: 50px;
	padding-bottom: 20px;
	.container {
		padding-top: 30px;
	}
	@media (max-width: 767px) {
		margin-top: 20px;
		padding-top: 20px;
	}
	h2 {
		font-weight: 700;
		font-size: 1.2rem;
		text-transform: uppercase;
		margin-bottom: 20px;
		text-align: center;
		color: $primary;
	}
	ul {
		margin: 0 -15px;
		padding: 0;
		list-style: none;
		li {
			margin: 0 0 20px 0;
			@media (min-width: 1560px) {
				flex: 0 0 16.66667%;
    			max-width: 16.66667%;
			}
			@media (max-width: 639px) {
    			text-align: center;
			}
			a {
				color: #000;
				text-decoration: none;
				@include transition(all 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
				&:hover {
					color: $primary;
				}
			}
			img {
				float: left;
				width: 44px;
				height: auto;
				margin-right: 10px;
				@media (max-width: 639px) {
					display: inline-block;
					float: none;
				}
			}
			p {
				text-transform: uppercase;
				font-weight: 300;
				font-family: $specialFont;
				font-size: 1rem;
				margin: 0;
				line-height: 110%;
				padding-top: 5px;
			}
			span {
				text-transform: uppercase;
				font-weight: 300;
				font-family: $specialFont;
				font-size: 0.8rem;
				line-height: 110%;
			}
		}
	}
}
