<div
        class="award_application_votes_sum"
        data-application_id="<?=$record->awardapplication_id?>"
        data-content_loaded="0"
        >
    <div class="loading-indicator-container">
        <div class="loading-indicator size-small">
            <span></span>
        </div>
    </div>
</div>