{% set space = __SELF__.space %}

{% if space%}
{% for b in space.banners%}
    {%if b.adwords == ''%}
        
        <div class="small-banner {{b.custom}}" style="background-color:{{b.default_bg_color}}">
            <img style="float:left" src="{{b.banner_image | media}}" />
            <div class="banner-content">
                <p>{{b.main_text}}</p>
                <a href="{{url('/')}}{{b.banner_url}}" title="">{{b.link_text}}</a>
            </div>
            <div class="diary-banner-bottom"></div>
        </div>
    {% else %}
        {{ include(template_from_string(b.adwords | raw)) }}
    {% endif %}

{% endfor %}

{% endif %}