title = "Account"
url = "/account"
layout = "default"
is_hidden = 0

[account]
paramCode = "code"
forceSecure = 0

[newslettersignup newslettersignuptwn]
list = "twn-subscribers"
confirm = 0
loadData = 1

[newslettersignup newslettersignupepc]
list = "epc-subscribers"
confirm = 0
loadData = 1

[newslettersignup newslettersignupfundeye]
list = "fundeye-subscribers"
confirm = 0
loadData = 1

[twoFactorActivate]
app_name = "PAM Insight"
msg_enabled = "Google 2-Factor authentication successfully enabled"
msg_disabled = "Google 2-Factor authentication disabled"
msg_code_mismatch = "Your MFA code was incorrect, please try again."

[session]
security = "user"
redirect = "login"
==
<?php
use Twnepc\Membership\Models\Membership;
use Twnepc\Company\Models\Company;

function onStart() {
    $this['user'] = $user = Auth::getUser();
    if($user){
        $this['memberships'] = $membership = Membership::where('user_id',$user->id)->with('subscription')->get();
        $company = Company::find($user->company_id);

        if($company) {
            $this['cmemberships'] = $cmembership = Membership::where('company_id',$company->id)->where('branch_id',NULL)->get();

            if($user->branch_id) {
                $this['dmemberships'] = $dmembership = Membership::where('branch_id',$user->branch_id)->get();
            }
        }
    }
}

function onUpdate()
{
    $data = post();
        $rules = [
            'name' => 'required',
            'surname' => 'required',
            'company' => 'required',
            'phone' => 'required|numeric',
            'email' => 'required|email',
            'city'  => 'required',
            'position' => 'required',
            'country_id' => 'required'
        ];

        $validation = Validator::make($data, $rules);
        if ($validation->fails()) {
            throw new ValidationException($validation);
        }
    
        return $this->account->onUpdate();
}
?>
==
<div class="container">
    <div class="row">
        <div class="col">
            {% component 'account' %}
        </div>
    </div>
</div>