title = "FAQs"
url = "/faqs"
layout = "default"
is_hidden = 0

==
<div class="container cms-wrapper">
 	<div class="row">
    <div class="col-md-12 col-lg-10 col-xl-10">
      <div class="page-title">
        <h1>Frequently asked questions</h1>
      </div>

      <ul>
        <li><a href="#question-1">1. Why can I not access some articles?</a></li>
        <li><a href="#question-2">2. How can I obtain help in accessing any areas of the site?</a></li>
        <li><a href="#question-3">3. How do I change my personal details?</a></li>
        <li><a href="#question-4">4. How do I tailor the content I receive?</a></li>
      </ul>

      <h3 id="question-1">1. Why can I not access some articles?</h3>
      <p>The content on our site is only available to registered users, including special new features and archived materials. If you would like to register please click <a href="{{url('/')}}/registration" title="">here</a>.</p>

      <h3 id="question-2">2. How can I obtain help in accessing any areas of the site?</h3>
      <p>If you are having any problems accessing areas of the site please contact our technical support department using the details below.</p>

      <h3 id="question-3">3. How do I change my personal details?</h3>
      <p>On the menu Bar click on My Account. You will find various sections here where you can update your personal information, preferences and security options.</p>

      <h3 id="question-4">4. How do I tailor the content I receive?</h3>
      <p>On the menu Bar click on My Account and click on the “My Interests” section. You can also subscribe and unsubscribe to our newsletters in the “Newsletter subscription” section.</p>
  
    </div>
  </div>
</div>