title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[articles exclusive]
site = 4
exclusive = 1
template = "exclusive.htm"

[articles headlines]
site = 4
topic = "noselect"
main_news = 1
template = "headlines.htm"

[articles cat1]
title = "Funds"
site = 4
topic = 103
exclusive = 0
template = "category.htm"
color = "base"
show_image = 1

[articles cat2]
title = "People"
site = 4
topic = 100
template = "category.htm"
color = "orange"
show_image = 1

[articles cat3]
title = "Companies"
site = 4
topic = 98
template = "category.htm"
color = "red"
show_image = 1

[articles cat4]
title = "Regulation & Tax"
site = 4
topic = 101
template = "category.htm"
color = "turquoise"
show_image = 1

[articles cat5]
title = "Technology"
site = 4
topic = 102
template = "category.htm"
color = "purple"
show_image = 1

[articles cat6]
title = "Other News"
site = 4
topic = 99
template = "category.htm"
color = "yellow"

[siteSearchInclude]

[popularfavourite]
pnum = 5
fnum = 5
site = 4

[space mainmiddle]
space = 6

[space mainmiddletop]
space = 82
==
{% component 'siteSearchInclude' %}
<div class="container">
    <div class="row">
    	<div class="col-12">
			<div class="tablet-banner-wrapper"></div>
    	</div>
    	<div class="col-12 col-md-7 col-main">
			<div class="row">
    			<div class="col-12 col-md-7">
    				<div class="featured-news">
    					{% component 'exclusive' %}
    				</div>
    			</div>
    			<div class="col-12 col-md-5">
    				<div class="headlines-wrapper">
    					<h3>Main news headlines</h3>
    					{% component 'headlines' %}
    				</div>
    			</div>
    		</div>
           
			<div class="row news-box-row">
				<div class="col-12 news-box-wrapper">

					{% component 'cat1' %}	
					{% component 'cat2' %}	
					{% component 'cat3' %}	
					{% component 'cat4' %}	
					{% component 'cat5' %}	

				</div>
			</div>

			<div class="row news-list-row">
    			<div class="col-12 col-md-7">
    				{% component 'cat6' %}	
    			</div>
    			<div class="col-12 col-md-5">
    					
    			</div>
    		</div>
    	</div>
    	<div class="col-12 col-md-3 col-secondary">
    	
    	    <div class="col-banners-wrapper">
		        {% component 'mainmiddletop' %}
    	    </div>

    		{% component 'popularfavourite' %}

    		{% component 'mainmiddle' %}

    	</div>
    </div>
</div>
