title = "Preferences"
url = "/preferences"
layout = "default"
is_hidden = 0

[preferences]
newsletter_title = "Fundeye Newsletter"

[session]
security = "user"
redirect = "login"

[newslettersignup]
list = "fundeye-subscribers"
confirm = 0
loadData = 0

[session]
security = "user"
redirect = "login"
==
<div class="container">
   <div class="row">
        <div class="col account-wrapper">
       		<div class="page-title">
       			<h1>Submit your preferences</h1>
       			<h5>Welcome!</h5>
       			<p>You are visiting this site for the first time - please submit your preferences before you start using the service. <br> Thank you</p>
       		</div>
			{% component 'preferences' %}
       	</div>
	</div>
</div>