title = "Registration"
url = "/registration"
layout = "default"
is_hidden = 0

[account]
redirect = "thank-you"
paramCode = "code"
forceSecure = 0
==
<div class="container">
	<div class="row">
		<div class="col-12">
			{% component 'account' %}
		</div>
	</div>
</div>