title = "Services"
url = "/services"
layout = "default"
is_hidden = 0

==
<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Services</h1>
       		</div>
       	</div>
    </div>
</div>