title = "Sitemap"
url = "/sitemap"
layout = "default"
is_hidden = 0

==
<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Sitemap</h1>
       		</div>


          <div class="sitemap-wrapper">
            
            <div class="col">
              <h3>fundeye</h3>
              <ul>
                <li><a href="{{url('/')}}/about">About us</a></li>
                <li><a href="{{url('/')}}">Home</a></li>
                <li><a href="{{url('/')}}/subscriptions">Subscriptions</a></li>
                <li><a href="{{url('/')}}/contact">Contact</a></li>
                <li><a href="{{url('/')}}/faqs" title="">FAQs</a></li>
              </ul>
            </div>
            
            <div class="col">
              <h3>News</h3>
              <ul>
                <li><a href="{{url('/')}}/news/analysis-&-commentary">Analysis & Commentary</a></li>
                <li><a href="{{url('/')}}/news/people">People</a></li>
                <li><a href="{{url('/')}}/news/companies">Companies</a></li>
                <li><a href="{{url('/')}}/news/products-&-services">Products & services</a></li>
                <li><a href="{{url('/')}}/news/technology">Technology</a></li>
                <li><a href="{{url('/')}}/news/regulation">Regulation</a></li>
              </ul>
            </div>
            
            <div class="col">
              <h3>User</h3>
              <ul>
                <li><a href="{{url('/')}}/login">Login</a></li>
                <li><a href="{{url('/')}}/account">My Account</a></li>
              </ul>
            </div>

            <div class="col">
              <h3>Join us</h3>
              <ul>
                <li><a href="{{url('/')}}/registration">Sign up for free trial</a></li>
                <li><a href="{{url('/')}}/registration">Subscribe to fundeye</a></li>
              </ul>
            </div>
              
            <div class="col">
              <h3>Useful links</h3>
              <ul>
                <li><a href="{{url('/')}}/useful-links" title="">Useful Links</a></li>
                <li><a href="{{url('/')}}/sitemap" title="">Sitemap</a></li>
              </ul>
            </div>

            <div class="col">
              <h3>Privacy</h3>
              <ul>
                <li><a href="{{url('/')}}/terms-of-use" title="">Terms of use</a></li>
                <li><a href="{{url('/')}}/privacy" title="">Privacy policy</a></li>
              </ul>
            </div>

          </div>

       	</div>
    </div>
</div>