title = "Subscriptions"
url = "/subscriptions"
layout = "default"
is_hidden = 0

==

<div class="container cms-wrapper">
   	<div class="row">
        <div class="col-md-12 col-lg-10 col-xl-10">
       		<div class="page-title">
       			<h1>Subscriptions</h1>
       		</div>
			
			<p><strong>fundeye</strong> is lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed augue at quam scelerisque porttitor. Ut nec lacus nibh. Duis lacinia dolor a interdum posuere. Praesent efficitur lorem ante, non vestibulum eros cursus sit amet. Aenean ac viverra orci, fermentum efficitur turpis. </p>

			<p>Donec rutrum, quam vitae fermentum dapibus, diam ipsum porta sem, quis hendrerit est libero id mi. Quisque purus quam, mattis et hendrerit eu, viverra ut magna. Donec eget augue consequat erat condimentum venenatis vitae id nisi. Maecenas a augue et velit pretium rutrum.</p>

			<p>Pellentesque eleifend est eu massa hendrerit, ac tristique nisl ultricies. Sed non lorem accumsan magna pellentesque interdum. Sed lacus lectus, faucibus id consectetur in, pretium vitae enim. Cras vel tellus felis. Duis vitae tristique neque, et aliquam enim. Proin sed cursus lectus, vel rhoncus lectus.</p>

			<p>Proin id lobortis urna. Aliquam a leo elementum, mattis sapien eu, fringilla arcu. Sed vitae tempus odio. Maecenas scelerisque imperdiet eros, sed placerat purus commodo vel.</p>

			<p>Cras vel nisi turpis. Phasellus feugiat turpis ut enim aliquet ultrices. Morbi ornare malesuada felis, eu rutrum ex mattis non.</p>

			<div class="cta-wrapper">
				<a href="{{url('/')}}/registration" class="action-button">Register here »</a>
			</div>

       	</div>
    </div>
</div>