<?php foreach ($records as $record): ?>
    <div style="float:left;width:100%">
        <input type="checkbox" name="ids[]" value="<?= $record->id ?>"> <a  data-control="popup" data-request-data="id_quest:'<?= $id_quest ?>',id:'<?=$record->id?>'" data-handler="<?= $this->getEventHandler('onLoadUpdateOption') ?>" href="#"><?= $record->text ?>  [<?= $record->value?>]</a>
    </div>
<?php endforeach ?>