<div >
	<a href="#" data-control="popup"  data-request-data="id:'<?= $id_quest ?>'" data-handler="<?= $this->getEventHandler('onLoadCreatePicture') ?>" class="btn btn-primary btn-sm oc-icon-plus">Add Answer</a>
        &nbsp;&nbsp;&nbsp;<a href="#" data-request-confirm="Are you sure you wish to delete selected answers?"  data-request-data="id:'<?= $id_quest ?>'" data-request="<?= $this->getEventHandler('onRemovePictures') ?>"  class="btn btn-primary btn-sm oc-icon-minus">Remove selected</a>    
</div>