<script type="text/javascript" src="/modules/backend/formwidgets/richeditor/assets/js/build-min.js"></script>
<link rel="stylesheet" type="text/css" href="/modules/backend/formwidgets/richeditor/assets/css/richeditor.css?v317">
<?php if (!isset($fatalError)): ?>
<form data-request="<?= $this->getEventHandler('onUpdateOption') ?>" data-popup-load-indicator="" data-request-success="$el.closest('.modal').modal('hide');">

    <input type="hidden" name="id_quest" value="<?=$id_quest?>" />
    <input type="hidden" name="id" value="<?=$id?>" />

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="chooseTypeLabel">Update</h4>
    </div>


    <div class="modal-body">

        <div

            data-control="formwidget"

            data-refresh-handler="form::onRefresh"

            class="form-widget form-elements layout"

            role="form"

            id="Form">









            <!-- Secondary Tabs -->

            <div class="layout-row">



                <div

                    id="Form-secondaryTabs"

                    class="control-tabs secondary-tabs layout "

                    data-control="tab"

                    data-slidable>

                    <div class="layout-row min-size">

                        <ul class="nav nav-tabs">

                            <li class="active"><a href="#secondarytab-1">Update Answer</a></li>

                        </ul>

                    </div>



                    <div class="tab-content layout-row">

            <div

            class="tab-pane active layout-cell"

            id="secondarytab-1">

                <div

    class="form-group  widget-field span-full is-required  "

        data-field-name="text"

        id="Form-field-text-group"><label for="Form-field-text">

                Text            </label>

        

        

        <!-- Widget -->

<!-- Rich Editor -->

    <div

        id="RichEditor-formText-text"

        class="field-richeditor size-large "

                data-data-locker="#RichEditor-formText-dataLocker-text"

        data-links-handler="formText::onGetPageLinks"

        data-control="richeditor">

        <textarea id="RichEditor-formText-textarea-text"><?= $record['text']?></textarea>

    </div>



    <!-- Data locker -->

    <div style="display: none">

        <textarea name="text" id="RichEditor-formText-dataLocker-text"><?= $record['text']?></textarea>

    </div></div>    <div

    class="form-group  text-field span-full   "

        data-field-name="value"

        id="Form-field-value-group"><label for="Form-field-value">

                Value            </label>






                                <!-- Text -->

                                <input

                                    type="text"

                                    name="value"

                                    id="Form-field-value"

                                    value="<?=$record['value'] ?>"

                                    placeholder=""

                                    class="form-control"

                                    autocomplete="off"

                                    maxlength="255"            /></div>        </div>

                    </div>

                </div>



            </div>



        </div>

    </div>            



    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary oc-icon-plus" onclick2="$(this).setCreateFormSessionKey();">Update Answer</button>
    </div>

</form>

<?php else: ?>
<div class="modal-body">
    <div class="callout callout-danger">
        <div class="header">
            <i class="icon-warning"></i>
            <h3>Error</h3>
            <p><?= $fatalError ?></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-default"
        data-dismiss="popup">
        Close
    </button>
</div>
<?php endif ?>