<div class="report-widget">
    <h3 style="margin-bottom:5px;">Users to activate</h3>
    <?php if (!isset($error)): ?>
    <?php if ($this->property('total')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4>Total</h4>
        <p class="text-center"><?= $total ?></p>
    </div>
    <?php endif ?>

    <div style="clear:both;"></div>
    <br /><br />
    <div class="control-list list-unresponsive">
        <table class="table data">
            <thead>
            <tr>
                <th style="width: 150px"><span>Status</span></th>
                <th><span>Email</span></th>
                <th><span>Full name</span></th>
                <th><span>Telephone</span></th>
                <th><span>Company</span></th>
                <th><span>Postcode</span></th>
                <th><span>Salutation</span></th>
                <th><span>Date</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($users as $user):?>
            <tr>
                <td><span class="oc-icon-circle text-info">Pending</span></td>
                <td><?=$user->email?></td>
                <td><?=$user->name?> <?=$user->surname?></td>
                <td><?=$user->phone?></td>
                <td><?=$user->company?></td>
                <td><?=$user->zip?></td>
                <td><?=$user->salutation?></td>
                <td><?=$user->created_at?></td>
                <td class="column-button nolink">
                    <a
                            href="<?= Backend::url('twnepc/user/users/update/'.$user->id)?>"
                            target="_blank"
                            class="btn btn-default btn-sm">
                        View
                    </a>
                </td>
            </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    </div>
    <?php else: ?>
        <p class="flash-message static warning"><?= e($error) ?></p>
    <?php endif ?>
</div>
