<div class="list-widget list-scrollable-container list-flush">
<table class="table data">
    <thead>
    <tr>
        <th><a>Date</a></th>
        <th><a>Field</a></th>
        <th><a>User</a></th>
        <th><a>From</a></th>
        <th><a>To</a></th>
    </tr>
    </thead>
    
    <?php if(count($revisions)) :; ?>
    <?php foreach($revisions as $key => $val):;?>
    <?php foreach($val as $revision):;?>
    <tr>
            <?php  
                            $dateString = str_replace("'","",$key); 
                            $date = DateTime::createFromFormat('Y-m-d H:i:s', $dateString);
                        ?>
            <td width="150px"><small><b><?= $date->format('Y M. d'); ?></b></small><br>
                <b><?= $date->format('h:i'); ?></b><br></td>
            <td><?= trans('twnepc.news::lang.'.$revision['field']); ?></td>
            <td><?= $revision['user']['user'][0]['login'];?></td>
            <td><?= $revision['old_value'];?></td>
            <td><?= $revision['new_value'];?></td>
    </tr> 
    <?php endforeach; ?>
    <?php endforeach; ?>
    <?php else: ?>
        <tr>
            <td style="text-align: center;" colspan="5"><h3>No history</h3></td>
        </tr>
    <?php endif;?>
</table>
</div>