<div class="section section-awards section-carousel">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if otherGalleries %}
                <form action="" method="get" name="chooseGal" style="width:650px">
                    <div class="form-group row">
                        <label class="col-lg-1 col-md-12 col-sm-12 control-label" for="inputEmail3"><span>Choose gallery</span></label>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="styled-select">
                                <select id="gallery_id" name="gallery_id" onChange="document.chooseGal.submit()">
                                    {% for gal in otherGalleries %}
                                        {% if gal.id == record.id %} 
                                            <option  selected value="{{gal.id}}">{{gal.option_title}}</option>
                                        {% else %} 
                                            <option  value="{{gal.id}}">{{gal.option_title}}</option>                                            
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
                <h2 class="text-center">{{record.name}}</h2>
            </div>
        </div>
        <div class="br"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="carousel carousel-showmanymoveone slide" id="galaDinnerCarousel" data-ride="carousel">
                    <div class="carousel-inner">
                        {% if gallery %}
                        {% for picture in gallery.posts %}       

                        {% if (picture.nr == 0) %}
                        <div class="item active">
                            {% else %}
                            <div class="item">            
                                {% endif %}
                                <div><a href="#"><img src="{{picture.picture_url | media}}" class="img-responsive"></a></div>
                            </div>
                            {% endfor %}
                        {% endif %}    
                        </div>
                        <a class="left carousel-control" href="#galaDinnerCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#galaDinnerCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="br"></div>
            <div class="row">
                {% for picture in gallery.posts %}                      
                <div class="col-md-3 col-sm-6 col-xs-6 col-clickable-img-thumb">
                    <a href="#" onclick="return changeCarouselActiveImg({{picture.nr}})"><img src="{{picture.picture_url | media}}" class="img-responsive" /></a>
                </div>
                {% endfor %}            
            </div>
        </div>
    </div>
</div>        