<form id="judges-search">
    <div class="form-group row">
        <label class="col-lg-1 col-md-12 col-sm-12 control-label"><span>Year:</span></label>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="styled-select">
                <select name="year" id="judgesyear">
                    <option {%if this.param.year == '2016'%} selected {%endif%} value="2016">2016</option>
                    <option {%if this.param.year == '2015'%} selected {%endif%} value="2015">2015</option>
                    <option {%if this.param.year == '2014'%} selected {%endif%} value="2014">2014</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <button type="submit" class="button blue btn-block button-sm">Submit</button>
        </div>
    </div>
</form>
<script>
    $(function() {
        $('#judges-search').submit(function(){
            var form = $(this);
            var year = form.find('select').val();
            var url = "{{ 'awards-judges' | page({year:''}) }}"+"/"+year;
            window.location.href = url;
            return false;
        });
    });
</script>