<div class="control-list list-unresponsive products">
    <h3>The Board</h3>

    <?php foreach($personnels as $p):;?>
        
        <?php if( $p->section != null && $p->section->cps_name == "Board"):; ?>
            <div>
            <strong><?php echo $p->cp_firstname." ".$p->cp_lastname." - "; ?></strong><span><?php echo $p->cp_jobtitle;?></span>
            </div>
        <?php endif; ?>
    <?php endforeach;?>

    <h3>The Investment Committee</h3>

    <?php foreach($personnels as $p):;?>
        
        <?php if($p->section != null &&  $p->section->cps_name == "Investment Committee"):; ?>
            <div>
            <strong><?php echo $p->cp_firstname." ".$p->cp_lastname." - "; ?></strong><span><?php echo $p->cp_jobtitle;?></span>
            </div>
        <?php endif; ?>
    <?php endforeach;?>

    <h3>Other Key Personnel</h3>

    <?php foreach($personnels as $p):;?>
        
        <?php if($p->section != null &&  $p->section->cps_name == "Key Personnel"):; ?>
            <div>
            <strong><?php echo $p->cp_firstname." ".$p->cp_lastname." - "; ?></strong><span><?php echo $p->cp_jobtitle;?></span>
            </div>
        <?php endif; ?>
    <?php endforeach;?>
</div>
<style>
    strong{
        font-weight: bolder !important;
    }
</style>