<div class="list-widget list-scrollable-container" id="Lists">
        <div class="control-list list-scrollable" data-control="listwidget">
            <table class="table data" data-control="rowlink">
                <thead>
                    <tr>
    
    
                        <th class="active list-cell-name-name list-cell-type-text ">
                            <a >
                                Name                </a>
                        </th>
                        <th class=" list-cell-name-email list-cell-type-text ">
                            <a>
                                    Email                </a>
                        </th>
                        <th class=" list-cell-name-created_at list-cell-type-timetense ">
                            <a>
                                        Registered                </a>
                        </th>
                        <th class="list-cell-name-last_seen list-cell-type-timetense ">
                            <a>
                                            Last seen                </a>
                        </th>
    
                    </tr>
                </thead>
                <tbody>
                        <?php foreach($users as $user):;?>
                        <tr class="">
                            <td class="list-cell-index-1 list-cell-name-name list-cell-type-text">
                                <?php echo $user->name.' '.$user->surname;?> </td>
                            <td class="list-cell-index-2 list-cell-name-email list-cell-type-text">
                                    <?php echo $user->email?> </td>
                            <td class="list-cell-index-3 list-cell-name-created_at list-cell-type-timetense">
                                <time datetime="<?php echo $user->activated_at;?>" data-datetime-control="1" data-time-tense="1" data-disposable=""></time>
                            </td>
                            <td class="list-cell-index-4 list-cell-name-last_seen list-cell-type-timetense">
                                <time datetime="<?php echo $user->last_seen;?>" data-datetime-control="1" data-time-tense="1" data-disposable=""></time>
                            </td>
        
                        </tr>
                        <?php endforeach; ?>
                </tbody>
            </table>
        </div>
</div>